[2020-04-06 15:45] smaranjitghose opened #1 "Portfolio Website 1"

[2020-04-06 15:45] smaranjitghose opened #2 "Portfolio Website 2"

[2020-04-06 15:45] smaranjitghose opened #3 "Documentation of the Project"

[2020-04-06 15:46] smaranjitghose opened #4 "Portfolio Website 3"

[2020-04-06 15:46] smaranjitghose opened #5 "Portfolio Website 4"

[2020-04-06 15:46] smaranjitghose opened #6 "Portfolio Website 5"

[2020-05-07 21:43] smaranjitghose opened #7 "Home Page"
- [ ] Particle Effect in the background

[2020-05-07 21:44] smaranjitghose opened #8 "Project Page"
- [ ] Image or Gif appropriate to the project
- [ ] Name of the Project
- [ ] GitHub button (Microanimations)
- [ ] Small Emoji or Button (To redirect to blog or the hosted project itself)

[2020-05-07 23:04] smaranjitghose opened #9 "About Page"

[2020-06-14 13:45] smaranjitghose opened #11 "Search Engine Optimization"

[2020-06-14 13:45] smaranjitghose opened #12 "Documentation"
- Preference 1 : Sphinx
- Preference 2: Docusaurus

[2020-06-14 13:48] smaranjitghose opened #13 "Experience Page"
# Experience Page
 ( Try to have cards depicting a picture or graphics related to the workplace + Role Name + Role Time + Bullet points about the work done + A micro-animation for an icon redirecting to any letter if available)
- [x] Internships/Jobs
- [x] Mentorship
- [x] Freelance/Volunteering

[2020-06-14 13:49] smaranjitghose opened #14 "Education Page"
# Suggestions:

- [x] Formal Education: A card with the name of the College, Degree, A picture or Illustration relevant to it,Activities
- [x] MOOCs
- [x] Badges

[2020-06-14 13:51] smaranjitghose opened #15 "Navigation Bar"
Try to have a microanimation when we hover over one tab then a lamp enlights it

[2020-06-14 13:51] smaranjitghose opened #16 "Footer"

[2020-06-14 13:53] smaranjitghose opened #17 "Code Optimization"

[2020-06-14 20:19] Kharanshu31 commented on #16
What's the issue?

[2020-06-15 15:05] smaranjitghose commented on #16
Design the footer of the page(@anushbhatia will provide them in a while) or improve it

[2020-06-15 15:15] anushbhatia opened #18 "Bugs"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-06-15 16:11] anushbhatia opened #19 "UI/UX"

[2020-06-22 18:34] smaranjitghose opened #20 "Optimization and Miscellaneous"
- [x]   Search Engine Optimization - Currently taken care by @shubhkhanna
- [ ]   Optimize Assets
- [ ]   Faster Loading of Page
 - [x]  Dynamic Loading of content using JSON Injection
 - [x]  robot.txt
 - [ ]  Google Analytics Integration

[2020-06-23 04:02] aashimgarg commented on #20
Add .htaccess file for browser caching too.

[2020-06-26 11:43] arghac14 opened #21 "Blog page"
Description of the enhancement:
1. Create a blog page using fastpages.
2. Integrate the existing navbar.
3. Use dark theme.
4. Use fixed colour scheme.
5. Use animation and transition effect.

[2020-06-26 13:26] rewa15 commented on #21
Sir,I want to take up the issue.

[2020-06-30 18:19] shubhkhanna commented on #14
@smaranjitghose Sir, I'm working on this page.

[2020-06-30 21:41] smaranjitghose opened #24 "Publications"
- [ ] Try to have it in BibTex format
- [ ] Try experimenting with latex.now.sh

[2020-07-01 07:17] Adyasha8105 commented on #8
Sir, I am working on this page.

[2020-07-07 09:33] divyakelaskar commented on #13
Would like to work on the issue

[2020-07-08 21:15] shubhkhanna commented on #14
#31

[2020-07-10 13:28] #15 closed

[2020-07-11 03:42] shubhkhanna opened #34 "Elements overlapping navbar"
**Elements are overlapping navbar**
In all the pages while adding tags we have to set the styling separately for every tag.
We can fix this issue by adding navbar-fixed class in each page and remove position: fixed from style.css
![Screenshot (16)](https://user-images.githubusercontent.com/56449207/87215684-7f62b300-c356-11ea-8f48-d78d9e9635ae.png)

**Expected behavior**
Can use Materialize CSS in

[2020-07-11 04:31] shubhkhanna commented on #34
Closed #35

[2020-07-11 04:31] #34 closed

[2020-07-13 12:28] Adyasha8105 commented on #7
I am working on it.

[2020-07-13 12:33] Adyasha8105 commented on #15
I am working on it.

[2020-07-18 19:21] vrandachag commented on #16
May I work on this issue?

[2020-07-19 09:10] arghac14 commented on #21
@Adyasha8105 you may work on this. For now, continue with the light theme only.

[2020-07-21 08:13] #16 closed

[2020-07-21 10:46] Adyasha8105 commented on #14
@smaranjitghose I want to do some enhancements on this page. Can I?

[2020-07-21 10:48] smaranjitghose commented on #14
Can you please elaborate more?

[2020-07-21 10:51] Adyasha8105 commented on #14
@smaranjitghose
- I want to change all the images.
- I want to put padding everywhere as it looks clumsy.

[2020-07-21 11:05] smaranjitghose commented on #14
Cool, Please give a PR. Additionaly change the hover effect that shows certificate. It's unrequired

[2020-07-22 01:01] shubhkhanna commented on #14
#54

[2020-07-28 10:26] #14 closed

[2020-08-02 19:32] divided7 commented on #8
The second heading "Auto vaidya" in the projects page is not properly visible, half of it hides below the div on mobile view @smaranjitghose

[2020-08-02 19:39] divided7 commented on #19
How are people working on issues without having the UI/UX designs?

[2020-08-02 21:32] anushbhatia commented on #19
@divided7 Actually we had initially created a design on adobe xd and then as the design was ready we started coding. But it turned out first we should make a basic structure ready then we can add the custom designs to it.

[2020-08-09 10:59] smaranjitghose opened #74 "Home Page"
Features:
- [ ] Try to improve the particle effect in the background
- [ ] Improve the documentation of the particle script with detailed explanations
- [x] Terminal Like effect for the professions
- [ ] About Section
- [ ] Dark mode for the section containing: particle effect, social media icons, terminal effect and the name

[2020-08-10 11:00] smaranjitghose commented on #8
Would you like to work on it?

[2020-08-12 03:57] ritiksoni00 opened #75 "Pull_Request_templates.md"
**Description of the enhancement**

There is only the Issue's template can i work on PR_template ????

[2020-08-12 07:15] smaranjitghose commented on #75
Usually, Pull Requests are expected to be varied in the description as per the bug solved or feature added. Hence we did not keep a Pull Request Template. If you wish you can add one

[2020-08-12 10:23] ritiksoni00 commented on #75
you can give me key points so that i can manage to cover as much as i can do...

[2020-08-13 01:36] N00Bmaster2810 commented on #74
Does in about section we have to add content by ourselves???

[2020-08-13 07:39] anushbhatia commented on #74
Lorem Ipsum as of now

[2020-08-13 15:24] shudhanshu03 commented on #74
Can i apply parallax scrolling effect on home page @anushbhatia @smaranjitghose . And if yes ? then suggest which type of image should i add ?

[2020-08-13 17:09] AshutoshDash1999 commented on #74
@smaranjitghose I want to work on full page parallax effect.

[2020-08-14 02:52] #20 closed

[2020-08-14 02:52] #13 closed

[2020-08-14 02:53] smaranjitghose opened #80 "Experience Page"
( Try to have cards depicting a picture or graphics related to the workplace + Role Name + Role Time + Bullet points about the work done + A micro-animation for an icon redirecting to any letter if available)
- [ ] Internships/Jobs
- [ ] Mentorship
- [ ] Freelance/Volunteering

** Please feel free to use your own academic data or use my or @anushbhatia 's.

[2020-08-14 04:22] #21 closed

[2020-08-14 04:32] smaranjitghose opened #81 "Blog Page"
We intend to use Fast pages for this [ You will be submitting the patch files as Pull Requests to this repo and the corresponding changes as PRs to another repo]

Please checkout fastpages [repo](https://github.com/fastai/fastpages) to learn more about it.

# Suggested Tasks:

- [ ] Work on creating a custom.css file
- [ ] Improve the Navigation Bar ( Try to make it consistent with that of this pr

[2020-08-14 04:46] smaranjitghose opened #82 "Research Page"
- [ ] The UI can be similar to a Google Scholar profile
- [ ] Try experimenting with latex.now.sh
-  Have a button to generate BibTex

[2020-08-14 04:48] smaranjitghose opened #83 "Education Page"
** Do Improvements in the UI, Add Animations
# Suggested Features
- [ ] Formal Education Section [ Try to have it in a timeline or branches of a tree theme]
- [ ] Summer Schools and MOOCs Section
- [ ] Badges Section

[2020-08-14 04:50] smaranjitghose opened #84 "Footer"
Suggested Features:
- [ ] Logo
- [ ] Quote
- [ ] Contact Form - Name, Email, Message
- [ ] Social Media Links

[2020-08-14 04:52] ymaheshwari1 commented on #84
I want to work on this issue.

[2020-08-14 04:53] smaranjitghose opened #85 "Miscellaneous and Optimizations"
- [ ] Search Engine Optimization
- [ ] Google Analytics
- [ ] Chatbot
- [ ] JSON data entry

[2020-08-14 04:53] #75 closed

[2020-08-14 05:42] debanshu08 commented on #84
I can contribute to the footer.

[2020-08-14 05:45] Rishikeshrajrxl commented on #84
i want to work on footer

[2020-08-14 06:59] N00Bmaster2810 commented on #84
Can I work on the contact form in the footer

[2020-08-14 07:32] the-supernova commented on #74
@smaranjitghose I can add the terminal effect

[2020-08-14 07:35] RiyaAgrawal17 commented on #84
I want to contribute to this section.

[2020-08-14 07:37] RiyaAgrawal17 commented on #83
I want to contribute to some of these features.

[2020-08-14 07:40] RiyaAgrawal17 commented on #74
Particle effect issue has been resolved ?

[2020-08-14 07:55] N00Bmaster2810 commented on #84
I was trying to publish a new branch on the forked version of this repo but I was unable to do so. Kindly help how to move forward

[2020-08-14 07:56] N00Bmaster2810 commented on #80
Can I work on this

[2020-08-14 08:01] ymaheshwari1 commented on #84
@N00Bmaster2810 Which command you are executing, because I am able to create a new branch.

[2020-08-14 08:18] N00Bmaster2810 commented on #84
I was using github desktop so as to create new branch and then publish it. But I was successful in creating the branch and making local commits but while publishing it gives an error

[2020-08-14 08:29] N00Bmaster2810 commented on #83
I want to work on any one of these. Please consider me

[2020-08-14 08:30] N00Bmaster2810 commented on #74
Can I work on the about section.

[2020-08-14 10:43] salonilakhotia commented on #80
Please assign any part from the above to me

[2020-08-14 10:51] salonilakhotia commented on #84
I want ot contribute in this

[2020-08-14 10:53] anushbhatia commented on #83
tell me which subtask u will be working on @RiyaAgrawal17 @N00Bmaster2810

[2020-08-14 10:55] N00Bmaster2810 commented on #83
@anushbhatia sir I can work on the badges one

[2020-08-14 10:57] N00Bmaster2810 commented on #83
@anushbhatia  sir we have to only change the animations, UI in this section or the content too?

[2020-08-14 12:09] RiyaAgrawal17 commented on #83
@anushbhatia sir I can work on formal education and badges section

[2020-08-14 13:25] imPGupta commented on #84
@smaranjitghose assign me this task, I want to contribute on this.

[2020-08-14 15:45] Tejas1510 commented on #84
Sir i would like to work on the issue

[2020-08-14 15:47] sakshirajput02 commented on #84
I would like to work on this.

[2020-08-14 16:39] salonilakhotia commented on #74
I want to work on About Section

[2020-08-14 17:41] smaranjitghose commented on #74
I have assigned you the footer. Once you complete that, you can start with this page

[2020-08-14 17:42] smaranjitghose commented on #74
We want to improve the visuals and the dark mode of the page is completely left out

[2020-08-14 17:44] smaranjitghose commented on #80
@salonilakhotia Can you please improve the Internship/Jobs Section
@N00Bmaster2810 Can you please improve the Mentorship Section.

You folks can work on the dark mode of the same.

Does this sound good?

[2020-08-14 17:49] N00Bmaster2810 commented on #84
@smaranjitghose sir can I work on form for footer

[2020-08-14 17:53] N00Bmaster2810 commented on #80
@smaranjitghose sir, I can do the mentorship section, thanks

[2020-08-14 17:59] smaranjitghose commented on #84
@N00Bmaster2810 Can you please proceed with the other two tasks assigned to you, I want to distribute the work among more people so that everyone gets a chance. Once you are done with those, you can surely contribute to this

[2020-08-14 18:04] smaranjitghose commented on #84
@N00Bmaster2810 Can you please proceed with the other two tasks assigned to you, I want to distribute the work among more people so that everyone gets a chance. Once you are done with those, you can surely contribute to this

Can you please check out the other issues and let me know if you are interested in them

[2020-08-14 18:05] smaranjitghose commented on #84
Can you please check out the other issues and let me know if you are interested in them

[2020-08-14 18:05] smaranjitghose commented on #84
Can you please check out the other issues and let me know if you are interested in them

[2020-08-14 19:02] anushbhatia commented on #83
@N00Bmaster2810 -badges
@RiyaAgrawal17 -formal education

[2020-08-14 21:51] raksha009 commented on #80
I would like to work on the volunteering section of the project. Plz assign it to me

[2020-08-14 21:55] raksha009 commented on #83
Hi, plz guide a bit about what do we have to do in MOOC section and Summer schools section. I am unable to find the Summer School section on the page.

[2020-08-15 06:55] salonilakhotia commented on #80
@smaranjitghose sir, I can do.Thanks

[2020-08-15 06:57] salonilakhotia commented on #84
Thank you sir @smaranjitghose ..I will do this.

[2020-08-15 07:34] sakshirajput02 commented on #85
I can work on creating the chatbot using react.js @smaranjitghose

[2020-08-15 08:40] smaranjitghose commented on #85
Can you please elaborate more on what framework you want to use for the chatbot? DialogFlow?

Also, since the current development is not in react, I can create a secondary branch for you so that once we have finalized the work for the basic HTML,css one we can shift to react in a week and meanwhile your chatbot will be ready

[2020-08-15 09:03] sakshirajput02 commented on #85
Can you tell me the language that is being used for current development?

[2020-08-15 09:36] Rishikakanojia commented on #83
Hi, i would like to work on MOOCs section , can you suggest me ways to get started?

[2020-08-15 13:15] Tejas1510 commented on #80
I want to work on this issue

[2020-08-15 13:50] Rishi-121 commented on #84
I want to contribute to the footer.

[2020-08-15 16:30] anushbhatia commented on #85
HTML,CSS,JS

[2020-08-15 16:32] anushbhatia commented on #83
@Rishikakanojia this is assigned for @raksha009 for 2 dyas if she isn't able to do it then u can continue

[2020-08-15 16:47] pvalesha commented on #84
I want to contribute to this

[2020-08-15 18:22] N00Bmaster2810 commented on #74
@smaranjitghose  @anushbhatia  sir could you please provide some suggestion about the about section regarding its placement on the page and content

[2020-08-15 18:30] the-supernova commented on #74
The Terminal Effect as asked-
![demo](https://user-images.githubusercontent.com/56555259/90319184-5d5ee080-df53-11ea-9418-67c302a0759d.gif)
Anything more to add in this? Should I add some colour to make it look different?

[2020-08-15 18:35] the-supernova commented on #74
![demo](https://user-images.githubusercontent.com/56555259/90319215-a9118a00-df53-11ea-90f8-486ffef3bbcb.gif)
The Terminal Effect as asked
Did I miss anything? Should I add some color to it to make it look different?

[2020-08-15 19:40] anushbhatia commented on #84
one of you can work on social media animations

[2020-08-15 22:38] raksha009 commented on #83
@anushbhatia plz guide a bit about what do we have to do in MOOC section and Summer schools section. I am unable to find the Summer School section on the page.
Also, am i assigned mooc section or sunmer school one !?

[2020-08-15 23:11] smaranjitghose commented on #83
Basically the MOOC/Summer School section is to potray any short term course done online like Stanford Summer School,etc. You need improve the UI

[2020-08-15 23:12] smaranjitghose commented on #80
@Tejas1510, The above participants have 5 days after that you can take over

[2020-08-16 04:03] Anjali2001saxena commented on #84
I want to contribute.

[2020-08-16 04:15] Tanya919 commented on #84
Sir,assign me these tasks

[2020-08-16 06:37] raksha009 commented on #83
Ohkay ty

[2020-08-16 07:07] sakshirajput02 commented on #85
Assign me this task. I'll try it using javascript and once I am done I'll report back to u

[2020-08-16 07:19] ankitapuri commented on #84
I want to work on this issue

[2020-08-16 07:23] ankitapuri commented on #74
Can i work on this issue

[2020-08-16 07:51] kashika3101 commented on #84
I want to work on this issue. Please assign it to me.

[2020-08-16 08:23] mharshita commented on #84
@smaranjitghose  I want to add social-media icons and set up the css for quote in the footer. Please assign this issue to me for Contributors Hack 2020.

[2020-08-16 09:52] smaranjitghose commented on #84
Cool, collaborate with @salonilakhotia for this to ensure there is no merge conflict

[2020-08-16 09:54] smaranjitghose commented on #84
@Anjali2001saxena @Tanya919 @kashika3101 @ankitapuri This is a relatively small task, once @salonilakhotia and @mharshita are done with their work (within the next 4 days). If anyone of you wish to improve, please comment back on this issue on what you would like to improvise and you will be assigned it. Meanwhile please checkout the other issues. We have a Resume Issue. To be built in LaTex. It w

[2020-08-16 09:58] smaranjitghose opened #88 "Resume"
# Development
- Build the resume from scratch using Pure LaTeX
- Use [Overleaf](https://www.overleaf.com/) for this.
- Do one section at a time to keep it simple.
- Whoever is working on this, ping me on Slack for the template
- Resources to get started with LaTeX: [Vincet Knight's Youtube Videos](https://www.youtube.com/watch?v=rLWT0z6yvrk&list=PLnC5h3PY-znyDQKn3knfXfekZLgWyL7QW) , [LaTeX Documen

[2020-08-16 10:17] akshaykrishh commented on #82
Can I work on the Research Page?

[2020-08-16 10:18] ALOKARYAN51 commented on #88
Hi i would like to work this issue

[2020-08-16 10:27] ALOKARYAN51 commented on #81
I would like to work on this issue.

[2020-08-16 10:51] siddhiisonii commented on #12
@smaranjitghose sir please assign me this

[2020-08-16 10:55] siddhiisonii commented on #84
@smaranjitghose  sir i want to work in footer section please assign me this.

[2020-08-16 11:16] sakshirajput02 commented on #85
@smaranjitghose can i start making it or i need to do anything here in order to start?

[2020-08-16 11:18] ALOKARYAN51 commented on #88
I would like to work on this issue.

[2020-08-16 12:59] ankitapuri commented on #88
I would like to contribute on this issue.

[2020-08-16 14:44] raksha009 commented on #83
@anushbhatia @smaranjitghose is the MOOCs section (Massive  Open Online Courses)!? Also, what content should I add in there?

[2020-08-16 17:16] smaranjitghose commented on #74
Please specify on which thing you want to work/add/improve

[2020-08-16 17:17] spiyush0212 commented on #81
Sir, I would like to work on this issue;
1) Improve Nav Bar and
2) Improve Footer
Can you please assign this to me?

[2020-08-16 17:18] smaranjitghose commented on #83
@raksha009 You are right! And this is what the section is about ^^^

[2020-08-16 17:19] smaranjitghose commented on #83
Put random coursera specializations (check the popular ones), Google Adwords Certification and similar stuff.

[2020-08-16 17:20] smaranjitghose commented on #84
Please read this: https://github.com/smaranjitghose/awesome-portfolio-websites/issues/84#issuecomment-674506119

[2020-08-16 17:22] anushbhatia commented on #85
start making the bot

[2020-08-16 17:22] smaranjitghose commented on #88
Both of you please learn LaTeX, take a week's time, and show me a basic resume you made from scratch and then I'll provide you the UI. The description of the issue is self-explanatory to get started. Please read it carefully

[2020-08-16 17:23] smaranjitghose commented on #12
Try experimenting with Docusarus or Sphinx and let me know which is more easier for you

[2020-08-16 17:33] ankitapuri commented on #74
I want to work on the section

[2020-08-16 17:34] raksha009 commented on #83
Okayy. Ty

[2020-08-16 17:47] ALOKARYAN51 commented on #88
Okk sir

[2020-08-16 19:29] avinashkranjan commented on #81
I'd have to learn Fast pages..Gimme some time..but I'd like to work on this issue..

[2020-08-17 02:34] siddhiisonii commented on #12
@smaranjitghose okay sure sir

[2020-08-17 09:02] UshasriMavuri1999 commented on #81
Sir, I would like to work on this issue (i) Adding default landing page to the blog (ii) Creating dark mode.

[2020-08-17 13:05] ankitapuri commented on #74
what should appear in the background of parallax

[2020-08-17 13:31] smaranjitghose commented on #74
@N00Bmaster2810 For the About Section Try to have an color reverse effect like this:https://www.wibe.in/

[2020-08-17 14:07] kmlhsn opened #94 "ProJect Content is Empty"
**Describe the bug**
Contents of the Project page is empty. but if you select text. Project title get visible(font color is white)

1. Run app/website
2.Click on the "Projects"

**Expected behavior**
Project should have contents with black font color(or other suitable color) and thumb image

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.g

[2020-08-17 14:19] kmlhsn opened #95 "Search Field"
**Description of the enhancement**
A clear and concise description of what the problem you wish to solve or any enhancement you wish to do for the project

- search field

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

[2020-08-17 16:59] SKV-programmer commented on #12
Hi Smaranjit , could you please assigned me this section

[2020-08-18 02:10] smaranjitghose commented on #94
https://portfolio.smaranjitghose.codes/projects.html
Have a look at this and let me know if you are still able to encounter the same bug

[2020-08-18 02:11] smaranjitghose commented on #95
Please give elaborate description of what you wish to do

[2020-08-18 02:11] #95 closed

[2020-08-18 02:14] smaranjitghose commented on #84
** The older comments are deleted purposefully to keep the more relevant discussion on the top
@salonilakhotia @mharshita you are assigned this for 2 more days

[2020-08-18 05:11] kmlhsn commented on #95
@smaranjitghose There should have a search box so that the visitor can search their information.

[2020-08-18 14:44] mharshita commented on #84
@smaranjitghose  I have made the changes. Please review PR #98 .

[2020-08-18 15:45] kmlhsn commented on #94
there are no problems on https://portfolio.smaranjitghose.codes/projects.html .

[2020-08-18 16:51] anushbhatia commented on #94
decrease the loading time of images by reducing their size that will solve the issue

[2020-08-19 09:03] smaranjitghose commented on #12
@SKV-programmer @siddhiisonii

# My Suggestions:
- Collaborate on Slack
- Learn Sphinx
- One of you give a pr to a docs branch ( Let me know before you do I'll create it) with only the basic documentation files and other necessary stuff from the master branch ( LICENSE, README, Code of Conduct)
- The other one give a PR with an MD file on how to set up documentation ( sort of a mini-blog post)
- D

[2020-08-19 09:07] smaranjitghose commented on #80
@salonilakhotia  Take two more days for this. After that may I expect a PR?
@Tejas1510 Take up the work for the dark mode of the page. For UI related doubts regarding the same contact @anushbhatia

[2020-08-19 09:11] smaranjitghose commented on #82
2 more days for your 1st PR @akshaykrishh. Cool? If you have doubts regarding the UI get in touch with @anushbhatia  over slack

[2020-08-19 09:11] smaranjitghose commented on #85
@sakshirajput02 Any updates?

[2020-08-19 09:14] smaranjitghose commented on #83
@raksha009 @RiyaAgrawal17 @N00Bmaster2810.
Three more days for this. After that, I expect all of your first PR related to this issue.
 [ For discussing your designs, getting feedback, please make use of the common slack channel so that we can interact more and the mentors and admins can assist you in an efficient manner if required ]

[2020-08-19 10:35] ShristiJalan commented on #88
Sir I would like to contribute to this issue

[2020-08-19 13:10] tanishq98 opened #100 "Updating Readme.md"
# Description:

[2020-08-19 13:11] tanishq98 commented on #100
I am working on this issue

[2020-08-20 11:03] sakshirajput02 commented on #85
working on it @smaranjitghose

[2020-08-20 15:28] sakshirajput02 commented on #85
i have the complete zipped folder the chatbot code made using python.Further , i don't know how to upload it here.. please guide. @smaranjitghose

[2020-08-20 15:45] smaranjitghose commented on #85
Zipped it? As in?😅 Do you mean the export we get from DialogFlow?

[2020-08-21 04:54] tripathi-abhishek commented on #100
@tanishq98 can you please assign me to this issue? I would like to contribute. I'm starting my open source contributions with a little experience from contributing to VS-Code issues. Would love to hear from you.

[2020-08-21 08:05] anushbhatia commented on #100
just list the issues down will then assign you

[2020-08-21 08:06] anushbhatia commented on #88
Any update guys ?

[2020-08-21 08:07] anushbhatia commented on #85
send me or @smaranjitghose on via slack will look into it.

[2020-08-21 08:09] anushbhatia commented on #12
Did u guys start any progress?

[2020-08-21 08:16] SKV-programmer commented on #12
Ya we are working on it

[2020-08-21 08:49] ankitapuri commented on #88
Yeah I have watched most of the videos from youtube
Have gained a basic knowledge about LaTeX

[2020-08-23 02:09] smaranjitghose opened #106 "Contact Page"
# Suggestions:

- Illustration on the left
- Form on the right
           |--First Name**
           |--Last Name**
           |--Phone Number*
           |--Email**
           |--Message**
           |--Captcha
- Use formspree for now
- Also, put the social icons on the left
- Work on the dark mode
- Make this mobile responsive
- Update the navbar only when complete and approved

[2020-08-23 18:05] srishtij2000 commented on #83
Okay I will do

[2020-08-23 19:51] mharshita commented on #74
@smaranjitghose  Okay!  Will try my best to submit by 28.
I need to make a toggle at the nav bar right?
And there would be no about section while viewing in the dark mode?

[2020-08-23 19:54] mharshita commented on #82
@smaranjitghose Okay!

[2020-08-24 16:56] siddhiisonii commented on #12
@KanhaMishra25 connect with me on slack and linkedin

[2020-08-24 18:23] shreyakapoor08 commented on #106
Go ahead @avinashkranjan

[2020-08-25 09:20] avinashkranjan commented on #106
@smaranjitghose You'll give link to form action for formspree..or should I use my account and after approval of design you'll give the link??

[2020-08-26 08:42] anushbhatia commented on #106
for now, use your account the basic change is the name of the email only

[2020-08-26 08:47] avinashkranjan commented on #106
@anushbhatia Sure..

[2020-08-26 08:57] anushbhatia commented on #82
@swapniltripathi123 pm me on slack

[2020-08-28 06:07] SKV-programmer commented on #12
I am sorry , I try to worked on Sphinx but faced some issues in that although I spend a lot of time in this section

[2020-08-28 11:09] smaranjitghose commented on #88
@ShristiJalan Let me know are you still interested to work on this?

[2020-08-28 11:09] smaranjitghose commented on #88
@ALOKARYAN51 @ankitapuri Any updates?

[2020-08-28 11:10] smaranjitghose commented on #12
@siddhiisonii @KanhaMishra25 Any updates?

[2020-08-28 11:10] smaranjitghose commented on #106
@avinashkranjan Any updates?

[2020-08-28 11:11] ALOKARYAN51 commented on #88
Yes we are doing. We got the template and start working on it

[2020-08-28 15:26] KanhaMishra25 commented on #12
I am watching some youtube tutorials regarding this as READ THE DOCS
documentation is getting difficult for me to understand.

On Fri, Aug 28, 2020 at 4:40 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-08-29 05:48] avinashkranjan commented on #106
Will push the Contact Page Today

[2020-08-29 10:50] avinashkranjan commented on #106
@smaranjitghose Have a look

[2020-09-01 12:51] akshita2903 commented on #106
I had like to work on it.
Please assign it to me

[2020-09-01 12:57] akshita2903 commented on #84
I want to contribute to it

[2020-09-01 12:58] akshita2903 commented on #84
I want to work on footer section please assign to me

[2020-09-02 19:28] amit-singh1 commented on #84
Please assign me this task

[2020-09-04 14:44] anushbhatia commented on #12
If you face issues ask @smaranjitghose he will try to resolve your problems

[2020-09-04 14:45] anushbhatia commented on #88
Great when can we expect a PR

[2020-09-04 14:46] anushbhatia commented on #84
Any updates @akshita2903

[2020-09-04 14:49] ALOKARYAN51 commented on #88
Within 4-5 days

[2020-09-04 15:15] Adyasha8105 opened #119 "Bugs and Enhancement"
## Bugs
As the site is looking little distorted so I want to work on these bugs.
1.  Toggle button bug (as the button is not showing in every page)
2.  Footer social icon

## Enhancement
1. footer font size
2. Padding at every page

## Mainly I want to work on the dark mode.

@anushbhatia Please assign these tasks :)

[2020-09-04 15:17] anushbhatia commented on #88
okay so I can expect a PR by 9th

[2020-09-04 15:19] ALOKARYAN51 commented on #88
Yes

[2020-09-04 15:56] akshita2903 commented on #84
@anushbhatia  sir  I have made a pull request.Please check it
I am a newbie to this If there is any suggestion or improvement needed please tell.
Thankyou

[2020-09-04 18:11] akshita2903 commented on #84
@anushbhatia Sir I have created a local   footer template in local repo .So I wanna ask whether can I make pull request for this template or I need to contribute to section of @smaranjitghose Sir 's repo in different (new branch) and then make pull request

[2020-09-04 18:12] akshita2903 commented on #84
Or can I contribute to original footer files of @smaranjitghose Sir 's  repo using another new branch

[2020-09-06 21:01] nikita-1801 commented on #74
@smaranjitghose I'd like to work on the color reverse effect and try to have one like it is in https://www.wibe.in/ as you said. Please assign it to me.

[2020-09-07 09:23] mharshita commented on #106
@smaranjitghose  @anushbhatia  I want to work on contact page. Please assign this to me.

[2020-09-07 09:31] shreyakapoor08 commented on #106
You can go ahead

[2020-09-07 09:34] shreyakapoor08 commented on #85
Are you still working on this issue?

[2020-09-07 09:36] shreyakapoor08 commented on #84
Make new branch and then work on it. Make sure to take pull from the original repo

[2020-09-07 13:11] mharshita commented on #80
@anushbhatia  @smaranjitghose  I want to work on experience page. Please assign this to me.

[2020-09-07 13:12] akshita2903 commented on #106
Thankyou @shreyakapoor08  Maa'm. I wanna ask can I make  this contact page  in a different file with same look as other files have?

[2020-09-07 14:27] shreyakapoor08 commented on #106
Yes akshita, make a separate file try to follow the theme as other pages so that everything blends together but you can definitely add your own creativity. Also make sure to work on all the points which is mentioned in the issue.
Hoping for a PR on this within 7 days :)

[2020-09-08 10:53] khushboojoshi3 commented on #74
**Dark mode for the section containing: particle effect, social media icons, terminal effect, and the name.**
I would like to work on this issue.
Can I work on this issue?

[2020-09-09 09:12] #119 closed

[2020-09-09 09:52] N00Bmaster2810 commented on #88
can I work on adding the resume to the navbar?

[2020-09-09 10:27] smaranjitghose commented on #88
Go ahead

[2020-09-09 12:48] ankitapuri commented on #84
Can I work on reducing the width of footer

[2020-09-09 13:15] smaranjitghose commented on #84
Go ahead and give a PR

[2020-09-09 13:15] #84 closed

[2020-09-10 12:43] akshita2903 commented on #106
![Screenshot (3)](https://user-images.githubusercontent.com/68686051/92730150-fcc79580-f390-11ea-9906-7fe759ec9669.png)
@smaranjitghose  Sir and @shreyakapoor08  Maa'm
Please have a look into my contact page template.And Please Suggest any kind of improvement needed.
And tell can I add navigation  bar to it.

[2020-09-10 13:12] shreyakapoor08 commented on #106
Looks good to me.
Just few things -
1. Is this responsive?
2. This seems to be the dark mode, what about the normal mode?
3. Make the "Get in touch" heading in the centre

[2020-09-10 13:50] smaranjitghose commented on #106
The Picture and "Hi, I am xyz" is not required as it will anyways be present on the home page.

[2020-09-10 15:49] itsamanverma opened #135 "add template screen short it seem more gd"
# Description:

# Screenshots:

[2020-09-11 08:00] smaranjitghose commented on #135
Can you elaborate more?

[2020-09-11 08:26] #74 closed

[2020-09-11 08:26] #80 closed

[2020-09-11 08:26] #82 closed

[2020-09-11 08:26] #83 closed

[2020-09-11 08:26] #85 closed

[2020-09-11 08:26] #88 closed

[2020-09-11 08:26] #106 closed

[2020-09-11 08:26] #81 closed

[2020-09-11 08:54] smaranjitghose opened #140 "Bugs"

[2020-09-11 09:13] akshita2903 commented on #106
OK Sir

[2020-09-11 09:19] akshita2903 commented on #106
1-It is responsive in local host
2-Actually Maa'm I added the dark theme initially, so for light theme I am working in it. Can Give you in PR in a day or two
3-Yes ma'am I am also working on text aligning part.
Thank you for the suggestions 😊

[2020-09-11 14:15] #12 closed

[2020-09-12 17:26] AshutoshDash1999 opened #146 "Adding a Favicon"
I want to add a favicon to the site. Let me know do you have any logo designed already or shall I give some suggestions?!

[2020-09-14 09:30] smaranjitghose opened #153 "Create a script that uses GitHub's GraphQLv4 api to fetch the details of the PRs for this project with particular labels and/or by particular usernames"

[2020-09-14 09:30] smaranjitghose opened #154 "GraphQL script"
Create a script that uses GitHub's GraphQLv4 api to fetch the details of the PRs for this project with particular labels and/or by particular usernames

[2020-09-14 09:33] smaranjitghose opened #155 "Project Guide"
Write a guide ( i.e. update the ReadMe as well create a simple website to be hosted using GitHub pages) on how people from very less or no technical background can use this template to build their portfolio. Have a look at fastpages repo for reference

[2020-09-14 09:37] smaranjitghose opened #156 "Detailed Contribution Guidelines"
Rewrite the Contribution.MD for helping any beginner to contribute to this project.

# Key Features:

- Some GIFs
- How to install Git, setup GitHub, etc
- How to fork this repo, create feature branch, pull changes from upstream,etc
- Giving a PR

** Majority of the above should be written in terms of CLI
** Any screenshots you used must be of this repo, pushed inside assets folder and fetched fro

[2020-09-14 09:37] #135 closed

[2020-09-14 09:38] #140 closed

[2020-09-14 10:44] AshutoshDash1999 commented on #146
@smaranjitghose Do you have any logo already designed  or should I suggest one?

[2020-09-14 11:39] smaranjitghose commented on #146
Anythning works that does not give us a copyright issue

[2020-09-15 06:55] AshutoshDash1999 commented on #146
I was thinking, since its a professional website, a suitcase/tie will look good. also if I add text to the logo, it won't be visible in the favicon. What do you think?

[2020-09-15 11:14] smaranjitghose commented on #146
Ya that works fine!

[2020-09-15 11:34] AshutoshDash1999 commented on #146
what about black icon with white background?
Like [this](https://w7.pngwing.com/pngs/890/625/png-transparent-black-suitcase-briefcase-computer-icons-suitcase-baggage-simple-briefcase-icon-bag-baggage-breafcase-brief-miscellaneous-rectangle-business.png)
*Only for representation

[2020-09-15 14:13] shraddhavp commented on #156
interested @smaranjitghose  sir

[2020-09-17 18:34] prathyushalahari commented on #155
@smaranjitghose

https://fastpages.fast.ai/

so,is this the website are you refering to? and should i have to create a guide of using a template by .github.io kind of site like above one?

if it is yes, please assign me this task i can do it....

[2020-09-18 04:31] ritvij14 commented on #154
@smaranjitghose sir, I have some intro to GraphQL APIs. But I have very little knowledge about scripting. But I am interested in trying this out.
Is the script you said something like how the Bash Scripts work? Entering a command and getting the PRs for this repository?

[2020-09-18 21:02] smaranjitghose commented on #154
We can go definitely for a bash script but I would suggest going for a python script (or JS based) as it would be easier for others to use,debig and modify

Basically the query should be:

For this repo
        |
        |----Find Pull Requests
                              |------ with labels{label1,label2}
                                                    |---------- Name of PR

[2020-09-19 07:53] ayushi-1408 commented on #155
Sir I want to work on writing documents  or in updating ReadMe.

[2020-09-19 08:04] waterupto commented on #156
Interested @smaranjitghose sir!

[2020-09-19 08:05] waterupto commented on #155
Interested @smaranjitghose sir!

[2020-09-19 08:06] waterupto commented on #146
Interested @smaranjitghose sir!

[2020-09-19 08:26] AshutoshDash1999 commented on #146
@waterupto I'm already working on this!

[2020-09-19 08:29] waterupto commented on #146
So, am I not allowed to do it? As in they'll see which is the best one and get it merged.

[2020-09-19 08:53] shraddhavp commented on #156
@waterupto  the issue is already taken

[2020-09-19 08:56] smaranjitghose commented on #155
@ayushi-1408 @prathyushalahari @waterupto Can you please work together, decide a tool ( sphinx,mkdocs) and distribute the pages among yourself

[2020-09-19 08:57] smaranjitghose commented on #156
This is a relatively easy task. I believe @shraddhavp can do it alone. Once her PR is merged for this, @waterupto you are welcome to work on any improvements

[2020-09-19 08:57] smaranjitghose commented on #156
Can I expect a PR for this by the next 3 days?

[2020-09-19 08:59] shraddhavp commented on #156
yes sir by tommorow I will submit the PR

[2020-09-19 09:01] smaranjitghose commented on #146
There is nothing like not allowed to in open source 😅. @AshutoshDash1999 had raised this issue and he is assigned it for 10 days ( @AshutoshDash1999 you have a few more days remaining😉 ).  @waterupto You can raise an issue and suggest an improvement/alternative after he gets his PR merged within the deadline. In order to avoid conflicts, you are suggested not to work in parallel on a task already

[2020-09-19 09:11] AshutoshDash1999 commented on #146
@smaranjitghose I really apologise for being delayed. I didn't saw you have liked my message.
Do you like this one?
![favicon-awesome-portfolio](https://user-images.githubusercontent.com/46455250/93663497-20bc6280-fa86-11ea-925b-c9f36eb7dc27.png)

[2020-09-19 10:02] smaranjitghose commented on #146
@anushbhatia would give better feedback than me on this

[2020-09-19 10:09] nikita-1801 opened #166 ""to Top Button" design"
As mentioned on the channel by @smaranjitghose I'd like to work on improving the "to top button" design and position.

[2020-09-19 18:23] nikita-1801 commented on #166
Is there any design you'd like for me to implement here? Also, where do you want it to be positioned?

[2020-09-20 17:53] ayushi-1408 commented on #155
Yes Sure Sir

[2020-09-21 10:56] AshutoshDash1999 commented on #146
@anushbhatia any views on favicon?

[2020-09-21 15:44] smaranjitghose commented on #155
Use the slack channel for this so that at times if I am free and you folks have some common queries regarding this, then I can help you out.  And please give me updates of your progress for this issue every 2-3 days

[2020-09-21 15:49] smaranjitghose commented on #166
Sure you can try a new design. Well, the issue is not with the horizontal position on the webpage but with the vertical position on the web page till which it appears. For example for the Home Page, we actually do not require it

[2020-09-21 15:53] smaranjitghose commented on #146
@anushbhatia is occupied due to some personal as well as professional commitments. You can go ahead and give a PR for the favicon

[2020-09-21 17:18] #156 closed

[2020-09-21 17:25] smaranjitghose opened #173 "Updates to ReadMe"
## Requirements:
- [X] Remove the listed tasks
- [ ] In the beginning put a custom logo for awesome-developer-portfolio
- [X] The section following that should be a crisp ( max 100 words description of the project)
- [X] Put a subheading for ```A sneak peek```
- [x] Replace the screenshots with gifs of how each page looks when scrolled down
- [X] For each page put a sub sub heading
- [ ] Write som

[2020-09-21 22:49] smaranjitghose commented on #154
@ritvij14 I have done a bare bones implementation [here](https://github.com/smaranjitghose/GitKundli). Perhaps you can update the script to remove further unnecessary data and leave us only with the github username of participant, labels given to a pr

[2020-09-21 22:49] #154 closed

[2020-09-22 04:34] AshutoshDash1999 commented on #146
@smaranjitghose submitted a PR #175

[2020-09-22 20:11] ritvij14 commented on #173
Sir is this issue up for CH20? I would like to work on this.

[2020-09-22 20:14] ritvij14 commented on #154
Ok, sir. I don't know much of Python so I won't be working on this for now. :sweat_smile:

[2020-09-23 11:45] smaranjitghose commented on #173
Yes

[2020-09-23 11:53] smaranjitghose commented on #155
Folks any updates? we have around 10 days remaining for CH-20. Let's boost the progress!

[2020-09-23 18:22] ayushi-1408 commented on #155
Started working using Mkdocs

[2020-09-23 21:16] kritikaparmar-programmer commented on #155
Hey @smaranjitghose I want to contribute to this.. But please I want some more clarification.

[2020-09-23 23:35] smaranjitghose commented on #155
Well, the tag of the PRs for this issue depends upon how much you are contributing.

[2020-09-23 23:40] #146 closed

[2020-09-24 15:52] ritvij14 commented on #173
@smaranjitghose sir I have some minor doubts regarding a couple of tasks,
1. In the initial section below the main heading, should I change the whole content itself or shorten it more? It's already less than 100 words.
2. What should I write for the description of the project maintainers?

[2020-09-25 05:23] shraddhavp commented on #173
@smaranjitghose  sir would like to work on the issue if the issue is still open

[2020-09-25 05:32] shraddhavp commented on #155
@smaranjitghose  sir would like to work on this issue if it is yet open

[2020-09-25 17:37] Akansha-Bhandari commented on #173
sir can i work on this issue if it is still open ..

[2020-09-25 20:39] anushbhatia commented on #173
1.Paraphrasing in some other way.
2. For project maintainer section add the images of @smaranjitghose and me. Also, add links to GitHub and LinkedIn

[2020-09-25 20:40] anushbhatia commented on #173
@shraddhavp @Akansha-Bhandari you can take up project guide and if you want and tell us about it?

[2020-09-27 07:36] ayushi-1408 commented on #155
https://github.com/ayushi-1408/Awesome-portfolio-website-documentation-for-beginners.git

Detailed documentation website for Awesome portfolio @smaranjitghose Sir

[2020-09-27 09:59] smaranjitghose commented on #155
Give a PR for this please

[2020-09-27 10:00] smaranjitghose commented on #155
@shraddhavp Can you please colab with her over slack and help out with the content and illustrations

[2020-09-27 19:23] #166 closed

[2020-09-27 19:26] smaranjitghose opened #188 "Add Favicon to Documenation"
- Please push the changes only to the ```documentation branch```
- Do not push any build files
- However, you are expected to share a link of the deploy of your changes. To do this, after doing the changes locally please do:
``mkdocs gh-deploy``.

[2020-09-27 19:28] smaranjitghose opened #189 "Home Page of the Documentation"
# Expected Contents:

- [ ]  Same as README

# Common Instructions

- Please push the changes only to the ```documentation branch```
- Do not push any build files
- However, you are expected to share a link of the deploy of your changes. To do this, after doing the changes locally please do:
``mkdocs gh-deploy``.

[2020-09-27 19:32] smaranjitghose opened #190 "Getting Started for the documentation"
# Expected Contents:

- Detailed Walkthrough about how to use this repository as a template, clone it, make changes, push them back and host it
- Sub Sections ( Nested Pages):
     - [ ] First Steps: Navigating to this repo on GitHub, Using this as a template, Installing and setting up Git, Cloning the repo
     - [ ] Education Page
     - [ ] Experience Page
     - [ ] Projects Page
     - [ ] Re

[2020-09-27 19:34] smaranjitghose opened #191 "Team Page for Documentation"
# Expected Contents:

- [ ]  Illustration
- [ ] A quote about teamwork
- [ ] Project Maintainer's Section
- [ ] Contributors Section

# Common Instructions

- Please push the changes only to the ```documentation branch```
- Do not push any build files
- However, you are expected to share a link of the deploy of your changes. To do this, after doing the changes locally please do:
``mkdocs gh-deploy

[2020-09-27 19:36] smaranjitghose opened #192 "How to Contribute Page for Documentation"
# Expected Contents:

- Make use of the Contribution.MD file on the master branch

# Common Instructions

- Please push the changes only to the ```documentation branch```
- Do not push any build files
- However, you are expected to share a link of the deploy of your changes. To do this, after doing the changes locally please do:
``mkdocs gh-deploy``.

[2020-09-29 15:38] shagun25 commented on #188
can i work on this?

[2020-09-29 15:39] shagun25 commented on #191
can i work on this?

[2020-09-30 04:29] shagun25 commented on #188
Any deadline for submission?

[2020-09-30 08:36] smaranjitghose commented on #188
Before 2nd Oct

[2020-09-30 08:45] smaranjitghose commented on #190
The beginning of the guide is abrupt. Come up with something creative for that

[2020-09-30 08:52] smaranjitghose commented on #190
The steps should be under:

1. [SECTION A] Getting our template
         |-- [Pre-req] Configuring Git, Creating a GitHub Account
         |-- Going to our template and forking the repo
         |-- Cloning it
         |-- Navigating to it
         |--Open the terminal and ensure remote it set up
2. Making Changes
       * For each of the pages, a small description of what one can put there and a

[2020-10-01 06:10] #192 closed

[2020-10-01 14:36] Aniruddhmuley2001 commented on #173
@smaranjitghose Can I update the file in an attempt to convince developers the importance of a portfolio and to encourage the use of the template.

[2020-10-02 03:18] smaranjitghose commented on #173
Sure!

[2020-10-06 12:32] smaranjitghose opened #247 "Blog Page"
# Directions:

Take the code of [this](https://github.com/smaranjitghose/my_blog) repo, do the changes and give the PR to a branch ``test`` for this repo. [ The test branch should only contain code for the blog page]

# Tasks:
- [ ] Add Dark Mode
- [ ] Modify Footer as per our current website
- [ ] Modify Navbar as per our current website
- [ ] Improve the UI of the landing page of the blog with c

[2020-10-06 13:14] anushbhatia opened #248 "Education Page"
TImeline

[2020-10-10 19:35] sanchibansal340 commented on #188
Hello @smaranjitghose. I am interested in working on this issue.
https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/assets/images/favicon.png
Does this image needs to be added to README.md?

And where does it need to be added in the README?

Thanks!

[2020-10-11 06:15] smaranjitghose commented on #188
No you are expected to make a custom favicon for the documentation.
This is required for the documentation code generated from the ``documentation`` branch and hosted at ``gh-pages`` branch

[2020-10-11 08:43] srishtij2000 commented on #191
Can I work on this issue?

[2020-10-11 16:04] Apollo9999 opened #249 "Social Media Icon Links in the website are not directed to the linked webpage"
In the Website https://portfolio.smaranjitghose.codes/  .The following issues are notified

1).Consider Social Media Icon Links like Twitter, Github of the website https://portfolio.smaranjitghose.codes/ are not to directed to the concerned webpage  account of https://portfolio.smaranjitghose.codes/ in Twitter and Github

[2020-10-13 03:36] smaranjitghose commented on #249
This a template meant for people to use for their own portfolio so we have left them empty for putting in their own social media links as and when required

[2020-10-13 03:36] #249 closed

[2020-10-17 15:22] #188 closed

[2020-10-19 19:38] srishtij2000 commented on #191
Should I share a screenshot before issuing a PR?

[2020-10-20 07:06] smaranjitghose commented on #191
You can attach it in the PR description

[2020-10-20 17:31] srishtij2000 commented on #191
Okay

[2020-10-20 18:45] srishtij2000 commented on #191
I am a bit confused that where should I attach this?

[2020-10-21 07:45] srishtij2000 commented on #191
Kindly guide me

[2020-10-21 09:02] smaranjitghose commented on #191
OH! Simple. Just take a screenshot, save it on your desktop. Forget about it for a while. Go the directory for this project. Change to the mkdocs branch. Once the changes are staged and committed, push it your forked repo, raise a pr. Edit the PR description.  Drag and drop the screenshot

[2020-10-28 11:03] nenat commented on #248
I would like to help with this, but am a bit unclear about the issue. What exactly is the problem with the timeline?

[2020-11-01 09:57] Dhiraj3118 commented on #173
I would like to do this. Tell me what custom logo I are you talking about in 2nd point.

[2020-11-10 12:37] capturemathan opened #259 "Resume Link"
Kudos to a wonderful website 🎉 , the `Resume` section in the `navbar` doesn't redirect to your resume rather provides a general `resume-format`.

[2020-11-10 12:40] #259 closed

[2020-11-10 22:07] smaranjitghose commented on #259
Yes, that's been pending for quite some time

[2020-11-27 17:15] hi-18-K opened #260 "Add easy to modify (add content) react templates which can be hosted on static website"
Could I add an react project (as templates for portfolio). That could be deployed using github pages simply or heroku or other deploying website. I will also add clear instructions for modifying, deploying and using the project.

I would also like to add simple templates for html pages that can be hosted publishing research online.(this as seprate work from above one.)

[2020-11-27 19:12] manasisaiba commented on #173
sir I would like to work on adding short description of the program followed by logo .

[2020-11-28 14:16] smaranjitghose commented on #260
Sure. I would create a separate branch for you

[2020-11-28 14:16] smaranjitghose commented on #260
@anushbhatia

[2020-11-29 06:37] iamkrati22 commented on #247
Hey, I would like to work on the issue as a part of Nwoc. Can you assign this to me? I am not familiar with jekyll but willing to learn.

[2020-11-29 09:43] smaranjitghose commented on #247
Sure!

You can make use of [this](https://devhints.io/jekyll) cheatsheet if you wish to get started with Jekyll

[2020-11-29 09:47] #248 closed

[2020-11-29 09:48] smaranjitghose opened #261 "Modify the social media icons on Home Page [ Dark mode] so that they blend with the design more effectively"

[2020-11-29 09:50] smaranjitghose opened #262 "Make the fields in the Contact Form of the footer Compulsory to fill"

[2020-11-29 09:52] smaranjitghose opened #263 "Replace the timeline in the education page with something more mobile friendly"

[2020-11-29 09:53] smaranjitghose opened #264 "Toggle Button Bug"
Whenever one switches to dark mode for a page say 'x' and we move to another page say 'y' the page loads up back in light mode instead of being continued to be displayed in 'dark mode'

[2020-11-29 09:54] smaranjitghose opened #265 "Improve Footer Design"

[2020-11-29 09:55] smaranjitghose opened #266 "Improve Nav Bar design for Mobile View"

[2020-11-29 12:44] iamkrati22 commented on #262
I would like to work on this issue. Please assign this to me. :)

[2020-11-29 12:53] AggiSahithi commented on #261
Hello, I would like to work on this issue. Can you please assign it to me?

[2020-11-29 13:13] shikharcodes commented on #266
Hey! I would like to work on this issue as a part of Nwoc. Can you assign this to me?

[2020-11-29 13:15] shikharcodes commented on #265
Hey! I would like to work on this issue as a part of Nwoc. Can you assign this to me please?

[2020-11-29 13:33] shikharcodes commented on #263
Hey! I would like to work on this issue. Can you assign this to me?

[2020-11-30 08:18] chehak123 commented on #266
Can i work on it as a part of nwoc?

[2020-11-30 08:18] chehak123 commented on #265
Can i work on it as a part of nwoc?

[2020-11-30 09:14] chehak123 commented on #262
I would like to work on it as a part of nwoc

[2020-11-30 13:39] kunaljain0212 commented on #264
Can I work on this issue, please? @smaranjitghose

[2020-11-30 17:08] Vishal-raj-1 commented on #264
I would like to work on this issue.

Thanks 😃

[2020-11-30 17:43] Vishal-raj-1 commented on #262
Can I work on this issue.?

[2020-11-30 23:47] Pranav016 commented on #262
I would like to work on this issue.

[2020-11-30 23:47] Pranav016 commented on #263
I would like to work on this issue.

[2020-11-30 23:48] Pranav016 commented on #265
I would like to work on this issue.

[2020-11-30 23:48] Pranav016 commented on #266
I would like to work on this issue.

[2020-12-01 05:46] subhangi2731 commented on #266
can you please assign this issue to me? @smaranjitghose

[2020-12-01 05:49] subhangi2731 commented on #265
can you please assign this issue to me? @smaranjitghose

[2020-12-01 05:54] subhangi2731 commented on #190
can you please assign this issue to me? @smaranjitghose

[2020-12-01 06:24] subhangi2731 commented on #189
can you please assign this issue to me?

[2020-12-01 08:45] #262 closed

[2020-12-01 11:06] Pranav016 commented on #263
The timeline on the education page is responsive. Do you still want me to replace it? I can think of something to replace it with, some suggestions would be great. @smaranjitghose

[2020-12-01 14:04] prabhat04011998 commented on #191
Hey is this issue is available?

[2020-12-01 16:53] chehak123 commented on #265
Thanks for assigning it to me. Can you please brief out about what all to be added in footer?

[2020-12-01 17:08] chehak123 commented on #261
Can you assign it to me?

[2020-12-02 04:53] smaranjitghose commented on #263
Yes the timeline is mobile responsive and we are aware of it. The area of improvement from a design point of view is it should be more aesthetically pleasing on the mobile view unlike the current version which stacks all the cards over one another at one side of the phone screen

[2020-12-02 05:57] prabhat04011998 commented on #191
Hey @smaranjitghose  can you explain the issue a bit,

what i understand is that "I need to design a template for a page which will be inlcuded as team page on the website right?"

[2020-12-02 12:20] Pranav016 commented on #263
@smaranjitghose Got you, I have a nice UI design in mind and will start working on it.

[2020-12-02 18:14] Vishal-raj-1 opened #269 "Go to Top Button isn't shown"
@smaranjitghose Sir this is the error, that show in console.
![shdf](https://user-images.githubusercontent.com/59874304/100913554-f2ccb300-34f7-11eb-9d00-945d7e363e1b.JPG)

The Reason for this issue is :
![ghdsjh](https://user-images.githubusercontent.com/59874304/100913648-142d9f00-34f8-11eb-8208-2090b4a0a9de.JPG)

Can I work on this issue ?

Thanks and Regards
Vishal

[2020-12-02 18:19] Vishal-raj-1 opened #270 "Same Id for different input."
@smaranjitghose Sir, This is the problem i get in my console.

![sghjdf](https://user-images.githubusercontent.com/59874304/100914235-ca918400-34f8-11eb-8b61-95674988e70d.JPG)

Should I ignore this, or I should give ids for these inputs.

Thanks and Regards
Vishal

[2020-12-02 20:21] Pranav016 commented on #263
@smaranjitghose I was working on this issue and after a lot of hours of trying to add the section, that was working perfectly in a blank html file but not in this, I realized that the code base is really bad. Someone has generalized the height, width of very common bootstrap classes like row, card etc. I can add the section without the classes but it just won't be that great. So its your call of w

[2020-12-03 08:04] Vishal-raj-1 commented on #264
@kunaljain0212 are you working on this issue ? If not kindly reply me, I would go for it. If you are doing take your time no problem.

[2020-12-03 08:23] kunaljain0212 commented on #264
@smaranjitghose I have created a pull request for this issue. It is ready for review -> #272

[2020-12-03 09:11] Vishal-raj-1 commented on #264
Great Brother @kunaljain0212

[2020-12-03 09:48] An-prog-hub opened #274 "Light and dark mode slider in not sliding at mobile view"
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/67872399/100992738-8cd53f80-357a-11eb-8621-9371986523e7.gif)

[2020-12-03 14:54] PinRathod opened #275 "Addition of Skill page"
Skill page added with a circular disc for each skill level. I want to work on this issue.

[2020-12-04 04:49] sammy8825 commented on #247
hello @smaranjitghose  can u assign me this issue but I don't know Jekyll? But I'm very much interested to learn it.

[2020-12-04 07:41] Vishal-raj-1 opened #276 "Add NWOC in README.md"
@smaranjitghose  This repository is also part of NWOC Open Source Program. It Should be included in README.md.

I would like to add NWOC in Open Source Program Section of README.md.

[2020-12-04 08:06] Vishal-raj-1 commented on #274
@smaranjitghose @anushbhatia Sir I want to work on this issue. Should I start ?

[2020-12-04 09:13] Vishal-raj-1 opened #277 "CSS Problem on Research Page."
Because of this button, research page is not responsive.
![John Doe _ Research - Google Chrome 04-12-2020 14_39_33](https://user-images.githubusercontent.com/59874304/101144833-ed2db500-363e-11eb-9e44-6493a55de9de.png)

Page looks like..
![xcv](https://user-images.githubusercontent.com/59874304/101144871-fb7bd100-363e-11eb-83d2-3405a7d6b4c5.JPG)

[2020-12-04 12:58] Kerveyfelix commented on #276
Can I work on this issue?

[2020-12-04 13:02] Kerveyfelix commented on #173
Can I add the picture of NWOC logo under the programs this project is part of?

[2020-12-04 15:00] Tejas1510 opened #278 "Carousel of Certificate in Education section"
A carousel of the certificate to showcase all your certificates
![image](https://user-images.githubusercontent.com/64543913/101178858-7c52c100-366f-11eb-957f-8107951b1a33.png)

We can swap right or left using the two buttons provided

[2020-12-04 15:01] Tejas1510 commented on #278
@smaranjitghose, @anushbhatia can i work on this issue

[2020-12-04 19:33] yashgautam9274 commented on #276
I want to work on this issue

[2020-12-05 06:53] Vishal-raj-1 commented on #265
Hello @chehak123, You have to improve footer. Some Issues I get in footer is :

![fo](https://user-images.githubusercontent.com/59874304/101236040-b5cd1000-36f3-11eb-80aa-083872044ede.JPG)

I think it should be like :

![fo2](https://user-images.githubusercontent.com/59874304/101236064-f62c8e00-36f3-11eb-860e-b7bc5c00e3fb.JPG)

 One More Thing you can do is Improve Icons in Dark theme .

![fo3](ht

[2020-12-06 16:58] Kerveyfelix opened #279 "Add pull request template"
Can I add pull request template to this project to enhance the workflow of the repository?

[2020-12-06 16:59] Kerveyfelix opened #280 "Add issue template"
Can I make issue templates to enhance the workflow of the repository?

[2020-12-06 18:15] Nishant2907 commented on #265
Hello can i work on this issue?

[2020-12-07 09:40] smaranjitghose commented on #279
Go ahead please

[2020-12-07 09:43] anushbhatia commented on #278
go ahead with the carousel but it should automatically move after an adequate interval.

[2020-12-07 09:45] smaranjitghose commented on #247
Sure

[2020-12-07 09:46] anushbhatia commented on #274
Use a fresh toggle button code and you can change the template for the navbar if necessary in that.

[2020-12-07 09:51] #269 closed

[2020-12-07 09:51] #270 closed

[2020-12-07 10:00] anushbhatia opened #281 "Grid Size 3 on the Project page"
Currently, it shows 2 projects on the page extra space is wasted in this so we can cover this by adding 1 more project to the home.

[2020-12-07 10:01] anushbhatia opened #282 "Search Functionality on Project Page"
Adding filters to search projects based on domains like ml, ai, data science, web dev etc.

[2020-12-07 10:01] smaranjitghose commented on #260
Any updates?

[2020-12-07 10:02] #264 closed

[2020-12-07 10:04] anushbhatia opened #283 "Place the Cite button on the card and add an extra abstract button"
In the Research, page add these changes accordingly

[2020-12-07 10:06] anushbhatia opened #284 "Modify JSON"
Add the JSON for cite in the popup in the same code so that same code black can be copied and pasted directly every time we add a new project

[2020-12-07 10:07] smaranjitghose commented on #265
Would you like to work on the responsiveness bug

[2020-12-07 10:09] #191 closed

[2020-12-07 10:09] #190 closed

[2020-12-07 10:09] #189 closed

[2020-12-07 10:10] #173 closed

[2020-12-07 10:10] anushbhatia commented on #263
You can fix it from the scratch form if you want or else comment on the previous code and start working on it. If you wan to can go ahead with a new HTML page too.

[2020-12-07 10:11] smaranjitghose commented on #274
Let's give @An-prog-hub 3 days for this. If he is unable to do it or if there are improvements left out, you can take over

[2020-12-07 10:37] Tejas1510 commented on #278
@anushbhatia yes it would automatically move after a interval of 3 sec

[2020-12-07 10:53] Pranav016 commented on #263
Sure, I'll make a new branch and comment the code and start working on the page👍

[2020-12-07 11:22] Vishal-raj-1 commented on #274
Sure Sir, @An-prog-hub Take your time. All the best!!

[2020-12-07 14:47] Vishal-raj-1 commented on #281
I want to work on this issue. Could you please assign it to me? @anushbhatia

[2020-12-08 07:37] Nishant2907 commented on #265
Hi @smaranjitghose  i did some changes in the footer design, kindly look at the screenshots i am attaching and give your reviews.
on max width
![image](https://user-images.githubusercontent.com/59792198/101453873-05ab1180-3956-11eb-88ca-fca57867a1de.png)

on reducing the width f the screen
![image](https://user-images.githubusercontent.com/59792198/101453982-3db25480-3956-11eb-8098-2e19988f71fd.pn

[2020-12-08 09:57] Nishant2907 commented on #265
Hi @smaranjitghose, I have updated all the changes you asked for. I am making a PR kindly review it.

[2020-12-08 10:15] sayna3311 commented on #283
Please assign this to me. I would like to contribute.

[2020-12-08 10:39] anushbhatia commented on #283
If you face any issues message any mentor on slack

[2020-12-08 10:40] anushbhatia commented on #266
Any update?

[2020-12-08 10:43] #276 closed

[2020-12-08 13:59] Vishal-raj-1 opened #289 "Add about block on homepage."
Home Page is very small. There is nothing in homepage except navbar, header and one block. It would be better( from my point of view) if there is small about block in homepage.

@anushbhatia @smaranjitghose Should I work on this idea or it is not your requirement for now?

[2020-12-08 15:10] Vishal-raj-1 commented on #277
Sir there is no problem with button the problem is with table. can i change table with container? @smaranjitghose @anushbhatia

[2020-12-08 15:15] #281 closed

[2020-12-08 15:29] smaranjitghose commented on #277
Sure

[2020-12-08 15:35] smaranjitghose commented on #289
That's a fantastic idea. I can imagine that we can remove the picture from the first section and put it in the about block with a small 100 word description.

What do you think?

@anushbhatia can help with the UI more

[2020-12-08 15:45] smaranjitghose opened #291 "Make the navbar fixed to the top of the page while one scrolls down"

[2020-12-08 15:54] Vishal-raj-1 commented on #289
Yep Sir !! I was thinking on the same way. 🔥

[2020-12-08 15:57] smaranjitghose commented on #274
By the way, a small design improvement to the slider would be "the sun" . The two concentric circles make it a bit weird. We can go for something that resembles it more closely

[2020-12-08 16:01] smaranjitghose opened #292 "Code and Design Improvements to Research page"
- [ ] In the reseach.js, for each entity in the JSON  we should have:
- Name of the paper
- Conference/Journal
- Authors
- Year
- Image ( path of the image)
- Citation ( just one)
- 250 words abstract

**add the code for cite button with the same json not defining any extra variable for it.**

- [x] We need to realign the cite button and add an abstract button to the bottom right or bottom left of

[2020-12-08 16:02] smaranjitghose commented on #283
Continued [here](https://github.com/smaranjitghose/awesome-portfolio-websites/issues/292)

[2020-12-08 16:02] #283 closed

[2020-12-08 16:05] smaranjitghose commented on #277
Continued [here](https://github.com/smaranjitghose/awesome-portfolio-websites/issues/292) for tracking all the changes done to the page

[2020-12-08 16:05] #277 closed

[2020-12-08 16:09] smaranjitghose opened #293 "Issue for Design/Content Suggestions"
Please feel free to use this issue to suggest any further additions/eliminations to the project in terms of usability, UI, pages, features, code quality, and optimization

[2020-12-08 16:12] m-code12 commented on #291
I would like to take this up @smaranjitghose, please assign it to me.

[2020-12-08 16:13] smaranjitghose opened #294 "Change the contents of the documentation with the same as that of readme"
**REMINDER**: we are using mkdocs for the documentation. The deploy is on ``gh-pages`` branch while the code is on the ``documentation branch``

[2020-12-08 16:23] smaranjitghose opened #296 "Making the project more appealing to both women and men"
For each of the illustrations on the pages, there should be one representing a woman and an alternative for a man in the assets so that our users can choose as per their preference

[2020-12-08 16:32] smaranjitghose opened #297 "Change the favicon to a circular profile picture of a person (use any free illustration for this)"

[2020-12-08 16:35] smaranjitghose opened #298 "SEO"
- [ ] Try to improve the SEO of the project itself
- [ ] For each page, ensure we have common meta tags for SEO except the titles
- [ ] Document [ Put elaborate comments] to make the SEO related meta tags for understandable for people from non-coding backgrounds

[2020-12-08 16:38] #260 closed

[2020-12-08 16:40] smaranjitghose opened #299 "Integration of Chatbot"
For starters, you can use DialogFlow

[2020-12-08 16:42] smaranjitghose opened #300 "Admin Dashboard"
An admin dashboard ( Django is preferred but NodeJS+ Express is welcome too) so that users can simply update the contents of the portfolio using  a GUI.

Continue this on a separate branch please

[2020-12-08 16:46] m-code12 opened #301 "Live demo and GitHub icons are not fully visible"
In the projects.html page,the live demo and github icons are not fully visible for music recommendation engine and movie recommendation system in both light and dark theme.

![Screenshot (236)](https://user-images.githubusercontent.com/53649201/101514029-da024880-39a2-11eb-985f-697276c28330.png)
![Screenshot (237)](https://user-images.githubusercontent.com/53649201/101514096-e9819180-39a2-11eb-8f9

[2020-12-08 18:19] Nishant2907 commented on #297
Hey, kindly assign this to me.

[2020-12-08 19:11] sayna3311 commented on #292
![image](https://user-images.githubusercontent.com/67572440/101529813-16d83a80-39b7-11eb-9828-f5b2818e259d.png)

Placed like this?

[2020-12-08 19:26] sayna3311 commented on #292
![image](https://user-images.githubusercontent.com/67572440/101531444-4daf5000-39b9-11eb-8cdf-644adb69e867.png)

Is this okay?

[2020-12-09 03:39] dhruvjha11 commented on #296
Do you mean on the website or the documentation??

[2020-12-09 05:46] Vishal-raj-1 opened #303 "Set Up discussion feature for great conversion."
@smaranjitghose @anushbhatia Sir, Did you see new feature on github ? We can set discussion on this repo. So what you have to do is just click this block in setting section of your repo. It's Amazing I guess. Have a try.

![discussion](https://user-images.githubusercontent.com/59874304/101589985-8c6ff500-3a0f-11eb-8756-48b53dfe1adf.JPG)

[2020-12-09 06:00] sammy8825 commented on #247
@smaranjitghose is there any channel where we can ask doubts ?

[2020-12-09 06:28] sammy8825 commented on #291
I would like to solve this issue can u assign it to me @smaranjitghose ?

[2020-12-09 12:28] sayna3311 commented on #292
@anushbhatia @smaranjitghose please check. So that I can send a PR.

[2020-12-09 13:01] PinRathod commented on #282
Can I work on this?
@anushbhatia , @smaranjitghose

[2020-12-09 14:12] Vishal-raj-1 commented on #265
.> on max width

Logo should be in center.

[2020-12-09 14:35] anjali1102 commented on #297
I taking up this issue check my pr

[2020-12-09 16:11] smaranjitghose commented on #296
The website

[2020-12-09 19:26] #280 closed

[2020-12-09 19:26] #279 closed

[2020-12-09 19:27] smaranjitghose commented on #247
Yes, it's [here](https://join.slack.com/t/nwoc-workspace/shared_invite/zt-ju5z8s6r-u04wP4SJ69kXEy2fz~AuZg)

[2020-12-09 19:29] smaranjitghose commented on #303
Nice Suggestion @Vishal-raj-1

[2020-12-09 19:29] #303 closed

[2020-12-09 19:30] smaranjitghose commented on #301
Would you like to fix the bug?

[2020-12-09 19:32] smaranjitghose commented on #292
@sayna3311 Could you please place the cite button adjacent to the abstract button

[2020-12-10 05:26] sayna3311 commented on #292
Oh, okay sure. I have changed it as required. I am sending a PR.

[2020-12-10 05:33] sayna3311 commented on #292
![image](https://user-images.githubusercontent.com/67572440/101725816-539b5300-3ad7-11eb-8226-fe0f78779076.png)

[2020-12-10 06:19] m-code12 commented on #301
Yes,sure.
Also please could you assign for opening this issue?

[2020-12-10 09:00] Vishal-raj-1 commented on #265
Okay I am going to work on this issue. Will send the PR shortly.

[2020-12-10 09:06] Nishant2907 commented on #265
Hey buddy, i am still working on the PR. Just hold on for a sec...

[2020-12-10 09:13] Vishal-raj-1 commented on #265
Sure buddy, I have no problem you can continue !! and take your time, I will solve another issue!!

Don't Hurry, Do it nicely. All the best @Nishant2907  🔥

[2020-12-10 09:15] Nishant2907 commented on #265
Actually i had completed the issue previous night, just forgot to commit it. Will commit it within minutes. You can have a look at the commits. Also do tell if you find any loose ends in the code :)

[2020-12-10 09:32] Vishal-raj-1 commented on #265
@Nishant2907 I love to do reviewing peers code. But because of guideline of NWOC, I can't review. So let wait @smaranjitghose Sir will review and merge and I will do the rest( I have seen it need lot more to do).

Keep Coding and Learning!!

[2020-12-10 09:34] Nishant2907 commented on #265
Yep Sure,

[2020-12-10 09:53] Vishal-raj-1 opened #310 "Chat Bot (Two Options)"
**Describe the solution you'd like**

@smaranjitghose I want it will be great if there will be chat bot. We can use chat bot for multiple purpose. Like to get user experience.

![chat1](https://user-images.githubusercontent.com/59874304/101755270-adf9db00-3afa-11eb-8240-4dd79ced0a0a.JPG)

![chat2](https://user-images.githubusercontent.com/59874304/101755288-b225f880-3afa-11eb-82d8-a2b79881965f.JPG

[2020-12-10 10:09] Vishal-raj-1 commented on #310
Sorry My Bad It is already in issue section.

[2020-12-10 10:09] #310 closed

[2020-12-10 10:49] Vishal-raj-1 commented on #289
@smaranjitghose sir, there is commented about section in index.html file. But I am little confuse about the layout. I have two options that are running in my mind.

**FIRST: About section of two column**

In this about section I will use one image in one column and two to three small paragraph in another column. Then doing one more thing below this two column. something like this

![idea](https://

[2020-12-10 11:57] Vishal-raj-1 commented on #289
It is fully responsive about section.

**Desktop View:**

![about](https://user-images.githubusercontent.com/59874304/101768835-21f0af00-3b0c-11eb-95b4-ad0d8d62dcd7.JPG)

**Mobile View:**

![about 2](https://user-images.githubusercontent.com/59874304/101769155-8f9cdb00-3b0c-11eb-8601-43f9c74975ba.JPG)

Review it @smaranjitghose @anushbhatia Sir. It is fully responsive, but I can work on styling pa

[2020-12-11 12:58] smaranjitghose commented on #301
Sure

[2020-12-11 15:51] sayna3311 commented on #297
Can I work on this issue? Please assign this to me @smaranjitghose .

[2020-12-11 15:53] sayna3311 commented on #296
I would like to work on this issue. Please assign this to me @smaranjitghose .

[2020-12-11 17:44] anjali1102 commented on #297
The PR has been merged.May be they forgot to close the issue

[2020-12-11 20:16] #297 closed

[2020-12-11 20:17] smaranjitghose commented on #296
For the illustrations you can make use of undraw.co

[2020-12-12 08:32] m-code12 commented on #291
@smaranjitghose I have raised a pr #313, do have a look.

[2020-12-12 08:55] #291 closed

[2020-12-12 14:56] Vishal-raj-1 commented on #294
I will work on this issue !! Please Assign it to me 🔥

[2020-12-12 15:01] Vishal-raj-1 commented on #266
@shikharcodes Brother if you working on this issue so please reply otherwise there are many who loves to work right now.

[2020-12-12 15:11] Vishal-raj-1 commented on #265
@Nishant2907 Hey Brother You have done awesome work 👏🏻 . Now logo and quotes are perfectly fine. I think there is something that I can work upon the icon part.

[2020-12-12 16:19] m-code12 commented on #299
I would like to take this up.

[2020-12-13 08:10] snehaM2210 commented on #261
Hello @smaranjitghose , since no-one has done the task yet, can you please re-assign it to me? I would like to work on this issue.

[2020-12-13 09:13] #289 closed

[2020-12-13 09:15] #296 closed

[2020-12-13 18:18] smaranjitghose commented on #265
Sure. Go ahead

[2020-12-13 18:19] smaranjitghose commented on #266
You can go ahead

[2020-12-13 18:20] #278 closed

[2020-12-13 18:36] smaranjitghose opened #316 "Modifications to social media icons"
- [ ] Add a Social Media icon (with relevant transition) for Google Scholar, Instagram, Codeforces and Leetcode
- [ ] Modify the code so that the user can display any combination of social media as per their needs.
- [ ] Input the links of the same using a JSON in main.js or home.js
- [ ] Replace the email id in the footer with a corresponding ✉ icon
- [ ] Footer Bug:
![footer_bug](https://user-im

[2020-12-14 06:58] snehaM2210 commented on #316
Please assign me this issue..I would like to work on this @smaranjitghose

[2020-12-14 08:25] snehaM2210 commented on #261
Hai @smaranjitghose, I've made these icon changes in dark mode, Is this okay or if you need any further modifications, please convey.
<img width="948" alt="Portfo" src="https://user-images.githubusercontent.com/68493940/102057401-ddb72480-3e13-11eb-8a97-fd28a9385968.PNG">

[2020-12-14 09:10] sauravvsonu commented on #316
@smaranjitghose  I would like to work  on this issue (1st, 2nd, and 4th point)

[2020-12-14 11:20] sauravvsonu commented on #293
I founded issue in the menu button in the responsive view; it is not working (trigger) issue properly. And also a problem in interface there.

[2020-12-14 11:30] Pranav016 opened #319 "Bug report: Unresponsive carousel"
**Describe the bug**
The carousel on the education page is not responsive and is not optimized for mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1.  Try viewing the education.html page in mobile view using developer tools.

**Expected behavior**
The carousel should be responsive.

**Actual behavior**
The carousel shrinks down in mobile view.

I would like to work on this issue an

[2020-12-14 11:44] Vishal-raj-1 commented on #316
have a look at main.js footer section !! You will understand easily

[2020-12-14 14:23] smaranjitghose commented on #316
@sauravvsonu I would urge you to take one task at a time so that we can give all of the participants a chance.

Would you like to go ahead with 1 and 2?

[2020-12-14 14:24] smaranjitghose commented on #316
Would like to go ahead with 3 and 4?

[2020-12-14 14:33] smaranjitghose commented on #293
Could you raise two separate issues for them so that I can assign you points for each

[2020-12-14 14:33] snehaM2210 commented on #316
Yeah sure😊, but if I've got any doubts, where can I contact you?

[2020-12-14 14:51] sauravvsonu commented on #316
okay I will start with it

[2020-12-14 15:18] Vishal-raj-1 commented on #316
Join slack channel (link in README)

[2020-12-14 15:33] Vishal-raj-1 opened #321 "Different color to icon in About section of Home page"
# Description

Currently we have same color to icons in about section of home page. We can give different color to icons in both theme.

# Screenshots

## Currently in light theme

![light](https://user-images.githubusercontent.com/59874304/102100304-4a9be000-3e4f-11eb-9a11-d89c64809c64.JPG)

## Currently in Dark theme

![dark](https://user-images.githubusercontent.com/59874304/102100330-538cb180-

[2020-12-15 02:48] sayna3311 commented on #321
I would like to work on it. Can you please assign this to me? @Vishal-raj-1 @smaranjitghose @anushbhatia

[2020-12-15 02:50] Vishal-raj-1 commented on #321
You can work on !!

On Tue, Dec 15, 2020, 8:19 AM Sayna Parida <notifications@github.com> wrote:

[2020-12-15 07:05] tejaswini22199 commented on #316
can I work on the 3 and 4 issues

[2020-12-15 08:07] snehaM2210 commented on #316
Yeah, I've joined and working on the no. 3 and 4 issues😊

[2020-12-15 12:10] sauravvsonu opened #322 "Bug report: toggle effect is not working in sidebar Menu"
In the Responsive web, the toggle of the menu is not working. Hence if we click, then we can't close the sidebar.

[2020-12-15 12:13] sauravvsonu opened #323 "Bug report: Problem in side bar interface"
We can see Home is not showing and margin required at the top.

![image](https://user-images.githubusercontent.com/54908611/102213497-d3248a00-3efc-11eb-9bdb-bafbf7e7514c.png)

[2020-12-15 12:14] sauravvsonu commented on #323
@smaranjitghose, assign to me. I am working on it.

[2020-12-15 12:15] sauravvsonu commented on #322
@smaranjitghose, you may assign  me; I am working on it.

[2020-12-15 16:04] sauravvsonu commented on #316
hey, I had completed with adding, some required icon look at it onces.

![image](https://user-images.githubusercontent.com/54908611/102239531-f65f3180-3f1c-11eb-86ae-c524ddc34476.png)
![image](https://user-images.githubusercontent.com/54908611/102239615-0ecf4c00-3f1d-11eb-8996-41aaeb979b91.png)

[2020-12-16 09:53] Vishal-raj-1 opened #324 "Direct change in style.css affect About section of Homepage."
# Describe the bug

Now because of last [commit](https://github.com/smaranjitghose/awesome-portfolio-websites/commit/4d0095b62bd2dfdceb4eeddc6f0316122796276d)  by @Pranav016 home page is look like

## Home

![home bug](https://user-images.githubusercontent.com/59874304/102330673-db89cd00-3faf-11eb-9538-6e0ad30e0f58.JPG)

## About

![about bug](https://user-images.githubusercontent.com/59874304/102

[2020-12-16 10:02] Pranav016 commented on #324
@Vishal-raj-1 it's working completely fine on my system! I'll send a video after my class gets over.

[2020-12-16 10:04] Pranav016 commented on #324
Oh I figured it out, we can work on it! Small issue, for dark mode, text is black.

[2020-12-16 10:12] Vishal-raj-1 commented on #324
Yep, I have solved it by adding a id to about section. It's my bad I shouldn't directly style the .card class.

[2020-12-16 11:20] Vishal-raj-1 opened #325 "Fixed Navbar Problem"
# Describe the bug

When Fixed the navbar at top. We Have to give padding to the first container.

**To Reproduce**

Steps to reproduce the behavior:
1. Give padding to the containers

**Actual behavior**

![project](https://user-images.githubusercontent.com/59874304/102341655-27dc0980-3fbe-11eb-9116-1cc54ac1f335.JPG)

![resaerch](https://user-images.githubusercontent.com/59874304/102341665-2ad6fa

[2020-12-16 16:42] mayankkuthar commented on #316
@smaranjitghose Hi, As the issue is still open I would like to work on the 1st, 2nd, 4th, and 5th points. Please assign me this issue and will fix this ASAP. I am really curious to work on this issue. :)

[2020-12-16 17:13] mayankkuthar commented on #293
@smaranjitghose I founded an issue on the Landing Page when we switch to Dark mode, The icons below the "A little about me"' section got vanished and the text was written under the "A little about me"' section also remains in the black color font which is not visible in Dark Mode.
![chrome-capture](https://user-images.githubusercontent.com/39026182/102382146-1ad80e00-3ff0-11eb-94ec-672bcb3bead7.gi

[2020-12-16 17:25] mayankkuthar opened #327 "Bug report: On Landing Page, Text and Icon are not visible in Dark Mode"
I founded an issue on the Landing Page when we switch to Dark mode, The icons below the "A little about me"' section got vanished and the text was written under the "A little about me"' section also remains in the black color font which is not visible in Dark Mode.

![chrome-capture](https://user-images.githubusercontent.com/39026182/102383445-8e2e4f80-3ff1-11eb-810e-ff9322d84be3.gif)

[2020-12-17 12:03] Vishal-raj-1 commented on #327
It's already #324 here.

[2020-12-17 18:50] Swastik1710 commented on #327
Hey @Vishal-raj-1 , can you please assign me this issue.

[2020-12-17 20:06] Vishal-raj-1 commented on #327
It is already solved.( Ready for merge)

[2020-12-18 05:37] Vishal-raj-1 commented on #294
@anushbhatia @smaranjitghose It is ready !! Please Review ☺

[2020-12-18 07:36] Swastik1710 commented on #327
Oh okay @Vishal-raj-1 , no problem ! BTW I have done it too, so can you please review it and give some feedback . Would be quite helpful.
![1](https://user-images.githubusercontent.com/71871571/102587065-3e56a200-4131-11eb-99d6-0dce3e4710a3.png)
![2](https://user-images.githubusercontent.com/71871571/102587071-41519280-4131-11eb-86de-66a0841fd307.png)
![3](https://user-images.githubusercontent.com

[2020-12-18 07:55] m-code12 commented on #325
I would like to take this up @Vishal-raj-1

[2020-12-18 08:23] Vishal-raj-1 commented on #325
Sure !!

[2020-12-18 16:55] rajarshi-hub opened #331 "Bug report: Hovering problem in the volunteership cad in the experience page"
**Describe the bug**
When we hover over the volunteership card on the experience page  the description with the heading is not shown properly
**To Reproduce**
Steps to reproduce the behavior:
1. Just changing the hovering effect for the description in the card will do.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise de

[2020-12-18 17:08] rajarshi-hub opened #332 "Bug report: The problem in the dark mode Mentorship cards"
**Describe the bug**
In the dark mode the dates just below the heading are not properly visible needs to b change its color to white when the dark mode is on.
![Screenshot (351)](https://user-images.githubusercontent.com/62015785/102641106-869db080-4181-11eb-95b7-3849ccad988a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. just changing the color for the text in the date as the other te

[2020-12-18 17:16] rajarshi-hub commented on #331
If this is a valid issue then please add my issue raised score

[2020-12-19 08:31] #319 closed

[2020-12-19 08:38] #265 closed

[2020-12-19 08:38] #324 closed

[2020-12-19 08:47] Pranav016 opened #333 "Adding carousel navigation buttons and removing certificate button on education card as discussed in #302 and #326"
**Feature request proposal-**
* Adding carousel navigation buttons for the education page and fix the card as discussed in #326
* Removing certificate button on education card as discussed in #302

[2020-12-19 08:47] Pranav016 commented on #333
Will start working on this!

[2020-12-19 10:26] rajarshi-hub commented on #332
Will my score be added for raising this issue @anushbhatia

[2020-12-19 17:24] smaranjitghose commented on #332
Yes. We update the scores every 5 days

[2020-12-19 17:29] smaranjitghose commented on #325
Are you cool with @m-code12 taking it?

[2020-12-19 17:30] #327 closed

[2020-12-19 18:23] Vishal-raj-1 commented on #325
Yes

On Sat, Dec 19, 2020, 10:59 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-20 11:17] umbridge commented on #263
@smaranjitghose the text of education timeline in dark mode is not visible. Can i fix it, if you assign me this task?

![Screenshot (175)](https://user-images.githubusercontent.com/44002678/102711880-e1025280-42e2-11eb-9a9c-f7bdc98d2302.png)

[2020-12-20 11:55] Pranav016 commented on #263
I was already working on the education cards, will fix this! Refer to issue #333 🙂

[2020-12-20 13:30] Chaitanya31612 opened #337 "Experience page not responsive for large mobile and small tablets screens."
**Describe the bug**
A clear and concise description of what the bug is.
Experience page header text is not responsive for large mobile screens(407px to ).
**To Reproduce**
Steps to reproduce the behavior:
1. Reduce the font size of the text.

**Expected behavior**
A clear and concise description of what you expected to happen.
It should not break for large mobile screens and small tablet screens.

[2020-12-20 15:29] Pranav016 commented on #324
@Vishal-raj-1 I just noticed that after your PR, the color of rthe mooc cards got affected!

Before-
![image](https://user-images.githubusercontent.com/54665036/102717046-c42b4680-4305-11eb-87d2-003d29fc5db3.png)

After your PR-
![image](https://user-images.githubusercontent.com/54665036/102717062-e2914200-4305-11eb-8b16-bbd768aa04fc.png)

I think coz you clubbed these in css- `#about .card, #mooc

[2020-12-20 17:23] Vishal-raj-1 commented on #294
This issue is done. You can close this issue @smaranjitghose @anushbhatia sir !!

[2020-12-20 17:30] Vishal-raj-1 commented on #324
Yep I was thinking about that But I don't want to overwrite your change. No problem go ahead !!

[2020-12-22 04:01] Ayushgup85 commented on #321
is this issue still open?

[2020-12-22 04:05] Ayushgup85 commented on #282
is this issue still open?

[2020-12-22 04:08] dollyjain51099 commented on #316
I would like to work on 1st, 4th and 5th issue, please assign it to me!

[2020-12-22 04:13] Ayushgup85 commented on #247
is this issue still open?

[2020-12-22 13:41] Vishal-raj-1 opened #346 "Pop Up Message doesn't go away after clicking"
**Describe the bug**
If we click the cite button on research page. It will show popup message. But after clicking back it doesn't go away. And If we click/hover on an another buttons, they are not working as well.

**Expected behavior**
It should go away after clicking on page.

**Video**

https://user-images.githubusercontent.com/59874304/102894495-324c4680-4489-11eb-8d75-b01a54ec07d0.mp4

[2020-12-22 18:17] #325 closed

[2020-12-22 18:21] #333 closed

[2020-12-22 18:46] #323 closed

[2020-12-22 18:47] smaranjitghose commented on #321
Yes

[2020-12-22 18:52] #263 closed

[2020-12-22 18:52] #275 closed

[2020-12-22 18:52] anushbhatia opened #347 "Microanimation on Home Page in Little about me"
Adding micro animation like https://useanimations.com/
on our site in different sections.

[2020-12-22 18:53] #294 closed

[2020-12-22 18:55] #261 closed

[2020-12-22 19:01] anushbhatia opened #348 "Grid Size change form 3 to 4 in the projects page"
Currently, we have 3 projects in a row.
We have 4 grid size in a row of project.

[2020-12-23 06:52] PinRathod opened #350 "Update in README"
In README file, contributing guideline section point number 11 needs to be update as per contributing file's point number 11.
Can I work on this?

[2020-12-23 08:30] AdityaTeltia commented on #337
Can i work on this issue ?

[2020-12-23 09:31] Vishal-raj-1 commented on #350
@PinRathod Sure !! Go Ahead

[2020-12-23 09:32] Vishal-raj-1 commented on #347
I would definitely want to work issues like this.

[2020-12-23 09:33] Vishal-raj-1 commented on #348
I am working on this issue. Let me send the PR for the same !!

[2020-12-23 13:34] Vishal-raj-1 commented on #347
Thanks for assigning !!

[2020-12-23 15:51] yashgautam9274 commented on #350
I want to work on this issue @Vishal-raj-1

[2020-12-23 16:20] #348 closed

[2020-12-23 16:51] smaranjitghose opened #353 "Code Changes"
- [ ] Convert all materialize related code to Bootstrap
- [ ] Keep only the latest version of Bootstrap. For certain pages, there are two versions.
- [ ] Convert entire CSS to Tailwind [ To be done later]
- [ ] Convert entire website to NextJS + React [To be done later]

[2020-12-23 16:52] #350 closed

[2020-12-24 11:15] ankurg132 commented on #301
I would like to work on the issue.

[2020-12-24 11:38] ankurg132 commented on #301
Also, on reducing the device width, this problem occurs in other cards too. Sharing the screenshot below-

![Screenshot (522)](https://user-images.githubusercontent.com/31045221/103086144-d78e2880-4609-11eb-8529-bc47564de36d.png)

[2020-12-25 02:18] Siddhant-K-code commented on #353
Just a Question, Why we wanted to convert Materialize Codes to BootStrap?

[2020-12-25 09:37] smaranjitghose commented on #301
Raise a separate issue for this. Make the grid size to 2. You can make the size of the card similar to [this](https://www.ishandeveloper.com/work.html)

Also, we can get rid of the project description, have related technology tags and the top of the page a search bar to sort them according to it

[2020-12-25 09:37] smaranjitghose commented on #301
BTW you are in NWOC or DWOC or SWOC?

[2020-12-25 09:38] smaranjitghose commented on #337
You can take over from 26th

[2020-12-25 10:14] ankurg132 opened #358 "The project page screenshot in readme is not updated."
**Describe the bug**
The project page readme currently shows a grid with 2 columns while in the actual page the grid is of 4 columns.

[2020-12-25 10:31] smaranjitghose commented on #358
We plan to update the readme and the documentation in the last weel

[2020-12-25 11:15] ankurg132 commented on #358
So shall I close this issue?

[2020-12-25 13:51] ankurg132 commented on #301
I'm in NWOC, though I'm still waiting for my initial PR to be merged.

[2020-12-25 13:53] ankurg132 commented on #301
Okay, will work on it!

[2020-12-25 16:01] smaranjitghose commented on #358
Yes

[2020-12-25 16:29] #358 closed

[2020-12-25 16:37] chinmaym07 commented on #332
Hey @smaranjitghose  Can I try this issue?

[2020-12-26 09:01] dipanshparmar opened #360 "Feature request: Cursor should be pointer when hovering over the dark mode toggler"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/49204837/103148545-d5050d80-4786-11eb-800f-b512aea2b865.png)
When we hover over the dark mode toggler then the cursor remains the default one but the cursor should be a pointer as it performs some functionality.

**Describe the solution you'd like**
I would like to make the cursor

[2020-12-26 13:27] tirlochanarora16 commented on #300
Hey, @smaranjitghose the idea sounds great, and using NodeJS + Express JS is a great way of achieving the goal. But can you tell me that alongside HTML5 and CSS3 are you using any kind of front-end frameworks like React, Angular, or Vue JS?

[2020-12-26 13:39] tirlochanarora16 commented on #316
Can I cover some of the parts of the footer for fixes?

[2020-12-26 14:28] smaranjitghose commented on #316
Please collaborate with @dollyjain51099 for this issue

[2020-12-26 14:30] smaranjitghose commented on #300
Yes. Once the frontend is finalized we will shift to React

[2020-12-26 15:04] Jatin-MaTTriX commented on #360
I want to work on this issue

[2020-12-26 15:47] tirlochanarora16 commented on #316
@dollyjain51099, how are you planning on designing the icons?

[2020-12-26 16:25] dollyjain51099 commented on #316
I'll be creating floating social media icons with some hover effects.

[2020-12-26 16:40] dipanshparmar commented on #360
@smaranjitghose we have a problem here, I cannot add cursor: pointer to the toggler because the sun icon wrapper is messing it up. It feels like that the cursor: pointer is overflowed but it is because of the icon wrapper and it looks bad.

https://user-images.githubusercontent.com/49204837/103155535-dce4a200-47c6-11eb-81d6-8f83995b70e1.mp4

 I tried tweaking it with javascript but couldn't achiev

[2020-12-26 17:13] smaranjitghose commented on #360
I think need to tweak the toggle design. @anushbhatia Your opinions?

Have a look at [this PR](https://github.com/smaranjitghose/awesome-portfolio-websites/pull/362)

[2020-12-26 18:01] bhavesh1129 opened #363 "Add aos.int in Experience Section and proper align the cards in Home Page"
**Is your feature request related to a problem? Please describe.**
Yeah, my feature request is related to a problem as on the home page the card isn't properly aligned due to the same font size of all the heading which causes the irregularity in the size of cards.

**Describe the solution you'd like**
I would like to arrange the cards in a proper manner so that they look nice.

**Additional contex

[2020-12-27 03:28] tirlochanarora16 commented on #316
Sounds nice. Have you started to work on it?

[2020-12-27 03:32] tirlochanarora16 commented on #300
@smaranjitghose, you'll also require a database to store the users, and then some kind of authentication will be necessary so one user cannot change the contents of the other user's portfolio.

[2020-12-27 03:33] tirlochanarora16 commented on #300
@shreyakapoor08

[2020-12-27 04:12] dipanshparmar commented on #360
Looking forward to hearing from @anushbhatia

[2020-12-27 04:12] dipanshparmar commented on #360
Me?

[2020-12-27 04:18] dipanshparmar opened #364 "Bug report: Dark mode toggler is not working on small screen sizes"
**Describe the bug**
Dark mode toggler is not working on small screen sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Inspector
2. Choose a small screen size
3. Click on dark mode toggler
4. See, nothing changes

**Expected behavior**
Toggler should toggle between the themes

**Actual behavior**
Toggler is not toggling the themes

**Screenshots**
https://user-images.githubuse

[2020-12-27 04:47] dollyjain51099 commented on #316
Yes!

[2020-12-27 09:57] smaranjitghose commented on #300
Since this is portfolio website so only the user for whom the website is made will be handling the dashboard, unless specifically required, we do not give access to our personal websites to someone else

[2020-12-27 09:58] smaranjitghose commented on #360
Ya

[2020-12-27 12:22] luckykumarirai opened #365 "Fixing the position of the cite button and an abstract button on Research page in mobile view"
**Describe the bug**
In the mobile view position of buttons are not with proper alignment.

# Screenshot
![x](https://user-images.githubusercontent.com/59636719/103170673-17544a80-486c-11eb-87be-76279694609e.jpg)

If approved I would like to fix this issue. please assign me.

[2020-12-27 12:38] tirlochanarora16 commented on #316
@smaranjitghose  can I redo the footer using custom CSS rather than using materialize.css?

[2020-12-27 13:14] pankajkumarbij opened #367 "Fix the position of social media icons at footer in mobile view. (left skew)"
The position of social media handles icons are not perfect in the mobile view.

![Screenshot of John Doe _ Home](https://user-images.githubusercontent.com/59636849/103171590-7a95ab00-4873-11eb-90fb-3940f2dbf326.jpg)

If it is approved then I will fix it. please assign it to me.

[2020-12-27 13:34] pankajkumarbij commented on #367
I have sent a PR. please review it.

[2020-12-27 14:50] abhijeet007rocks8 opened #369 "Feature request: Add the color and size change in options in navbar and option on hovering and showing the current tab differently"
Current Issue -:
In Light mode, the navbar is elements on hovering is not visible.

Solution-:
We can add a text color change on hovering the elements and highlight the current tab as per page
eg. when on education page the education tab should be in different color from the other tabs.

[2020-12-27 14:51] abhijeet007rocks8 commented on #369
I would like to work on it.

[2020-12-27 15:09] dipanshparmar opened #372 "Feature request: textarea should have a mininum and a maximum height"
**Is your feature request related to a problem? Please describe.**
Right now there are no constraints for textarea's height and width

**Describe the solution you'd like**
There should be a minimum height and a maximum height specified.

**Approach to be followed**
I would like to add a minimum height and a maximum height so that the textarea doesn't overflow or shrink itself completely

**Screens

[2020-12-27 15:27] #367 closed

[2020-12-27 15:31] #346 closed

[2020-12-27 15:44] #360 closed

[2020-12-27 15:54] #372 closed

[2020-12-27 19:56] bhavesh1129 commented on #363
Hey @smaranjitghose!
I think you had added the wrong label actually I am contributing from the **SWOC** side.

Thank you!

[2020-12-28 02:49] tirlochanarora16 commented on #316
Modified footer #375

[2020-12-28 06:01] Surajbokde opened #377 "Feature request : Add animation in waving hand"
![image](https://user-images.githubusercontent.com/66197682/103192824-1b31ac80-4900-11eb-9d7c-1d83804219f9.png)

Add animation in the above waving hand.

[2020-12-28 06:08] Utkarshn10 commented on #364
This issue is only occurring in the sidebar menu and not in the navbar. I can try to fix it .  I am a Swoc participant.

[2020-12-28 06:29] satyampandeygit commented on #353
I want to work on this

[2020-12-28 08:02] smaranjitghose commented on #353
We want to have a single CSS framework for the entire project

[2020-12-28 08:04] Aarushi02-ab commented on #377
I want to work on this issue. Please assign me this task @Surajbokde sir.

[2020-12-28 08:06] smaranjitghose commented on #363
Thanks for the heads-up. At times it's a bit confusing for me.

[2020-12-28 08:10] satyampandeygit commented on #353
So we need to convert materialize.min.css to bootstrap.min.css ?

[2020-12-28 08:15] anushbhatia opened #378 "Convert to Bootstrap"
Make footer and header to a single framework of Bootstrap
Completely eliminating materialize from everypage

[2020-12-28 08:18] anushbhatia opened #379 "Json Modification"
Research Page Code add the code for cite button with the same json not defining any extra variable for it.

[2020-12-28 08:20] anushbhatia opened #380 "Skill Page Enhancement"
Improve the mobile view for site showing two illustrations together
Skills images are not properly added they get stretched.

[2020-12-28 08:25] smaranjitghose commented on #377
You are a part of DWOC right?

[2020-12-28 08:30] tirlochanarora16 commented on #380
@anushbhatia, illustrations that are on the home page right?

[2020-12-28 08:44] smaranjitghose commented on #380
[Skills Page](https://portfolio.smaranjitghose.codes/skill.html)

[2020-12-28 08:45] smaranjitghose commented on #353
Ya.
But make sure you do it for the related components in the remainder of the pages too.

[2020-12-28 08:51] smaranjitghose commented on #316
That would be fantastic!

[2020-12-28 09:01] Surajbokde commented on #377
@smaranjitghose change label from dwoc to swoc . I am mentor at swoc so assign this issue to any contributor .

[2020-12-28 09:08] Aarushi02-ab commented on #377
Yes, I am a part of DWOC

[2020-12-28 09:23] #364 closed

[2020-12-28 09:24] smaranjitghose commented on #377
Sure

[2020-12-28 09:27] #365 closed

[2020-12-28 09:29] #282 closed

[2020-12-28 09:32] #274 closed

[2020-12-28 09:33] #266 closed

[2020-12-28 09:35] #379 closed

[2020-12-28 09:36] #301 closed

[2020-12-28 09:37] #378 closed

[2020-12-28 09:37] #322 closed

[2020-12-28 09:38] #293 closed

[2020-12-28 09:39] smaranjitghose opened #382 "Dark Mode to Light Mode Switch not working in Mobile View"
![darkmode_mobile](https://user-images.githubusercontent.com/46641503/103205020-9ace7400-491e-11eb-9847-32414170c597.jpg)

Additionally, the switch should work on click anywhere in that region rather than the concentric circle only

[2020-12-28 09:41] smaranjitghose commented on #377
SWOC and DWOC are running parallelly and we have many common participants. So as per the participants choice we can assign the label to the PRs. The issues are open to everyone

[2020-12-28 09:42] #337 closed

[2020-12-28 09:43] #331 closed

[2020-12-28 09:43] #332 closed

[2020-12-28 10:00] AdityaTeltia commented on #377
Can I Work on this ?

[2020-12-28 10:04] Siddhant-K-code commented on #353
yes, i tried it there are some components, which we have to change. I will try to do this ASAP

[2020-12-28 10:34] SwatiBhatia18 commented on #377
I want to work on this issue . Please assign me this task @anushbhatia

[2020-12-28 10:35] AdityaTeltia commented on #382
I can try working on this assign me this issue !

[2020-12-28 11:08] #377 closed

[2020-12-28 11:10] AdityaTeltia commented on #377
Isn't this wrong u r assigning task to someone and taking pr of other ?

[2020-12-28 11:12] smaranjitghose commented on #382
You are in which program?

[2020-12-28 11:12] smaranjitghose commented on #353
You are in which program? DWOC or SWoC

[2020-12-28 11:17] bhavesh1129 commented on #363
Yeah!
I'm working on this issue and soon make an PR.

[2020-12-28 11:18] smaranjitghose commented on #377
Ya, I agree it should not be done.
Since DWOC is already going on and SWoC contributions are counted from Jan 5, so I made an exception and have informed the person in their PR as well that this would not be entertained from next time.

[2020-12-28 11:31] Siddhant-K-code commented on #353
I am in both program, but, i will do this as SWoC atendee

[2020-12-28 11:40] AdityaTeltia commented on #382
I am swoc program

[2020-12-28 11:55] smaranjitghose commented on #353
No worries. In that case, I can give you labels for both

[2020-12-28 12:00] satyampandeygit commented on #353
@Siddhant-K-code how are you doing the same can you share the documents or relevant site for this.

[2020-12-28 12:11] Siddhant-K-code commented on #353
Bruteforce method -> comparisons of Official Documentations

[2020-12-28 12:28] AdityaTeltia opened #384 "Home Page Responsiveness Bug"
**Describe the bug**
The home page is not responsive
![not_responsive](https://user-images.githubusercontent.com/67232537/103214371-3b7c5e00-4936-11eb-93c9-c40cc9842649.JPG)

Here the name is hiding behing the navbar

[2020-12-28 12:28] AdityaTeltia commented on #384
I would like to work on this issue

[2020-12-28 12:45] tirlochanarora16 commented on #316
@smaranjitghose, can I start working on it then?

[2020-12-28 13:13] smaranjitghose commented on #316
yes

[2020-12-28 13:20] rakshitnayak commented on #369
Even i would like to contribute on this issue! SWOC21 participant.!

[2020-12-28 14:32] Harshita-Kanal commented on #380
Can I work on this? I am from SWOC

[2020-12-28 15:24] im-sakshijain opened #386 "Feature request:Add detailed section for each project which consist of project category,project URL,date and small description about the project."
Problem:
Currently,on project page, the project doesn't have detailed description.

Solution:
For every project, I could create a small section, which have all the necessary details.

I've attached some screenshot regarding the same.
![chess1](https://user-images.githubusercontent.com/62291788/103224723-47741a00-494e-11eb-870c-ee1e27adfa78.jpeg)
![solution](https://user-images.githubusercontent.co

[2020-12-28 15:30] im-sakshijain commented on #386
I would like to work on this issue under SWOC. Please assign this issue to me.

[2020-12-28 19:13] ayushrastogi689 commented on #382
I would like to work on this issue.
I am a participant of SWoC 2021.

[2020-12-28 19:31] ayushrastogi689 commented on #380
I would like to work on this issue.
I am a participant of SWoC 2021.

[2020-12-28 22:59] Abhijay007 opened #387 "Feature request: instead of directly redirecting the viewer to the drive link , give the option to download and view the resume"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

instead of directly redirecting the viewer/user to the drive link we can add the option to download and view the resume

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

***demo of the implemented feature ***
![demo port](https

[2020-12-28 23:00] Abhijay007 commented on #387
@smaranjitghose sir, can I work on this issue?

[2020-12-29 06:12] aum-singhal commented on #382
I can also contribute on this program.
I am a participant of SWoC 2021.

[2020-12-29 06:16] aum-singhal commented on #321
Can I also work on this?? I will be happy to contribute.

[2020-12-29 06:27] AdityaTeltia commented on #382
I will make the related to this issue after 4Jan for SWOC program if np? @smaranjitghose

[2020-12-29 06:46] satyampandeygit commented on #353
Thanks!

[2020-12-29 10:56] Vishal-raj-1 commented on #292
@smaranjitghose Sir after #361 what else is needed ? I have missed to mention this issue on my PR #361.

[2020-12-29 10:58] Vishal-raj-1 commented on #292
I am also participant of **DWOC** & **SWOC**.

[2020-12-29 11:02] Vishal-raj-1 commented on #247
@smaranjitghose Sir I am looking forward to this issue. will do this issue, could you please add DWOC & SWOC label.

[2020-12-29 11:23] Vishal-raj-1 commented on #299
@smaranjitghose Seems interesting to me , I would like to go for it !! Please share some resources for that as well !! video or article anything 😄

[2020-12-29 11:28] Vishal-raj-1 commented on #321
Hey @sayna3311 !! are you working on this issue or not ? I am giving some microanimation to this block which handle this issue as well . Please reply as soon as possible !!

[2020-12-29 11:37] Vishal-raj-1 commented on #387
@Abhijay007 looks awesome to me !!

[2020-12-29 14:52] Abhijay007 commented on #247
@smaranjitghose sir I made something like this  for the blog landing page

***demo***
![demo-blog](https://user-images.githubusercontent.com/64387054/103292248-76a08f00-4a13-11eb-81af-69c9f5d31bb0.gif)

@smaranjitghose can I work on this ? can you please assign me this.

[2020-12-29 16:20] anushbhatia commented on #380
Sure guys work on it the PR which is best will be merged.

[2020-12-30 01:33] Pranav016 opened #390 "Make some elements more dynamic!"
**Is your feature request related to a problem? Please describe.**
Not a problem. It is something that would enhance the User experience.

**Describe the solution you'd like**
Make these elements more dynamic by adding animations or something.

## I would like to work on this under NWoC

### These are just plain static cards, I would like to add an image zoom effect on hover on these cards.
![imag

[2020-12-30 07:21] smaranjitghose commented on #247
Actually, we are using fastpages keeping in mind that in the future, we can simply drag and drop jupyter notebooks for writing blogs

[2020-12-30 07:22] smaranjitghose commented on #247
Sure. Have a look at Jekyll first and then move to fastpages

[2020-12-30 07:24] smaranjitghose commented on #387
w.r.t to hiring manages, no one would like to see your resume page separately once they are on your portfolio website. What you can do is put this as a subsection on one of the pages like home page

[2020-12-30 07:25] smaranjitghose commented on #321
Collaborate with @Vishal-raj-1 on this please

[2020-12-30 07:27] smaranjitghose commented on #299
Though I don't have reservations, DialogFlow is something close to my heart as I have a core ML background.

The dev guide is [here](https://cloud.google.com/dialogflow/es/docs/quick/integration)
If you want to learn more about conversational agents, binge watch [this](https://www.coursera.org/learn/conversational-experiences-dialogflow)

[2020-12-30 07:39] smaranjitghose commented on #386
The following are already addressed:
- Project Name
- Project Type: The tags used
- Project Code: Most Probably GitHub link but can also be linked to Kaggle
- Project URL: Deployment Link
- As per HR perspective, giving dates on projects is not a good decision, You don't want the person on the other end of the table to quantize how much you "build per month". Some projects take a couple of weeks w

[2020-12-30 07:40] Vishal-raj-1 commented on #247
Okay !!

[2020-12-30 07:41] smaranjitghose commented on #382
I would suggest making the PR earlier if possible, so that we can give feedback and you don't need to wait till 4th for making the changes. That way you get a headstart

[2020-12-30 07:43] AdityaTeltia commented on #382
Ok ! Will make the pr as soon as the issue is resolved .

[2020-12-30 07:43] smaranjitghose commented on #292
As per design goes,
I would like to see a 250 word text popping up when one clicks on Abstract

As far as code goes,
we can define the cite information inside the same JSON as the name, date, authors insteading of creating separate variables

[2020-12-30 08:00] Vishal-raj-1 commented on #321
@aum-singhal you can collaborated with me on stack channel

[2020-12-30 08:05] Abhijay007 commented on #387
@smaranjitghose ok sir, I can make it as a  subsection on the home page.
so can i work on this?

[2020-12-30 15:19] #390 closed

[2020-12-30 15:32] smaranjitghose opened #392 "Research Page UI update"
# Aim:

Change the current research page into neuromorphic form

# References:

- [What is neuromorphic UI? ](https://css-tricks.com/neumorphism-and-css/)
- [ Tool for Generating CSS code for Neumorhpic UI](https://neumorphism.io/#e0e0e0)
- [Sample Cards](https://dribbble.com/shots/14376942-Neumorphism-UI-Trend-App-Screen?utm_source=Clipboard_Shot&utm_campaign=sahilbajaj&utm_content=Neumorphism%20

[2020-12-30 15:33] #316 closed

[2020-12-30 15:41] smaranjitghose opened #393 "Footer Bug"
The footers is different for the home page and the other pages.

# Aim:

Rewrite the footer code in the main.js, such that it has:

- Contact Form on the right
- Social Media Icons on the left:
        1. LinkedIn
        2. GitHub
        3. Twitter
        4. Email
        5. Kaggle
        6. Google Scholar
        7. Leetcode
        8. Codeforces
        9. Dribble
        10. Instagram

  [

[2020-12-30 15:42] smaranjitghose opened #394 "Remove "toTop" button from all pages"

[2020-12-30 15:49] smaranjitghose opened #395 "Education Page UI Update"
# Aim:

Change the current education page into neuromorphic form [Leave the awards section for now]

# References:

- [What is neuromorphic UI? ](https://css-tricks.com/neumorphism-and-css/)
- [ Tool for Generating CSS code for Neumorhpic UI](https://neumorphism.io/#e0e0e0)
- [Sample Cards](https://dribbble.com/shots/14376942-Neumorphism-UI-Trend-App-Screen?utm_source=Clipboard_Shot&utm_campaign=s

[2020-12-30 15:55] smaranjitghose opened #396 "Search Engine Optimization"
- [ ] Try to improve the SEO of the project itself. Identify faults using GTMetrics
- [ ] For each page, ensure we have common meta tags for SEO except the titles
- [ ] Document [ Put elaborate comments] to make the SEO related meta tags for understandable for people from non-coding backgrounds

[2020-12-30 16:39] sohitdon commented on #363
I have experience in HTML,CSS JS and Reactjs , i want to contribute on this please assign me this project

[2020-12-30 16:40] ArjitSahu commented on #363
I want to contribute

[2020-12-30 16:44] ami-harry commented on #394
I want to contribute to this issue

[2020-12-30 16:45] Deep2631 commented on #393
sir i want to work on this

[2020-12-30 16:47] sohitdon commented on #380
I have experience in HTML,CSS JS and Reactjs , i want to contribute on this please assign me this project

[2020-12-30 16:48] sohitdon commented on #292
I have experience in HTML,CSS JS and Reactjs , i want to contribute on this please assign me this project

[2020-12-30 16:49] Deep2631 commented on #292
sir i want to work on this issues.

[2020-12-30 17:59] Utkarsh-Agarwal-585 commented on #394
I'm ready to contribute to this issue. It will be look good after solving this issue.

[2020-12-30 18:02] Utkarsh-Agarwal-585 commented on #396
I want to contribute in this issue.

[2020-12-30 18:05] Utkarsh-Agarwal-585 commented on #393
Sir I want to contribute on this.

[2020-12-30 20:16] smaranjitghose commented on #292
Assigned for 2 days

[2020-12-31 02:45] aum-singhal commented on #321
ohk for sure

[2020-12-31 02:59] aum-singhal opened #397 "Add better animation effects on the pages"
I noticed that some of the animations are too slow or some of them are very abrupt.
Even the box shadows are same on hover.
So I can help on those areas if you felt the same.

[2020-12-31 05:50] Pranjal-2001 commented on #247
Can you please assign it to me?

[2020-12-31 05:51] Abhijay007 commented on #387
@smaranjitghose sir,  I am done with this sub-section part here is the demo of the implemented card

***demo***

![demo-awesome](https://user-images.githubusercontent.com/64387054/103396458-672b5e00-4b59-11eb-957e-d90c8e997b79.gif)

@smaranjitghose sir, now I have one question that can I remove this ` my resume`  section from the header or left it as it is.

![remove](https://user-images.githubuse

[2020-12-31 06:17] tirlochanarora16 commented on #300
@smaranjitghose, what contents of the portfolio will be managed by the dashboard?

[2020-12-31 08:11] bhoomika07 commented on #395
@smaranjitghose SWOC Participant. Interested. Although I have never done it before; willing to give it a shot.

[2020-12-31 09:11] AdityaTeltia commented on #382
I haven't changed anything in the codebase but issue seemed resolved the toggle is working in mobile too.
![working](https://user-images.githubusercontent.com/67232537/103403483-43c2dc00-4b76-11eb-87b4-e5fe58cc6d38.JPG)

[2020-12-31 11:50] dipanshparmar commented on #392
I would like to work on this.

[2020-12-31 11:57] dipanshparmar commented on #347
The issue seems to be inactive for a very long time. May I work on this?

[2020-12-31 12:22] dipanshparmar opened #399 "UI Improvement: Project cards can be designed better"
Right now the project cards look like this:
![image](https://user-images.githubusercontent.com/49204837/103410297-be005a00-4b90-11eb-8114-5ca626851b2b.png)

I would like to improve the look of these cards. May I get assigned?

[2020-12-31 12:27] dipanshparmar opened #400 "UI Improvements: Skills page need some spacing and alignment"
Right now there is no divider and enough space between the skill sections.
![image](https://user-images.githubusercontent.com/49204837/103410501-729a7b80-4b91-11eb-95a8-ec45db549b17.png)

and the top section should be aligned at the center as well:
![image](https://user-images.githubusercontent.com/49204837/103410513-91990d80-4b91-11eb-8955-fdf09f402c02.png)

May I get assigned?

[2020-12-31 12:37] dipanshparmar opened #401 "Bug: GitHub logo gets disappeared on hover"
GitHub logo gets disappeared on hover in the home page.
![image](https://user-images.githubusercontent.com/49204837/103410791-f012bb80-4b92-11eb-962e-a8cbe3c07740.png)

May I get assigned?

[2020-12-31 15:35] smaranjitghose commented on #399
I would definitely urge you to go ahead with this.
UI/UX is subjective as well, so if at any point the maintainers don't see eye to eye with your vision of the design, don't feel disheartened.
Looking forward to your PR 😊

[2020-12-31 15:39] smaranjitghose commented on #400
Some additional improvements can be:
- Entering the data of each card using a JSON from a skills.js [ This should include a heading, bullet points, the path of image/illustration]
- In mobile view, the illustrations follow each other rather than an alternating pattern of illustration followed by text.

[2020-12-31 15:40] smaranjitghose commented on #395
Sure. Do give a shot! I hope it will be an enriching learning experience for you.
I am assigning this to for the next 5 days.

[2020-12-31 15:43] smaranjitghose commented on #247
Sure. I am assigning this to you for a week. Please do read the description above. ( We don't want to build a separate blog page😊. Rather build upon fastpages itself]

[2020-12-31 15:44] smaranjitghose commented on #397
That would be really cool!
Also, if you have time, I would urge you to try custom css animations as well!

[2020-12-31 15:46] smaranjitghose commented on #387
# Feedback:
 Instead of having a section with a heading. I would suggest having a center aligned button saying "Grab my Resume" just below the about section.

 Don't forget to remove the "My Resume" tab from the navbar (main.js)

[2020-12-31 15:47] aum-singhal commented on #397
Thanks a lot sir 😊

[2020-12-31 16:06] smaranjitghose commented on #300
Basically, most of the data we are entering as a JSON in our JS files

[2020-12-31 16:10] smaranjitghose commented on #347
Sure

[2020-12-31 18:16] dipanshparmar commented on #382
@anushbhatia and @smaranjitghose this is not an issue actually. This works fine if you reload the page after switching to a smaller view:

https://user-images.githubusercontent.com/49204837/103421412-32072600-4bc2-11eb-86d2-91863e8629a3.mp4

The issue here is that there are two different navbars for desktop view and mobile view.
**Desktop view**
![image](https://user-images.githubusercontent.com/4

[2021-01-01 02:18] Abhijay007 commented on #387
@smaranjitghose sir , by the above feedback, did you mean something like this:

![demo-final](https://user-images.githubusercontent.com/64387054/103432488-97c8d180-4c05-11eb-9875-81d967aa47d6.gif)

[2021-01-01 14:47] smaranjitghose opened #405 "Neumorphic Navigation Bar Update"
# Aim:

Change the current navigation bar into the neuromorphic form [Leave the awards section for now]

Start with Light mode first

# References:

- [What is neuromorphic UI? ](https://css-tricks.com/neumorphism-and-css/)
- [ Tool for Generating CSS code for Neumorhpic UI](https://neumorphism.io/#e0e0e0)
- [Sample Cards](https://dribbble.com/shots/14376942-Neumorphism-UI-Trend-App-Screen?utm_sou

[2021-01-01 14:47] smaranjitghose commented on #369
We are moving to Neumorphic UI.
So this won't be necessary.
Have a look at #405

[2021-01-01 14:47] #369 closed

[2021-01-01 14:49] smaranjitghose commented on #394
Any updates? This is a simple task i believe

[2021-01-01 14:50] smaranjitghose commented on #393
Any updates?

[2021-01-01 14:52] smaranjitghose commented on #387
A description of "how to download the resume" is not required. Rest is fine

[2021-01-01 14:56] Abhijay007 commented on #387
Ok, @smaranjitghose sir got it 👍

[2021-01-01 15:44] deepti23-web commented on #405
@smaranjitghose SWOC Participant. I m interested in working on this. Can you please assign this to me?

[2021-01-01 16:51] Utkarsh-Agarwal-585 commented on #393
Hello Sir,
I'll update you within 2 days... I started it today itself...

On Fri, Jan 1, 2021, 8:20 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2021-01-01 17:42] abhijeet007rocks8 commented on #369
Sir I have made the changes already and can modify it as per neuromorphic ui can you please
assign issue #405 to me then??

[2021-01-01 18:10] abhijeet007rocks8 commented on #405
I already resolved the issue #369, can add on the neuromorphic UI.
Can you change my assigned issue to #405 ??

[2021-01-02 15:38] Vishal-raj-1 commented on #393
@smaranjitghose Sir currently footer is seems like this

## On Home Page

![home](https://user-images.githubusercontent.com/59874304/103460667-2f314000-4d3e-11eb-8594-b33d4d67896c.JPG)

## On Project Page
![project](https://user-images.githubusercontent.com/59874304/103460668-30fb0380-4d3e-11eb-8863-3c8135adf8f9.JPG)

and that two type of footer bugs are available. I can make responsive footer whi

[2021-01-03 10:11] Abhijay007 commented on #394
@smaranjitghose sir, can I work on this?

[2021-01-03 11:23] nilisha-jais commented on #397
I want to work on this isuue(Participant of SWoC2021)

[2021-01-03 16:35] Kashishjain04 opened #411 "Experience screen UI fixes"
- Work experience card's hover effect transitions are not looking good.
https://user-images.githubusercontent.com/55389276/103483710-32e0c780-4e0f-11eb-8ad5-d284897b447c.mov
- Mentorship cards' length is not consistent.
![Screenshot 2021-01-03 at 10 02 49 PM](https://user-images.githubusercontent.com/55389276/103483747-6de2fb00-4e0f-11eb-987c-6f1f45ecaed3.png)

I can resolve this.
Can this issue b

[2021-01-03 18:28] Pranav016 opened #412 "Make a dynamic banner for the repo README"
**Feature Description-**
I would like to design a banner for the repo README with dynamically generating stats of the repo. It would complement this amazing repo.

I would like to work on this under **NWoC**.

[2021-01-04 05:04] nilisha-jais commented on #247
I want to work on this issue as a part of SWoC2021

[2021-01-04 05:11] Vishal-raj-1 commented on #247
I am working on it. Will send the PR for the same !!

[2021-01-04 06:36] smaranjitghose commented on #247
You can work on it in parallel. Have a look at the codebase of fastpages

[2021-01-04 07:00] smaranjitghose commented on #412
That would be really nice!

[2021-01-04 07:33] Pranav016 commented on #412
Can you add NWoC label? I'll  make the PR, Thanks :)

[2021-01-04 08:13] #412 closed

[2021-01-04 09:08] Pranav016 commented on #412
Can you update the Leaderboard please! Ty

[2021-01-04 14:36] khandelwal20sid commented on #401
assign me this task

[2021-01-04 14:43] im-sakshijain commented on #386
Okay, Cool! I would like to add description part then. Please assign this issue to me.

[2021-01-04 14:45] dipanshparmar commented on #401
@khandelwal20sid This issue is already solved!

[2021-01-04 21:29] smaranjitghose commented on #412
Done

[2021-01-04 21:32] #401 closed

[2021-01-05 03:06] Jatin-MaTTriX commented on #400
can I work on this issue?

[2021-01-05 03:09] dipanshparmar commented on #400
Yeah! @Jatin-MaTTriX  please go ahead as I'm working on some other issue right now.

[2021-01-05 03:22] Jatin-MaTTriX commented on #394
@smaranjitghose  sir , can I work on this issue ?

[2021-01-05 03:23] Jatin-MaTTriX commented on #394
sir i am SWOC participant can i work on this issue ?

[2021-01-05 05:40] Jatin-MaTTriX commented on #400
@smaranjitghose  sir plz assign this issue to me so that i can make PR .

[2021-01-05 05:48] Jatin-MaTTriX commented on #395
Sir I am a SWOC participant I want to contribute in this can i ?

[2021-01-05 08:21] shambashib20 commented on #300
Can I work on this issue? @smaranjitghose sir? Making this admin panel?

[2021-01-05 09:04] sj056 commented on #393
Hey! Can want to work on it? (I'm a participant of SWOC'21)

[2021-01-05 09:06] smaranjitghose commented on #393
Sure. Go ahead

[2021-01-05 09:16] Abhijay007 commented on #394
@smaranjitghose sir can I commit code with my existing PR which is (added resume section #406)
or start working after that get merged?

[2021-01-05 12:11] pratiksha-pandey commented on #393
@smaranjitghose May I work on this issue?

[2021-01-05 13:17] smaranjitghose commented on #394
Sure

[2021-01-05 13:50] sohitdon commented on #292
@smaranjitghose  Thanks for assigning this project for me i will start working on it from tomorrow as SWOC contribution period will start

[2021-01-05 15:20] Jatin-MaTTriX commented on #400
I have successfully added  proper spacing and lines

https://user-images.githubusercontent.com/72266203/103663748-75351080-4f97-11eb-90be-1b524d8860ae.mp4

[2021-01-06 00:54] Pranav016 opened #416 "Footer not working || Bug report"
## This issue has been raised under NWoC
### Description-
Footer is not working properly on some pages
How it should look like-
![image](https://user-images.githubusercontent.com/54665036/103715894-c3720000-4fe7-11eb-8187-67a07989ed41.png)

How it looks-
![image](https://user-images.githubusercontent.com/54665036/103715835-958cbb80-4fe7-11eb-8341-8a04e519a67a.png)

[2021-01-06 00:58] Pranav016 opened #417 "Add issue templates || Feature request"
## This issue was raised under NWoC
### Description-
I would like to add a bug report and a feature request template to maintain consistency and to make it easier for the maintainer to review issues.

I would like to work on this today and get it merged since it is the last day of **NWoC** 😄

[2021-01-06 01:02] Pranav016 opened #418 "Button hover bug"
## This issue was raised under SWoC-
### Description-
GitHub Button color is mismatched so it disappears on hover.

I would like to fix it.

https://user-images.githubusercontent.com/54665036/103716315-b86b9f80-4fe8-11eb-8d0f-424ead883a25.mp4

[2021-01-06 11:51] #399 closed

[2021-01-06 11:53] #387 closed

[2021-01-06 11:53] #394 closed

[2021-01-06 11:53] #380 closed

[2021-01-06 11:57] smaranjitghose commented on #418
Fixed in #402

[2021-01-06 11:57] #418 closed

[2021-01-06 11:58] smaranjitghose commented on #417
We have decided against having a common template for PRs and Issues respectively

[2021-01-06 11:58] #417 closed

[2021-01-06 12:01] smaranjitghose commented on #393
@sj056 @pratiksha-pandey Both of you give your own designs. We'll merge the best one.

Remove the "John Doe" image from the footer, it's unnecessary as it repeats the one in the navbar for the mobile view

I am giving both of you 2 days for this. Do discuss in the channel with the mentors if you face any roadblocks.

Remember that the social media icons should be similar to that in the home page a

[2021-01-06 12:18] #382 closed

[2021-01-06 12:20] smaranjitghose commented on #321
If anyone of you is working on this, please do raise a new issue

[2021-01-06 12:20] #321 closed

[2021-01-06 12:31] Abhijay007 commented on #299
@smaranjitghose sir can we add a WhatsApp plugin chat option on this instead of a chatbot, Because that provides us real-time chat options with the visitor through WhatsApp. Maybe we are also able to train that plugin in a way that if the candidate or the website owner is busy then show predefined messages.

@Vishal-raj-1 what are your thoughts on this feature suggestion?

@smaranjitghose @Vishal-

[2021-01-06 13:16] smaranjitghose commented on #299
No suggestion is silly 😊. I appreciate all feedback and inputs.

See the main purpose of the chatbot is to have an AI model to answer queries so that the owner of the website doesn't need to get involved. Like a mini automated call centre for us.

As far as whatsapp is concerned, most people wouldn't prefer strangers pinging them unless they have a specific business account

[2021-01-06 13:29] Abhijay007 commented on #299
Ok, sir got it

[2021-01-06 14:47] Jatin-MaTTriX commented on #400
@smaranjitghose  Sir i updated my PR as per your suggestions . In Updated PR i removed lines and add better alignment to images

[2021-01-06 17:20] #400 closed

[2021-01-06 17:22] dollyjain51099 commented on #393
I would like to work on this issue, please assign it to me!

[2021-01-06 17:48] smaranjitghose commented on #393
Please wait at least 2 days after the other mentees are assigned

[2021-01-07 08:14] sj056 commented on #393
@smaranjitghose  Sir I have modified the footer. I have added all 10 icons in main.js . Suggest if any modification is required.

![John Doe _ Projects - Google Chrome 2021-01-07 12-50-39 (1)](https://user-images.githubusercontent.com/56972234/103866941-94918200-50ec-11eb-8adf-79117e4d183b.gif)

![John Doe _ Projects - Google Chrome 2021-01-07 13-35-28](https://user-images.githubusercontent.com/56

[2021-01-07 08:37] Abhijay007 commented on #299
@smaranjitghose sir can I work on this?
 if no one is working on it.

[2021-01-07 09:00] Vishal-raj-1 commented on #299
Yes !!

[2021-01-07 14:44] ridsuteri commented on #393
hey @smaranjitghose can i work on this issue ..?

[2021-01-07 17:38] #247 closed

[2021-01-07 17:40] #384 closed

[2021-01-07 17:41] smaranjitghose commented on #393
@ridsuteri Please read this

[2021-01-07 17:43] smaranjitghose commented on #397
@nilisha-jais @aum-singhal Figure out to make the animations more optimized and create custom animations as well wherever necessary

[2021-01-07 17:44] anushbhatia opened #422 "Convert all materialize code to Bootstrap"
Remove all elements of materialize

[2021-01-07 18:15] smaranjitghose commented on #422
And covert them to corresponding to Bootstrap

[2021-01-07 20:49] smaranjitghose opened #423 "Research Page Card Modification: Fonts 🔠"
# Changes:

- Title: Semi Bold
- Authors: Medium
- Conference: Regular

[2021-01-07 20:52] smaranjitghose opened #424 "Research Page Card Modification: Buttons🔘"
- Shift ``cite`` and ``abstract`` buttons more towards the bottom right
![button_change](https://user-images.githubusercontent.com/46641503/103943526-4023ec00-5158-11eb-9da3-58ae2325e485.jpg)

- Button position should be absolute and not relative to the content in the card

![image](https://user-images.githubusercontent.com/40017559/103941109-65166000-5154-11eb-8d76-797ab2343a05.png)

[2021-01-07 20:56] smaranjitghose opened #425 "Research Page Card Modification: POPUP💥"
- Reduce the ``cite`` pop up screen from all sides so that it does not fill the entire screen in mobile view
- Improve Pop Up transition [Reference](https://codepen.io/khaag/pen/sbcou) (__Please do not use yellow color for the blur__)

[2021-01-07 20:56] #392 closed

[2021-01-07 20:59] #292 closed

[2021-01-07 21:02] smaranjitghose opened #426 "Research Page Code Update 🐱‍💻"
# Task 1

In the reseach.js, for each entity in the JSON  we should have:

- Name of the paper
- Conference/Journal
- Authors
- Year
- Image ( path of the image)
- Citation ( just one) content
- 250 words abstract content

**add the code for content of the cite button with the same JSON not defining any extra variable for it.**

# Task 2

On clicking the abstract, open a pop up similar to what we

[2021-01-07 21:03] smaranjitghose opened #427 "Code Fix: 👩‍⚕️ Find all materialize related code and convert them to bootstrap"

[2021-01-07 21:06] anushbhatia opened #428 "Adding Minimal Label:Project Page👾"
Adding Minimal Labels to the project so that they look good

[2021-01-07 21:07] anushbhatia opened #429 "Resolving the illustration and cards to prevent clashing🐛"
![image](https://user-images.githubusercontent.com/40017559/103944857-49ae5380-515a-11eb-8794-2f6415cc682f.png)

[2021-01-07 21:08] #429 closed

[2021-01-07 21:10] anushbhatia opened #430 "Resolving the illustration and cards to prevent clashing🐛"
![image](https://user-images.githubusercontent.com/40017559/103945146-bd506080-515a-11eb-9051-d0fc93e0d1e3.png)
Add margin-top to the current cards so that they don't collide

[2021-01-07 21:29] smaranjitghose opened #431 "Toggle Button UPGRADE🤘"
## Design:

[Reference](https://codepen.io/jkantner/pen/XEzWGr?editors=1100)

__NOTE: Please store all assets locally__

## UX:
Unlike the current toggle button, the transition should take place in whichever area of the toggle button the mouse is clicked rather than only on a specific side

[2021-01-07 21:33] smaranjitghose opened #432 "Project Page Search Bar UI🖼"
Make it neumorphic

[Reference](https://codepen.io/tdtrung17693/pen/BaozOzQ)

[2021-01-08 01:51] BALARAMGHOSH commented on #424
@smaranjitghose
I want to contribute in this issue.

[2021-01-08 02:36] aum-singhal commented on #397
Sure sir. I have already done some work in the experience page and have tried to optimised the animations. For now trying to work on some custom animations.

[2021-01-08 02:54] nilisha-jais commented on #397
ok sir

[2021-01-08 04:11] ridsuteri commented on #393
ok

[2021-01-08 04:41] ishubham21 commented on #431
I want to work on this issue.

[2021-01-08 04:53] ishubham21 commented on #425
I want to work on this issue.

[2021-01-08 04:55] ishubham21 commented on #426
I want to work on this issue.

[2021-01-08 05:01] ishubham21 opened #433 "Theme changer button (dark-light) not working in screens sizes < lg (i.e. 990px)"
**Description:** Below provided are the two images which illustrate that the toggle button for dark-light mode is not functional. It can further be visualised by noticing how the toggle button in the first image is set for the light theme, but the dark theme is enabled for the webpage in the background. Same for image 2, just the conditions vice-versed.

**Image-1**
<img width="416" alt="Screensho

[2021-01-08 05:02] ishubham21 opened #434 "Cards under 'A little about me' aren't of the same height"
**Description:** These 4 cards possess different heights, upsetting the overall user experience.

<img width="548" alt="Screenshot (57)" src="https://user-images.githubusercontent.com/34435822/103976705-7f286080-519d-11eb-8afb-7770d4108855.png">

I can work on this issue. Please assign **(under SWOC**)

[2021-01-08 05:44] sanjay270899 commented on #432
I would Like to work on this.

[2021-01-08 07:45] vishnupsingh523 commented on #427
Sir, can I try to solve this problem ?? I am new to open source and will give my best to solve this one. 😄

[2021-01-08 08:25] smaranjitghose commented on #427
I assigning this to you for 2 days

[2021-01-08 08:44] smaranjitghose commented on #434
Also, make sure the content in the cards is loaded from a file home.js, similar to what we have for the [project page](https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/assets/js/project.js)

[2021-01-08 08:46] smaranjitghose commented on #433
Please address this in #431. I'll assign a HARD label for both of tasks done together (UI + Bug)

[2021-01-08 08:46] #433 closed

[2021-01-08 09:02] smaranjitghose opened #435 "Custom Illustrations [UI/UX]: Project Page🖼"
__NOTE__: __This is an issue is purely for making custom illustrations using AdobeXD, Photoshop, or Figma. There is no active coding involved whatsoever. And we require you to make the illustrations rather than editing them. Only take the issue if you are cool with this__

# Project Page Illustration Requirement:
![Illustration_Project_Page](https://user-images.githubusercontent.com/46641503/10399

[2021-01-08 09:09] smaranjitghose opened #436 "Custom Illustrations: Research Page 🖼 [UI/UX]"
__NOTE__: __This is an issue is purely for making custom illustrations using AdobeXD, Photoshop, or Figma. There is no active coding involved whatsoever. And we require you to make the illustrations rather than editing them. Only take the issue if you are cool with this__

# Research Page Illustration:
![research](https://user-images.githubusercontent.com/46641503/103995648-c83cdc80-51be-11eb-8944

[2021-01-08 11:03] bhoomika07 commented on #436
I work on Illustrator and Photoshop, would like to solve this issue.

[2021-01-08 13:44] RitikPandey1 commented on #423
I would like to work on this

[2021-01-08 14:53] dipanshparmar opened #439 "Convert home page UI to neumorphic UI"
Can we convert the home page UI to neumorphic UI?
![image](https://user-images.githubusercontent.com/49204837/104028838-3600fc80-51ef-11eb-8192-ec4ce829b6df.png)

If yes then I would like to work on this.

[2021-01-08 14:55] dipanshparmar opened #440 "Add ability to search projects by project name as well"
Currently, the projects can only be searched by the tech tag. I would like to add the functionality of searching the project by its name itself.

[2021-01-08 15:03] dipanshparmar commented on #405
@smaranjitghose I would like to work on this.

[2021-01-08 16:34] dollyjain51099 commented on #393
can you please add the label for swoc!

[2021-01-08 17:07] smaranjitghose commented on #439
I have some plans for custom animation incorporation ( involving gamification) to the home page and education page. So meanwhile could you please raise an issue for the experience page regarding the same

[2021-01-08 17:07] #439 closed

[2021-01-08 17:10] smaranjitghose commented on #436
For this one, it will take some time. So I urge you to use our slack channel for to-and-fro discussions regarding the illustration, feedback, and update before giving the PR. That way the process would be expedited.

[2021-01-08 17:11] smaranjitghose commented on #363
Closed due to inactivity

[2021-01-08 17:11] #363 closed

[2021-01-08 17:12] smaranjitghose commented on #395
@Jatin-MaTTriX Any updates?

[2021-01-08 17:13] smaranjitghose opened #441 "SEARCH ENGINE OPTIMIZATION🚢"
- [ ] Try to improve the SEO of the project itself. Identify faults using GTMetrics
- [ ] For each page, ensure we have common meta tags for SEO except the titles
- [ ] Document [ Put elaborate comments] to make the SEO related meta tags for understandable for people from non-coding backgrounds

[2021-01-08 17:14] smaranjitghose commented on #405
Assigned for 2 days. I will reassign for an extended time if required.

[2021-01-08 17:20] bhavesh1129 commented on #435
Hey I want to work on this issue.

[2021-01-08 17:22] bhavesh1129 opened #442 "Add aos.int in Experience Section and proper align the cards in Home Page"
**Is your feature request related to a problem? Please describe.**
Yeah, my feature request is related to a problem as on the home page the card isn't properly aligned due to the same font size of all the heading which causes the irregularity in the size of cards.

**Describe the solution you'd like**
I would like to arrange the cards in a proper manner so that they look nice.

**Additional contex

[2021-01-08 17:24] bhavesh1129 commented on #442
Also sorry for being inactive for the past few days as I had my college exams but I had completed my task and will make PR in a few minutes.
Sorry for the inconvenience provided by me.

[2021-01-08 17:25] smaranjitghose commented on #442
@bhavesh1129 Sure you can take one more day. In case you have some other commitments just let us know, we would definitely consider your case as we ourselves come from similar backgrounds 😊

[2021-01-08 17:26] smaranjitghose commented on #435
Use the slack channel for discussion on this before the design is finalized. That way the process is expedited!

[2021-01-08 17:28] bhavesh1129 commented on #442
Thank you so much @smaranjitghose.
Also please add the label and the level type so that it became easy for them to track my performance.

[2021-01-08 17:39] bhoomika07 commented on #436
okay will keep that in mind, I'll start working!

[2021-01-08 17:41] RitikPandey1 commented on #430
I would like to take this up

[2021-01-08 18:01] dipanshparmar opened #445 "Convert Experience page UI to neumorphic UI"
![image](https://user-images.githubusercontent.com/49204837/104048609-871dea00-5209-11eb-849f-878d266d1226.png)

**May I work on this?**

[2021-01-09 01:50] Jatin-MaTTriX commented on #395
Sir I am currently out of station  after 5 days definitely I will resume my
work .srry for inconvenience

On Fri, Jan 8, 2021, 10:42 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2021-01-09 05:08] BALARAMGHOSH commented on #424
![webpage_button](https://user-images.githubusercontent.com/48158402/104083684-ae56d480-5266-11eb-82f9-c27df5415d71.png)
Are the button positions correct now, or I have to do something more?

[2021-01-09 05:54] ishubham21 commented on #434
Can you please explain what exactly does 'Greeting Request Failed' means?

[2021-01-09 06:57] vishnupsingh523 commented on #427
Sir which version I have to use for bootstrap??

[2021-01-09 08:04] vishnupsingh523 commented on #427
Sir, I have made some changes Please check... <a href="https://github.com/smaranjitghose/awesome-portfolio-websites/pull/450" >Issue:#427</a>.
And If it is not up to the mark please guide me 😄.

[2021-01-09 08:11] vishnupsingh523 commented on #428
Mam which kind of lables you want there?

[2021-01-09 09:04] smaranjitghose commented on #434
It's a bug with the GitHub action. Nothing wrong from your end😊

[2021-01-09 09:05] smaranjitghose commented on #395
Okay. I'll reassign you again then

[2021-01-09 09:15] smaranjitghose commented on #424
The second part of the task stated in the description is not solved yet

[2021-01-09 09:32] Jatin-MaTTriX commented on #395
OK

On Sat, Jan 9, 2021, 2:35 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2021-01-09 09:58] smaranjitghose commented on #428
Labels like "react" which pop up on hover for project page cards

[2021-01-09 10:09] BALARAMGHOSH commented on #424
Ok, I will do it asap.

[2021-01-09 12:28] smaranjitghose commented on #445
![expereince_nuemorphic1](https://user-images.githubusercontent.com/46641503/104091574-35766d80-52a4-11eb-9349-1b6488410852.jpg)
Some minor tweaking in the box-shadow is required to make it in parallel with the research page cards.

There is an overflow of text in some of the cards

[2021-01-09 12:35] #430 closed

[2021-01-09 13:02] smaranjitghose opened #453 "Update documentation"
__NOTE: This is an issue that exclusively demands knowledge of Python. Please take this up only if you are comfortable beyond basics__

#### Package to be used: [MkDocs Material](https://squidfunk.github.io/mkdocs-material/)

#### Branch for source code: [documentation](https://github.com/smaranjitghose/awesome-portfolio-websites/tree/documentation)

__Please read through the documentation careful

[2021-01-09 13:28] Priyanshu-official commented on #395
@smaranjitghose Hi Sir I am a SWOC participant I want to contribute in this issue...

[2021-01-10 09:33] jatinjain001 commented on #393
I would like to work on this , as I am participant of SWOC2021

[2021-01-10 09:37] jatinjain001 commented on #432
I want to work on this if it is available let me know

[2021-01-10 15:07] Abhijay007 commented on #299
@smaranjitghose sir report till now:

sir, I manage to add basic chat UI to the website

***Demo***

![chatbot](https://user-images.githubusercontent.com/64387054/104126373-2bc33780-5382-11eb-9638-13030106ac45.gif)

now, sir I just need to add pop-up functionality and need to train this bot bit so it can answer basic queries.

And sir one more thing I don't use to prefer services like drift and Di

[2021-01-10 16:06] AbhipsaGuru1012 commented on #423
@smaranjitghose Hi, is this issue still open?

[2021-01-11 15:33] ishubham21 opened #457 "Navigation Hamburger not working in smaller screens."
The hamburger which appears for the smaller screen does work to open the navigation, but it doesn't; works alternatively.
It is only working one-way.
It can be fixed, moreover, some animation could also be applied to it.

[2021-01-11 17:04] #445 closed

[2021-01-12 14:41] ishubham21 opened #459 "User Experience (UX) enhancement for Home Page."
On the home page, when the screen size is set to 768px (i.e. for mobile-landscape/iPad), the cards under 'A little about me' shrinks down to fit 4 cards which makes it look ugly.
**Solution - ** Instead of 4 cards, we can have two cards for middle-sized screens.
<img width="578" alt="Screenshot (76)" src="https://user-images.githubusercontent.com/34435822/104328839-43312a80-5512-11eb-9e43-9066c84d

[2021-01-12 15:39] the-supernova commented on #395
I would like to work on this issue once its free

[2021-01-12 16:20] AmeyaJain-25 commented on #440
I'm new to SWOC.
If this issue is not done or is if allowed, can I work on this issue to get resolved

[2021-01-12 17:44] sanjay270899 commented on #432
@smaranjitghose You can close this issue if you wish.

[2021-01-13 08:51] AmeyaJain-25 commented on #459
Can you assign me this issue.
I'm new to SWoC 2021, so help me to know that do I have to ask to assign or can I directly start.
 I would like to solve this issue under SWoC.

[2021-01-13 09:00] AmeyaJain-25 opened #461 "Home Tab and Experience Tab is not visible when side navbar is opened"
Here, when we see the application in small width screen, the Home tab and experience tab gets hidden by the top header.
I would like to resolve this issue. Please assign me this issue
![image](https://user-images.githubusercontent.com/66305085/104346363-55689400-5525-11eb-84dc-2cc597595325.png)

I would like to work on this issue under SWoC 2021. Please assign me this issue.

[2021-01-13 11:40] dipanshparmar commented on #440
@AmeyaJain-25 Yeah! please go ahead

[2021-01-13 12:38] #432 closed

[2021-01-13 13:41] AmeyaJain-25 commented on #440
Thanks @dipanshparmar

[2021-01-13 13:42] AmeyaJain-25 commented on #461
Thanks @smaranjitghose

[2021-01-13 14:05] HarshKhilawala commented on #453
@smaranjitghose  Please assign this to me.

[2021-01-13 14:14] vidhi-mody opened #462 "`Check out our awesome Documentation` link in README.md is broken"
On clicking `Check out our awesome Documentation` in the README
<img width="897" alt="Screenshot 2021-01-13 at 7 40 52 PM" src="https://user-images.githubusercontent.com/49282105/104463167-6ffb4580-55d7-11eb-865b-79578f9b1221.png">

The result is:
<img width="576" alt="Screenshot 2021-01-13 at 7 41 10 PM" src="https://user-images.githubusercontent.com/49282105/104463188-77baea00-55d7-11eb-8056-036

[2021-01-13 14:22] smaranjitghose commented on #462
Refer #453 to understand better. Just generate the documentation  using the source code on `documentation` branch

[2021-01-13 17:01] kanishkaa24 commented on #435
Hey!
I want to work on this. Please assign me.

[2021-01-13 18:17] AmeyaJain-25 commented on #440
I have added the feature for searching through the project name too.

Search through tag
![image](https://user-images.githubusercontent.com/66305085/104492346-7f8b8600-55f9-11eb-8a69-5d703dd076f3.png)

Search through project name
![image](https://user-images.githubusercontent.com/66305085/104492366-87e3c100-55f9-11eb-9576-33e9c4527885.png)

Is it good to push and generate a PR?
Or any suggestions

[2021-01-13 19:50] the-supernova commented on #395
@smaranjitghose @anushbhatia Please let me know if it looks fine

Education

![image](https://user-images.githubusercontent.com/56555259/104491730-a9907880-55f8-11eb-814f-6944b5d3bff4.png)

MOOCs

![image](https://user-images.githubusercontent.com/56555259/104492056-1e63b280-55f9-11eb-8fe0-ee8b3d17115a.png)

And while on dark mode, it doesn't look that nice so what can I do for that?

![image](htt

[2021-01-14 14:38] Jatin-MaTTriX commented on #395
Sir I have successfully added neuromorphic form into the page.
![2](https://user-images.githubusercontent.com/72266203/104605139-20cf1680-56a4-11eb-9595-a51b42d850cb.PNG)
for dark mode
![1](https://user-images.githubusercontent.com/72266203/104605195-2fb5c900-56a4-11eb-910f-9c3b7d061990.PNG)
mooc cards
![4](https://user-images.githubusercontent.com/72266203/104605226-393f3100-56a4-11eb-8268-7a3240

[2021-01-14 15:59] smaranjitghose commented on #461
@AmeyaJain-25 While you work on this, please pull the recent changes incorporated

[2021-01-14 16:00] smaranjitghose commented on #459
@ishubham21 you are still working on this right?

[2021-01-14 16:00] #440 closed

[2021-01-14 16:01] ishubham21 commented on #459
Yes, I am. Will submit a PR in 1 hour.

[2021-01-14 16:02] AmeyaJain-25 commented on #461
I did the pull upstream master before commiting my code.

[2021-01-14 16:14] #393 closed

[2021-01-14 16:51] #395 closed

[2021-01-14 16:51] #300 closed

[2021-01-14 16:51] smaranjitghose commented on #299
Raise a new issue once done

[2021-01-14 16:51] #299 closed

[2021-01-14 16:52] #427 closed

[2021-01-14 16:53] Abhijay007 commented on #299
Ok

On Thu, 14 Jan 2021, 22:22 Smaranjit Ghose, <notifications@github.com>
wrote:

[2021-01-14 16:54] smaranjitghose opened #465 "Fix and improve Navigation bar"
## Current Snapshot:
![naviagation_bar](https://user-images.githubusercontent.com/46641503/104622378-2d109f00-56b7-11eb-906f-491dff295bd1.jpg)

__Do not use Materialize.__

Either use Bootstrap or custom design the components using Atomic CSS

[2021-01-14 17:16] Priyanshu-official commented on #465
Sorry about Previous I was not well

[2021-01-14 17:23] Priyanshu-official opened #466 "Homepage CSS Issue"
Homepage has Issue

![screencapture-portfolio-smaranjitghose-codes-2021-01-14-22_51_39](https://user-images.githubusercontent.com/55912091/104625750-19673780-56bb-11eb-96d3-2b0702f3a5e6.png)

[2021-01-14 17:25] Priyanshu-official commented on #466
@smaranjitghose pls Look it to this issue

[2021-01-14 18:05] #405 closed

[2021-01-14 18:05] #411 closed

[2021-01-14 18:05] #423 closed

[2021-01-14 18:05] #424 closed

[2021-01-14 18:05] #425 closed

[2021-01-14 18:05] #426 closed

[2021-01-14 18:06] smaranjitghose commented on #431
I am closing this for now. There is a major issue with the nav bar. This can be taken over only after that

[2021-01-14 18:06] #431 closed

[2021-01-14 18:07] #457 closed

[2021-01-14 18:07] #397 closed

[2021-01-14 18:12] smaranjitghose opened #468 "New Navigation Bar"
The current navigation bar is written using Materialize.
I expect you to replace it completely using Boostrap or Custom CSS

Do not change the color code

[2021-01-14 18:13] smaranjitghose opened #469 "New Navigation Bar🏗"
The current navigation bar is written using Materialize.
I expect you to replace it completely using Boostrap or Custom CSS

Follow the exact work done [here](https://girlscriptboilerplate.netlify.app/)

[2021-01-14 18:22] smaranjitghose opened #470 "Improve Footer Design🪓"
Make the light mode color black

Make it simple [like](https://smaranjitghose.codes/)

[2021-01-14 18:23] smaranjitghose opened #471 "Carefully Remove all code related to Resume Section Home Page❌"

[2021-01-14 18:24] smaranjitghose opened #472 "Carefully Remove all code related to About Section Home Page ❌"

[2021-01-14 18:27] smaranjitghose opened #473 "Redesign Research Page"
- Remove Neumorphism altogether ( Fix color of background and cards)
- Remove all code for cite and abstract pop up
- Rewrite the code to facilitate abstract and bibtex expansion as shown [here](https://www.cs.utoronto.ca/~fidler/publications.html)

[2021-01-14 18:28] Priyanshu-official commented on #470
I would like to work on that
pls Assign me

[2021-01-14 18:29] smaranjitghose opened #474 "Remove all code related to skill page altogether"

[2021-01-14 18:31] smaranjitghose commented on #459
We are moving away from neumorphism and removing this section altogether

[2021-01-14 18:31] #459 closed

[2021-01-14 18:35] smaranjitghose opened #475 "Fix Experience Page Colors and CARDS"
[Reference](https://smaranjitghose.codes/experience.html)

[2021-01-14 18:35] smaranjitghose commented on #470
Assigned for 2 days

[2021-01-14 18:37] smaranjitghose opened #476 "New Dark-Light Mode Switch"
[Reference](https://codepen.io/pieter-biesemans/pen/LYRdaKw)

[2021-01-14 18:37] #442 closed

[2021-01-14 18:41] ishubham21 commented on #473
I want to do this.

[2021-01-14 18:41] #434 closed

[2021-01-14 18:42] ishubham21 commented on #475
I want to do this.

[2021-01-14 18:44] ishubham21 commented on #471
Can you please elaborate on this issue.

[2021-01-14 22:11] smaranjitghose commented on #462
Resolved via integration of new GitHub Action for mkdocs

[2021-01-14 22:11] #462 closed

[2021-01-15 07:05] nilisha-jais commented on #475
I want to work on this issue as a part of SWoC'21

[2021-01-15 07:06] nilisha-jais commented on #472
Can you please describe this issue

[2021-01-15 07:09] nilisha-jais commented on #469
I want to work on it

[2021-01-15 07:20] vidhi-mody commented on #475
@nilisha-jais I'm temporarily un-assigning this issue since Shubham commented first. I've assigned the other issues you are interested in working on to you.

[2021-01-15 08:00] smaranjitghose commented on #472
It's self-explanatory as per the title!

![about_me](https://user-images.githubusercontent.com/46641503/104697504-ddbd8380-5735-11eb-86b8-6aaf0f031dfc.jpg)

[2021-01-15 08:02] smaranjitghose commented on #471
![Uploading about_me.jpg…]()

[2021-01-15 08:32] raman08 commented on #472
I would like to work on it

[2021-01-15 08:43] nilisha-jais commented on #472
I can work on this issue.Please assign it to me

[2021-01-15 08:44] nilisha-jais commented on #475
okay np

[2021-01-15 10:25] CharvyJain commented on #428
@smaranjitghose I believe the labels are already present.

[2021-01-15 10:26] CharvyJain commented on #471
Can I work on this issue ?

[2021-01-15 11:02] raman08 commented on #453
I would like to work on it

[2021-01-15 13:23] ashshekhar commented on #476
I would like to work on this issue!

[2021-01-15 15:45] kanishkaa24 commented on #469
Can I work on this ?

[2021-01-15 15:46] kanishkaa24 commented on #471
Can I work on this issue?

[2021-01-15 15:46] kanishkaa24 commented on #472
Can I work on this issue ?

[2021-01-16 11:51] jatinjain001 commented on #470
I would like to work on it

[2021-01-16 11:52] jatinjain001 commented on #469
Can I work on this please?

[2021-01-17 06:39] im-sakshijain opened #478 "Feat: Hover Effect on Nav Bar"
![jo](https://user-images.githubusercontent.com/62291788/104833130-6b2ae000-58bc-11eb-9994-1250ba732874.jpeg)
As of now, when we go from home to experience or any other section of the nav bar there is no hover effect.
![navvv](https://user-images.githubusercontent.com/62291788/104833177-be9d2e00-58bc-11eb-96f2-b7888e313e8d.jpeg)
![m](https://user-images.githubusercontent.com/62291788/104833179-c23

[2021-01-17 10:01] raman08 commented on #453
The home page is kind of large and a lot to scroll.
I was thinking to make separate pages for the Code of conduct and Licence on their separate page.
Also, there should be a separate page for the deployment section.

[2021-01-17 10:14] smaranjitghose commented on #453
Keep the home page intact❌
Have a separate page for deployment✅

[2021-01-17 10:39] raman08 commented on #453
Okk @smaranjitghose I will create a separate page for the deployment

[2021-01-17 11:53] smaranjitghose opened #483 "Navigation Bar (mobile view) transition"
[Reference](https://codepen.io/Zaku/pen/vcaFr)

Remember: we need just the transition keeping the color palette the same

[2021-01-17 11:58] smaranjitghose commented on #478
Now onwards, we are planning to create the navbar components from scratch instead of using bootstrap. @im-sakshijain if you wish to do it, could you please DM @anushbhatia over slack.

Remember: the navigation bar would be complete in 2-3 PRs over a week's time and requires commitment. Since we'll follow a particular color palette, use micro animations as well as transition effects each for dark a

[2021-01-17 12:10] im-sakshijain commented on #478
Okay Got it! I want to do this. I'll DM to @anushbhatia. Thank you.

[2021-01-17 12:38] Harshita-Kanal commented on #483
Can I take this up, I am from SWOC

[2021-01-17 14:38] nilisha-jais commented on #472
I guess the code is already manipulated as there is no such section. Please help

[2021-01-17 16:36] smaranjitghose commented on #472
Too late for PR. Already handled by the maintainers. Please understand such issues are supposed to take under 10 min of time and we expect a PR accordingly

[2021-01-17 16:36] #472 closed

[2021-01-17 16:36] smaranjitghose commented on #471
Too late for PR. Already handled by the maintainers. Please understand such issues are supposed to take under 10 min of time and we expect a PR accordingly

[2021-01-17 16:36] #471 closed

[2021-01-17 17:03] anushbhatia opened #487 "Colour Palette🎨"
![color palllete](https://user-images.githubusercontent.com/40017559/104850260-10bd6e00-5914-11eb-8c2a-b0b7e53f68ab.jpg)

[2021-01-17 17:04] anushbhatia commented on #469
No updates yet. The basic version is done by us. Any of you interested in this issue, contact me over slack for the design

[2021-01-17 17:04] #469 closed

[2021-01-19 10:48] #435 closed

[2021-01-19 11:13] Aayush-hub opened #494 "Improve Education Page Alignment"
Award and prizes is overlapped by get in touch in education page.

# Screenshot
![Capture11](https://user-images.githubusercontent.com/65889104/105026923-21392a00-5a75-11eb-84b3-98d48f6ffafe.PNG)

[2021-01-19 11:27] smaranjitghose commented on #494
Give a PR and remove the carousel all together

[2021-01-19 14:16] Aayush-hub commented on #494
@smaranjitghose Please add SWOC label.

[2021-01-20 14:44] #483 closed

[2021-01-21 16:59] Ayush0730 opened #500 "Content overflowing on Experience page"
![image](https://user-images.githubusercontent.com/68139755/105383867-96ecf380-5c37-11eb-9a2a-1a36761aefab.png)
On medium screen sizes (above 767px)

![image](https://user-images.githubusercontent.com/68139755/105384145-e2070680-5c37-11eb-901d-d251a3a0633d.png)
On full screen (large)

[2021-01-21 17:02] Amit366 commented on #476
@smaranjitghose I would like to work on this issue

[2021-01-21 17:03] Amit366 commented on #478
Sir is this issue still open??

[2021-01-22 07:31] anushbhatia commented on #478
GO ahead with the 3rd one I would prefer that with colour palette specified in the pinned issue

[2021-01-22 07:38] Amit366 commented on #487
Can you elaborate this issue?

[2021-01-22 07:44] anushbhatia commented on #487
It is converting the current project to this template

[2021-01-22 11:58] Amit366 commented on #476
Sir I used the code for switch but its not working can you help me?

[2021-01-22 13:24] jatinjain001 commented on #470
I would like to work on it

[2021-01-22 14:23] anushbhatia commented on #476
Try using something similar then

[2021-01-22 15:36] Amit366 commented on #476
Sir where should I write the html code , in index.html or main.js  and also in main.js all the code is already written.

[2021-01-23 09:27] 07yuvraj commented on #470
I would like to work on it

[2021-01-23 15:16] mishrajiharsh219 opened #504 ""open-source developer" card is already bigger than other cards."
In Home section, the "open-source developer" card is already bigger than other cards. All cards should be of equal size when the website is opened for the first time. Look at the height of the "open source " section, it is bigger than other cards.
Please assign me this issue.
![issue sithub](https://user-images.githubusercontent.com/50453715/105603605-b0b74380-5dbb-11eb-8649-29a85a13b65c.PNG)

[2021-01-24 07:32] Amit366 commented on #476
![Screenshot (70)](https://user-images.githubusercontent.com/60662775/105624027-64fcac80-5e44-11eb-9641-91b456cc38ac.png)

[2021-01-24 07:33] Amit366 commented on #476
@anushbhatia this effect is only visible at the home page.

[2021-01-24 08:45] smaranjitghose commented on #504
This section has been removed long back

[2021-01-24 08:45] #504 closed

[2021-01-25 11:09] Chaitanya31612 commented on #428
@smaranjitghose I'd like to take it up. How should I change the label's design, any suggestion?

[2021-01-25 11:18] Chaitanya31612 opened #506 "Design improvements in some areas."
## Objectives:-

- Fix this search bar:

![image](https://user-images.githubusercontent.com/54992097/105698829-7325f800-5f2c-11eb-8315-c57cfe0a923c.png)

- Fix some spacing in card on experience page:

![image](https://user-images.githubusercontent.com/54992097/105698776-5d183780-5f2c-11eb-94a1-388e8e522caa.png)

- Also some ui improvement in cards:

![image](https://user-images.githubusercontent.

[2021-01-25 16:15] anushbhatia commented on #476
Please do not weird things. It is a standard practice to have the toggle button in the navbar

[2021-01-25 16:25] im-sakshijain commented on #478
https://user-images.githubusercontent.com/62291788/105733306-6b2f7d80-5f57-11eb-90ac-72b2b1d5058e.mp4

Is this effect fine?

[2021-01-25 16:44] anushbhatia commented on #478
Refer #487 for the colour palette. The hove effect can be the same that you have done on the portfolio site

[2021-01-25 16:48] anushbhatia commented on #428
You can use https://tailwindcomponents.com/component/tags these and add this to the project page of the site

[2021-01-26 04:16] Chaitanya31612 commented on #428
Sure, any background color preferences or should I send a pic for each one?

[2021-01-26 05:11] anushbhatia commented on #428
![Screenshot_20210126_104029_com android chrome](https://user-images.githubusercontent.com/40017559/105803205-f98d1900-5fc2-11eb-8f96-50e6967a9a5e.jpg)
Currently the labels are like this

[2021-01-26 05:13] #494 closed

[2021-01-26 07:05] Chaitanya31612 commented on #506
@anushbhatia please review my pull request #507. (Just to mention I am under the SWOC program.)

[2021-01-26 07:11] Chaitanya31612 commented on #428
Okay 👍

[2021-01-26 08:04] Chaitanya31612 commented on #428
@anushbhatia please review my pull request #508 and suggest any change if required.

[2021-01-27 08:31] #500 closed

[2021-01-29 21:48] smaranjitghose commented on #478
any updates?

[2021-01-29 22:07] im-sakshijain commented on #478
What exactly,  I've to do with color palette, like the hover color should be #f4f4f4 ? Or should  I change  the hover effect?

[2021-01-30 21:26] smaranjitghose commented on #478
@anushbhatia

[2021-01-30 21:47] smaranjitghose opened #510 "Custom Scrollbar"
[Basic Reference](https://www.hackchennai.in/)

Please do not put a comment what do you want  in this, look up the color palette, do some research on dribble and codepen and accordingly come up with something new

[2021-01-30 21:53] smaranjitghose opened #511 "Project Card Bug"
![project_card_bug](https://user-images.githubusercontent.com/46641503/106368966-b987b680-6373-11eb-8cec-2b5be29262a5.jpg)

[2021-01-30 21:56] smaranjitghose opened #512 "Project Page Search Bar Bug"
![Search_Bar_Project_page](https://user-images.githubusercontent.com/46641503/106368997-010e4280-6374-11eb-8810-f53210169295.jpg)

[2021-01-30 21:57] smaranjitghose opened #513 "Project_Card_Tag_Bug"
![Project_Card_tag_bug](https://user-images.githubusercontent.com/46641503/106369038-3fa3fd00-6374-11eb-90a3-f1a530a9c547.jpg)

[2021-01-30 21:58] ishubham21 commented on #510
I want to do this.

[2021-01-30 22:00] #473 closed

[2021-01-30 22:00] #461 closed

[2021-01-30 22:01] smaranjitghose opened #514 "Toggle Button in Navigation Bar for Dark-Light Mode"
[Reference](https://codepen.io/ashleynolan/pen/wBppKz)

[2021-01-30 22:02] #475 closed

[2021-01-30 22:03] #453 closed

[2021-01-30 22:04] smaranjitghose opened #515 "Iterative Documentation Updates"
__NOTE: This is an issue that exclusively demands knowledge of Python. Please take this up only if you are comfortable beyond basics__

#### Package to be used: [MkDocs Material](https://squidfunk.github.io/mkdocs-material/)

#### Branch for source code: [documentation](https://github.com/smaranjitghose/awesome-portfolio-websites/tree/documentation)

__Please read through the documentation careful

[2021-01-30 22:19] smaranjitghose opened #516 "Redesign Education Page using SVG Animations"
[Animation Reference](https://codepen.io/FabioG/pen/MaZpJp)

# Web View

![educatioff](https://user-images.githubusercontent.com/46641503/106369355-be019e80-6376-11eb-8cac-de832232c13d.png)

# Mobile View

![educatiofrff](https://user-images.githubusercontent.com/46641503/106369424-336d6f00-6377-11eb-9023-147ab542730c.png)

@anushbhatia will help out with the color scheme if required

[2021-01-30 22:23] smaranjitghose opened #517 "Pre-Loader using SVG Animation"
Combine the following

- [Reference 1](https://codepen.io/arkwis/pen/chnop)
- [Reference 2](https://codepen.io/Maskedman99/pen/YzPvrgN)

^^ For reference 2, instead of the nucleus at the center, try to have a brain outline so that we can make the animation depict a neural network [OPTIONAL}

- Follow the color palette
- The text should be "John Doe"
- Document the code clearly so that anyone can c

[2021-01-30 22:26] smaranjitghose opened #518 "Microanimations for Social Media Icons in Footer"
[Reference](https://codepen.io/nat-davydova/pen/jOEgQwp)

Please use your creativity

For example:
- GitHub: the octocat moves the hand
- Twitter: the tweety flaps wings
- LinkedIN: the dot over I bounces like a ball

[2021-01-30 22:30] smaranjitghose opened #519 "SideNav Hamburger Animation"
[Reference](https://codepen.io/paulkmiller/pen/LVjLaz)

[2021-01-30 22:37] smaranjitghose opened #520 "[ADVANCED] SVG Animation for Toggle Button"

[2021-01-30 22:42] smaranjitghose opened #521 "SVG Animation for the bottom of sidebar"
[Reference](https://codepen.io/zhoha/pen/xxZowqg)

[2021-01-30 22:46] smaranjitghose opened #522 "SVG Animation for Research Page"
Try to come with something creative

[Sample](https://codepen.io/brunoalves/pen/NWGRxKR)

Do not just move random components!

[2021-01-30 22:54] smaranjitghose opened #523 "Text Animations for Experience Page, Education Page, Project Page, Research Page"
[Reference](https://codepen.io/jh3y/pen/vzqVWa)

#### Use the perspective style for Headings Like "Education"

#### Use the block style for subheadings like "MOOC"

[2021-01-31 03:59] AbhipsaGuru1012 commented on #523
@smaranjitghose I would like to give this a try. Can I work on this?

[2021-01-31 05:02] Chaitanya31612 commented on #522
@smaranjitghose I would like to take it up!

[2021-01-31 05:02] Chaitanya31612 commented on #521
@smaranjitghose are you suggesting this for mobile view? I don't get which sidebar?

[2021-01-31 05:03] Chaitanya31612 commented on #519
@smaranjitghose I'd like to work on this.

[2021-01-31 05:09] Chaitanya31612 commented on #513
@smaranjitghose I'd like to fix this. You are talking about space within and between elements, right?

[2021-01-31 05:11] Chaitanya31612 commented on #511
@smaranjitghose I'd like to work on this.

[2021-01-31 05:18] Chaitanya31612 commented on #512
@smaranjitghose I can fix this as I've also fixed the search icon for the component. So if you wish I can fix this.

[2021-01-31 08:06] deytulsi18 commented on #517
Can I take up this task @smaranjitghose ?

[2021-01-31 08:07] deytulsi18 commented on #518
Can I take up this task @smaranjitghose ?

[2021-01-31 08:08] deytulsi18 commented on #514
Can I take up this task @smaranjitghose ?

[2021-01-31 11:38] smaranjitghose commented on #513
Assigned for 2 days.

[2021-01-31 11:40] smaranjitghose commented on #521
Yes for mobileview

[2021-01-31 11:53] smaranjitghose commented on #514
Assigned for 2 days

[2021-01-31 12:26] Chaitanya31612 commented on #513
![image](https://user-images.githubusercontent.com/54992097/106383720-7ec26480-63ed-11eb-9d97-68d09bfba601.png)

[2021-01-31 12:49] smaranjitghose commented on #513
The small comma

[2021-01-31 13:04] smaranjitghose commented on #523
Sure

[2021-01-31 13:35] smaranjitghose commented on #428
# 2. Adding Custom labels

@Chaitanya31612 I am closing this issue. Raise a new issue for this as discussed in your PR comments. Also, let me know if I have assigned you the right tags for the open source program you are in. I am not sure whether you are in SWoC or DWoC

[2021-01-31 13:35] #428 closed

[2021-01-31 14:18] Chaitanya31612 commented on #428
I am in SWOC, not in DWOC. Are there any criteria on how pr will be evaluated/scored?

[2021-01-31 15:07] deytulsi18 commented on #514
Ok, so I have one question do you want the toggle button design be like the one which is reference ?

[2021-01-31 15:09] smaranjitghose commented on #428
No, I was just asking so that I can make sure that I can award you for all the programs you are in

[2021-01-31 15:10] smaranjitghose commented on #514
Yes. That's why I gave it😅.
The Day/Night toggle button to be more specific

[2021-01-31 15:12] deytulsi18 commented on #514
Ok I understand. I'll try to complete it asap.

[2021-02-01 09:17] deytulsi18 commented on #514
Yea so I have completed the task shall I send the PR ?
should I send a screen recording at LinkedIn or Slack, or directly send the PR?

[2021-02-01 10:20] deytulsi18 commented on #517
Can you just tell me that where shall this animation be placed in the landing page (index.html), In place of the name **John Doe** ?

[2021-02-01 10:24] deytulsi18 commented on #518
So you want the animation to happen when user hovers over the icons, right?

[2021-02-01 15:42] deytulsi18 opened #531 "Adding tilt effect for the cards"
So I would like to suggest an enhancement which goes like:
Adding tilt effect for the cards under section **A Little about me** in the home page.

[2021-02-01 15:51] deytulsi18 commented on #514
So I made the PR, but its showing there are conflicts can you please look into the PR once @smaranjitghose @anushbhatia  and suggest what shall I do to resolve it.

[2021-02-01 18:01] smaranjitghose commented on #517
It's a preloader or let's say splash screen

[2021-02-01 18:02] smaranjitghose commented on #518
Yes

[2021-02-01 18:02] smaranjitghose commented on #518
Start with the footer icons

[2021-02-01 18:06] smaranjitghose commented on #514
You have not pulled the recent changes

[2021-02-01 18:17] smaranjitghose commented on #531
Pull the recent version of the website. That section is no more there

[2021-02-01 18:17] #531 closed

[2021-02-01 18:46] deytulsi18 commented on #514
Ok doing it again properly

[2021-02-02 04:49] RutvikJ77 opened #533 "UI\UX for mobile design - Project, Experience page"
I was pondering through the template where I encountered a few bugs. As a UI\UX designer, the approach should be mobile-first which made me change the website size. The animations or the tabs which provided information in the experience/projects page are not visible if the screen width is reduced. Additionally, there are unnecessary "," tags in the project section of which technologies are used.

[2021-02-02 05:37] deytulsi18 commented on #514
I have made the PR please check @smaranjitghose

[2021-02-02 10:37] vismitap commented on #520
Hey! What exactly needs to be done here? There is already an animation for the toggle button. What changes need to be made? I would like to work on this issue.

[2021-02-02 16:03] smaranjitghose commented on #533
Check out #511  #513

[2021-02-02 16:13] smaranjitghose commented on #520
There is no toggle button at all currently.

Once that is resolved. I share more details on this one

[2021-02-02 16:44] parthpandyappp commented on #470
@smaranjitghose Is this still open for contribution? If yes, I'm glad to be in!
And actually what part in the footer for https://portfolio.smaranjitghose.codes/ needs enhancement?

[2021-02-02 17:10] smaranjitghose opened #535 "Toggle Switch for Dark/Light mode"
[Reference](https://codepen.io/ashleynolan/pen/wBppKz)

[2021-02-02 17:11] smaranjitghose opened #536 "Micro animations for social media icons"
[Reference](https://codepen.io/nat-davydova/pen/jOEgQwp)

Please use your creativity

For example:
- GitHub: the octocat moves the hand. A [rough example](https://codepen.io/thulioph/pen/bowmeR)✅
- Twitter: the tweety flaps wings ✅
- LinkedIN: the dot over I bounces like a ball
- Medium:
- Kaggle:
- Codeforces:
- Google Scholar:
- Dribble:
- Instagram:

[2021-02-02 17:47] vismitap commented on #520
Sure, np👍.

[2021-02-03 03:21] akshay1027 commented on #535
I would like to contribute to this issue @smaranjitghose sir

[2021-02-03 03:29] akshay1027 opened #539 "Active page in navbar can be in different colour"
Active page in the navbar section can be in a different colour to differentiate the page that is currently active from the other pages that are not active.

[2021-02-03 05:02] RutvikJ77 commented on #533
Got it! I am closing this issue.

[2021-02-03 05:02] #533 closed

[2021-02-03 06:26] jyotsana3108 commented on #535
I would like to contribute and resolve this issue using CSS @smaranjitghose

[2021-02-03 13:35] smaranjitghose commented on #539
Definitely!

@anushbhatia could you please discuss the color scheme for this change as you have an in-depth background in ui/ux in comparison to mine

[2021-02-03 13:38] akshay1027 commented on #539
@anushbhatia sir, let me know as well 🙌🏻

[2021-02-03 13:41] akshay1027 commented on #539
Sorry I closed by mistake, @anushbhatia sir, let me know as well 🙌🏻!

[2021-02-03 14:33] achalesh27022003 commented on #536
@smaranjitghose sir I can do this. Please assign me this issue.

[2021-02-03 14:36] achalesh27022003 commented on #510
I can customize this with linear gradient sir @smaranjitghose . If you allow, I can work on it. Thanks

[2021-02-03 14:38] smaranjitghose commented on #510
Give @ishubham21 1 more day. After that give the PR

[2021-02-03 14:38] smaranjitghose commented on #536
Assigned for next 4 days. If required, we can extend the deadline!

[2021-02-03 15:00] achalesh27022003 commented on #506
I would work on this issue with some hover effects on cards. I would also add top to bottom button in this. Please assign me this issue. @smaranjitghose  sir.

[2021-02-03 15:05] achalesh27022003 commented on #512
If you want then I can make search bar expanded animations. For that you can assign me @smaranjitghose sir.

[2021-02-03 15:07] achalesh27022003 commented on #506
And also I can do some animations and cool hover effect in nav bar and some background animation using particle.js, Please assign me @smaranjitghose  sir.

[2021-02-03 17:52] smaranjitghose commented on #506
Please raise individual issues for your suggestions with a possible demo/reference.
Looking forward to your ideas!

Meanwhile check out the SVG animation issues and try them if you wish to

[2021-02-03 17:52] #506 closed

[2021-02-03 17:53] #519 closed

[2021-02-03 17:54] smaranjitghose commented on #512
Sure, raise a separate issue for this so that it is convenient to keep track.

Also, elaborate in the description of the issue "Search Bar Expanded Animations" Or give some reference

[2021-02-03 17:54] #512 closed

[2021-02-03 17:55] smaranjitghose commented on #522
Any updates on this?

[2021-02-04 02:45] Chaitanya31612 commented on #522
I will try to do it by today.

[2021-02-04 04:10] Chaitanya31612 commented on #522
@smaranjitghose you want me to animate elements of current svg in research page or to replace it with one of them?

[2021-02-04 15:02] smaranjitghose commented on #522
Try animating the elements of the current SVG

[2021-02-04 16:58] Chaitanya31612 commented on #522
okay

[2021-02-04 17:57] Chaitanya31612 commented on #517
@smaranjitghose I'd like to work on this.

[2021-02-06 09:17] Abhijay007 opened #543 ""Grab My resume" section on the home page"
feature-request: Add an interactive resume section on the home page:

***after implementation it will look like this***

![resume section](https://user-images.githubusercontent.com/64387054/107114116-794f9900-6889-11eb-934a-348ac4a9d632.gif)

I already implemented it once but I don't know why it is not showing on the currently deployed link of the website in the main repo.

[2021-02-06 16:49] Chaitanya31612 commented on #521
@smaranjitghose do you want me to add this animation at bottom of the sidebar or somewhere else?

![image](https://user-images.githubusercontent.com/54992097/107124313-2d244900-68c9-11eb-9730-758c70e187c9.png)

[2021-02-06 19:28] smaranjitghose commented on #521
Yes the bottom, leaving a few spaces after the education line

Additionally, we can reduce some of the spaces between the top "john Doe" text  and "Home" line. It's unnecessary.  Also, the color of the text looks weird, make it black

[2021-02-06 19:29] smaranjitghose commented on #543
We are planning to put it somewhere else perhaps in a separate contact page and have hence removed it for the time being

[2021-02-06 19:29] #543 closed

[2021-02-07 06:32] achalesh27022003 commented on #510
I have sent the PR , pls review, merge and level-label it and also I don't know why it didn't passed one test case.
https://github.com/smaranjitghose/awesome-portfolio-websites/pull/544

[2021-02-07 06:45] Abhijay007 opened #545 "Feature request: Add "back to top" button"
Add "back to top" button in the different pages of the site especially in the experience and education section because user need to scroll back a bit more in these sections.

[2021-02-07 11:52] achalesh27022003 commented on #510
I got it why it didn't passed as I guess you removed access of greeting bot so it's not able to push the message. Pls look into it and level label PR asap

[2021-02-07 18:33] AmeyaJain-25 commented on #545
I would like to work on this issue under SWoC.
Please assign it to me

[2021-02-08 05:31] achalesh27022003 commented on #536
Sir I want to ask few questions that:
is it necessary to keep medium, kaggle icons etc? Can we change them for our conveience or not?
Secondly I think i have to use svg animation bcz throough i tag i am oly able to fly twitter bird only...github and linked in ball are through svg animations. So can I use svg for all icons?

[2021-02-08 14:48] smaranjitghose commented on #536
Sure. Feel free to use SVG animations

We are adding options for Kaggle, Medium, etc because this project is meant to be a generalized template for a wide variety of audience from different backgrounds. As per one's choice, one can comment or uncomment the related code later.

Don't worry, give PRs for one social media icon microanimation at a time

[2021-02-08 14:50] smaranjitghose commented on #545
We are planning to integrate a chatbot that's why the "toTop" button is scrapped from the dev cycle for now

[2021-02-08 14:50] #545 closed

[2021-02-08 15:19] jatinjain001 commented on #436
I would like to work on it please assign it to me

[2021-02-08 15:21] jatinjain001 commented on #511
I would like to work on it please assign it to me

[2021-02-08 21:11] smaranjitghose commented on #535
Updates?

[2021-02-08 21:12] smaranjitghose commented on #510
It's a bug in the github action

[2021-02-08 21:15] anushbhatia commented on #539
https://codepad.co/snippet/minimal-navbar
something minimal and simple like this also use the colour schemes given in the #487

[2021-02-09 05:42] jatinjain001 commented on #511
![Uploading Screenshot (223).png…]()

I resolved the bug, I just need to align the skill tags so that it should not be shown in a half way

[2021-02-09 14:29] jatinjain001 commented on #436
I am working on it

[2021-02-09 15:57] smaranjitghose commented on #511
If you observe properly, your change has messed up the search bar icon

[2021-02-09 16:06] jatinjain001 commented on #511
I got it i just make a pr now wait only 30 mins only

On Tue, Feb 9, 2021 at 9:28 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2021-02-10 04:34] omrajsharma opened #550 "Preloader Animation for each page"
Preloader for each page before any page is completely loads
![preloader](https://user-images.githubusercontent.com/60071210/107464957-4eb25880-6b87-11eb-92b6-5797f941357f.gif)

[2021-02-10 15:13] omrajsharma commented on #550
Can I work work upon this issue. After resolving this issue the user experience will be much better.

[2021-02-10 16:52] Dhriti-Roy opened #551 "Adding Contributors Table"
Contributors table in README.md file.

[2021-02-10 16:52] Dhriti-Roy commented on #551
I would like to do it. kindly assign me for this issue.

[2021-02-10 18:15] smaranjitghose commented on #551
Check the Readme. We already have a list of contributors. As far as CrossWoc is concerned, we will maintain a separate markdown file for it

[2021-02-10 18:15] #551 closed

[2021-02-10 18:38] jatinjain001 commented on #511
I am confused a little my task is to solve the issue for skills tag which is showing half away
am i correct?

[2021-02-10 18:43] smaranjitghose commented on #511
It's the entire project card

[2021-02-10 18:44] jatinjain001 commented on #511
Okay what should i do on the project card? its looking perfect

[2021-02-10 18:46] smaranjitghose commented on #511
😅
See the screenshot I gave in your last PR. It has to work for all screen sizes

[2021-02-10 18:46] jatinjain001 commented on #511
okay so its make to responsive only? is this my task?

[2021-02-10 18:52] smaranjitghose commented on #511
Yes.
And without hover, only the name should be visible. On Hover, transition + Visibility of Tags + Github and Preview Icons

[2021-02-10 18:52] jatinjain001 commented on #511
okay

[2021-02-10 19:03] smaranjitghose commented on #550
Check out #517

[2021-02-10 19:03] #550 closed

[2021-02-11 04:02] pankajkumarbij commented on #470
I would like to work on it, please assign it t me.

[2021-02-11 16:17] Abhijay007 commented on #517
@smaranjitghose sir with the referenced links I make this pre-loader :

![pre-loader](https://user-images.githubusercontent.com/64387054/107664367-591d4100-6cb2-11eb-9d4a-39539a2d3206.gif)

it is very easy to customize this preloader you just need to change the image and text according to your preferences.
So if a user who is not from the coding background can change it easily.

[2021-02-11 16:19] Abhijay007 commented on #517
@smaranjitghose sir, I can change the color scheme according to you if you approve this. currently, I use purple neural-network brain SVG.

[2021-02-11 17:29] achalesh27022003 commented on #510
@smaranjitghose sir pls level label the PR and merge it under DWOC and also I'm participating in SWoC.

[2021-02-13 06:34] Abhijay007 commented on #517
@smaranjitghose sir can I open a PR for this.

[2021-02-13 06:49] anushbhatia commented on #470
Sure go ahead @parthpandyappp  and @pankajkumarbij

[2021-02-13 06:49] anushbhatia commented on #436
Okay great if you need any suggestion feel free to approach me

[2021-02-13 09:46] Abhijay007 commented on #536
@smaranjitghose sir, I did some changes to micro animations.

![micro-animations](https://user-images.githubusercontent.com/64387054/107847030-4e77be80-6e0e-11eb-842c-4761b44fffa4.gif)

can I work on this issue?

[2021-02-13 10:25] anushbhatia commented on #536
This looks too main stream and not minimal try keeping it minimal with micor animations

[2021-02-13 11:35] smaranjitghose commented on #536
Have a look at what I have suggested in the issue description and what you are producing!

Don't you think this looks absolutely weird?

[2021-02-13 11:43] smaranjitghose commented on #517
Give a PR. I'll have a look surely

[2021-02-13 11:49] smaranjitghose commented on #510
Where is the PR? Could you please comment there. It would be way more convenient

[2021-02-13 12:02] jainh6148 commented on #517
Hi Sir, I am a front end web developer and working as a freelancer. I would love to contribute to this project. I will appreciate it if you can assign me this project.

[2021-02-13 12:04] jainh6148 commented on #470
Hi sir, I am a front end web developer as well as a freelancer. I have also worked in UI/UX design. I would love to improve the footer design. Kindly assign the project to me.

[2021-02-13 12:06] jainh6148 commented on #535
Hi Sir, I would like to contribute to this issue.

[2021-02-13 12:10] akshay1027 commented on #535
sorry sir, I am having exams, you can unassign me!

[2021-02-13 12:20] jainh6148 commented on #539
Hi, I would like to contribute to this project

[2021-02-13 12:21] smaranjitghose commented on #539
Please proceed as per @anushbhatia 's suggestions in the comment above

[2021-02-13 12:22] smaranjitghose commented on #517
Finish the two issues you are being assigned as per requirements, after that you can claim this

[2021-02-13 12:47] smaranjitghose commented on #470
Sure, finish off the issues already assigned to you. Then you can continue with this one as well

[2021-02-13 13:31] kumarhritik99 commented on #470
Hi I would like to contribute to this issue. Please assign it to me

[2021-02-13 13:47] Hritikkumar commented on #535
Hi, I would like to work on this issue. Kindly assign it to me as well!

[2021-02-13 15:47] sherin527 commented on #536
Sir, I want to try this out, could you assign me this task also.

[2021-02-13 15:51] imvrinda commented on #516
I wanna do it

[2021-02-13 16:51] Abhijay007 commented on #536
ok @smaranjitghose sir I will try to improve this and try to work on a particular icon at a time.

[2021-02-13 16:53] Abhijay007 commented on #517
ok @smaranjitghose sir

[2021-02-13 20:23] gupta31 opened #555 "Copyright missing"
Copyright is missing in footer section of main page.

[2021-02-13 20:27] nishant3721 commented on #470
Hello sir, I would like to contribute in this. I have also created my portfolio website and I would love to work in the footer section as mention above. Please assign it to me!

[2021-02-13 20:38] gupta31 opened #556 "Skills/Archivements section missing in navbar"

[2021-02-13 22:05] smaranjitghose commented on #556
Currently, we do not have a dedicated page for achievements. If you wish, keeping in mind the color scheme and the theme of the current version of the website you can create one

[2021-02-13 22:06] smaranjitghose commented on #555
This is an open-source project with an aim that anyone can use and modify freely so having a copyright is not required at the moment. We do have a license on the project repo though

[2021-02-13 22:06] #555 closed

[2021-02-13 22:10] smaranjitghose commented on #516
Assigned for 5 days

[2021-02-13 22:12] smaranjitghose commented on #535
Let @jainh6148 try this for the next 3 days. Meanwhile, you can try out #520

[2021-02-13 22:13] smaranjitghose commented on #536
No offense to you @Abhijay007 brother. It was an honest suggestion w.r.t to ui/ux

[2021-02-13 22:13] smaranjitghose commented on #536
Assigned for 4 days

[2021-02-13 22:39] smaranjitghose opened #557 "Shift Codebase to NextJS[Home Page]"
Delete all the code in the nextjs branch, create a nextjs project and replicate the current home page

[2021-02-13 22:47] #478 closed

[2021-02-13 22:48] #510 closed

[2021-02-13 22:48] #513 closed

[2021-02-13 22:48] #511 closed

[2021-02-14 04:59] ashuvssut commented on #557
i want to work on this

[2021-02-14 08:23] Devenkapoor7303 commented on #557
can anyone work on this?or the assigner only

[2021-02-14 09:40] parthpandyappp commented on #470
@smaranjitghose What actually needs to be done? Can you please be more specific regarding this issue??

[2021-02-14 10:21] Abhijay007 commented on #536
@smaranjitghose sir I am done with Twitter SVG it looks like this. now

![twitter](https://user-images.githubusercontent.com/64387054/107873801-433e9480-6edb-11eb-9e59-d2b5bf0e34d1.gif)

but sir I am facing a problem now, that this Twitter SVG has a very big code.

![code](https://user-images.githubusercontent.com/64387054/107873839-83057c00-6edb-11eb-82c0-fd6c632c42bc.PNG)

now the problem I am f

[2021-02-14 10:22] Abhijay007 commented on #536
I am also done with the micro animation GitHub icon.

[2021-02-14 10:44] Abhijay007 commented on #536
github one:

![github-icon](https://user-images.githubusercontent.com/64387054/107874407-9581b480-6edf-11eb-8f5d-34772c4124bb.gif)

[2021-02-14 19:01] anushbhatia commented on #536
Keep the wings of the twitter bird blue don't make it mix of white and blue

[2021-02-14 19:05] Abhijay007 commented on #536
Ok sir I will keep those wings blue

On Mon, 15 Feb 2021, 00:32 Anush Bhatia, <notifications@github.com> wrote:

[2021-02-15 03:51] Abhijay007 commented on #536
![bluw-wings](https://user-images.githubusercontent.com/64387054/107903152-741bd980-6f6e-11eb-8660-8e9be077648a.gif)

done with the changes @smaranjitghose and @anushbhatia Sir.

can I  open a PR for these two now?

[2021-02-15 14:09] gupta31 commented on #556
I have added now skills page and about me section.

[2021-02-15 17:36] smaranjitghose commented on #536
Definitely brother! Go ahead and give a PR.

Try to incorporate it in the footer icons too

[2021-02-15 17:56] smaranjitghose commented on #557
You can work after being assigned

[2021-02-15 18:45] Abhijay007 commented on #536
@smaranjitghose Sir , footer section is also done:

![footer](https://user-images.githubusercontent.com/64387054/107983519-f39bbe00-6feb-11eb-904e-c88f3aef9127.gif)

[2021-02-15 20:29] smaranjitghose commented on #536
Fantastic give a PR please

[2021-02-15 20:30] smaranjitghose commented on #536
Also, I hope that this was a nice learning experience for your @Abhijay007. @anushbhatia and I can be strict at times but the main motive is to ensure that all you get to learn something more useful.😊

[2021-02-15 20:31] smaranjitghose commented on #536
You can take the dribble and medium icons if you wish

[2021-02-15 21:26] Abhijay007 commented on #536
No problem 😄 @smaranjitghose sir I learned a lot about SVG manipulation using CSS during this PR. And I know as a mentor you always want contributors to learn and give their best 😊.

if you don't point out my mistakes then maybe I am not able to do this task. It was a great learning experience.

[2021-02-16 05:46] Moonlightsculptor88 commented on #487
Can I work on this issue?

[2021-02-16 05:56] m-code12 commented on #523
@smaranjitghose Can I take this up, if no one is working on it ?

[2021-02-16 07:55] kmryashasvi opened #561 "Removing GIFs from README file"
As we know that,
A readme file lets you know about the repo as well as attracting contributors to contribute in it.
But, readme file included in your repo is loosing grip in both of the roles, because of the GIFs mentioned in it,
They create an informal image of your repo, which is not good,
In order to maintain formality of your readme file,
Let me remove the gifs and insert some catching sentenc

[2021-02-16 09:20] smaranjitghose commented on #523
Sure

[2021-02-16 09:35] smaranjitghose commented on #561
The entire purpose of gifs/memes in today's presentation is to catch attention. Unless there is any swearing or inappropriate stuff, going formal with project descriptions(other than documentation itself) is a fool's array for me. Ofcourse we can go with illustrations and clips but that is too much time consuming w.r.t README.

And please refrain from words like "image of the repo",  "loosing grip

[2021-02-16 09:56] #561 closed

[2021-02-16 09:57] smaranjitghose commented on #557
@ashuvssut I and @anushbhatia have added a basic boilerplate for the nextapp's home page. Check it out and continue accordingly

[2021-02-16 10:05] smaranjitghose commented on #536
@Abhijay007 you can continue with the LinkedIN (and additional Instagram Icon, keep the original colors) using [this](https://useanimations.com/) reference.   Do a CTRL+F on the reference website to look for the desired animation.

@anushbhatia  could you please give some suggestions for dribble(perhaps dribbling across the horizontal plane to distinguish it from LinkedIn), google scholar(perhaps

[2021-02-16 10:09] Abhijay007 commented on #536
ok @smaranjitghose sir

[2021-02-16 11:37] jainh6148 commented on #539
Hi Smaranjitghose, I have resolved the issue but while committing the changes I undo the commits and now it's showing this  (screenshot I have attached here). Can you please help me resolve this issue?
![Screenshot (227)](https://user-images.githubusercontent.com/77544921/108058058-7a4aac80-7079-11eb-97e5-d482cf1d37b5.png)

[2021-02-16 14:03] smaranjitghose commented on #539
- Set an upstream to my repo
[code]
- Pull the changes from my master
[code]
- Check out a new branch from master say x
[code]
- Now merge the x branch and the branch you have worked on
[code]
- You might some conflicts on style.css or main.js files in which you have been working on. You would be aware of which change to keep. The rest of the merging would take recursively
- push the changes to gi

[2021-02-16 14:24] smaranjitghose opened #562 "Shift Codebase to NextJS: Project Page"
- Work with the `nextjs` branch. Do not disturb the `master` branch please
- Footer and Navbar should be called dynamically (for now don't do anything about it. It is a part of another issue)

[2021-02-16 14:26] smaranjitghose opened #563 "Shift Codebase to NextJS: Education Page"
- Work with the `nextjs` branch. Do not disturb the `master` branch please
- Footer and Navbar should be called dynamically (for now don't do anything about it. It is a part of another issue)

[2021-02-16 14:27] smaranjitghose opened #564 "Shift Codebase to NextJS: Research Page"
- Work with the `nextjs` branch. Do not disturb the `master` branch please
- Footer and Navbar should be called dynamically (for now don't do anything about it. It is a part of another issue)

[2021-02-16 14:29] smaranjitghose opened #565 "Shift Codebase to NEXTJS: Expereince Page"
- Work with the `nextjs` branch. Do not disturb the `master` branch, please.
- Footer and Navbar should be called dynamically (for now don't do anything about it. It is a part of another issue)

[2021-02-16 15:25] Abhijay007 commented on #536
done with Instagram icon:

![instagram1](https://user-images.githubusercontent.com/64387054/108083192-d53fcc00-7098-11eb-9d07-5a85e1e73992.gif)

![instagram2](https://user-images.githubusercontent.com/64387054/108083222-dec93400-7098-11eb-98ca-27c669c481d6.gif)

@smaranjitghose sir out of these two which one you prefer more? should I include that outer ring?

[2021-02-16 16:02] smaranjitghose commented on #536
The first one is a sure no!

As I had pointed out earlier, boundaries around social media icons don't look good

For the second one, make sure the motion starts with something(I mean it should not become blank on hover and then appear)

Something I can suggest is not doing much with the square(perhaps lifting it a bit) and filling the internal circle with pink to give an effect similar to the shut

[2021-02-16 16:06] ashuvssut commented on #562
I want to work on this

[2021-02-16 16:06] ashuvssut commented on #563
i want to work on this

[2021-02-16 16:06] ashuvssut commented on #564
i want to work on this

[2021-02-16 16:08] smaranjitghose commented on #536
For the LinkedIn one take direct reference

Check out the icon of Google Scholar and Kaggle (and use the Facebook reference for them)

[2021-02-16 16:43] Abhijay007 commented on #536
Ok sir

On Tue, 16 Feb 2021, 21:38 Smaranjit Ghose, <notifications@github.com>
wrote:

[2021-02-16 17:16] smaranjitghose commented on #563
Assigned for 3 days. For now, just leave the navbar, header and footer. @anushbhatia and I are working on it

[2021-02-16 19:12] smaranjitghose commented on #564
Finish off the other issue first and then recomment

[2021-02-16 19:12] #556 closed

[2021-02-16 19:14] smaranjitghose opened #567 "Animate the SVG on the top of Education Page"
- You are welcome to incorporate new SVGs. Feel free to check the illustrations in the custom illustrations folder

- Try to come with something creative

[Sample](https://codepen.io/brunoalves/pen/NWGRxKR)

- Do not just move random components!

- For the animation itself, either write the svg animation from scratch or use [anime.js](https://animejs.com/documentation/#svgAttr)

[2021-02-16 19:16] smaranjitghose opened #568 "Animate the SVG at the top of the Experience Page"
You are welcome to incorporate new SVGs. Feel free to check the illustrations in the custom illustrations folder

[2021-02-16 19:29] smaranjitghose opened #569 "Replace the mentorship section on Experience Page with a carousel"
### Some Specifications:

- Make the subheading `Community Involvement` from `Mentorship`
- Do not copy-paste the Boostrap carousel directly. Make a custom carousel appropriate to the theme
- Automatically change the image after 3 seconds *unless hovered*
- [Sample Reference](https://srmkzilla.net/index.html). Do not replicate the exact thing. Keep in mind we have to display logos or pictures whic

[2021-02-16 19:38] smaranjitghose opened #570 "Headings and Subheadings UI Update"
## Requirements:

[Key Reference](https://girlscriptboilerplate.netlify.app/index.html)

- Keeping in mind the color scheme (shades of blue and black) update all the headings in the website
- **Refrain from using inline or internal CSS as much as possible**
- Smartly split the headings into an even number of words ( I can help but this is something I expect anyone with basic creative to do very ea

[2021-02-16 19:45] smaranjitghose opened #571 "Change Volunteership Cards in the Experience Page"
## Certain Requirements

- [Reference](https://girlscriptboilerplate.netlify.app/achievements.html). Follow the bottommost cards
- Take care of the color scheme (shades of black and blue)
- **Do not** add `Read More`  or the arrow following at the bottom
- Use the already available images and text currently used for the same
- **MAKE SURE THE CARDS ARE MOBILE RESPONSIVE**
- Try to ensure that all

[2021-02-16 22:08] smaranjitghose opened #572 "Event/Talk Throwback page"

[2021-02-16 22:30] smaranjitghose opened #573 "Mobile View Nav Bar Animation"
[Reference](https://www.hellomonday.com/)

- **We are looking for just the inverse color splash as shown in the reference above**
- The Nav Bar orientation should not be changed (our effect should take place from top to bottom rather than right to left as seen in the above reference)
- The Hamburger Animation should not be changed
- The Nav Bar Text should not be changed

[2021-02-16 22:32] smaranjitghose opened #574 "Animate the SVG at the top of Project Page"
## Sample:
![sample](https://user-images.githubusercontent.com/46641503/108130137-27064780-70d5-11eb-920b-b1d398d9cb50.gif)

*Credits lie with [original creators](https://www.hellomonday.com/about)*

## Specifications

- Please do not use the above reference directly. It is given for giving a clear idea of what can be done

- We expect you to modify some open source illustration to achieve this

-

[2021-02-16 22:47] smaranjitghose opened #575 "Bye Bye FontAwesome. Hello Featheicons"
- **Carefully** replace all font-awesome icons with [feather icons](https://useanimations.com/)
- Delete any import code in the header
-  Double check that you don't mess any functionality of website before giving the PR
- Before downloading the feather icons, choose the color of the icon using hexcode wisely ( For example, a pink twitter icon and a red linkedin icon would be really weird)

[2021-02-16 22:52] smaranjitghose opened #576 "Dynamic Favicon"
**Your creativity is the upper limit here**.
- However, do not change the favicon for every mouse click 🙏.
- 404 page can have a different favicon
- Dark mode and light mode's can have different favicons

References:

- [GeeksforGeeks article](https://www.geeksforgeeks.org/how-to-change-favicon-dynamically/)
- [Medium Blog](https://medium.com/@alperen.talaslioglu/building-dynamic-favicon-with-java

[2021-02-16 22:57] smaranjitghose opened #577 "Dynamic Page Title"
[Reference](https://medium.com/@alperen.talaslioglu/changing-page-title-dynamically-when-user-changes-tab-5d372554377c)

The above reference is well detailed. Please go through it carefully if you wish to contribute to this.

[2021-02-16 23:00] #522 closed

[2021-02-16 23:06] smaranjitghose commented on #536
@Abhijay007 checkout [AnimeJS](https://animejs.com/documentation/#svgAttr) and let me know if it is relevant to your task in terms of better readability and ease of use

[2021-02-16 23:12] smaranjitghose commented on #535
@jainh6148, since you are working on the other issue, I am extending the deadline for this one by 3 more days

[2021-02-16 23:15] smaranjitghose opened #578 "Bid Adieu Materialize"
- *Carefully* remove all materialize related code from the project (including the unused calls in the HTML files and the js and css files corresponding to the materialize)
- Double-check that you don't mess up the current working of the project before giving a PR

[2021-02-16 23:27] smaranjitghose opened #579 "Project Page Card UI Update"
[Reference](https://www.lahautesociete.com/etudes-de-cas/)

- For our case, on hover, the GitHub and preview icons should appear from the bottom. The rest of the animation would pretty much work in a similar way as given in the reference
- Ignore the background animation in the reference