[2021-02-17 04:11] Abhijay007 commented on #536
ok @smaranjitghose sir I will try to convert all SVG in this format after I am done with all the icons micro animations.

[2021-02-17 04:19] Abhijay007 commented on #536
sir @smaranjitghose sir out of these two which one you prefer more?

![instagram1](https://user-images.githubusercontent.com/64387054/108155484-f938f700-7104-11eb-90b6-9227db69bfc4.gif)

![insta2](https://user-images.githubusercontent.com/64387054/108155533-140b6b80-7105-11eb-9ea6-5ac8e1a6fe17.gif)

do I need to change something?

[2021-02-17 09:52] Abhijay007 commented on #536
LinkedIn animation is also done, sir:

![linkedin1](https://user-images.githubusercontent.com/64387054/108186790-d114bc80-7133-11eb-9267-3f77cec36b42.gif)

![linkedin2](https://user-images.githubusercontent.com/64387054/108186809-d4a84380-7133-11eb-839e-ad43efba5aee.gif)

@smaranjitghose sir out of these two which one you want me to implement?

[2021-02-17 10:25] ashuvssut commented on #557
I was having trouble with particle.js and that animated-text. I managed to implement both of them but particles.js doesnt seem to be working the right way

Observe the particles behavior in the gif below. The particles do respond to mouse movement but it looks like the particles cant calculate the mouse position accurately.
![chrome-capture](https://user-images.githubusercontent.com/60546840/10819

[2021-02-17 10:50] achalesh27022003 commented on #536
@Abhijay007  you are doing good work bro.
I just go

[2021-02-17 10:51] achalesh27022003 commented on #536
got twitter and linked in animation though😅

[2021-02-17 11:51] smaranjitghose commented on #536
LinkedIn go for the second one

Change it in footer too

[2021-02-17 11:52] anushbhatia commented on #536
Don't fill the internal colour for it. Keep the logo for Instagram is same. On hover make that click animation. As soon as animation is over keep the logo same.

[2021-02-17 12:07] Abhijay007 commented on #536
internal color for Linkedin icon?

[2021-02-17 12:13] Abhijay007 commented on #536
@smaranjitghose , @anushbhatia sir done with the changes.

![animations](https://user-images.githubusercontent.com/64387054/108202663-7be2a600-7147-11eb-9353-12c575ce6c8c.gif)

[2021-02-17 12:52] Abhijay007 commented on #536
@anushbhatia @smaranjitghose sir done with all the changes take a look

![changes](https://user-images.githubusercontent.com/64387054/108206804-ecd88c80-714c-11eb-9d59-36811336429d.gif)

[2021-02-17 12:55] kanishkaa24 commented on #570
Hey! Can I work on this ?

[2021-02-17 12:56] kanishkaa24 commented on #575
Hey! Can I work on this?

[2021-02-17 13:37] ShivangiRai1310 commented on #577
Hii, would like to work on this issue under SWOC and DWOC.

[2021-02-17 14:08] kanishkaa24 commented on #575
Do you need the icons in svg format?

[2021-02-17 15:17] Abhijay007 commented on #565
sir, I want to work on this

[2021-02-17 17:21] Priyanshu-official commented on #579
@smaranjitghose I would like to work on it

[2021-02-17 17:44] sakshi300699 commented on #571
Hey! Would Like to work on this issue.

[2021-02-17 18:36] parthpandyappp commented on #572
Hey! Can you please assign me this one?

[2021-02-17 18:42] sakshi300699 commented on #571
@smaranjitghose Does only the UI of the cards needs to be changed?

[2021-02-17 19:28] smaranjitghose commented on #575
Etiher take those from @anushbhatia or make it in XD/Figma

[2021-02-17 19:33] smaranjitghose commented on #536
Pitch Perfect!

For the instagram, one last tweak would be if we could continuously have the shutter closing and opening with a small interval

[2021-02-17 19:39] Abhijay007 commented on #536
sir, do you mean without hover?
means automated?

[2021-02-18 04:39] anushbhatia commented on #571
Yes

[2021-02-18 05:11] souravseal99 commented on #578
Hi @smaranjitghose, I want to work on this.

[2021-02-18 07:32] Abhijay007 commented on #536
@smaranjitghose sir done with the changes take a look:

![insta](https://user-images.githubusercontent.com/64387054/108320939-78076000-71e9-11eb-8a31-6060ca52a052.gif)

sir, can I open a PR for these two now?

[2021-02-18 07:43] Priyanshu-official commented on #579
@smaranjitghose let me Know how much time I have? to complete this task

[2021-02-18 08:12] sakshi300699 commented on #571
Would like to work on this under Dwoc

[2021-02-18 11:37] achalesh27022003 opened #583 "Bottom to Top Button"
Sometimes we got tired of scrolling up so long so there is feature I want to add @smaranjitghose  sir i.e  bottom to top button.
[Reference](https://www.awesomescreenshot.com/video/2798113?key=4ed189d87eee60c97e4614c5cc8207b6)
![iss1](https://user-images.githubusercontent.com/57138750/108351542-ab5ae680-720b-11eb-8657-e848338128aa.png)
Please assign me this issue under DWoC.

[2021-02-18 14:26] ashuvssut commented on #564
I want to work on this

[2021-02-18 17:08] smaranjitghose commented on #536
Yes, it's perfect!

Replace the medium icon in the footer with Instagram.

Comment elaborately too!

[2021-02-18 17:08] smaranjitghose commented on #578
Assigned for 2 days

[2021-02-18 17:09] smaranjitghose commented on #579
Assigned for 5 days. Can be extended based upon your PR

[2021-02-18 17:10] smaranjitghose commented on #572
Assigned for 4 days

[2021-02-18 17:10] smaranjitghose commented on #570
Assigned for 3 days

[2021-02-18 17:15] smaranjitghose commented on #571
Assigned for 4 days

[2021-02-18 18:10] Abhijay007 commented on #536
@smaranjitghose sir done with the changes take a look

![icons](https://user-images.githubusercontent.com/64387054/108401426-571f2900-7242-11eb-83d0-13bcd6365eb2.gif)

can I open a PR for these two for now?

[2021-02-18 19:09] kanishkaa24 commented on #570
https://user-images.githubusercontent.com/71253790/108408273-dd3f6d80-724a-11eb-9fe7-1c371c33942c.mp4

Do you like this?

[2021-02-19 04:27] himanshu007-creator commented on #576
sir i would love to work on this issue, But where i have to upload my code. It just have to be a page with switching button or o have to use this favicon in an existing page here?

[2021-02-19 11:41] achalesh27022003 opened #586 "Animation in Navigation Bar"
Nav bar itself is another important segment of any website. Nav bar should have some hover animation so that it makes user attractive. I want to add this feature in this manner under **DWoC**  @smaranjitghose  sir.

https://user-images.githubusercontent.com/57138750/108500189-6602eb80-72d5-11eb-9163-b7978e1ceb31.mp4
or
[Reference](https://www.awesomescreenshot.com/video/2812993?key=9930d72e074427b

[2021-02-19 11:56] achalesh27022003 commented on #470
@smaranjitghose Sir I can improve responsive footer with input animation in contact form and also pulsating heart animation and making that quote in italic looks nice.

https://user-images.githubusercontent.com/57138750/108501299-1c1b0500-72d7-11eb-8eea-3ce0da572f60.mp4
or
[reference](https://www.awesomescreenshot.com/video/2812993?key=9930d72e074427b4a5339878e9e5a498)

Please assign me this issue

[2021-02-19 15:29] Hritikkumar commented on #535
Hi @smaranjitghose , I would like to know that what colors you want in the dark theme? Also I would like to request you to give me one or two more days as I was busy in my college work.

[2021-02-19 15:57] sakshikhachane commented on #568
@smaranjitghose I would like to work on this issue. Please assign me this issue.

[2021-02-19 17:17] jatinjain001 commented on #570
I want to work on this issue , Please let me know if it is available

[2021-02-19 17:20] jatinjain001 commented on #577
I would like to contribute in this please assign it to me

[2021-02-19 17:22] jatinjain001 commented on #539
I want to take this issue Kindly assign it to me and please add the tag  DWOC too

[2021-02-19 17:58] Sloth-Panda commented on #577
Can I work on this?

[2021-02-19 18:02] Sloth-Panda commented on #517
Can I get to work on this?

[2021-02-19 18:03] Sloth-Panda commented on #579
Can I too work on this

[2021-02-19 18:06] Sloth-Panda commented on #571
Can I work on this

[2021-02-19 18:30] m-code12 commented on #523
@smaranjitghose I am also a Mwoc and CrossWoc participant, could you add those labels?You can remove the Swoc label.

[2021-02-20 16:10] Abhijay007 commented on #536
@smaranjitghose sir can you please share some references for the Kaggle icon, I have something in mind for the dribble icon but don't know about Kaggle much.

[2021-02-20 16:37] jatinjain001 commented on #579
Hello Project manager , I am here to say that Please add the tag on my PR of DWOC here is the [https://github.com/smaranjitghose/awesome-portfolio-websites/pull/552](PR LINK) so that my contribution will count towards DWOC and my point will add on leaderboard. THis PR is 7 days ago so that My rank will push and points willl count

[2021-02-20 16:47] jatinjain001 commented on #579
Cause My points is not recieved yet for this PR ..

[2021-02-20 18:06] Priyanshu-official commented on #579
@smaranjitghose Sir I divided this task into sub-task
1:  For our case, on hover, the **GitHub and preview icons should appear from the bottom**.

I solve this issue pls Check is **Right or Not**

https://user-images.githubusercontent.com/55912091/108604341-5073eb80-73d3-11eb-8f64-f0f4c66cacf2.mp4

 this video is converted  that's why the last part was not proper  **It is responsive no issue**

An

[2021-02-20 20:36] smaranjitghose commented on #570
Please have a look at the issue description

[2021-02-20 20:37] smaranjitghose commented on #570
Yes, go through the PR description carefully and then give a PR

[2021-02-20 20:38] smaranjitghose commented on #535
@anushbhatia could you provide the colour palette

[2021-02-20 20:56] smaranjitghose commented on #568
Assigned for 3 days

[2021-02-20 20:57] smaranjitghose commented on #517
Assigned for 3 days

[2021-02-20 21:02] smaranjitghose commented on #523
Sure

[2021-02-20 21:03] smaranjitghose commented on #536
Do it similar to the Facebook micro animation reference I gave above

[2021-02-20 21:04] #539 closed

[2021-02-20 21:07] smaranjitghose commented on #571
No, it is assigned for @sakshi300699 for now

[2021-02-20 21:12] smaranjitghose commented on #586
We already have an on-hover animation for nav bar

[2021-02-20 21:12] #586 closed

[2021-02-20 21:13] #470 closed

[2021-02-20 21:16] smaranjitghose commented on #579
Cool.
Give a PR for this, then we can move to the UI enhancement

[2021-02-20 21:21] smaranjitghose commented on #576
This is for the entire website

[2021-02-20 21:29] smaranjitghose commented on #583
We would have a chatbot integration soon, hence this is not required for now

[2021-02-20 21:29] #583 closed

[2021-02-21 00:15] achalesh27022003 commented on #470
@smaranjitghose sir is there any problem with it?

[2021-02-21 00:25] achalesh27022003 commented on #579
Is this issue still open?

[2021-02-21 07:10] ayeshaqaisar commented on #569
I want to work on this. SWoC2021

[2021-02-21 14:16] Abhijay007 commented on #536
@smaranjitghose @anushbhatia sir done with the dribble animation:
![dribbble](https://user-images.githubusercontent.com/64387054/108627781-52928480-747d-11eb-952a-4f93cdb13f02.gif)

do you want to me change something?

[2021-02-21 15:49] jatinjain001 commented on #577
Why should dynamic change in title even it is already changing title when we navigate through different pages, and there is not any type of dynamic behaviour in this website.. Please explain it to me.

[2021-02-21 16:49] Abhijay007 commented on #521
can I work on this?

[2021-02-21 18:27] Priyanshu-official commented on #579
@smaranjitghose Ok

[2021-02-21 21:42] Abhijay007 commented on #536
@smaranjitghose @anushbhatia sir code forces also done:

![codeforces](https://user-images.githubusercontent.com/64387054/108639646-a4f29600-74bb-11eb-8882-56cea5954c97.gif)

can I open a PR for these two for now?

[2021-02-21 21:58] Abhijay007 commented on #574
can I work on this?

[2021-02-22 13:32] Abhijay007 commented on #521
@smaranjitghose sir do you want something like this?

![nav](https://user-images.githubusercontent.com/64387054/108715007-48858a00-7540-11eb-889c-933234adc357.PNG)

I will animate this and use any other SVG if you want.

[2021-02-22 22:31] anushbhatia commented on #575
`<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80.51 138.05"><defs><style>.cls-1,.cls-3,.cls-4{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3,.cls-4{stroke:#000;stroke-width:4px;}.cls-3{stroke-miterlimit:10;}.cls-4{stroke-linecap:round;stroke-linejoin:round;}</style><clipPath id="clip-path" transform="translate

[2021-02-23 04:58] Abhijay007 commented on #567
I want to work on this

[2021-02-23 11:00] kanishkaa24 commented on #575
This is only for kaggle, there are no logos for dribble and medium as well.

[2021-02-23 19:07] #535 closed

[2021-02-23 19:08] smaranjitghose opened #597 "Dark Mode Toggle Switch"
[Reference](https://codepen.io/ashleynolan/pen/wBppKz)

[2021-02-23 19:09] Abhijay007 commented on #574
@smaranjitghose @anushbhatia sir can we implement something like [this](https://codepen.io/khadkamhn/pen/OVwONo). we can edit those social links to major projects.

what are your thought on this?

it is just a suggestion 😅

[2021-02-23 19:16] #578 closed

[2021-02-23 19:23] Hritikkumar commented on #597
Hi @smaranjitghose, I was working on this issue and i asked you for the color pallette but I didn't get the color pallette so I was waiting for that. Please reassign this to me and send me the color pallette. I will complete it in one or two day.

[2021-02-23 19:34] anushbhatia opened #598 "Project Card bug"
Currently, the GitHub and desktop icons are hidden in this so we need to resolve this on click they should be visible.
https://user-images.githubusercontent.com/40017559/108893462-1f93f080-7637-11eb-9dca-bb2233bb66b9.png

[2021-02-23 19:35] smaranjitghose commented on #575
Try to make it yourself. If @anushbhatia provides all of the logos, then I should assign him for the issue.

[2021-02-23 19:44] smaranjitghose commented on #569
Assigned for 3 days

[2021-02-23 19:46] anushbhatia commented on #574
This won't look good as this is not appealing and we can do a flip animation as we are going for simple and minor animation just like the one attached above. this animation will be too much

[2021-02-23 19:49] Abhijay007 commented on #574
ok sir I will try to implement something else.
thanks for your review 😄

[2021-02-23 19:53] smaranjitghose commented on #521
Rotate the wheels and paddles

[2021-02-23 19:54] anushbhatia commented on #597
https://color.adobe.com/Dark-UI-color-theme-7388196/

[2021-02-23 20:06] smaranjitghose commented on #536
Definitely brother. Please give a PR.

Proceed with medium as per their official animation. Make kaggle and google scholar as per the facebook animation in the reference.

[2021-02-23 20:07] Abhijay007 commented on #521
yes @smaranjitghose sir will do that 👍

[2021-02-23 20:10] Abhijay007 commented on #536
ok @smaranjitghose sir I will open a PR for these two now and try to complete medium, kaggel, and google scholar by tomorrow

[2021-02-23 20:54] Abhijay007 commented on #598
can I work on this ?

[2021-02-23 21:58] Abhijay007 commented on #521
![bike animation](https://user-images.githubusercontent.com/64387054/108913559-2418d300-7650-11eb-8fe6-de24b855a2dc.gif)

@smaranjitghose sir done with the changes have a look.

do I need to change something, can I open PR for this?

[2021-02-23 22:05] smaranjitghose commented on #521
Give a PR

[2021-02-23 22:53] Abhijay007 commented on #521
Ok sir

On Wed, 24 Feb 2021, 03:36 Smaranjit Ghose, <notifications@github.com>
wrote:

[2021-02-24 01:55] smaranjitghose commented on #521
Give a PR

[2021-02-24 03:44] Harshal0902 commented on #576
@anushbhatia can you please assign this issue to me?
I would like to work on this issue.

[2021-02-24 04:44] omrajsharma commented on #598
I would like to work on this

[2021-02-24 04:48] omrajsharma commented on #576
I would like to work on this issue. @anushbhatia can you please assign this issue to me.

[2021-02-24 04:50] omrajsharma commented on #577
can i work on this issue.

[2021-02-24 04:51] jatinjain001 commented on #577
Okay.

[2021-02-24 15:25] Abhijay007 commented on #598
@smaranjitghose @anushbhatia sir, done with the changes.

![PR-projects icons](https://user-images.githubusercontent.com/64387054/109022322-b917dc80-76e1-11eb-9059-c1a325a057fe.gif).

works fine for all screen sizes.

can I open a PR for this? do I need to change something?

sir but can you please review these PRs (#599  & #600 ) once because if I try to open a PR now then my previous commits will

[2021-02-24 22:39] smaranjitghose commented on #598
@Abhijay007  brother, the github and preview buttons should be (atleast logically a line) below the space where the tags end and not in the same line

[2021-02-24 22:40] smaranjitghose commented on #598
Also, in mobile view, the onhover effect is really weird.

There is too much space between the heading and the tags

[2021-02-24 22:45] smaranjitghose commented on #536
Cool

[2021-02-25 05:21] ayeshaqaisar commented on #569
![Screenshot (353)](https://user-images.githubusercontent.com/56070872/109107045-0d10d880-7757-11eb-85f7-f5c54ba0f535.png)
 In the Mentorship section, there are only two cards right now.
For Carousel, we'll need more than 3 cards. So, I'm adding those.

[2021-02-25 06:18] jatinjain001 commented on #579
I would like to work on it for card updating

[2021-02-25 07:56] Hritikkumar commented on #597
Hi @anushbhatia , I have some questions to discuss with you regarding the dark mode.

[2021-02-25 14:00] smaranjitghose commented on #597
Meanwhile could you implement the button itself. I believe in modularzing the tasks for efficiency. Doing the entire dark mode in a single go would take multiple iterations of feedback loop

[2021-02-25 15:03] smaranjitghose commented on #569
Sure. Go ahead. Have around 8 cards please

[2021-02-25 16:43] Hritikkumar commented on #597
Okay ! I have implemented the button and some styling according to color palette provided by you. Please have a look on that. Please let me know the improvements.

[2021-02-25 17:02] #577 closed

[2021-02-25 18:56] Harshal0902 commented on #576
There should be Dynamic Favicon for 404 page and Dark mode and light mode page right?

[2021-02-25 21:44] Abhijay007 commented on #598
@smaranjitghose @anushbhatia  sir done with the changes:

***desktop-view***
![desktop-view](https://user-images.githubusercontent.com/64387054/109222940-f5c9fd80-77df-11eb-90a2-7b3cfaae98f2.gif)

***mobile-view***
![mobile-view](https://user-images.githubusercontent.com/64387054/109223494-a6380180-77e0-11eb-8035-ec4079a4db17.gif)

do I need to change something?

can I open a PR for this?

[2021-02-26 09:13] Abhijay007 commented on #567
@smaranjitghose @anushbhatia sir can I implement something like [this](https://codepen.io/konoanimation/pen/VRQvxP) for the education page I will change the color schema accordingly.

[2021-02-26 09:30] Abhijay007 commented on #567
checkout [this](https://codepen.io/JoseRosario/pen/wpxGeE) one also

[2021-02-26 10:39] dollyjain51099 commented on #576
I would like to work on this issue, @smaranjitghose kindly assign it to me!

[2021-02-26 10:40] Aniket118 commented on #576
I would would like to work on this issue, @smaranjitghose  can assign this to me!

[2021-02-26 10:48] dollyjain51099 commented on #575
I would like to work on this issue, @smaranjitghose kindly assign it to me!

[2021-02-26 10:49] Aniket118 commented on #575
I would like to work on this issue @smaranjitghose

[2021-02-26 11:59] Abhijay007 commented on #567
@smaranjitghose @anushbhatia sir can use something like [this](https://codepen.io/uiswarup/pen/MWWNOjo) in this project as we have different pages in this template projects, education, experience, etc.

[2021-02-26 15:46] Abhijay007 commented on #574
@smaranjitghose @anushbhatia sir can implement something like [this](https://codepen.io/antipasjiajia/pen/QVQaYK).
I will change the background and color scheme according to the current(on the website) illustration.

[2021-02-27 19:19] anushbhatia commented on #574
Yes, go ahead remove the rating thing from it.

[2021-02-27 19:32] anushbhatia commented on #598
Move it on the bottom right near the tile and rest everything is fine. Give the PR ASAP.

[2021-02-27 19:33] Abhijay007 commented on #598
Ok sir

On Sun, 28 Feb 2021, 01:02 Anush Bhatia, <notifications@github.com> wrote:

[2021-02-27 19:42] Abhijay007 commented on #567
@smaranjitghose @anushbhatia sir can I implement [this](https://codepen.io/uiswarup/pen/MWWNOjo) on the education page and [this](https://codepen.io/konoanimation/pen/VRQvxP) one on the research page? I will change the color scheme accordingly

[2021-02-27 19:49] anushbhatia commented on #597
Message me on discord or slack regarding this.

[2021-02-27 19:57] anushbhatia commented on #567
Make it look like a college student instead of a school kid

[2021-02-27 19:59] anushbhatia commented on #567
You can use this as an alternative in education page also prevent moving leaves present at the bottom that's too much.

[2021-02-27 20:00] anushbhatia commented on #567
If you are using undraw everywhere use that in all pages don't mix and match different micro animations

[2021-02-27 20:00] anushbhatia commented on #567
Keep the beard black we are not that old.

[2021-02-27 20:01] Abhijay007 commented on #567
😄 ok sir

[2021-02-27 20:02] anushbhatia commented on #575
Both of you can work together and do this. Or give individual pr's

[2021-02-27 20:03] #576 closed

[2021-02-27 20:14] anushbhatia opened #609 "Animation bug on Firefox"
![image](https://user-images.githubusercontent.com/40017559/109399037-44a19f80-7966-11eb-8485-42266089c5c6.png)
Due to unrendered javascript present in firefox, this bug is faced feel free to resolve this issue

[2021-02-27 20:43] Abhijay007 commented on #598
@smaranjitghose @anushbhatia sir done with the changes:

![project-bug](https://user-images.githubusercontent.com/64387054/109399730-93e9cf00-796a-11eb-8ff1-0a4b4cd408d5.gif)

[2021-02-27 21:16] smaranjitghose commented on #598
"Bottom-most" right

[2021-02-27 21:23] Abhijay007 commented on #598
Ok sir

On Sun, 28 Feb 2021, 02:47 Smaranjit Ghose, <notifications@github.com>
wrote:

[2021-02-27 22:13] Abhijay007 commented on #598
@smaranjitghose @anushbhatia  sir done with the changes sir

![project-bug-changes](https://user-images.githubusercontent.com/64387054/109401815-e29d6600-7976-11eb-9764-f4fa0ab60180.gif)

is this looks fine now? do I need to change something?

can I open a PR now?

[2021-02-27 23:59] smaranjitghose commented on #598
Yes

[2021-02-28 00:15] Abhijay007 commented on #598
Ok sir

On Sun, 28 Feb 2021, 05:29 Smaranjit Ghose, <notifications@github.com>
wrote:

[2021-02-28 01:09] #598 closed

[2021-02-28 01:26] Abhijay007 commented on #567
@smaranjitghose @anushbhatia sir done with the SVG animation for the education page have a look:

![education page (2)](https://user-images.githubusercontent.com/64387054/109405011-ee4a5600-7991-11eb-90e5-30cc59c0bdee.gif)

can I open a PR for this?

[2021-02-28 02:10] smaranjitghose commented on #567
Yes, please

[2021-02-28 02:15] smaranjitghose commented on #536
@Abhijay007
Since today is the last day of SWOC, try to wrap this up.

### Once more suggestion:

In a practical scenario, no one will ever use all the micronanimations, so you can keep the css intact in the home.css and style.css

and in the html file comment out the code and add additional code like

[code]

Additionally, in the footer try to keep LinkedIn, GitHub, Kaggle, Twitter

[2021-02-28 02:16] #521 closed

[2021-02-28 02:16] #517 closed

[2021-02-28 02:16] smaranjitghose opened #612 "Custom Pre-Loader"
Combine the following

- [Reference 1](https://codepen.io/arkwis/pen/chnop)
- [Reference 2](https://codepen.io/Maskedman99/pen/YzPvrgN)

^^ For reference 2, instead of the nucleus at the center, try to have a brain outline so that we can make the animation depict a neural network [OPTIONAL}

- Follow the color palette
- The text should be "John Doe"
- Document the code clearly so that anyone can c

[2021-02-28 02:18] smaranjitghose commented on #564
@ashuvssut Can you give me an update on the NEXTJS branch?

Since today is the last day for SWOC, if you wish you can raise multiple PRs for transitioning the current website into next

[2021-02-28 02:32] Abhijay007 commented on #536
@smaranjitghose sir I will try my best.

[2021-02-28 02:33] Abhijay007 commented on #536
ok sir I will comment out code like this.

[2021-02-28 02:46] smaranjitghose commented on #575
@Aniket118 Assigned for 1 day. After that, @dollyjain51099 can take over.

This is a fairly simple task of removing unused header codes and substitute certain icons

[2021-02-28 03:00] smaranjitghose commented on #567
This issue is resolved. @Abhijay007 if you are continuing with the other micronanimations (for experience, project and research) do comment on the respective issues as well before going ahead with a PR.

And nice work man!😍

[2021-02-28 03:00] #567 closed

[2021-02-28 03:24] smaranjitghose opened #614 "Nav Bar Text Alignment Bug"
Make sure the text in the navbar is equally spaced from both top and bottom

[2021-02-28 03:28] smaranjitghose opened #615 "Home Page Spacing Bug (responsivness)"
## Expected Behaviour for all screens

![home_movb](https://user-images.githubusercontent.com/46641503/109406936-feb6fc80-79a2-11eb-8716-25cebfa664c9.png)

## Current Behaviour in Web View

![home_web](https://user-images.githubusercontent.com/46641503/109406941-0d051880-79a3-11eb-9833-0a64d13beaf7.png)

[2021-02-28 03:59] Abhijay007 commented on #567
ok sir I will soon present some micro animations for the research and project page and thanks a lot sir for your appreciation 😄

[2021-02-28 04:58] Abhijay007 commented on #574
@smaranjitghose @anushbhatia sir done with the SVG animation for the research page have a look:

![research-page](https://user-images.githubusercontent.com/64387054/109408417-9cb0c400-79af-11eb-822f-b3676b876224.gif)

can I open a PR for this?

[2021-02-28 05:19] Abhijay007 commented on #615
@smaranjitghose sir can I work on this

[2021-02-28 05:21] smaranjitghose commented on #574
Sure.

Put the comments too as suggested

[2021-02-28 05:22] smaranjitghose commented on #615
Yes

[2021-02-28 05:25] Abhijay007 commented on #574
sir do you mean comment like this

[code]

[2021-02-28 05:27] Abhijay007 commented on #574
or sir I will try to shift these SVG codebases on js files for all pages but for now can I make a pr with HTML and CSS format?

[2021-02-28 06:10] ashuvssut commented on #564
Sir, I am working on it... although I dont know If I can submit it today on not. If I manage to submit it by today then I will dm you on discord.

[2021-02-28 08:59] Abhijay007 commented on #574
@smaranjitghose @anushbhatia sir can I implement something like [this](https://codepen.io/konoanimation/pen/GeLPwx) on the project or experience page don't worry about background and color I will change them according to the website color scheme.

[2021-02-28 10:59] sanjay270899 commented on #565
@smaranjitghose I would Like to work on this.

[2021-02-28 11:11] Abhijay007 commented on #574
@smaranjitghose @anushbhatia sir, done with the SVG animation for the project page have a look:

![project-page](https://user-images.githubusercontent.com/64387054/109416352-afdd8700-79e3-11eb-8cc0-95ee3f58eac3.gif)

can I open a PR for this?

[2021-02-28 11:35] smaranjitghose commented on #574
Keep the color scheme of the sign animations constant. Rest looks fine

[2021-02-28 11:35] smaranjitghose commented on #574
Yes

[2021-02-28 11:37] Abhijay007 commented on #574
sir, can you please explain a bit in detail?

[2021-02-28 11:38] smaranjitghose commented on #565
Use the nextjs branch (it's a basic template as of now)

Split this into 3 PRs

1) Header, Footer
2) Navbar
3) Experience Page

[2021-02-28 11:39] smaranjitghose commented on #564
Just tag me or @anushbhatia on github. We will take care of the rest

[2021-02-28 11:40] Abhijay007 commented on #574
can I change that purple floating part to green?

[2021-02-28 11:41] sanjay270899 commented on #565
@smaranjitghose Should we use `module.scss` instead of `moduel.css`?

[2021-02-28 11:44] Abhijay007 commented on #574
![changes](https://user-images.githubusercontent.com/64387054/109417143-57f54f00-79e8-11eb-8a34-ae23f6c91cec.PNG)

like this?

[2021-02-28 11:45] Abhijay007 commented on #574
can I open a PR now?

[2021-02-28 11:46] smaranjitghose commented on #574
Make it in a different shade of purple as compared to the two people sitting

[2021-02-28 11:47] smaranjitghose commented on #565
Sure, but make sure you use it for all the components.

[2021-02-28 11:47] Abhijay007 commented on #574
ok sir

[2021-02-28 11:51] Abhijay007 commented on #574
![changes](https://user-images.githubusercontent.com/64387054/109417372-6728cc80-79e9-11eb-86cb-6edc94496f1e.PNG)

@smaranjitghose is it looking fine now?

[2021-02-28 11:52] smaranjitghose commented on #574
Yup

[2021-02-28 11:55] Abhijay007 commented on #574
@smaranjitghose sir can you merge this (#616) first or I make a separate branch for it?

[2021-02-28 11:57] smaranjitghose commented on #574
I will merge it in a while. Give me 5 min

[2021-02-28 11:58] Abhijay007 commented on #574
Ok sir

On Sun, 28 Feb 2021, 17:28 Smaranjit Ghose, <notifications@github.com>
wrote:

[2021-02-28 12:08] #614 closed

[2021-02-28 12:10] smaranjitghose commented on #565
@sanjay270899 one more thing, try to make sure that even for the nextjs app we can load the data for the cards easily from a JSON like we are doing it now from the experience.js

In your PR description just let me know whether you are using Bootstrap or not

[2021-02-28 12:22] #436 closed

[2021-02-28 12:24] smaranjitghose commented on #574
Nicely done @Abhijay007. The latest PR closes this issue. Try to wrap up the experience page SVG animation issue too

[2021-02-28 12:24] #574 closed

[2021-02-28 12:27] Abhijay007 commented on #574
I will try my best sir!!

[2021-02-28 12:47] Abhijay007 commented on #574
@smaranjitghose @anushbhatia sir can I try something from these two [this](https://codepen.io/GeoffreyCrofte/pen/YzyooLw) and
[this](https://codepen.io/CrunchySquirell/pen/KYzYKQ) for experience page?

[2021-02-28 13:04] smaranjitghose commented on #574
Go for the one with the man sitting in formals

Try to alter it a little bit

[2021-02-28 13:22] smaranjitghose opened #619 "Major Bug in Education, Expereince, Project Pages [Mobile View]"
## Expected Behaviour: ( NOTICE THE PLACEMENT OF THE SVG AND THE TEXT)

![ressreach__page](https://user-images.githubusercontent.com/46641503/109419902-cbea2400-79f5-11eb-81ad-59f543133bf4.jpeg)

## ACTUAL Behaviour:

![Project_page_bug](https://user-images.githubusercontent.com/46641503/109419904-cee51480-79f5-11eb-9177-8a3c450610e6.jpeg)

![expereince_page_bug](https://user-images.githubusercont

[2021-02-28 14:21] vybhav72954 opened #620 "How about a JS/HTML/CSS Linter?"
As this website is powered by JS, HTML and CSS, how about a linter for the same?

[2021-02-28 15:00] Abhijay007 commented on #615
@smaranjitghose @anushbhatia sir, done with the changes have a look:

![home-page-bug](https://user-images.githubusercontent.com/64387054/109422908-7a489600-7a03-11eb-988a-3991497bfb1e.gif).

I made it responsive (removed unnecessary space) for very possible device.

can I open a PR for this now?

[2021-02-28 15:08] smaranjitghose commented on #615
Yes

[2021-02-28 16:12] Abhijay007 commented on #619
@smaranjitghose  @anushbhatia sir, can I work on this?

[2021-02-28 17:54] Abhijay007 commented on #619
@smaranjitghose sir can I implement this on the experience page?

![expreince-page](https://user-images.githubusercontent.com/64387054/109428196-0070d680-7a1c-11eb-942b-3be58f890880.gif)

I know it has minimal animation as compare to other SVGs but I will try to improve this 😅

[2021-02-28 17:55] smaranjitghose commented on #619
Yes

[2021-02-28 18:13] anushbhatia commented on #620
Sure mention the linter's used for each of them. I would prefer Prettier instead of all these.

[2021-03-01 21:41] vybhav72954 commented on #620
My suggestions:

[HTML](https://github.com/htmlhint/HTMLHint)
[CSS](https://stylelint.io/)
[JS](https://eslint.org/)

I can make actions for these in case you find them interesting.

[2021-03-02 08:08] anushbhatia commented on #620
okay great go ahead with them

[2021-03-02 14:18] #615 closed

[2021-03-03 16:40] #620 closed

[2021-03-06 11:28] arushi474 commented on #575
I would want to work on this issue,@smaranjitghose can you please assign it to me?

[2021-03-07 16:06] Hritikkumar commented on #597
@anushbhatia Can you please give me your discord username?

[2021-03-09 13:42] abhinav5481 commented on #573
Hey,
I would like to work on this issue. Please assign it to me.

[2021-03-09 15:13] smaranjitghose commented on #573
Assigned for 4 days

[2021-03-14 07:43] jatinjain001 commented on #619
Can  i work on this issue? If it is available , Let me know.

[2021-03-14 08:04] Abhijay007 commented on #619
I was working on it but  @jatinjain001 you can work on it if you want. one thing I want to mention is that edit SVG viewports for solving this issue because if you try to edit margin then the alignment of botttom icons may get affected.

[2021-03-14 18:00] anjali1102 commented on #568
/assign

[2021-03-14 18:05] anjali1102 commented on #568
![John-Doe-Experience](https://user-images.githubusercontent.com/56559378/111078945-da6c2b80-851d-11eb-9001-1b429d2c8060.png)
 you mean this image in red box

[2021-03-14 18:09] smaranjitghose commented on #568
Ya. Although you can change that svg itself.

[2021-03-14 18:09] anjali1102 commented on #568
![John-Doe-Experience](https://user-images.githubusercontent.com/56559378/111079030-2dde7980-851e-11eb-8525-82b73e298d4d.gif)
This image is already animated, see the person's tie is moving.
Is their anything other you want ?

[2021-03-14 18:14] anushbhatia commented on #568
we need something fresh and new this isn't that attractive that's why we had raised the issue for it.

[2021-03-14 18:17] anjali1102 commented on #568
ok, I will do it

[2021-03-15 14:05] harkiratsm commented on #573
hey,
i would like to work on this issue assign me this issue. @smaranjitghose

[2021-03-15 18:44] anjali1102 commented on #568
![developer-dribbble](https://user-images.githubusercontent.com/56559378/111204201-eb836e00-85eb-11eb-97b5-12b069da3890.gif)
![daf0ee89619886c4](https://user-images.githubusercontent.com/56559378/111204207-ed4d3180-85eb-11eb-8ad7-539dc35424e8.gif)
![digitalmarketingg](https://user-images.githubusercontent.com/56559378/111204229-f1794f00-85eb-11eb-9c32-52018dba8ed9.gif)
![5968a7b2d3a8799c5eaa7298ec

[2021-03-16 07:59] harkiratsm commented on #573
@smaranjitghose bro splash animation should be before loader or after loader.ASAP

[2021-03-16 18:04] anjali1102 opened #629 "Remove label of ended programs"
DWOC   has been ended on January 31, 2021. check here https://dwoc.io/
MWOC  has also ended on  Feb 28 2021. check here  https://mexili.org/winter_of_code/#/winter_of_code
SWoC    has ended on March 15, 2021. Check here https://swoc.tech/

currently, CWOC, GSSOC are ONLY GOING ON
@smaranjitghose urgent work

[2021-03-16 18:12] anushbhatia commented on #568
I like the first one.

[2021-03-16 18:27] smaranjitghose commented on #629
I believe we need to tweak the github action or the workflow. Do you want to give a PR for it?

[2021-03-17 02:08] anjali1102 commented on #629
Yes, I will do it

[2021-03-20 12:28] harkiratsm commented on #573
@smaranjitghose must reply as i am wait for your reply regarding splash screen animation

[2021-03-20 13:57] anushbhatia commented on #573
before that.

[2021-04-02 16:01] harkiratsm commented on #573
@anushbhatia bro I have query need to talk about base code.ASAP

[2021-04-03 07:22] harkiratsm commented on #573
@smaranjitghose
![output](https://user-images.githubusercontent.com/71957674/113471643-51d90f00-947b-11eb-83a6-c6ca36df6d27.gif)

[2021-04-03 07:23] harkiratsm commented on #573
if this is fine so i will do this stuff for mobile @smaranjitghose Please let me know

[2021-04-03 08:36] smaranjitghose commented on #573
Please read the issue description carefully. Your proposal does not satisfy it in any way

[2021-04-04 08:18] ShubhamKumar5802 commented on #619
Hello sir, I want to work on this, I am in learning period of open source contribution, please give me this opportunity

[2021-04-05 11:24] harkiratsm commented on #609
hey @anushbhatia i have solved this issue i found the bug.

[2021-04-07 01:23] smaranjitghose commented on #609
Please give a PR within a couple of days

[2021-04-07 01:29] smaranjitghose commented on #619
Assigned for 3 days

[2021-04-07 03:56] harkiratsm commented on #609
@anushbhatia  @smaranjitghose i need some guidance related to the code please can u tell why are we using svg of moving bicycle in nav bar . ASAP

[2021-04-07 08:23] ShubhamKumar5802 commented on #619
Good morning sir,

I had worked on your project and applied for pull request, but the test
hasn't passed, but sorry to say, that was not my fault, you had used class
name that starts from captial letter, and that's way code is not passing
test

Please help me out....

On Wed, Apr 7, 2021, 6:59 AM Smaranjit Ghose ***@***.***>
wrote:

[2021-04-11 04:53] smaranjitghose commented on #609
You can build a css animation too if you wish

[2021-04-17 15:48] anjali1102 opened #632 "Domain name expired"

[2021-04-18 14:23] smaranjitghose commented on #632
?

[2021-04-18 15:35] #632 closed

[2021-04-18 21:24] jamalrizki commented on #609
I came across this aswell. Awesome site though !!!

[2021-04-23 09:34] ambivert-sam opened #633 "The right hand side image In About Us section is very close to the text I want to reposition it in proper position"
![Screenshot (171)](https://user-images.githubusercontent.com/74984661/115851497-a2250a80-a444-11eb-96d3-4f2ed9e1c972.png)

[2021-04-23 09:47] ambivert-sam commented on #633
@Vishal-raj-1 & @urvashi-code1255 can I work on this issue please assign it to me

[2021-04-23 14:06] smaranjitghose commented on #633
Wrong repo.

@Vishal-raj-1

[2021-04-23 14:06] #633 closed

[2021-05-14 17:34] noviicee commented on #629
Can I take this up if it is till open..? @smaranjitghose

[2021-05-14 18:36] #629 closed

[2021-05-19 10:25] raythx98 opened #638 "Bug in Project Page [Mobile View]"
https://user-images.githubusercontent.com/65889977/118797797-825ff580-b8cf-11eb-8212-40d81c2171e2.mp4

When pressing on the project cards in mobile view, it will **sometimes** send the mobile to the top of the page. The card that produces the bug is different everytime.

Bug has been reproduced on both Android and IOS (verified with other users)

[2021-05-19 13:29] raythx98 opened #639 "Home page mobile responsiveness issue"
![image](https://user-images.githubusercontent.com/65889977/118820439-d9be8f80-b8e8-11eb-89b4-9d2b12802d12.png)

The home section seems to be cut off when it reaches a small range of width. It seems to be around 700-800px, but I am not exactly sure

[2021-05-20 05:55] raythx98 commented on #638
I made a mistake, the the title has a href pointing to "#", which is why clicking on title redirects user to the project page

[2021-05-20 05:55] #638 closed

[2021-05-20 07:04] raythx98 commented on #639
I have identified the problem, will open a PR later

[2021-06-02 03:28] Rajdeep-99 commented on #487
Is the issue solved? If not I would like to work on it.

[2021-06-02 07:25] sparshsharma2510 commented on #612
@smaranjitghose  can you please explain a bit more on how are you thinking to combine the two references?

[2021-06-02 13:51] Rajdeep-99 commented on #619
Hello Sir can I work on this issue?

[2021-06-02 14:14] smaranjitghose commented on #612
The nucleus animation would be on the top
The text animation below it

[2021-06-02 14:40] #619 closed

[2021-06-02 14:42] #487 closed

[2021-06-02 14:52] smaranjitghose opened #640 "Shift Codebase to ReactJS"
- Work exclusively on the branch `reactjs`
- Convert the codebase for each page from basic html, css, js to reactjs one page at a time:
    - [ ] Home Page
    - [ ] Experience Page
    - [ ] Project Page
    - [ ] Education Page
    - [ ] Research Page

[2021-06-02 15:04] smaranjitghose opened #641 "Change UI for Headings and Subheadings"
## Requirements:

[Key Reference](https://girlscriptboilerplate.netlify.app/index.html)

- Keeping in mind the color scheme (shades of blue and black) update all the headings in the website
- **Refrain from using inline or internal CSS as much as possible**
- Smartly split the headings into an even number of words
Some Examples:

Experience ---> My Experience
Volunteership ---> Volunteering Initia

[2021-06-02 15:05] smaranjitghose opened #642 "Preloader is failing to load on Project Page"

[2021-06-02 15:08] smaranjitghose opened #643 "Project Card UI change"
[Reference](https://www.lahautesociete.com/etudes-de-cas/)

- For this project, on hover the github and the web icons pop up on the bottom right. We do not need to have separate page open as given in the above reference.

[2021-06-02 15:12] smaranjitghose opened #644 "Mentorship Section UI Update in Experience Page"
### Some Specifications:

- Make the subheading `Community Involvement` from `Mentorship`
- Do not copy-paste the Boostrap carousel directly. Make a custom carousel appropriate to the theme
- Automatically change the image after 3 seconds *unless hovered*
- Keep in mind we have to display logos or pictures which are quite different from posters. Therefore, adjust the width accordingly (and make su

[2021-06-02 15:14] smaranjitghose opened #645 "Replace any or all usage of fontawesome icons with feathericons"

[2021-06-02 15:16] smaranjitghose opened #646 "Add Textanimations"
[Reference](https://codepen.io/jh3y/pen/vzqVWa)

-  Use the block style for Headings Like "Education"

-  Use the perspective style for subheadings like "MOOC"

[2021-06-02 15:17] #536 closed

[2021-06-02 15:18] smaranjitghose opened #647 "Memory/Event Page Template"
## Idea behind this:

This page can be used for a standalone picturesque description of any conference, talk, hackathon one attends. Perhaps even some community/social initiatives or one's grad school farewell/fresher's

## Some specifications

- [Reference](https://www.stevenmengin.com/).
- Do not replicate the above reference top to bottom rather use it as an inspiration. ( For example, we don't

[2021-06-02 15:20] smaranjitghose opened #648 "Mobile Nav Bar Splash Animation"
[Reference](https://www.hellomonday.com/)

- **We are looking for just the inverse color splash as shown in the reference above**
- The Nav Bar orientation should not be changed (our effect should take place from top to bottom rather than right to left as seen in the above reference)
- The Hamburger Animation should not be changed
- The Nav Bar Text should not be changed

In case you are confused

[2021-06-02 15:23] smaranjitghose opened #649 "Volunteership Card UI Update"
## Certain Requirements

- [Reference](https://girlscriptboilerplate.netlify.app/achievements.html). Follow the bottommost cards
- Take care of the color scheme (shades of black and blue)
- **Do not** add `Read More`  or the arrow following at the bottom
- Use the already available images and text currently used for the same
- **MAKE SURE THE CARDS ARE MOBILE RESPONSIVE**
- Try to ensure that all

[2021-06-02 15:24] smaranjitghose opened #650 "Dark Mode Toggle Switch"
[Reference](https://codepen.io/ashleynolan/pen/wBppKz)

[2021-06-02 16:12] Jagannath8 commented on #641
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 16:18] Jagannath8 commented on #643
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 16:28] Rutikab12 commented on #647
Hey, @smaranjitghose I would like to work on this issue from June 10 as letsgrowmore SOC'21 participant. Do assign me if possible.
Thank You!

[2021-06-02 17:31] sparshsharma2510 commented on #612
I would like to work on it. Kindly assign it to me if possible.

[2021-06-02 19:22] Jagannath8 commented on #643
I have pulled request for this issue but it is showing this error

Add Labels / Add Labels (pull_request_target) Failing after 5s — Add Labels

Please help me out @smaranjitghose  how to solve this

[2021-06-02 22:35] smaranjitghose commented on #643
Ignore that check

[2021-06-03 07:56] shvmsh20 commented on #650
assign this to me

[2021-06-03 10:38] kumarishalini6 opened #655 "ScrollToTop button"
There should be scroll to top button  in every page
I will submit PR after 10th June
@smaranjitghose  can I work on this issue under  LGM-SOC'21 participant.

[2021-06-03 16:34] Rutikab12 commented on #647
Thank you @smaranjitghose I will start working on it as competition begin.

[2021-06-04 05:24] itsij commented on #641
I would like to work on this as LGM-SOC'21 Participant. Plz assign this to me.

[2021-06-04 17:06] sparshsharma2510 commented on #612
@smaranjitghose I can't think of a way out to replace the SVG with an actual text i.e. people won't be able to change it according to their names because the animation rolls on SVG paths. Can you please help me out?

[2021-06-05 07:14] Aiswarika commented on #646
@smaranjitghose Can you please assign me this issue? I will be working on it after the 10th as part of the contest.

[2021-06-05 07:16] Aiswarika commented on #645
Hey @smaranjitghose can you please assign me this issue?

[2021-06-05 09:13] Aiswarika opened #656 "Page for Certificates / Accomplishments / Recognitions"
I would like to add an additional page for certificates and other accomplishments as a part of the contest LGM-SOC.  @smaranjitghose  Can you please assign it to me if needed?

[2021-06-05 11:32] janvi01 commented on #645
Can I work on this issue? @smaranjitghose

[2021-06-05 14:18] AB-san commented on #642
I would like to work on this under lgm-soc please assign me this  issue

[2021-06-06 16:44] kumarishalini6 commented on #655
Hey! I have completed this issue I will send PR on 10 th june

[2021-06-06 20:21] AB-san commented on #642
@smaranjitghose as i wanted to work on this under lgm-soc , so i will send pr on 10th. Is tht okay?

[2021-06-07 05:01] RR-Sahoo commented on #650
hyy can I work on this

[2021-06-07 15:28] Aiswarika commented on #646
Is this animation fine?  @smaranjitghose

https://user-images.githubusercontent.com/72227445/121044115-e2f99880-c7d2-11eb-8333-e956493d39c5.mp4

[2021-06-07 17:48] Sanika2103 commented on #649
Hey @smaranjitghose  I would like to work on this issue. Will you assign it to me?

[2021-06-08 09:26] AKC068 commented on #648
Hey!
I have gone through the reference link and I also liked that Nav Bar Splash animation personally. I would like to work on this and I can send you PR for this till 12th of June.
@smaranjitghose can you assign this to me ?

[2021-06-08 12:54] SamikshaSankar opened #664 "size of navbar in firefox"
![2021-06-08 (8)](https://user-images.githubusercontent.com/52104082/121187687-f6197080-c885-11eb-8fdd-5b332d777420.png)

[2021-06-08 12:58] SamikshaSankar commented on #520
@smaranjitghose assign me this issue under LGM-SOC'21

[2021-06-08 13:05] anushbhatia commented on #656
There's already a page for it.

[2021-06-08 13:05] #656 closed

[2021-06-08 13:06] anushbhatia commented on #649
Assigned for 3 days

[2021-06-08 13:09] SamikshaSankar commented on #664
@anushbhatia how I can change this..because when I checked in chrome it works perfectly

[2021-06-08 14:43] harshita9621 commented on #664
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:44] Sumit11081996 commented on #664
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:46] harshita9621 commented on #655
Hii,  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:46] Sumit11081996 commented on #655
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 16:28] Sanika2103 commented on #649
yess

[2021-06-08 16:59] smaranjitghose commented on #646
No. Please have a look at the issue description for the exact requirements. Make the headings bold as well to make them distinguishable from the rest of the text in the page

[2021-06-08 17:23] Aiswarika commented on #646
Okay I will be working on it.

[2021-06-08 18:47] itsij commented on #641
Hey @smaranjitghose
Plz have a look at these heading suggestions:

1. Experience -> My Experience
2. Volunteership -> Volunteering Initiatives / Volunteering roles/ Volunteering Experience
3. Mentorship -> Mentoring Initiatives
4. Projects -> Projects Corner
5. Research -> Research Work
6. Education(main heading) -> Educational Background
7. Education(sub heading) -> Schooling and College Backgrou

[2021-06-09 03:54] royalleads15 opened #665 "Bottom to top button"
Add bottom to top button in every page so that on can easily reach on top of page when he / she is on bottom of page .

[2021-06-09 04:05] V-Yeshwanth commented on #665
I want to work on this issue!!

[2021-06-09 04:05] V-Yeshwanth commented on #650
I want to work on this issue!!!

[2021-06-09 04:10] royalleads15 commented on #665
I am already done with it bro 😀😀

[2021-06-09 05:39] V-Yeshwanth opened #666 "Description on hover in Project and Experience Section"

[2021-06-09 06:18] Manas502 commented on #666
Hey! Is it possible that I work on this issue? I think it's my forte.

[2021-06-09 06:23] Manas502 commented on #643
Hey, @smaranjitghose I might be able to do this but I am not able to understand the issue completely. Do you mind making a small video explaining the same? Maybe a screen recording?

[2021-06-09 07:06] V-Yeshwanth commented on #666
Sorry bro! I have Created already

[2021-06-09 11:19] Sanika2103 commented on #649
I'm done with it I'll upload it tomorrow

[2021-06-09 12:35] smaranjitghose commented on #666
@V-Yeshwanth Could you please elaborate on what you wish to add?

[2021-06-09 12:51] V-Yeshwanth commented on #666
Short content related to projects and experiences displayed when Clicked on a card.
And providing buttons for GitHub and live website .
Also improving the cards UI

[2021-06-09 13:53] dpshikha476 opened #668 "Footer Design"
I want to change the footer design which includes the social media icons and get in touch form.
Pls assign me this under LGM SOC'21.

[2021-06-09 14:13] mehulmb1 commented on #665
I would like to work on this. can you assign this to me.

[2021-06-09 14:36] supzi-del commented on #666
Can you assign this to me under LGMSOC?

[2021-06-09 14:51] AKC068 commented on #643
Hey,
I got it what that what to do according to reference.
@smaranjitghose can you please assign this to me ?

[2021-06-09 16:00] AKC068 commented on #648
![image](https://user-images.githubusercontent.com/59188454/121388747-5e8d4e00-c969-11eb-9168-2518e88e0afe.png) ![image](https://user-images.githubusercontent.com/59188454/121388860-749b0e80-c969-11eb-97cf-beb8f20b5fc4.png)

I have a doubt that you have mentioned '**We are looking for just the inverse color splash as shown in the reference above**', which means that when nav bar expands bg color s

[2021-06-09 17:08] Rutuj-Runwal opened #669 "Enhancing Research and Education Page"
- [ ] Adding AOS animation to card elements in Research Page
- [ ] Changing Research page elements to flex-box div for more responsiveness(The research page has elements listed out as table elements where as one on the education page are flex-box)
- [ ] (Suggestion) Changing the preloader form the current "blue-cube" to something more engaging

This Issue as a part of my contribution towards LGM-S

[2021-06-09 17:20] Jestin1702 commented on #642
Actually preloader is stuck in 2 places. Index page as well as experience page. Can i work on this?

[2021-06-09 18:17] AB-san commented on #642
But I can see that preloader is failing only at project page . its working fine in index and experience page

[2021-06-09 18:22] Jestin1702 commented on #642
Sorry its  index page and research page. Should i share video?

[2021-06-09 19:34] smaranjitghose commented on #669
Assigned for a week for the overall issue. But I would suggest splitting the work in 3 PRs

[2021-06-09 19:36] AKC068 opened #670 "Work Experience Card UI Update for Phone View"
- [x] Current animation on work experience card is having imperfection for phone view. When we touch a 'work experience card' in phone view then its overflow animation overlaps other card which seems not be perfect.

- [x] I'll change the overflow property for it and give perfection in phone view.

- [x] `Suggestion` - AOS animation should be there and we can also try a different animation for pho

[2021-06-09 19:38] smaranjitghose commented on #643
@AKC068 Assigned for 3 days

[2021-06-09 19:38] smaranjitghose commented on #650
@shvmsh20 @V-Yeshwanth Once the toggle is over, you can work on the dark mode for the website itself

[2021-06-09 19:39] smaranjitghose commented on #668
Although I am not sure whether your suggestions would be in line with @anushbhatia's design suggestions, I would love to see you tryout and incorporate the changes to the greatest extent @dpshikha476.

Assigned for 3 days

[2021-06-09 19:41] smaranjitghose commented on #666
We previously had that option but after some thought decided to remove it since a line or two does not do justice to the project description. The buttons are already there. Do checkout the separate project card UI issue and give your suggestions w.r.t it in that issue

[2021-06-09 19:41] #666 closed

[2021-06-09 19:44] smaranjitghose commented on #648
@AKC068  I agree. And currently, both @anushbhatia and I are brainstorming to improve the overall UI including the color scheme. Therefore I am closing this issue

[2021-06-09 19:44] #648 closed

[2021-06-09 19:44] smaranjitghose commented on #670
Assigned for 3 days

[2021-06-09 19:48] smaranjitghose commented on #641
1. ✅
2. Volunteering Endeavours
3. Mentorship Initiatives
4. My Projects
5. ✅
6. ✅
7. Formal Education
8. Online Accreditations

You may proceed with the above for changing the UI of the headings and Subheadings on the different pages and raise a PR @itsij

[2021-06-09 19:51] smaranjitghose commented on #649
@Sanika2103 Awesome!! I look forward to review it and possibly integrate it.

[2021-06-09 19:53] AKC068 commented on #648
Okey @smaranjitghose, so if  get any idea can I open a issue regarding this?

[2021-06-10 01:10] RiyaGupta89 commented on #640
Can I work on this issue?

[2021-06-10 01:11] RiyaGupta89 commented on #644
Can I work on this issue?

[2021-06-10 03:20] SanjeevKumar22 opened #671 "Footer Design"
Project page  UI improvement
Navbar Styling

[2021-06-10 05:26] dpshikha476 commented on #668
Thank You!

[2021-06-10 05:57] Sanika2103 commented on #649
Can you please help me where and how should I upload files?

[2021-06-10 06:19] SNEHAL311998 opened #672 "UI enhancement for education, experience, research section"
I want to enhance the education, experience, research section UI since there is a lot of space in the hero section. Please assign me for this

[2021-06-10 06:22] SNEHAL311998 commented on #672
I would also like to add on scroll animation for the same.

[2021-06-10 06:47] iam-harshit opened #674 "UI enhancement for the work experience section"
I want to change the card shadow in the work experience section because it's not visible from all sides.  Please assign me for this.

[2021-06-10 08:28] Rajdeep-99 commented on #671
I want to work on this

[2021-06-10 08:30] utkarshgoel10 opened #675 "Add JQuery to Work Exp and Research Cards."
I think adding JQuery to these two sections would make the page look consistent in terms of animation and make it look better.

[2021-06-10 08:30] utkarshgoel10 commented on #675
Please assign me this issue @smaranjitghose

[2021-06-10 08:45] jayant766 commented on #671
Please assign me this issue under LGMSOC'21

[2021-06-10 08:45] tjanhvi opened #676 "Improve the footer design"

[2021-06-10 08:46] jayant766 commented on #665
Please assign me this issue under LGMSOC'21

[2021-06-10 09:21] Kabirdutt opened #677 "Navbar UI Enhancement ( Hover Transition)"
The header section has buttons like home, experience, etc. Hover effect along with shadows  could be added to the item and an onclick effect could be added as well

[2021-06-10 09:48] Devansh2000Shaw commented on #640
Can I contribute on this under LGM SOC 21. Thank you.

[2021-06-10 09:50] Devansh2000Shaw commented on #665
I want to contribute on this issue under LGM SOC 21. Thank you.

[2021-06-10 09:50] siddhi-244 commented on #677
I am LGM SOC participant shall I try this?

[2021-06-10 09:51] siddhi-244 commented on #677
Plzz assign it to me!

[2021-06-10 09:51] Devansh2000Shaw commented on #677
I want to contribute on this issue under LGM SOC 21. Thank you.

[2021-06-10 09:59] AB-san commented on #640
I also would like to work on this issue under lgm-soc

[2021-06-10 11:49] tjanhvi commented on #676
Please assign me this issue

[2021-06-10 11:53] tjanhvi commented on #676
Please assign me this issue

[2021-06-10 12:19] vimalprogrammer commented on #677
I would like to contribute to this issue, please assign me.

[2021-06-10 12:27] vimalprogrammer commented on #676
I would like to work on this issue under LGMSOC21, please assign me.

[2021-06-10 12:53] WH0SUMIT opened #678 "Scroll To Top button"
I would like to add a scroll to top button on every page of this project, please assign this issue to me.

[2021-06-10 12:58] #678 closed

[2021-06-10 13:21] asdsyd commented on #676
I would like to work on this issue under **LGMSOC21**, please assign me.

[2021-06-10 13:24] anushbhatia commented on #646
This looks animation fantastic but it would better if the only happens when we hover on it. if we leave it then it should stay same.

[2021-06-10 13:26] anushbhatia commented on #648
Yeas sure.

[2021-06-10 13:29] anushbhatia commented on #677
Sure how would you do so just give a brief example if possible?

[2021-06-10 13:30] anushbhatia commented on #676
How would you do so. Do gives us updates regarding that.

[2021-06-10 13:32] #675 closed

[2021-06-10 13:33] #674 closed

[2021-06-10 13:33] anushbhatia commented on #671
Create an Issue with a relevant explanation and a proper description of how would you process the process.

[2021-06-10 13:33] #671 closed

[2021-06-10 13:41] harshit-dugar commented on #677
I am also a participant of LGM SOC can I also contribute

[2021-06-10 13:51] Jestin1702 commented on #646
This is an hover effect.

[2021-06-10 13:52] Jestin1702 commented on #646
@smaranjitghose  would you like me to work on the same?

[2021-06-10 14:03] smaranjitghose commented on #640
@RiyaGupta89  @Devansh2000Shaw  Please collaborate on this issue and take up one or more pages

[2021-06-10 14:04] smaranjitghose commented on #644
@RiyaGupta89 Since you would be already shifting the codebase to react, I would advice working on this once it is complete

[2021-06-10 14:08] smaranjitghose commented on #646
Sure. Feel free to give a PR.

[2021-06-10 15:29] nKeiros13 commented on #665
Can I contribute on this issue under LGM SOC 21?

[2021-06-10 15:58] KhushiRoy commented on #676
I want to contribute on this issue under LGMSOC.

[2021-06-10 16:25] aditya687 commented on #677
I want to improve the header section and  can  also contribute

[2021-06-10 16:28] aditya687 commented on #668
I can improve the footer design and contribute it

[2021-06-10 16:38] sejalvasan commented on #677
Can you please assign this issue to me?

[2021-06-10 16:39] sejalvasan commented on #665
Please assign this issue to me under LGM SOC.

[2021-06-10 16:48] aditya687 commented on #676
I would like to work on this issue under LGMSOC21, please assign me to contribute
.

[2021-06-10 16:50] aditya687 commented on #668
I can contribute social media accounts and to connect with us in the footer section. Please  assign me this issue I would like to work on this issue under LGMSOC21.

[2021-06-10 17:30] smaranjitghose commented on #676
Duplicate #668

[2021-06-10 17:30] #676 closed

[2021-06-10 17:34] Shaishav0507 opened #680 "Footer Copyright Claim"
Hey @smaranjitghose
I would like to add footer with Copyright Claim under your name.
If you would like to include in your project, please assign me.
Thanks

[2021-06-10 17:34] smaranjitghose commented on #665
@sejalvasan We are on the process of shifing the codebase to React. Check out #640. Maybe you can work with folks on that issue for this same task

[2021-06-10 17:38] smaranjitghose commented on #680
### Closed due to:

- This is an open source project. We want everyone to use this project without any hindrance
- Unless one sells a portfolio for purely commercial initiatives and has registered for the same, a copyright symbol is legally invalid.

[2021-06-10 17:38] #680 closed

[2021-06-10 17:40] smaranjitghose commented on #677
@anushbhatia Let's give @Kabirdutt 3 days and see the improvements over a PR

[2021-06-10 19:16] starrohan999 opened #681 "Can we add copyright section in footer section of website."

[2021-06-10 19:17] starrohan999 commented on #681
I am LGM SOC-21 participant. Please assign it to me @smaranjitghose

[2021-06-10 19:46] AKC068 commented on #643
https://user-images.githubusercontent.com/59188454/121587322-480ef180-ca52-11eb-8923-dcccd8a71631.mp4

I've done this till now. Let me know @smaranjitghose if it full fill your requirements. I've shown the responsiveness in every view.

[2021-06-10 23:18] MukulKolpe opened #683 "spelling correction in README file"
In README file spelling of portraying is written as potraying. Can I make a PR to correct this ?
Thanks!!

[2021-06-11 04:26] AnjaniSriya commented on #665
I would like to contribute to this issue...
Please allow me..

[2021-06-11 04:27] AnjaniSriya commented on #677
I am a memeber of LGM SOC,
I would like to contribute, please allow me

[2021-06-11 04:31] AnjaniSriya commented on #681
I am a member of LGM SOC
I would like to contribute, please allow me

[2021-06-11 05:33] kshitija-2001 commented on #645
I am a member of LGM SOC
I would like to contribute to this issue. @smaranjitghose

[2021-06-11 05:51] mahiwattamwar commented on #683
In README file spelling of portraying is written as potraying. Can changes to correct this

[2021-06-11 05:53] mahiwattamwar commented on #681
Hi @smaranjitghose  I am LGM SOC-21 participant. I can make this changes please assign me

[2021-06-11 06:27] 1anshu-56 commented on #650
I want to work on this issue as i have made same thing earlier in my project please assign it to me.

[2021-06-11 06:37] smaranjitghose commented on #681
Check #680

[2021-06-11 06:37] #681 closed

[2021-06-11 06:39] smaranjitghose commented on #645
@janvi01 has 1 more day, after that @kshitija-2001 can take over

[2021-06-11 06:40] kshitija-2001 commented on #645
Ok Thank you!

[2021-06-11 06:41] 1anshu-56 commented on #665
I am a participant @ LGMSoC and I want to work on this issue can you please assign it to me as I have previous experience with this issue, so please assign it to me.

[2021-06-11 06:42] smaranjitghose commented on #650
@shvmsh20 has 1 more day, after that @1anshu-56 can take over

[2021-06-11 06:58] #643 closed

[2021-06-11 06:59] anushbhatia commented on #643
This doesn't look good with the UI

[2021-06-11 07:21] nekkantimadhu commented on #665
I would like to contribute on this issue under LGM SOC 21,   Could you please assign this issue to me?

[2021-06-11 07:24] nekkantimadhu commented on #650
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-11 08:05] sameer2403 opened #685 "Create Dark/Light Mode for this Portfolio"
i want to implement Dark/Light Mode for this Portfolio. Please assign it to me

[2021-06-11 08:10] #685 closed

[2021-06-11 08:33] shvmsh20 commented on #650
@smaranjitghose you can unassign me this issue. I tried but couldn't able to get the desired result.

[2021-06-11 09:18] AKC068 commented on #643
What should I change in this according to you?

[2021-06-11 09:34] supzi-del opened #686 "Smooth transition on buttons hover"
When the buttons in nav bar are hovered, there is no transition. To make it smooth, I would like to add this. Please assign this to me

[2021-06-11 10:07] dhruv-varshney commented on #677
May i contribute and resolve this issue.Please assign me to resolve this issue.

[2021-06-11 10:09] dhruv-varshney commented on #677
May you label the level also. That will be helpful .

[2021-06-11 16:01] Sudeep8708 opened #687 "The titles for the respective Social Media Icons"
Hey, I would like to give titles for respective social media icons,
so it might be helpful for the users where they're being driven to when they click it!
I'm an LGMSoC participant.
I would like to fix that drawback,  and also request you to assign it to me..so that the website gets better and clear.

[2021-06-11 17:01] vaishnavi1011 commented on #650
I want to create this dark mode toggle switch.Please assign me the issue

[2021-06-11 19:39] nekkantimadhu commented on #686
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-11 19:44] nekkantimadhu commented on #641
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-11 19:52] nitishapiplani commented on #650
i will make it in half an hour if you assign to me
lgmsoc participant

[2021-06-11 19:56] nekkantimadhu commented on #645
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-11 20:15] nitishapiplani opened #688 "coustmize navigation bar"
when used in phone and navigation bar is open nthng else appears
![git 1](https://user-images.githubusercontent.com/83905949/121744144-149a9880-cb20-11eb-8a85-13d8e36b5562.PNG)

[2021-06-11 23:38] smaranjitghose commented on #686
Assigned to @supzi-del.

@nekkantimadhu Please understand that whenever a participant raises an issue, by default it would be assigned to that participant only and not anyone else due to obvious reasons. Hence blindly commenting "I would like to contribute" is not an ideal practice. You are free to do this whenever a project maintainer (in the case of this project, @anushbhatia or I ) raise an iss

[2021-06-11 23:39] smaranjitghose commented on #641
@itsij You have 2 more days for this, else it would be assigned to @nekkantimadhu

[2021-06-11 23:39] smaranjitghose commented on #650
@1anshu-56 You have two days for this, after which @nitishapiplani can take over

[2021-06-11 23:41] smaranjitghose commented on #688
Could you please elaborate more on what you wish to add?

The navigation bar is supposed to look like this as per the current codebase😅

[2021-06-11 23:57] smaranjitghose commented on #677
@dhruv-varshney @AnjaniSriya @sandeep9889

Please understand that whenever a participant raises an issue, by default it would be assigned to that participant only and not anyone else due to obvious reasons. Hence blindly commenting "I would like to contribute" is not an ideal practice. You are free to do this whenever a project maintainer (in the case of this project, @anushbhatia or I ) raises an

[2021-06-12 00:05] smaranjitghose commented on #665
@1anshu-56 I believe I have assigned you another issue. Could you please wrap that up?

[2021-06-12 04:09] naveen8801 opened #690 "Add Issue & Pull Request Templates"
I'd like to add an issue & PR template for this project. Templates help in better understanding of new issues and PRs :))

I'd like to work on it as LGM SOC participant, Please assign :))

[2021-06-12 04:43] Rutikab12 commented on #647
Excuse me, I can't be able to complete this task because of some health reasons. Thank You. I have unassigned myself. @smaranjitghose

[2021-06-12 04:48] dhruv-varshney commented on #677
ok, I will make sure that will not happen again in the future.

[2021-06-12 05:47] Sudeep8708 commented on #687
@smaranjitghose sir can I proceed to fix this issue and make a PR?

[2021-06-12 07:07] itsij commented on #641
Yeah, I'm working on it.
Will report back to u with a PR soon.

[2021-06-12 07:50] shreya-gb commented on #688
Please assign me! I can help you out with this :)

[2021-06-12 08:58] ishitakapoor26 opened #691 "Change Cursor to pointer in Experience and Project section."
Changed Cursor to pointer in Experience and Project section.

[2021-06-12 08:58] ishitakapoor26 commented on #691
@smaranjitghose pls assign this issue to me.

[2021-06-12 09:09] smaranjitghose commented on #690
Not required

[2021-06-12 09:09] #690 closed

[2021-06-12 09:26] smaranjitghose commented on #691
Please read the guidelines stated in the slack channel regarding spam comments

[2021-06-12 09:27] smaranjitghose commented on #688
Please read the guidelines posted on slack workspace

[2021-06-12 09:29] anushbhatia commented on #687
Before creating a PR could you share a sample or a link for it so that we can understand it better.

[2021-06-12 10:59] 0xCipher-max commented on #691
I can Do this task perfectly in very less time

[2021-06-12 11:02] 0xCipher-max commented on #686
I can make it more attractive if you want

[2021-06-12 11:10] supzi-del commented on #686
@0xCipher-max If you want to add more features, please open your own issue and get assigned.

[2021-06-12 11:30] ishitakapoor26 opened #694 "Add Hovering Effect to cards"
Adding hovering effects to projects, research and experience cards.
@smaranjitghose Pls assign this issue to me.

[2021-06-12 12:13] geek9012 opened #695 "Navbar not behaving properly"
Hi
I forked the repository and made the changes to my portfolio. But the navbar seems like this:
![image](https://user-images.githubusercontent.com/84989098/121775436-53befd00-cba5-11eb-8f6b-6ddd0be5860d.png)

But according to the documentation(https://smaranjitghose.github.io/awesome-portfolio-websites/gs/#seo-and-miscellaneous), it should look like this:

![image](https://user-images.githubuserc

[2021-06-12 13:13] aditya687 commented on #668
Issue #676
I have given a footer design for your site. You can  see the change @smaranjitghose. You can check my pr.

[2021-06-12 14:00] Sumit11081996 commented on #694
can you assign me this issue

[2021-06-12 14:03] Sudeep8708 commented on #687
![WhatsApp Image 2021-06-12 at 19 29 03 (1)](https://user-images.githubusercontent.com/81461977/121778488-b23fa780-cbb4-11eb-911c-a70f60bfb702.jpeg)
![WhatsApp Image 2021-06-12 at 19 29 03](https://user-images.githubusercontent.com/81461977/121778494-b4a20180-cbb4-11eb-9785-da62f9824150.jpeg)

I hope the above pics depicts what I thought to add.
That is when the user is about to click any social m

[2021-06-12 14:08] ishitakapoor26 commented on #694
Hey I'm already working on it. Pls look for some other isssue.

[2021-06-12 15:57] gourav02 opened #696 "Improve Footer UI"

[2021-06-13 08:23] Khushi-agarwal opened #700 "Improving the experience section"
In the experience section I would like to add the flip card animation so that on hovering over the cards it would display the animation.

[2021-06-13 09:42] supzi-del opened #701 "Add zoom transform on hover- mentorship cards"
The mentorship cards have no scale transition on hover like that of volunteership and experience section. I would like to add this feature under LGM SOC.

[2021-06-13 09:42] starrohan999 opened #702 "Add hover effect on mentorships cards"
Can we add a hover effect on the mentorships card. when we hover it card size will increase just like work experience section

[2021-06-13 09:43] supzi-del commented on #701
This can also be added in the research section.

[2021-06-13 09:44] starrohan999 commented on #702
Hi @smaranjitghose  I am LGM soc-21 participant and I would like to contribute to this amazing project.
please assign it to me.

[2021-06-13 10:51] smaranjitghose commented on #700
Which cards, in particular, are you referring to?

[2021-06-13 10:55] smaranjitghose commented on #701
Could you raise a PR for the Research page first? Once we approve that, you can proceed with implementation on the mentorship cards as well.

[2021-06-13 10:56] smaranjitghose commented on #702
Taken care of at #701

[2021-06-13 10:56] #702 closed

[2021-06-13 11:00] #641 closed

[2021-06-13 11:02] smaranjitghose commented on #696
Please elaborate on your suggestions

[2021-06-13 11:06] #691 closed

[2021-06-13 11:09] smaranjitghose commented on #686
@0xCipher-max Please read my comment above or the guidelines provided in the slack workspace

[2021-06-13 11:10] #686 closed

[2021-06-13 11:18] smaranjitghose commented on #695
We have removed the dark mode option.

[2021-06-13 11:18] #695 closed

[2021-06-13 11:18] #688 closed

[2021-06-13 11:19] smaranjitghose commented on #688
Closed due to inactivity

[2021-06-13 11:19] smaranjitghose commented on #687
Not required as of now

[2021-06-13 11:19] #687 closed

[2021-06-13 11:19] #683 closed

[2021-06-13 11:20] smaranjitghose commented on #683
Completed

[2021-06-13 11:21] smaranjitghose commented on #672
closed due to inactivity

[2021-06-13 11:21] #672 closed

[2021-06-13 13:20] Khushi-agarwal commented on #700
@smaranjitghose over the volunteer ship one.

[2021-06-13 15:35] rishika789 opened #704 "social icons on hovering increase in icon size"
in home page the social icons on hovering can be given an effect to pop up in size.

[2021-06-13 17:18] Umesh-01 opened #705 "add links to the gifs in README.md file"
## Description
I think these two gifs (see the below image) should contain a links to the related files because there are the chances that anyone can click on them and these are of no use without them.

![image](https://user-images.githubusercontent.com/83420185/121816381-de345900-cc98-11eb-8f33-eaa7ffe14037.png)

## Solution
I want to add links to these gifs so that if anyone click on them it wil

[2021-06-13 17:20] Umesh-01 commented on #705
@smaranjitghose sir should I make these changes??

[2021-06-13 18:14] nekkantimadhu commented on #665
I would like to contribute on this issue under LGM SOC 21, Could you please assign this issue to me?

[2021-06-13 20:06] anushbhatia commented on #700
Can you show a link or a video demo?

[2021-06-13 20:06] #700 closed

[2021-06-14 03:29] Khushi-agarwal commented on #700
![My Movie 4](https://user-images.githubusercontent.com/76625662/121835374-c7b8ec80-ccee-11eb-9ec6-0bfe5d33ec88.gif)
You can get a reference from this @anushbhatia @smaranjitghose

[2021-06-14 05:08] pragyamittal0 commented on #640
Can I contribute on this under LGMSOC 21

[2021-06-14 06:12] 2024-SANDHYA commented on #677
I want to contribute for the same under LGM SOC'21

[2021-06-14 06:54] singhanshika311 opened #707 "add some inspirational quotes above contact form in slide show form"
https://user-images.githubusercontent.com/57401706/121851039-43c12d80-cd0b-11eb-8715-3e50b6c1275b.mp4

[2021-06-14 06:59] prads46 commented on #665
if this issue is still not resolved could you please assign it to me under LGM-SOC 21

[2021-06-14 07:52] smaranjitghose commented on #707
Not required for the general template

[2021-06-14 07:52] #707 closed

[2021-06-14 07:54] smaranjitghose commented on #705
Not relevant

[2021-06-14 07:54] #705 closed

[2021-06-14 07:54] smaranjitghose commented on #704
Could you please show a demo for one icon?

[2021-06-14 07:57] #701 closed

[2021-06-14 07:58] smaranjitghose commented on #640
Assigned for 3 days

[2021-06-14 09:11] prads46 commented on #647
sir since i am new to open source could u please tell me in this do we have to create a seperate page where one can add images of a particular event?

[2021-06-14 11:26] varunwho commented on #665
I can work on this if it's not yet resolved!

[2021-06-14 11:31] varunwho commented on #650
I can work on this if it's not yet resolved

[2021-06-14 14:37] Sukhseerat-Kaur opened #709 "Get in Touch section fields should be Required."
The get in touch form fields should be of required type so that the message box is not empty while hitting send button. I can do this. If you think the issue is valid please assign me this under LGMSOC'21

[2021-06-14 15:03] tanya070820 opened #710 "Dark Mode UI"
@smaranjitghose Please try to assign me this issue

[2021-06-14 15:16] tanya070820 commented on #710
/assign

[2021-06-14 16:58] varunwho opened #711 "Dynamic Title "Come back""
The dynamic title is kinda disturbing and doesn't look good for a portfolio website. I meant that constant switching of "Come back" and "John Doe | Home"

![Screenshot 2021-06-14 222448](https://user-images.githubusercontent.com/53107832/121930187-b78d2580-cd5f-11eb-90f9-b71fa50adf33.png)

I feel we can remove this as it was looking a bit unprofessional (personally) and only keep "John Doe | Home"

[2021-06-14 18:13] devanshi-code commented on #515
@smaranjitghose does we need to be beginner in python for this? I can't understand that can you tell me more about it

[2021-06-14 20:18] jatinjain001 commented on #668
I would like to contribute in this please let me know if it is availabl

[2021-06-15 11:57] pravleen17 commented on #677
I am LGM-SOC21 contributor. I would like to work on this issue. Please assign it to me.

[2021-06-15 12:24] phreakyphoenix commented on #677
@pravleen17 @2024-Sandhya please read the previous messages in this thread, in particular https://github.com/smaranjitghose/awesome-portfolio-websites/issues/677#issuecomment-859962119

Please read the contribution guide to avoid a barrage of needless messages. Happy contributing.

[2021-06-15 14:09] Salonee-Jain commented on #670
Can I work on this issue under LGM SOC

[2021-06-15 14:10] Salonee-Jain commented on #669
Can I work on this issue under LGM SOC

[2021-06-15 14:10] Salonee-Jain commented on #644
Can I work on this issue under LGM SOC

[2021-06-15 15:30] #670 closed

[2021-06-15 15:31] smaranjitghose commented on #669
No. It's by default assigned to the participant who raised the issue

[2021-06-15 15:32] smaranjitghose commented on #644
Assigned for 3 days

[2021-06-15 15:39] smaranjitghose commented on #710
@tanya070820 Please be patient 😅.

I am assigning you this for 5 days.  Do have a look at the toggle switch issue too. Give separate PRs for each issue. Try to consult @anushbhatia over slack for deciding the colors.

[2021-06-15 15:40] smaranjitghose commented on #711
Touche!

@varunwho You can remove it from all the pages. Assigned for 3 days

[2021-06-15 15:44] smaranjitghose commented on #665
Assigned for 4 days

[2021-06-15 15:45] smaranjitghose commented on #515
A very minimal Python grasp is required. Please read through the documentation. I have given sufficient references above.

[2021-06-15 16:10] tanya070820 opened #715 "Header Design"
I want to update its header as want to highlight its option (home,experience,projects..)
Please assign this issue to me /assign

[2021-06-15 16:14] tanya070820 commented on #710
@smaranjitghose Sorry Sir
Surely I will look to that also.

[2021-06-15 16:38] Surajvatsya opened #716 "Creative Text Animation Effects"
Designed a linear dynamic animation for text "Experience" in experience.html.

![Screenshot (3163)](https://user-images.githubusercontent.com/68156079/122091102-1321e680-ce26-11eb-9d13-e0eb83407761.png)
![Screenshot (3165)](https://user-images.githubusercontent.com/68156079/122091114-16b56d80-ce26-11eb-96d2-de8758c62be7.png)
![Screenshot (3164)](https://user-images.githubusercontent.com/68156079/1

[2021-06-15 20:19] nitishapiplani commented on #650
hey but you said yo  will assign this issue to me

[2021-06-15 20:28] ishitakapoor26 commented on #694
@smaranjitghose pls assign this issue to me.

[2021-06-16 03:51] gargi111 commented on #715
I want to work on this issue .pls assign me this task.

[2021-06-16 05:08] forkbikash commented on #664
Hey @smaranjitghose, is someone still working on this issue? If not please assign this to me.

[2021-06-16 05:59] SamikshaSankar commented on #664
@forkbikash I am working on this issue

[2021-06-16 06:11] Ayan-thecodeking opened #718 "Add Let'sGrowMore logo under 'Open Source Program' section"
Since this project is part of LGMSOC . I think it's good idea to showcase it in README.md file under Open Source Program section .
will like to work on this issue under LGMSOC if maintainers agree @smaranjitghose

[2021-06-16 06:34] forkbikash opened #719 "Syntax error in 404.css"
There is some syntax error in first few lines of 404.css . Please assign this issue to me.

![Screenshot (104)](https://user-images.githubusercontent.com/70908998/122169308-e4922300-ce9a-11eb-8e30-5a9f85b391ae.png)

[2021-06-16 06:59] anushbhatia commented on #719
Just remove the part form * to commented section there

[2021-06-16 07:00] anushbhatia commented on #664
Do give an update @SamikshaSankar

[2021-06-16 07:01] anushbhatia commented on #715
it is already having a feature like that

[2021-06-16 07:01] #715 closed

[2021-06-16 07:09] gourav02 commented on #696
to modify the design . Instead of the email form, it can have a mail icon and it will redirect to the Gmail page for sending mail. that way it will look neater. And I also can improve the footer design bit more.

[2021-06-16 07:34] anushbhatia commented on #696
do keep us updated with it.

[2021-06-16 07:35] anushbhatia commented on #718
Assigned for 1 day

[2021-06-16 07:39] gourav02 commented on #696
ok.thank you

[2021-06-16 14:12] supzi-del opened #720 "Align footer text in the same line"
The quote in the footer is not aligned with the get in touch section. I would like to fix this under LGMSoC.
I will be making the below changes.
Before - see footer text
![Screenshot (193)](https://user-images.githubusercontent.com/78655439/122234952-e7ad0380-ceda-11eb-9b9d-5f6c90c132a6.png)
After
![Screenshot (194)](https://user-images.githubusercontent.com/78655439/122234979-ec71b780-ceda-11eb-9

[2021-06-16 14:15] varunwho commented on #665
@smaranjitghose I've added the scroll to top button and I've designed it in such a way resembling the social media icon circles. Let me know if you're expecting some other design (like color etc) and then I'll create a PR accordingly

https://user-images.githubusercontent.com/53107832/122235443-52f6d580-cedb-11eb-96b1-2ef4845466a2.mp4

[2021-06-16 14:39] Deep06-11 commented on #650
I want to contribute to this issue under LGM SOC 21. Please assign it to me.

[2021-06-16 14:44] Deep06-11 commented on #645
I want to contribute to this issue under LGM SOC 21. Please assign it to me.

[2021-06-16 15:31] anushbhatia commented on #720
Assigned for 2 days

[2021-06-16 15:35] forkbikash opened #722 "Create a page for blogs"
A blogs section can be created in the portfolio. If you(@anushbhatia) approve and assign it to me, I can start the work.

[2021-06-16 15:37] forkbikash opened #723 "Create a page for gallery ( for art works of the portfolio owner )"
A gallery section can be created in the portfolio. If you(@anushbhatia) approve and assign it to me, I can start the work.
This section can benefit ui/ux designers and other artists.

[2021-06-16 15:45] anushbhatia commented on #665
Looks good to me!

[2021-06-16 16:04] Parth-Shete commented on #694
@smaranjitghose Pls assign this issue to me.

[2021-06-16 16:10] varunwho commented on #665
Sure! Thankyou @anushbhatia

[2021-06-16 16:17] supzi-del commented on #720
Hey, I'm working on this issue. You can find other issues to work on.

[2021-06-16 16:51] Parth-Shete commented on #720
Okay

[2021-06-16 17:54] ROHAN842 opened #725 "Successful alert pop up feature for footer contact page "Send" button"
As when user fills all the detail and clicks on "Send" button in footer section then site just normally reloads and the user doesn't get any confirmation that whether the message is sent successfully or not!

I want to add an alert which will pops up and will tell the user that message was delivered successfully with a green tick along with I would also like to add a feature without back end with

[2021-06-16 19:46] puneetkaur2929 opened #727 "Social icons merging into footer section when tested for responsive of home section"
hey @smaranjitghose

I have found that **social icons are merging with footer**  in **home** section as shown in screenshot attached
I am interested to work on this issue.
Kindly assign this issue to me under LGM SOC '21

![Screenshot (33)](https://user-images.githubusercontent.com/80326308/122282878-89e3e000-cf09-11eb-8689-79f85dadc59a.png)

[2021-06-16 19:50] smaranjitghose commented on #727
What device?

[2021-06-16 19:57] smaranjitghose commented on #722
We will be having a blog tab and redirect it to hashnode

[2021-06-16 19:57] #722 closed

[2021-06-16 19:59] #694 closed

[2021-06-16 20:02] #719 closed

[2021-06-16 20:07] smaranjitghose commented on #727
There is no such config in the current chrome tools on my end. However, the issue persists for iPhone SE and Galaxy Fold devices. You can resolve it if you wish

[2021-06-16 20:09] smaranjitghose commented on #716
We already have the svg animation beside it so it would be an overkill for the UI

[2021-06-16 20:09] #716 closed

[2021-06-16 20:12] #718 closed

[2021-06-16 20:17] smaranjitghose commented on #650
Ya, I expected you to start working as soon as the former assignee's deadlines were over.

[2021-06-16 20:19] smaranjitghose commented on #710
No worries @tanya070820 . Do keep us updated!

[2021-06-16 20:19] smaranjitghose commented on #727
Assigned for 3 days

[2021-06-16 20:24] rishabhrathore055 commented on #515
@smaranjitghose pls assign this issue

[2021-06-16 20:27] rishabhrathore055 opened #728 "Update readme and align words properly"
@smaranjitghose pls assign this issue

[2021-06-16 20:46] nitishapiplani commented on #650
But it was not assigned to me that's why I didn't start

[2021-06-16 21:01] rishabhrathore055 commented on #728
Add LGM-Soc'21 images in open source program that represent  this project is a part of lgm-soc'21

[2021-06-16 21:01] #720 closed

[2021-06-16 21:02] smaranjitghose commented on #728
Closed due to Insufficient Issue Description. Spammy Thread

[2021-06-16 21:02] #728 closed

[2021-06-16 21:03] smaranjitghose commented on #650
No worries. You can begin now.

[2021-06-16 21:04] smaranjitghose commented on #647
Yes. make the page as event.html and the corresponding css as event.css

[2021-06-17 05:07] rishabhrathore055 commented on #515
@smaranjitghose could you pls  elaborate me what I have to do??

[2021-06-17 07:04] prads46 commented on #647
Sir can u assign it to me?

[2021-06-17 07:36] anushbhatia commented on #515
Go through the directions section.

[2021-06-17 07:37] itsij opened #731 "Changing colors of some elements to match the color theme of respective pages"
I would like to make color changes to the below mentioned elements according to respective page color themes, so that the pages look more uniform:

- scrollbar
- get in touch form
- cards

Would also make changes in their hover colors accordingly.

For eg:

![image](https://user-images.githubusercontent.com/72145053/122349824-3ce42600-cf6a-11eb-9acb-f7aa825df2a4.png)

![image](https://user-images.

[2021-06-17 07:38] anushbhatia commented on #647
assigned for 4 days. Do keep us updated with progress.

[2021-06-17 07:42] anushbhatia commented on #731
Don't modify the shadow elements of the website instead just make changes to the scrollbar and contact form.
Try to reduce code redundancy by specifying the theme if possible.

[2021-06-17 09:01] vivek286 opened #732 "Adding Resume option in navigation bar"
I would like to add a resume option to the navigation bar which will redirect the user to the resume file uploaded on google drive.
@smaranjitghose @anushbhatia  If you approve the issue please assign it to me.

[2021-06-17 09:29] royalleads15 commented on #665
@smaranjitghose @anushbhatia Sir I have a design , Kindly visit it and  if it suits then I can make PR .
![back to top](https://user-images.githubusercontent.com/56637948/122370242-89386180-cf7c-11eb-9706-cf80151ff4bc.jpg)

[2021-06-17 12:22] divyasri77 opened #734 "Add Skill Tab to Nav Bar"
In this page we can add the skills that we are good at.

[2021-06-17 12:24] divyasri77 commented on #732
we can add resume button in home page itself

[2021-06-17 13:52] tanzzz-tech commented on #647
@anushbhatia  can u please assign me this issue?

[2021-06-17 14:37] Surajvatsya commented on #716
ok sir, Thanks for guide.

[2021-06-17 16:47] Pratishtha33 opened #735 "Add Achievements Tab to Nav Bar"
Here can be any type of user who will need the portfolio website. so, Adding these features would give a complete touch to their resume.

[2021-06-17 18:35] rishika789 opened #737 "Footer Send Button UI Update"
on hovering send button of get in touch section . I would like to change the colour effects.

![Screenshot (917)](https://user-images.githubusercontent.com/78673968/122454143-ad219480-cfc8-11eb-8d78-dd1fce5c0e7c.png)

[2021-06-17 18:56] anushbhatia commented on #734
Could you elaborate this with an example if possible. @smaranjitghose do we want this in the project. we can just have a section of this on the home page?

[2021-06-17 18:58] anushbhatia commented on #732
@smaranjitghose what say?

[2021-06-17 18:59] anushbhatia commented on #647
I have assigned @prads46 for now as soon her time period is over. You will be assigned.

[2021-06-17 19:07] anushbhatia commented on #737
Would you like to add a micro animation to that part it would be great like
https://codepen.io/nuski/details/ExPEBgw
https://codepen.io/cjr85/pen/JjWKEMR

[2021-06-17 19:21] prads46 commented on #647
How much time do i have for this issue?

[2021-06-17 19:34] AKC068 opened #738 "Project UI update (Pull Request #682)"
@anushbhatia please assign me this issue so that I can make PR

[2021-06-17 21:45] smaranjitghose commented on #737
The first reference seems cool! @rishika789 take 3 days to implement that and let us know

[2021-06-17 21:50] smaranjitghose commented on #732
@anushbhatia Putting it on the home page will break the essence of the particle theme. Perhaps on the footer, as a download resume button or on the nav bar.

BTW, @divyasri77 feel free to raise an issue to add a blog page to the navbar. ( We won't build it, rather open the blog hosted on another server in a new tab)

[2021-06-17 21:52] smaranjitghose commented on #734
Ya, Maybe in a section below the homepage definitely!

[2021-06-17 21:52] smaranjitghose commented on #734
@anushbhatia I would request you to help out with the UI design in case we proceed with this to maintain the consistency of the theme

[2021-06-17 21:56] smaranjitghose commented on #647
3 days.

Meanwhile, i think @tanzzz-tech  you can work on another template page with a different theme. As in practicality we would have these pages for different purposes for example, Talks Throwbacks, College Graduation, etc

[2021-06-17 21:57] smaranjitghose commented on #735
I can assign you the issue if you wish to create a full fledged Achievements Page.

@anushbhatia UI suggestions and microanimations please!

[2021-06-17 21:59] smaranjitghose commented on #731
@itsij One suggestion, follow the color theme of the research page for the entire website to maintain consistency. Rest looks good to me. Looking forward to your PR.

[2021-06-17 22:01] smaranjitghose commented on #515
I am unassigning you since I expected you to understand the work before commenting for claiming it.

[2021-06-17 22:02] smaranjitghose commented on #665
@anushbhatia could you please suggest to him a micro animation.

Additionally the color of the button should change when on the remainder page to suit the theme

[2021-06-17 22:02] smaranjitghose commented on #665
The overall design and size looks cool!

[2021-06-17 22:38] #711 closed

[2021-06-17 22:40] smaranjitghose commented on #710
@tanya070820 Any updates?

Check out [this](https://github.com/smaranjitghose/awesome-portfolio-websites/pull/730) PR as it is a forerunner to your task

[2021-06-17 22:40] #709 closed

[2021-06-17 22:41] smaranjitghose commented on #704
Closed due to inactivity

[2021-06-17 22:41] #704 closed

[2021-06-17 22:43] smaranjitghose commented on #669
@Salonee-Jain  In case you wish to contribute further to the above pages. Please raise a new issue with an elaborate description of your proposal

[2021-06-17 22:43] #669 closed

[2021-06-17 22:44] smaranjitghose commented on #664
Closed due to inactivity

[2021-06-17 22:44] #664 closed

[2021-06-17 22:45] smaranjitghose commented on #650
Any updates @nitishapiplani @varunwho ?

[2021-06-17 22:45] #649 closed

[2021-06-17 22:45] #646 closed

[2021-06-17 22:46] #645 closed

[2021-06-17 22:46] #640 closed

[2021-06-17 22:48] smaranjitghose commented on #696
Closed due to inactivity

[2021-06-17 22:48] #696 closed

[2021-06-17 22:49] smaranjitghose opened #739 "Footer Realignment Web View"
![footer_update](https://user-images.githubusercontent.com/46641503/122481417-444c1380-cfec-11eb-980c-6e2c6f87641e.png)
- Shift the Elements towards the respective corners
- The quote should be in a single line. For long quotes, it should extend to the next line

[2021-06-17 22:51] smaranjitghose opened #740 "Pre-Loader Bug in Project Page"
## Self Explanatory Issue

The preloader is not being delivered on the project page.

[2021-06-17 22:53] smaranjitghose opened #741 "Replace all instances of the word Bibtex on the buttons of the Research Page with "Cite""
**Self Explanatory**

[2021-06-17 22:56] smaranjitghose opened #742 "Research Page Bug"
![Reserach Page UI Fix](https://user-images.githubusercontent.com/46641503/122481831-0ef3f580-cfed-11eb-8f29-a4dc3a960380.png)

# Requirements:

- Whenever one clicks over the Bibtex (would be changed to Cite in #741 ) or Abstract Button, the size of the card should not abruptly change. To fix this, display the text as a pop up with a X button to close it
- Both Abstract and Bibtex Content should

[2021-06-17 23:02] smaranjitghose opened #743 "Parallax Depth Cards for Project Page"
[Reference](https://codepen.io/andymerskin/pen/XNMWvQ)

## Requirements (w.r.t to the above reference):

- Make the cards square
- Increase the size of the cards such that each row in the web view for a 15.6" screen has three cards.
- Adjust the size of text (title of the card) such that  30 letters can be fit in a responsive manner. Multi-line titles should be possible
- On Hover, the title shoul

[2021-06-17 23:07] smaranjitghose opened #744 "Footer Form Input Field Animation"
[Reference](https://codepen.io/MichaelArestad/details/ohLIa)

@anushbhatia could you please choose one which suits the best for our purpose.

Follow the color theme of the website

[2021-06-17 23:23] smaranjitghose opened #745 "Vertical Timeline to Replace Cards for Formal Education in Education Page"
[Reference](https://codepen.io/savalazic/full/QKwERN)

## Modifications: (w.r.t the reference)

- The text should be similar both in terms of content and UI as present on the current cards in the education page
- Choose the card for 25th May, 2016 in the reference as the UI
- Take care of responsiveness in the mobile screens
- Do not put the present dummy logos. Make use of actual university logos

[2021-06-17 23:34] smaranjitghose opened #746 "[Advanced] Timeline UI Update in Education Page"
[Reference](https://codepen.io/Carrly/full/LQPLez)

__To be assigned only after #745 is complete. Do not comment for claiming this issue before that.__

# Modifications (w.r.t the reference)

- Should be vertical
- Cards to be the same as done in #745
- Animation on Scrolling up and down

[2021-06-17 23:44] smaranjitghose opened #747 "[Advanced] Pixel Stars for Background in the Dark Mode for all Pages"
[Reference](https://codepen.io/saransh/pen/BKJun)

__To be assigned only after #650 #710  is complete. Don't comment to claim before that__

## Modifications (w.r.t. the reference)

- The color of the background is to be set as per our theme. Consult with @anushbhatia
- The animation should not interfere with the cards/svgs
- To be avoided on the Home Page for obvious resasons

[2021-06-17 23:56] smaranjitghose opened #748 "Hackathon Section in Expereince Page"
[Reference](https://codepen.io/JavaScriptJunkie/details/WgRBxw)

## Requirements:

- Remove the mentorship cards (with all HTML, CSS and JS code related to them. Do not comment them out)
- The title of the section should be __Hackathon Participation__
- The UI should be the same as  given in the reference
- Do not change the background color of the page ( in the reference it is a shade of orange)

[2021-06-18 00:14] smaranjitghose opened #749 "Conference Highlight Page Template"
[Reference](https://codepen.io/dev_loop/full/MWKbJmO)

[Footer Wave Reference](https://codepen.io/goodkatz/pen/LYPGxQz)

## Instructions

- Make the cards square in shape
- The title and subtitle text should be present at the bottom of the cards rather than the center
- All the images should be placed inside `./assets/images/events/conf1/`
- Name the images properly
- The images to be used for the

[2021-06-18 00:34] smaranjitghose opened #750 "Travel Vlog Summary Template Page"
[Reference](https://codepen.io/suez/full/AXQaEg)

[Footer Wave Reference](https://codepen.io/goodkatz/pen/LYPGxQz)

## Instructions

- Make the cards square in shape
- Add a title like "Trip to the X" before the cards
- For the purpose of the demo, replace the "section 1", "section 2", etc texts with "Day 1", "Day 2", "Day 3", etc
- All the images should be placed inside `./assets/images/travel/tr

[2021-06-18 00:55] smaranjitghose opened #751 "Semester Rollback Template Page"
[Reference](https://codepen.io/nathantaylor/full/PJGqdE)

[Footer Wave Reference](https://codepen.io/goodkatz/pen/LYPGxQz)

## Instructions

- All the images should be placed inside `./assets/images/sem/sem1/`
- Take the images from Unsplash.
- Name the images properly
- Do not add a tab in the Nav Bar. The page would be accessed directly with ``./sem_temp.html``
- The CSS file should be `./assets

[2021-06-18 00:56] smaranjitghose commented on #738
Check out #743

[2021-06-18 00:56] #738 closed

[2021-06-18 01:12] smaranjitghose opened #752 "New Pre-Loader"
[Reference](https://codepen.io/alterebro/pen/abZzNRo)

__The color should be consistent with the theme of the website__

[2021-06-18 01:19] smaranjitghose opened #753 "Repository OpenGraph Card"
- Create a promotional card with dimensions 1280×640px for the repository (This appears when the link to the repository is shared across various social media, even WhatsApp!)
- The Name of the project should be prominent.
- The background should resonate well with the goal of the project

[Sample Reference](https://github.com/smaranjitghose/AppleFoliarAI)

[2021-06-18 01:21] #612 closed

[2021-06-18 01:23] smaranjitghose commented on #644
Closed due to inactivity. To be continued in #748

[2021-06-18 01:23] #644 closed

[2021-06-18 01:23] #668 closed

[2021-06-18 01:25] #515 closed

[2021-06-18 01:26] smaranjitghose opened #754 "Project Usage Documentation Website [Python + Markdown]"
__NOTE: This is an issue that exclusively demands knowledge of Python. Please take this up only if you are comfortable beyond basics__

#### Package to be used: [MkDocs Material](https://squidfunk.github.io/mkdocs-material/)

#### Branch for source code: [documentation](https://github.com/smaranjitghose/awesome-portfolio-websites/tree/documentation)

__Please read through the documentation careful

[2021-06-18 01:40] smaranjitghose opened #756 "Update Contribution Guidelines"
# Requirements:

- Exclusively work with [CONTRIBUTING.md](https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/CONTRIBUTING.md)
- All the images/clips used should be inside ``./readme_assets/contributing/``
- Divide the Guide into two sections

[code]

- For the steps like forking, cloning, raising a PR add gifs (i.e. Record Short clips using OBS Studio and convert them into G

[2021-06-18 02:11] AKC068 commented on #743
@smaranjitghose can you please assign me also this issue as my update is ready and I only have to make a PR.
As changes requested by @anushbhatia

[2021-06-18 02:40] varunwho commented on #753
Hey can you assign this to me

[2021-06-18 02:42] varunwho commented on #650
I thought @nitishapiplani is doing this bcoz she claimed the issue before me (or else I am almost done with the toggle switch)

[2021-06-18 02:43] varunwho commented on #752
Hey I can try working on this, please assign this issue to me!

[2021-06-18 02:45] vivek286 opened #757 "Adding gmail icon to footer"
I would like to add a Gmail icon to the footer which will redirect the viewer to Gmail compose with already filled Gmail of portfolio user.
preview of the redirected page -

![WhatsApp Image 2021-06-18 at 8 11 07 AM](https://user-images.githubusercontent.com/68116663/122498582-38d4fa00-cfa4-11eb-92da-9338c9e92a7d.jpeg)

@smaranjitghose @anushbhatia If you approve the issue please assign it to me.

[2021-06-18 02:46] smaranjitghose commented on #757
The purpose of the contact form is to avoid giving the email

[2021-06-18 02:46] #757 closed

[2021-06-18 02:47] smaranjitghose commented on #752
Assigned for 3 days

[2021-06-18 02:53] itsij commented on #731
@smaranjitghose can we change the image on projects page to some image in purple-blue color bcoz that's the only one with different color...and by doing this, we can define purple-blue color for scrollbar, contact form in "style.css" only instead of individual pages, ( like u wanted for consistency ) and it will look fine on all pages....?

[2021-06-18 03:02] itsij commented on #731
or is it fine this way itself?

![image](https://user-images.githubusercontent.com/72145053/122500071-b124d500-d00f-11eb-9b9f-d237f9dd849c.png)

[2021-06-18 04:28] Pallav-19 commented on #741
@smaranjitghose  please assign this to me

[2021-06-18 04:28] divyasri77 opened #758 "to add a blog page to the navbar"

[2021-06-18 04:56] Pallav-19 commented on #741
@smaranjitghose already I have resolved it . Assign me so that I will create a pull request soon

[2021-06-18 05:29] Pallav-19 commented on #740
@smaranjitghose  I have fixed this bug  already , assign me so that I will create a pull request, thank you !

[2021-06-18 06:35] vivek286 commented on #744
I want to work on this please assign it to me.

[2021-06-18 06:38] JahnaviKashyap19 commented on #739
Please assign me this issue. I can work on it.

[2021-06-18 08:38] nitishapiplani commented on #650
in process of completion

[2021-06-18 08:44] smaranjitghose commented on #731
Sure

[2021-06-18 09:24] Pratishtha33 commented on #735
Yes, It would be accurate. I'm ready to make full fledge Achievements page.

[2021-06-18 09:55] Pallav-19 commented on #741
@smaranjitghose  Thank You !

[2021-06-18 09:57] Pallav-19 commented on #740
Hey!, @smaranjitghose  I have created a pull request, kindly check !

[2021-06-18 12:10] AKC068 commented on #743
@smaranjitghose sir can you let me know that I got it right or wrong that in 4th point you are telling that without shifting the heading text on hover there should be preview and github icon on right ?
If it is like that then if letters are shifted on left and icons come there then it will look congested because everything will be in single line.

I'm making a PR and please review that and let me

[2021-06-18 12:23] forkbikash commented on #723
Hey @smaranjitghose ,
 Should I include the page link in the navbar (or wait for proper time) ?

The gallery page looks like this.....
![Screenshot (108)](https://user-images.githubusercontent.com/70908998/122560068-c1fc3780-d05d-11eb-9696-a9c7d211d127.png)
![Screenshot (109)](https://user-images.githubusercontent.com/70908998/122560105-cc1e3600-d05d-11eb-894f-c7ed6b51c001.png)
![Screenshot (110)]

[2021-06-18 12:51] Pallav-19 commented on #740
@anushbhatia Hey, if You are free kindly review the PR, Thank You!

[2021-06-18 12:51] forkbikash commented on #750
Please assign it to me.

[2021-06-18 13:51] smaranjitghose commented on #750
Assigned for 3 days

[2021-06-18 13:55] smaranjitghose commented on #740
@Pallav-19 Time and again I have mentioned in the slack workspace, that both the maintainers are working full time and we would get back to review the issue within 48 hours. This is not our primary priority and we cannot always instantaneously reply due to other commitments. Please try to be patient and avoid spamming with such comments on the issue/pull request threads

[2021-06-18 14:03] rushikadivar opened #762 "spacing in eduction heading on different screen size"
heading of the education page are not responsive for different screen size and needs changes in breakpoint

[2021-06-18 14:15] smaranjitghose commented on #723
Sure. Please give a PR. Do not put the link in the Nav bar for now

[2021-06-18 14:16] rushikadivar commented on #762
please assign me that issue

[2021-06-18 15:58] smaranjitghose commented on #762
Assigned for 2 days

[2021-06-18 15:59] 444-555-fatima commented on #735
please assign me this issue

[2021-06-18 16:01] smaranjitghose commented on #735
@444-555-fatima  Please check out the other issues. I have clearly mentioned in the guidelines on the slack workspace that once a participant is assigned an issue, it would not be reassigned till their tenure of 2-3 days is over.

[2021-06-18 16:04] 444-555-fatima commented on #734
please elborate me this issue

[2021-06-18 16:06] MukulKolpe commented on #745
Hey @smaranjitghose, can you please assign this issue to me.

[2021-06-18 17:42] anushbhatia commented on #665
https://codepen.io/TKS31/pen/gOaKaxx @smaranjitghose something like this?

[2021-06-18 17:49] anushbhatia commented on #710
https://material.io/design/color/dark-theme.html do follow these guidelines

[2021-06-18 18:10] anushbhatia commented on #735
https://dribbble.com/shots/4048382-Achievement-illustrations
https://dribbble.com/shots/8804697-User-team-achievements-for-Skara-company-wiki
https://dribbble.com/shots/10927327-Celebration-Animation-for-30k-Followers (Particle effect in bg)
![image](https://user-images.githubusercontent.com/40017559/122601220-96457580-d08e-11eb-8bb7-813cd7413934.png)

[2021-06-18 18:14] anushbhatia commented on #734
https://dribbble.com/shots/1941601-Design-Skills

[2021-06-18 18:15] anushbhatia commented on #745
Assigned for 3 days

[2021-06-18 19:32] Pratishtha33 commented on #735
should I put some random Achievements in order to show something?

[2021-06-18 21:35] forkbikash commented on #750
Hey @smaranjitghose ,
This is how the design should look ?
![Screenshot (114)](https://user-images.githubusercontent.com/70908998/122618003-0104aa00-d0ab-11eb-8ea2-340effc72ff6.png)
![Screenshot (115)](https://user-images.githubusercontent.com/70908998/122618019-08c44e80-d0ab-11eb-9880-0cfd5eb249eb.png)
![Screenshot (116)](https://user-images.githubusercontent.com/70908998/122618042-0feb5c80-d0ab-

[2021-06-19 02:22] #732 closed

[2021-06-19 03:00] anushbhatia commented on #735
Yes, you could add random as of now or some of yours.

[2021-06-19 03:10] anushbhatia commented on #750
Increase the height of the image of whatever. So that it can be looked at carefully. Also, try adding an image in portrait mode also.

[2021-06-19 05:44] ThejasKiranPS commented on #756
May I add the gifs?

[2021-06-19 06:04] Pratham-Mishra178 opened #765 "Shaking Hand"
I want to shake the hand in the hii I'm john doe line

[2021-06-19 06:04] Pratham-Mishra178 commented on #765
@smaranjitghose assign it to mee please

[2021-06-19 06:12] divyasri77 commented on #734
added the skill section
review by pull request👍

[2021-06-19 08:57] varunwho commented on #753
How's this?
![awesome-portfolio](https://user-images.githubusercontent.com/53107832/122637084-620f9a80-d10a-11eb-81ae-2bca7bc092a3.png)

[2021-06-19 09:46] varunwho commented on #752
https://user-images.githubusercontent.com/53107832/122638361-452a9580-d111-11eb-9542-3f6e97812d4b.mp4

Like these? (There are 2 samples in this)

[2021-06-19 09:50] varunwho commented on #753
### Something like this?
![portfolio](https://user-images.githubusercontent.com/53107832/122638441-b9fdcf80-d111-11eb-8e30-4f622dccc5bf.png)

[2021-06-19 11:37] smaranjitghose commented on #752
No 😅
I specifically gave the atom pre loader reference

[2021-06-19 11:56] varunwho commented on #752
So I'll use the same without any modifications..?
Colours?

[2021-06-19 12:26] smaranjitghose commented on #753
Please have a look at the reference.

[2021-06-19 13:55] itsij commented on #731
Hey @smaranjitghose!!
Instead of changing the image of projects page, I have changed the colors of that svg to suit the theme. Plz have a look:

![image](https://user-images.githubusercontent.com/72145053/122644483-11606780-d133-11eb-8434-1d861901fbc3.png)

Is it looking fine? or shall i make some changes...?

[2021-06-19 15:17] bindaldhara opened #769 "A simple webpage using basics of HTML and CSS"

[2021-06-19 15:40] smaranjitghose commented on #769
Please elaborate

[2021-06-19 15:45] smaranjitghose commented on #765
Avoid these spam messages. Once you raise an issue, the maintainers would get back to you in 24-48 hours.

[2021-06-19 15:53] #727 closed

[2021-06-19 16:06] smaranjitghose commented on #731
Perfect. Do go ahead and give a PR

[2021-06-19 16:07] smaranjitghose commented on #752
Modify the colors. Add a text like John Doe in the bottom, maybe play around with the electrons or the background or the axis. But keep the animation as an atom rotating about an axis

[2021-06-19 16:16] smaranjitghose commented on #665
The middle one, ya!  The color scheme should be consistent with the rest of the website.

[2021-06-19 16:17] tanya070820 commented on #710
ok Sir

[2021-06-19 16:17] smaranjitghose commented on #710
Are you still working on this?

[2021-06-19 16:19] tanya070820 commented on #710
I haven't started till yet

[2021-06-19 16:20] smaranjitghose commented on #710
How many days would you need for this? At least the first PR?

[2021-06-19 16:27] tanya070820 commented on #710
around three days

[2021-06-19 16:33] smaranjitghose commented on #710
Cool. Then that's the deadline for you

[2021-06-19 17:39] bindaldhara commented on #769
It is just a simple webpage with the help of basics of HTML and CSS filling a form for joining the gym ..

[2021-06-19 18:37] smaranjitghose commented on #769
We do not have a relation with a gym in this project. Please have a look at the codebase and the purpose of the project

[2021-06-19 18:37] #769 closed

[2021-06-19 19:39] #731 closed

[2021-06-19 19:46] ishitakapoor26 commented on #748
pls assign me this issue.

[2021-06-19 19:49] ishitakapoor26 commented on #756
pls assign me this issue.

[2021-06-19 19:51] ishitakapoor26 commented on #744
pls assign this issue to me.

[2021-06-19 21:35] anushbhatia commented on #732
yep

[2021-06-20 02:49] #725 closed

[2021-06-20 02:51] aliya-rahmani commented on #744
@ishitakapoor26 I've assigned two issues to you already, finish them first, and then I'll assign you this one.

[2021-06-20 07:16] varunwho commented on #753
This one right?
![Screenshot 2021-06-20 123719](https://user-images.githubusercontent.com/53107832/122665345-4f599c00-d1c4-11eb-8acd-e1a5594e0a3b.png)

In this, I've used the ParticlesJs background, male-female DP image and the same colour (purple) to resonate with the project.
Did you want something different? Can you tell me more specific details please

[2021-06-20 08:36] Pratham-Mishra178 commented on #765
got it
really sorry

[2021-06-20 09:05] Chaitalishetty commented on #744
@smaranjitghose  can you assign this issue to me

[2021-06-20 09:52] 444-555-fatima commented on #734
assign me

[2021-06-20 09:53] varunwho commented on #752
https://user-images.githubusercontent.com/53107832/122669503-5a6bf680-d1db-11eb-9c8d-31c087a061c2.mp4

The original colors weren't visible in this light background and for light mode, we need a light bg so that's why I changed the color to purple and also added a John Doe text with the same animation as "I am a ____"

[2021-06-20 12:46] aliya-rahmani commented on #762
@rushikadivar what's the status of your PR?

[2021-06-20 12:50] aliya-rahmani commented on #734
@444-555-fatima, a PR has already been raised for this issue, do find others with an "up for grab" tag.

[2021-06-20 12:54] #741 closed

[2021-06-20 12:56] #740 closed

[2021-06-20 12:57] aliya-rahmani commented on #737
@rishika789 updates?

[2021-06-20 13:28] anushbhatia commented on #752
the animation looks great . The only thing that I would want to change is increasing the width of the lines of these rather than changing the background.

[2021-06-20 13:29] smaranjitghose commented on #753
I don't have the time to explain this issue any further than what is present in the issue description as I would take much less time to actually finish the work myself.

[2021-06-20 13:31] smaranjitghose commented on #752
Avoid the typewriter effect on the text. Just have it there without any animation

[2021-06-20 15:38] riya123-hub commented on #737
I am a  participant in LGMSOC. Can I take this issue ?

[2021-06-20 19:36] forkbikash opened #774 "Huge space and scattered code in style.css"
Please assign me.
![Screenshot (120)](https://user-images.githubusercontent.com/70908998/122686016-a7c48400-d22c-11eb-8791-750a9923d63f.png)

[2021-06-21 02:11] rushikadivar commented on #762
It's already merged with different issue along with their code

[2021-06-21 03:28] aliya-rahmani commented on #762
got it!

[2021-06-21 03:28] #762 closed

[2021-06-21 03:33] aliya-rahmani commented on #739
@JahnaviKashyap19 updates?

[2021-06-21 06:34] JahnaviKashyap19 commented on #739
Hello! Thank you for assigning me the issue. I have created the pull request. Kindly review it.

[2021-06-21 08:17] smaranjitghose commented on #739
Major responsiveness issue. Check the review please and test the changes well before the PR

[2021-06-21 12:21] Shaishav0507 commented on #749
Can I work on this issue ?

[2021-06-22 06:21] aliya-rahmani commented on #745
@MukulKolpe  updates?

[2021-06-22 06:30] aliya-rahmani commented on #743
@AKC068 updates?

[2021-06-22 06:34] aliya-rahmani commented on #710
@tanya070820 updates?

[2021-06-22 06:41] AKC068 commented on #743
I'm very sorry @aliya-rahmani I'm getting late but yes it is in progress and within three days I'll make a PR for this issue...

Because previously the changes which I had made was not according to the reference provided.
Sorry for inconvenience.

[2021-06-22 08:40] aliya-rahmani commented on #743
Alright, then three days is the deadline for you.

[2021-06-22 08:43] MukulKolpe commented on #745
Please can I get an extension of a day, I am working on it.

[2021-06-22 08:49] 444-555-fatima commented on #758
assign  me this issue

[2021-06-22 10:15] #739 closed

[2021-06-22 10:41] smaranjitghose commented on #745
Sure

[2021-06-22 10:50] #758 closed

[2021-06-22 11:10] #723 closed

[2021-06-22 11:16] #765 closed

[2021-06-22 11:19] smaranjitghose commented on #650
@varunwho @nitishapiplani Are anyone of done with this?

[2021-06-22 11:20] #734 closed

[2021-06-22 11:21] smaranjitghose commented on #756
It's been 2 days @ishitakapoor26. This is a really simple issue.  You have 1 more day for this

[2021-06-22 11:22] smaranjitghose commented on #650
Closed due to inactivity

[2021-06-22 11:22] #650 closed

[2021-06-22 11:22] smaranjitghose commented on #710
Closed due to inactivity

[2021-06-22 11:22] #710 closed

[2021-06-22 11:29] ishitakapoor26 commented on #756
okay

[2021-06-22 11:34] anushbhatia opened #779 "Dark Mode"
[Reference of toggle button](https://henryegloff.com/how-to-code-a-simple-dark-mode-toggle/)

### The Colour theme for the dark mode should be followed from google's [material UI](https://material.io/design/color/dark-theme.html)
![image](https://user-images.githubusercontent.com/40017559/122917400-9c33a300-d37b-11eb-9938-ed425250b1e5.png)
Here's typography and relevant background present here.

A

[2021-06-22 12:03] #677 closed

[2021-06-22 14:20] #774 closed

[2021-06-22 14:24] #750 closed

[2021-06-22 14:59] ashuydv commented on #779
Plz assign it to me...

[2021-06-22 19:41] harshita9621 commented on #779
Can I work on this issue?

[2021-06-23 05:01] nekkantimadhu commented on #779
Could you please assign me please

[2021-06-23 07:05] anushbhatia commented on #779
Assigned for 5 days. Do give regular updates @ashuydv

[2021-06-23 09:19] MukulKolpe commented on #745
I had injected data in the education.js file in JSON format and changed logos. But I was not able to make a similar UI after trying for 2 days. Sorry for that.

[2021-06-23 09:49] aliya-rahmani commented on #744
@Chaitalishetty updates?

[2021-06-23 09:51] aliya-rahmani commented on #735
@Pratishtha33  unassigned due to inactivity.

[2021-06-23 11:10] riya123-hub commented on #737
I have made the changes and pulled request. plz do review

[2021-06-23 11:13] RituCs commented on #748
I would like to work on this issue under LGMSOC'21.Please assign it to me.

[2021-06-23 11:29] riya123-hub commented on #737
I am really sorry I mistakenly unassigned myself. Can u plz reassign me

[2021-06-23 11:53] ishitakapoor26 commented on #748
@RituCs Hey I'm already working on this issue. Look for some other issue! Good Luck!

[2021-06-23 16:10] smaranjitghose commented on #748
@ishitakapoor26 You have 1 more day for this issue

[2021-06-23 16:16] smaranjitghose commented on #737
It is fine @riya123-hub .  Please have a look a the feedback given on your PR. Kudos for the hard work done however the requirements stated above are different

[2021-06-23 18:15] supzi-del opened #783 "Add some shadow below profile picture for depth"
A box shadow can be added below the profile picture on landing page. The picture looks blended into the background. Adding shadow would add some depth.

[2021-06-23 18:16] supzi-del commented on #783
![Screenshot (296)](https://user-images.githubusercontent.com/78655439/123147885-33ccea80-d47d-11eb-951d-5716a433938d.png)
It would look like this

[2021-06-23 18:16] supzi-del commented on #783
I would like to work on this under LGMSOC.

[2021-06-23 19:15] smaranjitghose commented on #783
Assigned for 2 days,

[2021-06-23 19:48] harshita9621 commented on #783
Can I work on this issue??

[2021-06-23 23:26] smaranjitghose commented on #783
Please read the issue threads before blindly commenting

[2021-06-23 23:57] smaranjitghose opened #784 "Home Page for React Version"
# Description

- Keeping the theme the same, work on converting the current home page's codebase in React
- Be cautious of the routing for the navbar
- Work on the `react` branch

[2021-06-23 23:58] smaranjitghose opened #785 "Education Page for React Version"
# Description

- Keeping the theme the same, work on converting the current Education page's codebase in React
- Be cautious of the routing for the navbar
- Work on the `react` branch

[2021-06-23 23:59] smaranjitghose opened #786 "Expereince Page in React Version"
# Description

- Keeping the theme the same, work on converting the current home page's codebase in React
- Be cautious of the routing for the navbar
- Work on the `react` branch

[2021-06-24 00:00] smaranjitghose opened #787 "Project Page in React Version"
# Description

- Keeping the theme the same, work on converting the current project page's codebase in React
- Be cautious of the routing for the navbar
- Work on the `react` branch

[2021-06-24 00:01] smaranjitghose opened #788 "Research Page for React Version"
# Description

- Keeping the theme the same, work on converting the current research page's codebase in React
- Be cautious of the routing for the navbar
- Work on the `react` branch

[2021-06-24 04:31] harshita9621 commented on #783
@smaranjitghose I read the issue then only I apply for it.

[2021-06-24 08:02] #752 closed

[2021-06-24 08:05] aliya-rahmani commented on #749
@Shaishav0507 updates?

[2021-06-24 08:07] #665 closed

[2021-06-24 08:14] Shaishav0507 commented on #749
Working on it

[2021-06-24 08:57] anushbhatia commented on #749
you can just send the screenshot of progress by then.

[2021-06-24 09:33] anushbhatia commented on #744
https://tympanus.net/codrops/2015/01/08/inspiration-text-input-effects/ you can refer this too

[2021-06-24 13:06] #783 closed

[2021-06-24 15:16] 444-555-fatima commented on #735
please review my pR

[2021-06-24 16:11] ashuydv commented on #788
I want to work on this  issue,
My question is the repo same ??

[2021-06-24 16:12] ashuydv commented on #784
I want to work on this issue,

[2021-06-24 16:12] ashuydv commented on #785
I want to work on this issue

[2021-06-24 16:13] ashuydv commented on #786
I want to work on this issue

[2021-06-24 16:41] anushbhatia commented on #788
Yes just create it in a new branch.

[2021-06-24 16:42] anushbhatia commented on #784
Assigned for 3 days.

[2021-06-24 16:42] anushbhatia commented on #788
Assigned for 3 days.

[2021-06-24 16:43] anushbhatia commented on #785
Finish the previous 2 issues then we can assign rest of them.

[2021-06-24 18:56] smaranjitghose commented on #735
The PR should be on this repository and not your forked one!

- Please have a look at the commits before giving a PR
- Your work just depends on an achievement.html, achievement.js, and achievement.css. However, this PR tends to change 42 files that have no relation with the work
- Demo Snapshot/Clip missing in the PR Description
- Poor Documentation of Code
- Corresponding Issue improperly linked

[2021-06-24 20:51] supzi-del opened #793 "Decrease height of volunteer card images"
The images of volunteer cards have 300px which is a little enlarged. It should be perfectly square.
I want to add the following changes:

Before:
![image](https://user-images.githubusercontent.com/78655439/123330523-c0e67100-d55b-11eb-84e6-cb88e5f5d61a.png)

After:
![Screenshot (304)](https://user-images.githubusercontent.com/78655439/123330560-ce036000-d55b-11eb-9f58-ebf54cce9d0f.png)

[2021-06-25 04:24] Amrutha1101 commented on #756
Can I work on this issue under LGM-SoC ?

[2021-06-25 04:25] Diksha02 commented on #785
I would like to work on this issue

[2021-06-25 05:22] anushbhatia commented on #793
Assigned for 2 days.

[2021-06-25 06:40] deeqakkk commented on #787
@ashuydv You can work on it.

[2021-06-25 06:49] deeqakkk commented on #786
@ashuydv Assigned for 3 days but keep me updating.

[2021-06-25 07:02] deeqakkk commented on #756
@Amrutha1101  Yes, you can work on it.

[2021-06-25 07:27] Amrutha1101 commented on #756
Can you re share the pinned message here for detailed content as slack isn't used now?

[2021-06-25 08:04] shreya0204 commented on #753
Hey, as I understood, You want to say that you want a promotional card design for your projects to be published along with your GitHub repo.

So, I have designed this card attached below.

- It is simple, elegant, as your mentioned reference image.
- It is of size 1280 x 640 as mentioned.
- You can add your project image in place of the reference image along with Project Title.
- Description and l

[2021-06-25 10:31] deeqakkk commented on #756
@Amrutha1101 https://app.slack.com/client/T022A4RL16V/C0246EFQG4T
Pinned message can be found here.

[2021-06-25 10:34] Amrutha1101 commented on #756
Thanks

[2021-06-25 10:39] Amrutha1101 commented on #756
I guess the message isn't visible though it's pinned

[2021-06-25 11:25] Namangujral1 opened #794 "Website Links are not provided in the Footer Section"
I have seen the website and find an issue that in footer section, the links or buttons of your social media handles are not working. Please approve this issue and assign it to me . I want to work for this under LGM SOC'21

So please provide me your social media handles to update them

[2021-06-25 11:54] tauqeerali1 commented on #742
Please assign this issue to me.

[2021-06-25 12:03] tauqeerali1 commented on #751
Please assign this issue to me.

[2021-06-25 12:16] smaranjitghose commented on #794
It's not supposed to work. This project is ought be used as a template and hence we have not provided any actual links

[2021-06-25 12:16] #794 closed

[2021-06-25 12:18] smaranjitghose commented on #756
Leave that. I'll take care of it. Meanwhile, you can complete the rest @Amrutha1101

[2021-06-25 12:20] smaranjitghose commented on #753
@shreya0204 Yes.

I have put one in the README myself.

Your suggestion seems cool too. However, avoid using any pictures that indicate a relationship with food and try to select one which is more suitable for our project.

Currenly, we are using HTML, CSS, JS along with some Bootstrap, Jquery,AOS and Particle.jS. We plan to shift to React soon!

[2021-06-25 12:25] smaranjitghose commented on #793
@supzi-del We now have a dark mode too for the website. Please ensure that your changes work well for both the modes as well as different screen sizes

[2021-06-25 12:28] smaranjitghose commented on #787
@ashuydv You are already assigned over 3 issues including the new Dark mode one. I would love to see you contribute even more. However for the fairness w.r.t. the other participants I am unassigning you from this one temporarily. Please finish at least one react issue and the dark mode one completely. After that, you can continue with this.

[2021-06-25 12:28] smaranjitghose commented on #786
@ashuydv You are already assigned 3 issues including the new Dark mode one. I would love to see you contribute even more. However for the fairness w.r.t. the other participants I am unassigning you from this one temporarily. Please finish at least one react issue and the dark mode one completely. After that, you can continue with this.

[2021-06-25 12:34] deeqakkk commented on #742
@tauqeerali1 you can work on it.

[2021-06-25 12:46] smaranjitghose commented on #756
Common Guidelines:

A) Pull Request:

- All Pull Requests should have a single commit. In case of multiple commits, please perform a rebase and make a squash commit before giving the Pull Request
- The Pull Request title should be appropriate and relatable to the issue under which it was assigned to the participant
- Pull Requests without a description would often not be reviewed. The work done in

[2021-06-25 12:47] smaranjitghose commented on #756
@Amrutha1101 I have pasted that message here

[2021-06-25 12:48] #779 closed

[2021-06-25 12:49] smaranjitghose opened #795 "Improve Dark Mode Toggle Switch"
[Reference](https://codepen.io/ashleynolan/pen/wBppKz)

** The Day/Night Toggle.

__All the assets should be local__

[2021-06-25 12:50] #520 closed

[2021-06-25 12:51] #737 closed

[2021-06-25 12:52] smaranjitghose opened #796 "Footer Microanimation"
[Reference](https://codepen.io/nuski/details/ExPEBgw)

- The footer code should be loaded exclusively from app.js and style.css
- Modify the color according to the theme of the website

[2021-06-25 12:53] smaranjitghose commented on #748
Do you wish to take this up?

[2021-06-25 12:56] smaranjitghose opened #797 "Footer UI Tweak"
![footer_update](https://user-images.githubusercontent.com/46641503/123427851-c2a74780-d5e2-11eb-9962-7a5903a595ba.png)

Remove the elements pointed out above including the line.

[2021-06-25 12:59] smaranjitghose opened #798 "Website Color Consistency"
![A_1](https://user-images.githubusercontent.com/46641503/123428136-1e71d080-d5e3-11eb-9124-58d8c30d6b5e.png)
![footer_update](https://user-images.githubusercontent.com/46641503/123428143-1fa2fd80-d5e3-11eb-92b8-705b3666d76c.png)

- The footer form, illustration(s), underscores, title text and the scroll bar should be of the same color.
- Go ahead with a shade of purple or mauve
- This should be d

[2021-06-25 13:03] supzi-del commented on #797
I would like to work on this.

[2021-06-25 13:04] smaranjitghose opened #799 "Research Page Button Bug Dark Mode"
![Research_Page_color](https://user-images.githubusercontent.com/46641503/123428819-d8693c80-d5e3-11eb-8b02-b94ceddbe830.png)

For reference about the button color, have a look at the gifs of the previous version of the website given in the readme

[2021-06-25 13:05] smaranjitghose commented on #797
Since this is a simple issue, I am giving 1 day for this. If you need more time, we can extend the deadline

[2021-06-25 13:11] smaranjitghose opened #800 "Make the social media buttons on the Home Page more prominent w.r.t the background"
# Reference

#### Light Mode

![social_media_buttona](https://user-images.githubusercontent.com/46641503/123429435-955b9900-d5e4-11eb-8fa9-c0ad21e7bb7e.png)

#### Dark Mode

![social_media_button_dark](https://user-images.githubusercontent.com/46641503/123429622-c50aa100-d5e4-11eb-8312-a91d3a24c081.png)

# Note:

- The micro animations should not be messed up
- On Hover, color change and raise sho

[2021-06-25 13:14] smaranjitghose opened #801 "Fix the responsiveness issues for the Expereince Page in Mobile Screens"
Self Explanatory

[2021-06-25 13:16] smaranjitghose opened #802 "Research Page Mobile Screen Bug"
There is a huge gap between the illustration and the cards in the research page for Mobile Screens. Reduce that

![Research_Page_mobile_Screen](https://user-images.githubusercontent.com/46641503/123430246-95a86400-d5e5-11eb-9d77-0bc4cf417a60.png)

[2021-06-25 13:24] smaranjitghose opened #803 "Expereince Page Dark Mode Card UI Bug"
# Current UI

![Current_Expereince](https://user-images.githubusercontent.com/46641503/123431199-a1485a80-d5e6-11eb-9a71-8f05a6339135.png)

# Sample Reference for Expected UI

![Experience_Page](https://user-images.githubusercontent.com/46641503/123431080-81189b80-d5e6-11eb-946a-e420747e0d7f.png)

This should be done for all of the cards

[2021-06-25 13:29] smaranjitghose opened #804 "Footer Form Mircro animation"
[Reference](https://codepen.io/MichaelArestad/details/ohLIa)

- The 4th one is the effect we prefer
- Modify the label and the helper texts in the form accordingly
- The colors should be consistent with the rest of the website
- __Before Raising a PR, please inspect your changes and ensure that the footer is responsive for all screen sizes on all pages__

[2021-06-25 13:29] #735 closed

[2021-06-25 13:31] supzi-del commented on #797
![image](https://user-images.githubusercontent.com/78655439/123432199-bd98c700-d5e7-11eb-9cd0-7df802bae17a.png)

[2021-06-25 13:32] supzi-del commented on #797
For this issue, hr tag should be removed. However there's no such tag in the repo.

[2021-06-25 13:40] smaranjitghose opened #805 "Parallax Photo Carosel for Event Page"
[Reference](https://codepen.io/creativeocean/pen/mdROBXx)

- The footer and the navbar should be used as it is present in the other pages
- Do not add a tab in the Nav Bar. The page would be accessed directly with ``./event.html``
- The CSS file should be `./assets/css/event.css` and the Js should be ``./assets/js/event.js``
- All the images should be placed inside  `./assets/images/event/`
- Name

[2021-06-25 13:41] #647 closed

[2021-06-25 13:45] smaranjitghose commented on #793
@supzi-del

Please change the title to "Open Source" ☺

Additionally, I am planning to change the UI of the cards to a direction aware hover effect. [Reference](https://codepen.io/noeldelgado/pen/pGwFx). If you wish you can raise this in a separate issue and continue after the PR for current issue is merged.

[2021-06-25 13:51] supzi-del commented on #793
Okay, sure :)
But is it right to add 30daysofFlutter and GarudaHacks under open source?

[2021-06-25 13:52] smaranjitghose commented on #797
I just noticed. Due to some prior PRs, we now have app.js and main.js which do the same thing. The <hr> tag is present in the app.js but main.js. This is a redundancy issue I believe.

Could you please safely remove the main.js insuring everything works well when we use the app.js for all the pages. I am upgrading the level of the issue.

[2021-06-25 13:54] smaranjitghose commented on #793
Nope. Remove them

[2021-06-25 14:02] smaranjitghose opened #806 "PreLoader UI Update"
[Reference](https://codepen.io/webcraftsman/pen/xxgvzwj)

- Change the background of the current pre-loader to the shade of the black shown above
- The atom animation should remain the same
- Add the Fade in Text Animation and change the text to a quote like "I could either watch it happen or be a part of it". The prepositions should not be made bold
- Make sure the preloader works for all the pag

[2021-06-25 14:11] smaranjitghose opened #807 "404 UI Update"
[Reference](https://codepen.io/uiswarup/pen/dyoyLOp)

- All the images/illustrations should be local and present inside `./assets/images/404/`
- Add the Go Back to Home Button
- Modify the color scheme according to the theme of the website

[2021-06-25 14:12] supzi-del commented on #797
Actually, when I open index.html in live server, it is still showing the old version (without dark mode, without new footer, without new loader).
So unless it is updated, I cannot see the changes.

[2021-06-25 14:28] smaranjitghose commented on #797
![Live_Server](https://user-images.githubusercontent.com/46641503/123439758-ac53b880-d5ef-11eb-89bc-aa10ff819161.png)

For me, when I use the live server it does show the current codebase.

Pull the changes from upstream (this repo) to your forked repo

[2021-06-25 14:29] supzi-del commented on #797
Oh okay, got it now. Thanks

[2021-06-25 14:39] shreya0204 commented on #753
Yes, I have seen which you have put in README.
But, that is am image. So you want an image banner or you want HTML coded banner. Please clarify.

[2021-06-25 14:40] smaranjitghose commented on #753
Image

[2021-06-25 14:43] shreya0204 commented on #753
Okay. That's cool.
So I'll be making one card for your portfolio website.
The content is the same as you have written in the image in the README file or the content would be different.

[2021-06-25 14:48] smaranjitghose commented on #753
It can be different. Feel free to be creative. But should reflect the goal of the project

[2021-06-25 14:51] shreya0204 commented on #753
Okay thank you for giving flexibility, I'll be sending the card soon.

[2021-06-25 16:07] Amrutha1101 commented on #798
Can I get assigned for this issue under LGM-SOC?

[2021-06-25 16:46] shreya0204 commented on #753
I have attached the image card below

![My Post (7)](https://user-images.githubusercontent.com/78657883/123457639-bed6ed80-d601-11eb-8839-4a442a91e618.png)

[2021-06-25 17:08] Sarthakjain594 commented on #802
heyyy , I am a LGMSOC'21 participant . Can I work on this issue ?

[2021-06-25 17:15] deeqakkk commented on #802
You can work on it @Sarthakjain594 !

[2021-06-25 17:40] Namangujral1 commented on #794
Okkk.... No issues

[2021-06-25 17:52] RituCs commented on #748
Yes

[2021-06-25 18:13] Umesh-01 opened #809 "add some badges to README"
### Description
add some badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

### Solution
**I will add some badges at the top and also will add links related to

[2021-06-25 18:22] Umesh-01 commented on #809
@deeqakkk @anushbhatia @smaranjitghose should I work on this??

I will add badges like this, also if u want some specific only then I can do that

![image](https://user-images.githubusercontent.com/83420185/123469150-4e839880-d610-11eb-9340-7ff7564bb9c7.png)

[2021-06-25 19:24] deeqakkk commented on #798
@Amrutha1101 Yes, you can work on it.

[2021-06-25 20:24] tauqeerali1 commented on #742
I have doubt in 1st point when we click popup X button that will close Cite/Abstract button also or this is only a simple popup?

[2021-06-25 20:25] tauqeerali1 commented on #742
I have doubt in 1st point when we will click popup "X" button that will close Cite/Abstract button also or this is only a simple popup?

[2021-06-25 23:21] anandalisha opened #811 "add skills page and skill attribute in navbar"
## Description
want to add a page showing  professional skills of the person and as a new attribute in the navbar

## Solution
![Screenshot (74)](https://user-images.githubusercontent.com/55910525/123493854-7805e980-d63b-11eb-8e7b-98c3550df089.png)
want to create something like this

[2021-06-25 23:33] anandalisha commented on #811
@smaranjitghose  @anushbhatia Please assign me under LGMSOC!!

[2021-06-26 03:55] anushbhatia commented on #753
Heading should a little bit more clear and bolder so that they will be able to remember the name of the project at least

[2021-06-26 05:12] ashuydv commented on #787
ok

[2021-06-26 05:12] ashuydv commented on #786
ok

[2021-06-26 05:56] deeqakkk commented on #809
@Umesh-01 Yes, sure you can work on this.

[2021-06-26 08:41] shreya0204 commented on #753
Okay, I'll do that and I have to put the card in the assets --> images section, right?

[2021-06-26 08:47] shreya0204 commented on #753
Do let me know if any further changes are required

![My Post (8)](https://user-images.githubusercontent.com/78657883/123507804-23895b00-d689-11eb-81af-3c73df8748d3.png)

[2021-06-26 08:58] tauqeerali1 commented on #742
please explain me @smaranjitghose

[2021-06-26 11:51] supzi-del commented on #793
![image](https://user-images.githubusercontent.com/78655439/123512049-d87c4180-d6a2-11eb-9709-2e3cd5dc084e.png)
The open source section will look like this. I will make a PR if this is okay.

[2021-06-26 11:56] supzi-del commented on #793
![image](https://user-images.githubusercontent.com/78655439/123512141-796afc80-d6a3-11eb-817c-6e5e2472dd39.png)

Also, the extra space below the description can be removed, it will look like this ☝️
Should I make a new issue for this?

[2021-06-26 14:00] #809 closed

[2021-06-26 14:02] #756 closed

[2021-06-26 14:05] deeqakkk commented on #811
@anandalisha Yes, you can work on it.

[2021-06-26 15:14] smaranjitghose commented on #748
Assigned for 3 days

[2021-06-26 15:17] smaranjitghose commented on #793
Go ahead please!

[2021-06-26 15:18] smaranjitghose commented on #793
Not required. Just raise another PR and refer the same issue. Keep in mind all the cards should be responsive such if one card becomes larger due the greater amount of text in it, the others should also increase in size irrespective of the amount of text being lesser

[2021-06-26 15:21] smaranjitghose commented on #742
@tauqeerali1  The position of the cite/abstract buttons should be the same. No tweaking with that.

Now, when one clicks on the cite/abstract button, the text corresponding to that is fetched from the research.js and displayed in a pop up window (smaller size obviously, perhaps 1/10th of the total window size) with the necessary title, the X button simply closes that pop up window.  Check out Goog

[2021-06-26 15:22] smaranjitghose commented on #753
No. Put it in readme_assets

[2021-06-26 15:23] smaranjitghose commented on #753
@shreya0204 Would it be possible for you to take a snapshot of our current version of the website (perhaps different pages) and put it inside the laptop, mobile, tablet and monitor screen objects in the above image?

@anushbhatia what do you think about this suggestion. Let us know

[2021-06-26 15:36] Amrutha1101 commented on #798
![Screenshot (113)](https://user-images.githubusercontent.com/63070698/123518142-2c4a5300-d6c2-11eb-99d4-f71d44d80e6a.png)
Should I have to change these text colors too to purple?
But I think white text color looks good.

[2021-06-26 15:44] #797 closed

[2021-06-26 16:01] shreya0204 commented on #753
Thank you for your feedback.

Yes, I can change the inside screen images with your website images but it will result in a change in the layout of devices.
Images don't have links embedded in the text. For that either you need a web page function or HTML template.

[2021-06-26 16:17] smaranjitghose commented on #753
Yes I am aware of that. I meant, convert the image into a PDF and then have a link.  (That is optional for now)

[2021-06-26 17:07] shreya0204 commented on #753
Okay, I'll do that.

[2021-06-26 17:41] anushbhatia commented on #798
No text colours look great in white don't change them

[2021-06-26 17:43] anushbhatia commented on #798
https://material.io/design/color/dark-theme.html#ui-application here's a purple what say @smaranjitghose i think this will look good

[2021-06-26 18:01] #802 closed

[2021-06-26 19:07] jigar-sable commented on #807
![image](https://user-images.githubusercontent.com/64949957/123523151-87d70980-d6df-11eb-87c4-a7e43882dcb4.png)

- #### Should it be like that or any other design. It's animated and responsive too.

[2021-06-27 02:58] Yunika-Bajracharya opened #817 "Fix responsiveness in Home Page"
<img width="954" alt="error" src="https://user-images.githubusercontent.com/60802409/123531229-9c88c100-d722-11eb-81cd-11d65a52b4cd.PNG">

The text **Hi, I am John Doe** is hidden when the screen size is 1355px * 542px and less.

Also, the social media icons can be made a bit smaller and fit into a single row.

[2021-06-27 03:04] Yunika-Bajracharya opened #818 "Add Guidelines for Raising a New Isuue in README"

[2021-06-27 03:17] shreyanshu07 commented on #804
Please assign me this work under LGMSoC'21 . I am looking forward to work on this feature. I will ensure the responsiveness remains the same .

[2021-06-27 05:01] deeqakkk commented on #804
@shreyanshu07 You can work on it.

[2021-06-27 06:36] shreya0204 commented on #753
I have attached the image below.

- I have put your website images on the screen of the device.
- Changed the text along with the highlighted text.
- Removed Hyphen.
- Convert the image as pdf and put up the link of the repo as Check It Out.

![Capture1](https://user-images.githubusercontent.com/78657883/123535206-09f71a80-d740-11eb-85ca-c145af645773.JPG)

Do let me know if any further changes are

[2021-06-27 06:37] Abhishek-Sahoo commented on #801
Can I work on this issue?

[2021-06-27 11:11] RiyaGupta89 commented on #818
Can i work on this issue?

[2021-06-27 11:12] RiyaGupta89 commented on #817
Can i work on this issue?

[2021-06-27 11:12] RiyaGupta89 commented on #807
Can i work on this issue?

[2021-06-27 11:12] RiyaGupta89 commented on #801
Can i work on this issue?

[2021-06-27 11:14] RituCs commented on #748
I am not able to run the JS file given in the reference after adding the required library. Please help. Thank You.

[2021-06-27 13:08] ashuydv commented on #784
Can I get more one day, i faced some issues

[2021-06-27 13:51] smaranjitghose commented on #784
Sure. Take two!

[2021-06-27 13:52] ashuydv commented on #784
On both pages

[2021-06-27 13:54] smaranjitghose commented on #818
Actually, we are shifting everything to the Contributing.MD. Instead you can give a PR to Remove the Contribution related content from the ReadMe, put up a banner image for " Set up and Contribution guidelines" which redirects to Contributing.MD

[2021-06-27 13:54] smaranjitghose commented on #784
Cool!

[2021-06-27 13:56] smaranjitghose commented on #817
Assigned for 2 days

[2021-06-27 13:56] smaranjitghose commented on #817
Check for other screen sizes especially on mobile screens as well!

[2021-06-27 13:57] smaranjitghose commented on #801
@RiyaGupta89  Assigned for 2 days.

[2021-06-27 14:08] smaranjitghose commented on #753
Looks Awesome. Please give a PR.

So are you giving one image and one pdf:
- Image: The check it out text is replaced by the original link of the repo (text)
- PDF: Exactly the same, except that the link is embedded.

[2021-06-27 14:16] smaranjitghose commented on #807
- The size of the svg should be proportionate to the page
- Make sure the Back button redirects to the Home Page
- The overall animation should not change
- All assets should be local

Do raise a PR

[2021-06-27 14:26] smaranjitghose commented on #818
Assigned for 2 days

[2021-06-27 14:31] smaranjitghose commented on #804
Assigned for 2 days

[2021-06-27 14:34] SandeepKrSuman commented on #795
Can I work on this ?

[2021-06-27 14:41] shreya0204 commented on #753
Which link should I put up in the hyperlink then?

[2021-06-27 15:30] smaranjitghose commented on #753
- Ya both in readme assets.
- The Hyperlink (text) would be in the image

[2021-06-27 15:31] smaranjitghose commented on #795
Assigned for 3 days

[2021-06-27 15:50] shreya0204 commented on #753
Yeah. Done!

[2021-06-27 16:52] puneetkaur2929 commented on #800
@smaranjitghose
You want these changes in both the modes?

[2021-06-27 17:17] rachejazz opened #824 "Home page navbar too low"
Anyone else facing this?
Browser: Firefox
![image](https://user-images.githubusercontent.com/42383989/123553582-a0a3f580-d799-11eb-9222-7a97639b721e.png)

[2021-06-27 17:40] Sarthakjain594 commented on #799
Heyy Can I work on this issue ?

[2021-06-27 17:43] Sarthakjain594 commented on #803
heyy , I would like to work o this issue ?

[2021-06-27 20:02] supzi-del commented on #793
Anything else to be done before closing this issue?

[2021-06-27 21:07] rachejazz commented on #806
Please assign this to me

[2021-06-27 23:31] smaranjitghose commented on #793
This one^^. If you are continuing with that effect, do raise a new issue. Else let me know, I'll raise one

[2021-06-27 23:31] smaranjitghose commented on #824
Which browser are you using?

[2021-06-27 23:33] smaranjitghose commented on #824
I checked. This issue is not detected on most chromium-based browsers like Edge, Google Chrome, or Brave. However, when we use Firefox this exactly what we get.

[2021-06-27 23:34] smaranjitghose commented on #799
@Sarthakjain594  Assigned for 2 days

[2021-06-27 23:34] smaranjitghose commented on #803
@Sarthakjain594  Assigned for 2 days

[2021-06-27 23:36] #818 closed

[2021-06-28 05:15] rachejazz commented on #824
There's a default padding maybe given by Firefox but none by any other Browser. Should I close this or let this be as a bug?

[2021-06-28 05:22] deeqakkk commented on #824
Did you tried fixing it in your local files?and let us know if fixing it for firefox creates any issues in other browsers.

[2021-06-28 05:25] deeqakkk commented on #749
@Shaishav0507 any progress updates?

[2021-06-28 05:26] Shaishav0507 commented on #749
@deeqakkk
Not yet, as recently got vaccinated.
So have been down for few days.
I don't think I would be able to finish it.

[2021-06-28 05:26] Shaishav0507 commented on #749
If possible assign to someone else

[2021-06-28 05:28] deeqakkk commented on #751
@tauqeerali1 You can work on it.✔

[2021-06-28 05:47] deeqakkk opened #829 "Change text color of work experience section to make it more readable in dark mode."
![image](https://user-images.githubusercontent.com/78724676/123586330-2d829980-d802-11eb-88a3-55aeed144e6c.png)

[2021-06-28 05:49] deeqakkk commented on #742
@tauqeerali1 any progress updates on it?

[2021-06-28 05:56] deeqakkk commented on #749
No problem @Shaishav0507 it's fine.

[2021-06-28 05:56] #753 closed

[2021-06-28 07:40] shreyanshu07 commented on #804
![image_2021-06-28_130835](https://user-images.githubusercontent.com/72155853/123598269-f2886200-d811-11eb-807a-9b718fc7424c.png)
@smaranjitghose @deeqakkk  Is it okay ? Or any color change is needed ?
Please revert me back if any change is need .

[2021-06-28 08:28] smaranjitghose commented on #824
No this is a serious bug we need to consider

[2021-06-28 09:30] tauqeerali1 commented on #742
yes i am doing on it now i made popup withh X button and now i am working on button which not show at the same time when we will click on that button

[2021-06-28 10:22] supzi-del commented on #793
Okay, you can raise it and anyone could work on it as I'm not that familiar with this..

[2021-06-28 10:36] Amrutha1101 commented on #798
![IMG_20210628_160557](https://user-images.githubusercontent.com/63070698/123623203-ccbb8700-d82a-11eb-9169-58b0910b7154.jpg)
This one ?

[2021-06-28 11:09] rachejazz commented on #824
Sure, I'll sit with this when i get a break again. Please do consider one day skip. Exam day tomorrow :)

[2021-06-28 12:44] Amrutha1101 commented on #829
I can work on this issue under LGM-SOC.

[2021-06-28 17:53] smaranjitghose commented on #798
Yep

[2021-06-28 17:54] smaranjitghose commented on #824
Sure @rachejazz .  I can understand. You can take a day or two off for this. All the best for your exam

[2021-06-28 17:57] #795 closed

[2021-06-28 17:58] smaranjitghose commented on #784
Cool!

[2021-06-28 18:00] smaranjitghose commented on #829
Check #803

Closed: Duplicate.

@Amrutha1101 do comment there. If the assigned participant is unable to complete it within the deadline, you can take over

[2021-06-28 18:00] #829 closed

[2021-06-28 18:09] #817 closed

[2021-06-28 18:09] #793 closed

[2021-06-28 18:12] #807 closed

[2021-06-29 02:43] Amrutha1101 commented on #829
I would like to work on this issue under LGM-SOC

[2021-06-29 02:56] Amrutha1101 commented on #803
I would like to work on this issue under LGM-SOC

[2021-06-29 05:01] aliya-rahmani commented on #803
@Amrutha1101 it's already assigned, look for other unassigned issues.

[2021-06-29 05:06] aliya-rahmani commented on #800
@puneetkaur2929 these changes are only for the dark mode, but the already persisting hover effects shouldn't be affected. You need to make the according to the reference. I'm assigning you this issue for 3 days.

[2021-06-29 05:09] aliya-rahmani commented on #801
@RiyaGupta89 updates?

[2021-06-29 07:05] ishani02 commented on #796
@smaranjitghose I would like to work on this issue under LGMSOC'21. Kindly assign this issue to me.

[2021-06-29 07:11] ashuydv commented on #784
I'll commit the homepage today

[2021-06-29 09:17] Sarthakjain594 commented on #803
Heyy I have resolved that issue but i wanna ask that . Is the dark color to be applied to all the cards in the page or only these first three cards .

[2021-06-29 09:42] Amrutha1101 commented on #798
![Screenshot (114)](https://user-images.githubusercontent.com/63070698/123775684-3bace480-d8ec-11eb-8049-ef9b3fb51420.png)
![Screenshot (115)](https://user-images.githubusercontent.com/63070698/123775704-40719880-d8ec-11eb-9c63-91cdcfb83397.png)
![Screenshot (116)](https://user-images.githubusercontent.com/63070698/123775721-436c8900-d8ec-11eb-9e44-f5e3e176d5c9.png)
![Screenshot (117)](https://use

[2021-06-29 10:52] deeqakkk commented on #804
@shreyanshu07 change background color of the name and email label to #43D1AF and also when we click on the text field , label should move to extreme left of text field.

[2021-06-29 10:55] deeqakkk commented on #742
@tauqeerali1 try to make a pull request before 1 july.

[2021-06-29 10:57] deeqakkk commented on #748
@RituCs any updates regarding progress?

[2021-06-29 12:31] shreyanshu07 commented on #804
@deeqakkk sir I have done the changes . It is shown in the pull request section
![image](https://user-images.githubusercontent.com/72155853/123797415-c8af6800-d903-11eb-9cf2-094da0f6e59e.png)
The label is sliding to very left but I am not able to take the screenshot properly.
I am attaching the link of deployment.
https://awesome-portfolio-websites-9tjgsw0lw-smaranjitghose.vercel.app

[2021-06-29 14:25] deeqakkk commented on #804
@shreyanshu07 I saw your deployment and everything is almost fine, you just need to remove bottom margin of the labels which is making a bottom line gap effect.

[2021-06-29 14:45] shreyanshu07 commented on #804
@deeqakkk https://awesome-portfolio-websites-ne7xucbfr-smaranjitghose.vercel.app
Pls review it . I have removed the greenish margin.
![image](https://user-images.githubusercontent.com/72155853/123818625-c571a780-d916-11eb-9c8b-bcc02a8d9f68.png)

[2021-06-29 14:56] deeqakkk commented on #804
![image](https://user-images.githubusercontent.com/78724676/123820006-dcfd6000-d917-11eb-8a4b-01d6a98d5821.png)
@shreyanshu07 You just need to remove this and you are good to go.
Go through the reference once again it will help you.

[2021-06-29 15:42] Ak-panchal commented on #811
p;z assign me under LGMSOC!!

[2021-06-29 16:03] RituCs commented on #748
I have facing issue when trying  to load data from  expreince.js.

[2021-06-29 16:46] smaranjitghose commented on #748
1 more day for your deadline

[2021-06-29 16:47] smaranjitghose commented on #811
Skill Page would be added in the end

[2021-06-29 16:47] #811 closed

[2021-06-29 16:49] smaranjitghose commented on #796
@ishani02  Assigned for 3 days. Please check the responsiveness of the changes before giving the PR

[2021-06-29 16:49] smaranjitghose commented on #784
Updates?

[2021-06-29 16:53] smaranjitghose commented on #798
Please use this color palette: https://www.color-hex.com/color-palette/10715

- Different shades for different elements
- #4e00bb for the text
- The color you have used for the illustrations is perfect.

You can make this small change and give a PR directly

[2021-06-29 17:01] #743 closed

[2021-06-29 17:41] ashuydv commented on #784
Yes, working on footer will commit  inn some time

[2021-06-29 18:47] #798 closed

[2021-06-30 03:47] Ayush7614 opened #839 "Added Issue Templates in the Issue section"
Added Issue Templates like Featue request,Bug this type

[2021-06-30 03:48] Ayush7614 commented on #839
Plss assign me this issue @smaranjitghose sir

[2021-06-30 03:51] Ayush7614 commented on #805
@smaranjitghose sir i have to work on this plss assign me but not under LGM SOC

[2021-06-30 05:01] aliya-rahmani commented on #805
@Ayush7614 what do you mean?

[2021-06-30 05:02] Ayush7614 commented on #839
@aliya-rahmani maam i am not the LGM SOC participant i am only contribute to project

[2021-06-30 05:04] Ayush7614 commented on #805
Maam i am not Participant of LGM SOC but i was contributing to open source and project this thing i have to say

[2021-06-30 05:06] aliya-rahmani commented on #839
I've removed the tag so it'll be fine for you

[2021-06-30 05:07] aliya-rahmani commented on #805
Alright, you can fix the other issue first, then I'll assign you this one.

[2021-06-30 05:07] Ayush7614 commented on #839
Yes maam

[2021-06-30 05:08] Ayush7614 commented on #805
ok

[2021-06-30 05:13] ashuydv commented on #784
I've made a PR, do check it !!

[2021-06-30 05:16] ashuydv commented on #788
I'm working on this, will commit it today

[2021-06-30 05:20] Amrutha1101 commented on #803
I would like to work on this issue under LGM-SOC

[2021-06-30 05:31] Amrutha1101 commented on #745
I would like to work on this issue under LGM-SOC

[2021-06-30 06:18] aliya-rahmani commented on #803
@Amrutha1101 you have 3 days to work on it.

[2021-06-30 06:56] Cartikx3 commented on #839
I am a LGM SOC participant can i contribute to this project . If yes please assign this to me .

[2021-06-30 07:28] tauqeerali1 commented on #742
okay... i will do pull request as soon as posible

[2021-06-30 09:24] #839 closed

[2021-06-30 10:16] srisatya1197 opened #841 "Label commenting bot"
I would like it to generate different messages for following labels:-

lgmsoc21
level0
level1
level2
level3
under review
changes requested

## screenshots
![New Tab - Google Chrome 30-06-2021 16_12_53](https://user-images.githubusercontent.com/78905067/123947824-71ba9900-d9be-11eb-8630-572e3887539d.png)

[2021-06-30 10:21] RituCs commented on #748
![Screenshot from 2021-06-30 15-49-40](https://user-images.githubusercontent.com/60483448/123944540-d83db800-d9ba-11eb-9918-45528f7eaf42.png)

If everything is ok then I will create pr.

[2021-06-30 11:42] Ayush7614 commented on #805
@aliya-rahmani assign me please

[2021-06-30 11:42] deeqakkk commented on #751
@tauqeerali1 any progress updates?

[2021-06-30 13:39] harshit078 commented on #824
I will try to fix this bug!!

[2021-06-30 16:25] Srijan1878 commented on #787
Can I work on this issue? @smaranjitghose

[2021-06-30 18:32] smaranjitghose commented on #841
Participants are not supposed to set the levels. For the rest we already have PR Triage and another workflow

[2021-06-30 18:32] #841 closed

[2021-06-30 19:01] rachejazz commented on #824
@smaranjitghose I saw this only on firefox:
![image](https://user-images.githubusercontent.com/42383989/124016751-9c7b1080-da03-11eb-8a93-9c7ca9be3c0d.png)

but on chrome, there's none:
![image](https://user-images.githubusercontent.com/42383989/124016667-88371380-da03-11eb-8d56-a2f9e12009fe.png)

Hey @harshit078 thanks for taking this up :))
Hope this svg discovery helps you!

[2021-06-30 19:11] smaranjitghose commented on #824
@rachejazz Yes, the avg animation is supposed to appear for a sidebar in smaller screens and not in the nav bar for laptop screen sizes

[2021-06-30 19:29] rachejazz commented on #824
Cool then @harshit078 can easily now fix some more specific css tags to omit that out

[2021-07-01 03:56] #806 closed

[2021-07-01 10:58] deeqakkk commented on #787
@Srijan1878 Go ahead to resolve this issue.

[2021-07-01 14:00] Srijan1878 commented on #787
Okay!

[2021-07-01 21:38] Atif0604 commented on #801
@aliya-rahmani @smaranjitghose can i work on this
I'm a participant of LGMSOC-21

[2021-07-01 23:39] padmajabhol commented on #748
Is this issue still open? I want to work on this.

[2021-07-01 23:40] padmajabhol commented on #749
Interested. Can you assign this to me?

[2021-07-02 02:46] aliya-rahmani commented on #801
@Atif0604 you have 3 days to work.

[2021-07-02 02:53] luucamay commented on #786
Hello! I would like to work on this issue :)

[2021-07-02 03:22] aliya-rahmani commented on #748
@padmajabhol, this issue is taken. Do find others with an "up for grab" tag.

[2021-07-02 04:53] smaranjitghose commented on #786
@luucamay Could you please wait for 1 day before starting to contribute. We have some small changes to be made to the react branch. @anushbhatia would push a couple of commits today.

[Reference for the structure of files](https://github.com/smaranjitghose/doc2pen/tree/master/src)

[2021-07-02 04:55] smaranjitghose commented on #749
Assigned for 3 days

[2021-07-02 13:48] Amrutha1101 commented on #803
![Screenshot (129)](https://user-images.githubusercontent.com/63070698/124284073-3d83db80-db6a-11eb-85ae-af18bb1044f2.png)
What about the (background) open source cards in the page?

[2021-07-02 17:20] padmajabhol commented on #749
![Screenshot (252)](https://user-images.githubusercontent.com/75530516/124309023-c2312280-db87-11eb-850b-01baad9263b6.png)
Is this how it should be? I haven't added the navbar as of now. Please mention the changes.

[2021-07-02 19:27] #799 closed

[2021-07-03 04:32] siddhi-244 opened #846 "Would like to add active and hover effects to the navbar links"

[2021-07-03 04:32] siddhi-244 commented on #846
Please assign me this under lgmsoc

[2021-07-03 07:01] aliya-rahmani commented on #805
@Ayush7614 updates?

[2021-07-03 07:07] #784 closed

[2021-07-03 07:10] aliya-rahmani commented on #745
@Amrutha1101 updates?

[2021-07-03 07:10] smaranjitghose commented on #749
Ya. Looks cool. Just add the different pages and make sure we can add/remove images/heading using hackathon.js. Remove the text at the bottom for all cards.

Rest looks fine! Try to modify this for mobile view to the best of your abilities before giving a PR [Optional but would be great if you do it]

[2021-07-03 07:31] smaranjitghose commented on #788
I guess this is still remaining to be worked upon.

BTW, @aliya-rahmani  we have this project in AnitaBorg Open Source Day. If you wish you can apply to continue as a mentor there as well.

[2021-07-03 07:33] aliya-rahmani commented on #788
@smaranjitghose I'm sorry but I already selected as a mentor for Greenpeace Planet 4 project, it was before this project was introduced there.

[2021-07-03 07:41] smaranjitghose commented on #788
No worries 😎💪

[2021-07-03 07:46] luucamay commented on #786
@smaranjitghose I can wait no problem!

[2021-07-03 07:58] Amrutha1101 commented on #745
I was working on the other issue assigned. I completed that. I'll start with this now, will complete in 4 days.

[2021-07-03 08:17] smaranjitghose commented on #786
It's done you can proceed.

[2021-07-03 10:14] sheetalj2205 commented on #785
I want to work on this issue in open source day

[2021-07-03 10:40] siddhi-244 commented on #846
https://user-images.githubusercontent.com/69195262/124351628-159f8100-dc19-11eb-93b3-e6faf0c3c4b3.mp4

I have added active effects please have a look at it ! @smaranjitghose

[2021-07-03 10:47] siddhi-244 commented on #846
@aliya-rahmani

[2021-07-03 12:19] aditisingh2412 commented on #788
I would like to work on this issue. Can I?

[2021-07-03 12:44] deeqakkk commented on #788
@aditisingh2412 assigned for 3 days!

[2021-07-03 18:20] Ananya-Misra commented on #805
@smaranjitghose Please assign this issue to me under LGMSOC.

[2021-07-03 18:44] Ananya-Misra commented on #742
@smaranjitghose Please assign this issue to me.

[2021-07-03 19:14] Komal-99 commented on #754
I would like to put efforts on this issue . the only thing i didn't understand in discussion above is deployment  and custom domains point. and else i would like to ask like its written pages by pages changes but haven't mentioned any specific change and the last like stated above to step by step pushing changes on git hub page so is it documentation git hub page or i just need to make markdown re

[2021-07-03 19:37] deeqakkk commented on #787
@Srijan1878 any update regarding progress?

[2021-07-03 19:39] deeqakkk commented on #742
@Ananya-Misra Yes you can work on it, keep us updated!

[2021-07-03 19:41] Srijan1878 commented on #787
Will submit by tuesday.

[2021-07-03 19:47] urmi-256 commented on #846
Can I work on this issue too if not closed?

[2021-07-03 19:48] urmi-256 commented on #785
Can I work on this issue?

[2021-07-03 19:48] deeqakkk commented on #785
Sure @sheetalj2205 , you can work on it.
Keep us updated about progress.

[2021-07-03 19:55] deeqakkk commented on #785
@urmi-256 You can look for some another issue. @sheetalj2205 asked for it first, so i hope you understand.
or you both can collectively work on it. Just lemmie know.

[2021-07-03 19:58] deeqakkk commented on #805
@Ananya-Misra Yes , Go ahead to solve this issue.
and try to solve all your assigend issues before commenting for next one. :)

[2021-07-03 20:06] Ananya-Misra commented on #805
@deeqakkk Will do so.

[2021-07-04 03:32] siddhi-244 commented on #846
I am working on it

[2021-07-04 04:08] aliya-rahmani commented on #846
@siddhi-244 make a PR and link this issue.

[2021-07-04 04:11] siddhi-244 commented on #846
Sure !

[2021-07-04 04:33] urmi-256 commented on #846
Okk

[2021-07-04 05:17] siddhi-244 commented on #846
Done @aliya-rahmani

[2021-07-04 09:10] supzi-del opened #852 "Font awesome icon not visible in footer"
![image](https://user-images.githubusercontent.com/78655439/124379603-a89df100-dcd5-11eb-85b7-47c607f969a4.png)
The left quote icon is a blank square on the **education** page.

[2021-07-04 09:10] supzi-del commented on #852
I would like to fix this under LGMSOC

[2021-07-04 10:28] smaranjitghose commented on #852
Replace it with a feather icon please

[2021-07-04 10:31] thebhavana commented on #852
@smaranjitghose  I have cloned this project on pc. But unable to see any pop up on any pages. Can you help with it?

[2021-07-04 11:22] smaranjitghose commented on #852
Could you please elaborate? I did not understand what you mean by pop up?

[2021-07-04 11:27] padmajabhol commented on #749
Do I need to add the default navbar and footer to this page? It does create some problems.

[2021-07-04 11:29] thebhavana commented on #852
Yes!
* The center pop cards are missing from all pages .
* I have all files but still not able to see any cards at center.

 Can you describe what maybe an error here .

![Screenshot (2303)](https://user-images.githubusercontent.com/84395267/124383151-7ba70980-dce8-11eb-8d2d-adb4350c7f79.png)
![Screenshot (2304)](https://user-images.githubusercontent.com/84395267/124383153-7d70cd00-dce8-11eb-8ece-

[2021-07-04 11:31] padmajabhol commented on #749
And for this particular UI, you need to give a different class to each of the cards, how can the data be accessed using a JSON file?

[2021-07-04 11:33] smaranjitghose opened #854 "SEO Meta Tags for ReactJS"
Use something like React Helmet to improve the SEO of the React version of the website.

[Sample Reference](https://www.npmjs.com/package/react-helmet)

[2021-07-04 11:36] smaranjitghose opened #855 "Atom Animation for Preloader in React Version"
[Sample Reference](https://codepen.io/Smog/pen/WYjMRL)

- Please do not use the same preloader we have in the master branch
- Check out Dribble and Codepen.io for inspirations
- All the assets (i.e. images/illustrations) should be local to the repository

[2021-07-04 11:51] smaranjitghose opened #856 "Fix Footer Aspect Ratio Bug [React Version]"
- The relative size of the footer, footer illustration, and footer form need to be changed.
- The position of the quote as well the icon for the same needs to be rectified
- The color scheme needs to be changed

## Current Footer(Master Branch):

![Current_footer](https://user-images.githubusercontent.com/46641503/124383772-e73ea600-dceb-11eb-8821-035244ef9ead.png)

## React Version:

![Footer_unu

[2021-07-04 11:55] smaranjitghose opened #857 "Fix and Redesign To Top Button [React Version]"
- The to top button's position should be dynamic w.r.t location of the page
- On click, it should take us to the topmost section of each page
- It should not appear on mobile screens
- It should not appear on the top of the page (or in fact midway)
- Try to change the UI as well.

For reference: Check out the hosted version

[2021-07-04 11:58] smaranjitghose opened #858 "Add Dark Mode Toggle Switch to Navbar [React Version]"
- Make sure the size of the toggle button is proportional with the rest of the elements in the navbar
- The toggle button should be present in the sidebar for the smaller mobile screens
- All the assets (i.e. illustrations/images) should be present locally in the repo
- Do not forget to optimize the assets especially reducing their size
- For reference, check out the current version

[2021-07-04 12:04] smaranjitghose opened #859 "Nav Bar Unresponsiveness Bug in Mobile Screens [React]"
## Current Navbar/Sidebar in Mobile Screens

![Navbar_current](https://user-images.githubusercontent.com/46641503/124384136-93cd5780-dced-11eb-9c28-22cb9228be76.png)

![Navbar_current_1](https://user-images.githubusercontent.com/46641503/124384195-bbbcbb00-dced-11eb-9186-54a829084cb3.png)

## React Version
![Navbar_unresponsive](https://user-images.githubusercontent.com/46641503/124384091-713b3e80

[2021-07-04 12:08] #846 closed

[2021-07-04 12:09] smaranjitghose opened #860 "Fix Home Page Responsiveness [React Version]"
![Home_Page_responsivenes](https://user-images.githubusercontent.com/46641503/124384425-c0ce3a00-dcee-11eb-8dc1-8ee45bc35ae9.png)

[2021-07-04 12:12] smaranjitghose opened #861 "Change Sidebar Color [React Version]"
## React Version

![react-sidebar](https://user-images.githubusercontent.com/46641503/124384488-173b7880-dcef-11eb-97f5-3b708a90a699.png)

## Current Version

![current-sidebar](https://user-images.githubusercontent.com/46641503/124384493-1d315980-dcef-11eb-88e2-c2e3d53e31b8.png)

[2021-07-04 12:26] urmi-256 commented on #861
Can I work on this issue?

[2021-07-04 12:30] smaranjitghose opened #862 "Replace Typewrite effect in Home Page with Animation on Change [React]"
- [Reference](https://nearform.github.io/react-animation/)
- Try to implement something similar to the second example given in the above under Custom Animation
- Make sure the change is mobile responsive

[2021-07-04 12:41] supzi-del commented on #852
On all the pages?

[2021-07-04 12:58] smaranjitghose commented on #861
Sure. BTW, this meant for open source day(along with the other initiaives) and not exclusively for LGMSOC

[2021-07-04 13:13] smaranjitghose opened #863 "Project Page Cards [React Version]"
- For the overall UI refer to the current version of the website (main branch)
- For implementing perspective tilt,  try to use React Spring

[2021-07-04 13:17] smaranjitghose commented on #852
yep

[2021-07-04 13:18] smaranjitghose commented on #852
This is little complicated to identify unless I can go over the codebase at your end to check for any discrepencies

[2021-07-04 13:24] smaranjitghose commented on #754
Hey @Komal-99 :

The deployment guide page is meant to help out people to host the website from the code on their GitHub repository

[2021-07-04 13:26] Komal-99 commented on #754
So all this documentation part will be seperate gut hub page on website na?

[2021-07-04 13:28] smaranjitghose commented on #754
This documentation (using mkdocs) will generate a separate website all together on the github-pages branch

[2021-07-04 13:30] Komal-99 commented on #754
Okay okay.  Haven't use mkdocs but will explore and let you know

[2021-07-04 13:31] smaranjitghose commented on #754
Cool.
Don't worry it's fairly simple. You will be able to figure out things in 15 min.
Sure

[2021-07-04 14:40] smaranjitghose opened #864 "Particle Effect Component to be used in the background of all the pages[React]"
- This has to be built using three.js
- [Reference video](https://www.youtube.com/watch?v=dLYMzNmILQA)
- We just need the dark background with the particles so that any card or other objects can be placed infront of it for the various pages
- The geometric shape is not required.

[2021-07-04 14:50] smaranjitghose opened #865 "3D Terrain Effect in the Footer to replace the current illustration"
- [Reference Video](https://www.youtube.com/watch?v=2AQLMZwQpDo&list=PL0lNJEnwfVVO4sNO2WDq_h73w-eHQStCB)
- Build it as a component

[2021-07-04 14:51] smaranjitghose commented on #787
The deadline of 3 days is over. Closed due to inactivity

[2021-07-04 14:51] #787 closed

[2021-07-04 14:58] smaranjitghose opened #866 "Education Page Timeline for Formal Education[React Version]"
- [Reference](https://codepen.io/paulhbarker/pen/apvGdv)
- Put the details in reverse chronological order ( Graduate School, Undergrad, High School, Middle School)
- Modify the UI of the card so that we have a picture of the place, name of the school,  synopsis of activities, date attended and program completed

[2021-07-04 14:59] smaranjitghose commented on #785
@sheetalj2205 This has been shifted too #866

[2021-07-04 14:59] #785 closed

[2021-07-04 15:06] smaranjitghose opened #867 "Footer Form Microanimation [React Version]"
- [Reference](https://codepen.io/MichaelArestad/details/ohLIa) Last one
- Adjust the vertical spaces between the fields accordingly so that the form is mobile responsive
- The color scheme should be same as the rest of the website

[2021-07-04 15:14] smaranjitghose opened #868 "Research Page Cards [React Version]"
- [Sample Reference](https://www.cs.utoronto.ca/~fidler/publications.html)
- Do refer to the current version on the main branch too (Except the way the pictures are placed)
- The color of the buttons needs to be changed to suit the theme
- The cards should be mobile responsive.
- Use Animation on Scroll
- We need Abstract, Paper, and Cite buttons
- Add an on hover effect for the buttons

[2021-07-04 15:14] smaranjitghose commented on #788
@aditisingh2412 This is shifted to #868

[2021-07-04 15:14] #788 closed

[2021-07-04 15:15] Srijan1878 commented on #787
I am almost done, I can submit it by tonight.
I wasn't aware of the deadline, apologies for that.

[2021-07-04 15:28] #748 closed

[2021-07-04 15:32] smaranjitghose opened #869 "Expereince Page Blog Card Slider"
[Reference](https://codepen.io/JavaScriptJunkie/details/WgRBxw)

- The title of the section should be __Hackathon Participation__
- The UI should be more or less the same as in the current version of the project (Feel free to modify the cards or anything else if you wish)
- Do not change the background color of the page ( in the reference it is a shade of orange)
- The Color of the scrollbar of th

[2021-07-04 15:32] smaranjitghose commented on #786
@luucamay This is being shifted to #869 . Do comment there and you can start working on this directly!

[2021-07-04 15:32] #786 closed

[2021-07-04 15:34] #801 closed

[2021-07-04 15:36] smaranjitghose opened #870 "Add Google Analytics for the Project [React Version]"
- If you wish, create a separate component for this.
- Define a variable where we can just paste the tag so that updating it is easier rather than modifying a larger section of the code

[2021-07-04 15:42] urmi-256 commented on #861
Okk. For all the issues for the open source day we have to ask for issue to be assigned now only or only on that day we have to ask to be assigned and work on it?

[2021-07-04 15:46] smaranjitghose opened #871 "Custom Cursor [React Version]"
[Reference](https://codepen.io/kjbrum/pen/qooQJJ)

[2021-07-04 15:47] smaranjitghose opened #872 "Custom Dot Cursor"
[Reference](https://codepen.io/kjbrum/pen/qooQJJ)

[2021-07-04 15:53] smaranjitghose opened #873 "Design Showcase Page [React]"
[Reference](https://www.stevewolf.co/)

- Updating the navbar is not required for now
- Make sure the rooting is done properly ( i.e. our page should be available at `/designs`
- The footer and navbar should be the same as the other pages
- Use free and open-source designs from dribble

[2021-07-04 15:56] smaranjitghose opened #874 "Design Page UI update"
- Remove all code related to the gallery page (i.e. gallery.html, gallery.css, and gallery.js)
- [Reference](https://www.stevewolf.co/)
- All the code should be placed in design.html, design.css, and design.js.
- Updating the navbar is not required for now
- The footer and navbar should be the same as the other pages
- Use free and open-source designs from dribble
- Images/illustrations should be

[2021-07-04 16:00] smaranjitghose commented on #861
You can start working now itself.

[2021-07-04 17:06] aditisingh2412 commented on #868
I'll do this @smaranjitghose

[2021-07-04 20:11] smaranjitghose opened #876 "Work Expereince Section in Expereince Page"
[Reference](https://www.hugobazin.com)
![image](https://user-images.githubusercontent.com/46641503/124398085-6c987980-dd31-11eb-9bbb-b125781b70c0.png)

# Modification w.r.t the above reference:

- The color scheme should be the same as followed throughout the current website
-  Instead of the title appearing over the image, put it above the text for simplicity
- Remove the space allocated for hash

[2021-07-04 20:33] smaranjitghose opened #877 "Open Source Section Cards in Expereince Page [React Version]"
![open_source](https://user-images.githubusercontent.com/46641503/124398700-b6cf2a00-dd34-11eb-8e89-8f3bfb8ec4f1.png)

## [Reference UI](https://teamway.io/)

- This section follows the Work Experience Section
- The Color Scheme should be modified as per the requirements of the project (Check current version)
- All the cards should have a logo (i.e. image of the open-source program)
- Take the dat

[2021-07-04 20:41] smaranjitghose opened #878 "Reference Page [ React Version]"
## [Reference UI](https://teamway.io/)

- Updating the navbar is not required for now
- Make sure the routing is done properly ( i.e. our page should be available at `/references`
- The footer and navbar should be the same as the other pages
- Modify the color scheme as per the one used in the website
- Use free and open-source illustrations from [Undraw](https://undraw.co/) for placeholder images

[2021-07-04 20:43] smaranjitghose opened #879 "Reference Page"
## [Reference UI](https://teamway.io/)

- Updating the navbar is not required for now
- The code should be placed inside reference.js, reference.css, reference.html
- Adding data should be done dynamically from a variable as done in research.js
- The footer and navbar should be the same as the other pages
- Modify the color scheme as per the one used on the website
- Use free and open-source illus

[2021-07-04 20:44] hmanalai commented on #874
Hello!
I would like to take on this issue and I made [PR (#880)](https://github.com/smaranjitghose/awesome-portfolio-websites/pull/880) based on the issue description. I am not sure if that is all the change that is needed.

[2021-07-04 20:54] deeqakkk commented on #852
@thebhavana if you haven't made some major changes than you can clone a fresh copy of this repo again, then it should work fine for you.

[2021-07-04 20:58] deeqakkk commented on #804
@smaranjitghose please check this issue .

[2021-07-04 21:15] smaranjitghose commented on #874
@hmanalai Your PR takes care of most of the things except changing the UI itself as shown in the reference above. I am reviewing it and will merge it once it meets our code quality standards.

Meanwhile, if you wish you can continue to work towards updating the UI of the page.

Also are you in LGMSOC, PSOC or Open Source Day?

[2021-07-04 21:17] hmanalai commented on #874
Yes! I wanted to do this as part of Open Source Day.

[2021-07-04 21:19] smaranjitghose opened #881 "Simplify NavBar on Hover Effect"
## [Reference](https://codepen.io/maheshambure21/pen/QwXaRw)

Use the Underline Stoke Effect

[2021-07-04 21:21] smaranjitghose commented on #874
Cool. I am assigning this to you for a couple of days for now. Do let us know about the updates/progress

[2021-07-04 21:26] smaranjitghose opened #882 "Scroll Bar Bug during Pre-Loader"
The Scroll bar appears during the pre-loader animation which is unexpected behavior
![Scroll_Bar_bug](https://user-images.githubusercontent.com/46641503/124399908-60fe8000-dd3c-11eb-9f91-ba8ad67e51fa.png)

[2021-07-04 21:31] smaranjitghose opened #883 "Modify Pre-Loader UI"
![pre_loader_yui](https://user-images.githubusercontent.com/46641503/124400036-2517ea80-dd3d-11eb-9159-30e2270fb797.png)

- Remove the text at the top(from all the pages)
- Increase the size of the illustration
- Make sure the preloader is mobile responsive

[2021-07-04 21:38] smaranjitghose opened #884 "Education Page Cards Dark Mode UI Update"
![education_Page](https://user-images.githubusercontent.com/46641503/124400114-c7d06900-dd3d-11eb-8132-ed31a4247ac8.png)

## [Reference](https://passbase.com/)

- Change the background color
- Change card background-color
- Modify Headings UI
- Replace the color of all the appropriate elements in purple/mauve colors with the shade of blue in the above reference [ Text Color/illustration/footer ill

[2021-07-04 21:39] smaranjitghose opened #885 "Education Page To Top Button Bug"
![to_top_education](https://user-images.githubusercontent.com/46641503/124400208-60ff7f80-dd3e-11eb-937b-0f6aba0ab23f.png)

[2021-07-05 05:32] harishpansari commented on #885
I would like to work on this bug. Assign me. under LGMSOC21.

[2021-07-05 06:03] anushbhatia commented on #749
Do let me know the problem we will try resolving.

[2021-07-05 06:06] anushbhatia commented on #749
As all cards are identical you can have a same class calling all the necessary functionality through it. Only load data through json.

[2021-07-05 06:32] geniusbharti commented on #881
@smaranjitghose  I would like to work on this as a part of LGMSoC.

[2021-07-05 08:39] monishamandal02 commented on #884
Please assign this issue to me?

[2021-07-05 08:53] battuAshita commented on #882
Hi @smaranjitghose. Can I work on this issue as part of OSD'21?

[2021-07-05 12:53] ujju20 commented on #877
Hello, I have learnt react recently and I would like to take this issue. Can you explain this briefly?

[2021-07-05 13:48] deeqakkk commented on #885
@harishpansari Yes, go ahead and solve this issue.

[2021-07-05 13:49] deeqakkk commented on #884
@monishamandal02 assigned for 3 days.

[2021-07-05 13:51] deeqakkk commented on #881
@geniusbharti yes , you can work on it.

[2021-07-05 13:55] deeqakkk commented on #877
@ujju20 you need to implement things mentioned in reference UI, Visit through website for more clear ideal.

[2021-07-05 17:33] ujju20 commented on #877
Ok assign me this issue I will work on it.

[2021-07-05 18:20] Amulya-coder commented on #872
Hi @smaranjitghose I would like to work on this under OSD.

[2021-07-05 18:58] Amrutha1101 commented on #803
![Screenshot (135)](https://user-images.githubusercontent.com/63070698/124510180-e5aad600-ddf0-11eb-8e51-35f2711110b3.png)
What colors do you want me to add for the highlighted ones?

[2021-07-05 23:38] smaranjitghose commented on #882
Sure @battuAshita

[2021-07-05 23:43] smaranjitghose commented on #803
Have a look at the issue description for #884 @Amrutha1101

[2021-07-06 04:36] Anmolreshi commented on #877
Hi Could I work on this Issue ?

[2021-07-06 04:45] smaranjitghose commented on #877
It's assigned to @ujju20 for the next 3 days. After that, you can take up. Try to look for issues that are not assigned to another mentee already.

[2021-07-06 04:55] Anmolreshi commented on #863
I would Like to work on this issue . Kindly Assign me

[2021-07-06 09:49] #852 closed

[2021-07-06 09:51] smaranjitghose commented on #868
Any updates @aditisingh2412 ?

[2021-07-06 09:51] smaranjitghose commented on #863
Assigned for 4 days

[2021-07-06 09:51] smaranjitghose commented on #824
Any updates @harshit078 ?

[2021-07-06 09:52] smaranjitghose commented on #805
@Ananya-Misra any updates?

[2021-07-06 09:52] smaranjitghose commented on #804
@shreyanshu07 Any updates?

[2021-07-06 09:52] #804 closed

[2021-07-06 09:53] smaranjitghose commented on #754
Any updates @Komal-99 ?

[2021-07-06 09:54] smaranjitghose commented on #745
Any updates @Amrutha1101? It's been almost a week

[2021-07-06 09:54] smaranjitghose commented on #742
Any updates @Ananya-Misra ?

[2021-07-06 09:58] Ananya-Misra commented on #805
@smaranjitghose  Yes, I am working on it I will make the PR by tonight or by tomorrow morning at the most.

[2021-07-06 10:35] aditisingh2412 commented on #868
@smaranjitghose I'm still working on this. I'll submit a PR in few days.

[2021-07-06 10:58] padmajabhol commented on #749
I have texted you regarding the json data on your discord, please see the attached screenshot.

[2021-07-06 11:17] aditisingh2412 commented on #868
Also, I wanted to ask I have to change research.html page to React JS right?

[2021-07-06 11:31] Komal-99 commented on #754
Ya sure will give by evening actually just yesterday my exams got over

[2021-07-06 11:51] smaranjitghose commented on #868
the research.html is on the master branch. You have to make a similar page for the react version on the reactjs version.

[2021-07-06 12:41] Amrutha1101 commented on #745
I'm unable to work on this issue due to exams. So I'm unassigning :)

[2021-07-06 12:43] jayeshpurohit12 commented on #859
i wanna work on this issue

[2021-07-06 14:16] pallavi-1812 commented on #883
Hello! Can I work on this issue?

[2021-07-06 15:19] Komal-99 commented on #754
your discord id?

[2021-07-06 17:20] smaranjitghose commented on #883
Assigned for 3 days

[2021-07-06 18:17] harshit078 commented on #824
ya sorry kinda missed few previous messages and I have been working on the bug and I will pull the request and upload it within 2 days

[2021-07-07 03:50] sreeja97 commented on #869
Hi,
Can I work on this issue?

[2021-07-07 06:27] deeqakkk commented on #869
@sreeja97 yes , sure go ahead!

[2021-07-07 11:11] asdsyd commented on #879
please assign me to work on this.

[2021-07-07 12:51] aliya-rahmani commented on #885
@harishpansari  updates?

[2021-07-07 12:52] aliya-rahmani commented on #879
@asdsyd you have 3 days to work on it.

[2021-07-07 12:57] aliya-rahmani commented on #881
@geniusbharti updates?

[2021-07-07 14:39] geniusbharti commented on #881
@aliya-rahmani working on it.

[2021-07-07 15:51] harishpansari commented on #885
@aliya-rahmani working on it.

[2021-07-07 16:38] aliya-rahmani commented on #881
@geniusbharti do make a PR soon

[2021-07-07 21:32] Anita-ihuman commented on #876
I will like to work on this.

[2021-07-08 09:05] ujju20 commented on #876
Can I work on this issue also because I am working on an open-source card issue that is also present on the experience page?

[2021-07-08 13:29] aliya-rahmani commented on #885
@harishpansari, do make a PR soon!

[2021-07-08 15:47] Sanju-github002 opened #893 "NAV bar Glitch in Experience Page"
<img width="544" alt="Screenshot 2021-07-08 211300" src="https://user-images.githubusercontent.com/78341083/124952050-8ab3f180-e031-11eb-9fe3-e4db5dca006a.png">

I see this issue in Page now where I see nav bar is hide in page  you can check this once

[2021-07-08 16:55] #881 closed

[2021-07-08 16:58] smaranjitghose commented on #893
Would you like to resolve it?

[2021-07-08 17:02] smaranjitghose commented on #876
@Anita-ihuman  Assigned for 3 days.

@ujju20 Try to wrap up the one you are assigned as per the feedback given. We also have a Hackathon Section for the page which needs to done as well. Perhaps you can take that

[2021-07-08 17:03] deeqakkk commented on #882
@battuAshita any updates?

[2021-07-08 17:10] battuAshita commented on #882
Yes. Almost done. Will raise a PR :)

[2021-07-08 18:05] ujju20 commented on #876
Ok after completing the open source card I will work on the hackathon section.

[2021-07-08 18:23] #885 closed

[2021-07-09 05:29] Sanju-github002 commented on #893
Yes I try to resolve this issue

[2021-07-09 08:36] anushbhatia commented on #754
Abyss#9432

[2021-07-09 08:38] anushbhatia commented on #824
Any updates @harshit078 ?

[2021-07-09 08:39] anushbhatia commented on #879
Updates @asdsyd ?

[2021-07-09 10:06] #882 closed

[2021-07-09 12:16] Anita-ihuman commented on #876
@ujju20, I would like to be clarified on something.
Currently, the page is lacking an Src and a pages folder, I should include this right?

The changes we are making are to this webpage, right? https://portfolio.smaranjitghose.com/experience.html.

Also, how about the React package.json(I should install this too?)

[2021-07-09 12:52] ujju20 commented on #876
Actually, experience is a component of this react app so why does it include src and pages folder, we have to make files in the experience folder.
Ya we are making changes to this webpage you mentioned.

[2021-07-09 13:17] harshit078 commented on #824
I am using safari and there seemed no issue for that and checked for chrome too, I have adjusted the position Margin left and margin right attribute. I am fixing for Firefox too

[2021-07-09 14:55] geniusbharti opened #899 "Round corners and Hover of Send button"
I would like to add rounded corners to the send button present inside the form and its hover color.
Can I work on this issue?

**Before**
![Screenshot (107)](https://user-images.githubusercontent.com/75856835/125096983-47ba5280-e0f3-11eb-9576-519f8a7cff01.png)
**After**
![Screenshot (108)](https://user-images.githubusercontent.com/75856835/125097041-57d23200-e0f3-11eb-9a55-c5327c8f17a9.png)
**On H

[2021-07-09 16:43] Sejal2801 commented on #899
Assign it to me

[2021-07-09 17:39] ahmadsohail404 commented on #899
I can do it, please assign it to me

[2021-07-09 17:44] ahmadsohail404 commented on #867
Assign it to me

[2021-07-09 17:47] deeqakkk commented on #867
assigned for 3 days @ahmadsohail404

[2021-07-09 17:48] deeqakkk commented on #869
@sreeja97 any updates?

[2021-07-09 18:33] urmi-256 commented on #861
Is this look ok ?

https://user-images.githubusercontent.com/71149323/125121895-3d5b8100-e112-11eb-8db8-7fcb2b78dc32.mp4

[2021-07-09 18:43] Komal-99 commented on #754
unable to find uh on server and in adding friend it showing you not accepting request

[2021-07-09 19:25] urmi-256 commented on #859
Can I work on this?

[2021-07-09 21:25] #805 closed

[2021-07-09 21:26] smaranjitghose commented on #754
Just post the queries here itself

[2021-07-09 21:29] smaranjitghose commented on #861
Sure.  Do give a PR.

- Just make sure that the variables in the CSS are properly defined for example. scroll-br-color, scroll-br-hvr-color, etc.
- When the content is less, the scroll bar should disappear [ Refer to the article given above]

[2021-07-09 21:31] smaranjitghose commented on #899
@geniusbharti You can give  two PRs, one for the master version and the second for the react version

[2021-07-09 21:33] smaranjitghose commented on #876
@Anita-ihuman Actually, the changes you are making is not the hosted version of the website rather the codebase on reactjs branch.

[2021-07-09 21:39] #872 closed

[2021-07-09 21:40] smaranjitghose opened #900 "Bug: Research Page Contents are not visible"
- Try to inspect and debug this issue
- I believe this is owing to the scrollbar commit and the body tag update

[2021-07-09 21:41] smaranjitghose opened #901 "Scroll bar appears after an unusual delay in Education and Expereince Pages"
Self Explanatory from the title

[2021-07-09 21:45] smaranjitghose commented on #803
@Amrutha1101 Please try to finish this asap

[2021-07-09 21:47] smaranjitghose commented on #874
Any updates @hmanalai

[2021-07-09 21:48] smaranjitghose commented on #883
@pallavi-1812 Any updates?

[2021-07-09 23:33] hmanalai commented on #874
Hey! I haven't been able to make a whole lot of progress on it. If anyone else wants to take over, please do.

[2021-07-10 03:10] Amrutha1101 commented on #803
I'll make a PR by the end of the day :)

[2021-07-10 03:25] geniusbharti commented on #899
@smaranjitghose Okay.

[2021-07-10 05:39] Anita-ihuman commented on #876
Alright then. Thanks for clarifying.

[2021-07-10 05:54] #883 closed

[2021-07-10 06:00] sheetalj2205 commented on #866
Please assign this to me for OSD. You have already assigned issue 785 to me

[2021-07-10 06:55] anushbhatia commented on #866
Do give a pr soon. Assigned for 3 days.

[2021-07-10 18:05] asdsyd commented on #879
hey i tried but sorry to say  i couldn't get it done. I am confused is it to add a full new page with reference?

[2021-07-10 18:06] asdsyd commented on #879
![undraw_male_avatar_323b](https://user-images.githubusercontent.com/77977076/125172480-9b05d100-e1d7-11eb-97a0-3dc50f80809f.png)

[2021-07-10 19:45] AnirudhPanda opened #906 "Console Logs of Scrolling"
`console.log($(window).scrollTop()); ` is present in app.js which logs out numbers according to our position in the window during scrolling.
Was it supposed to be there?

[2021-07-11 02:06] this-is-imon opened #909 "Custom Dot cursor not working on the home page"
The custom dot cursor isn't working on the homepage.

[2021-07-11 05:19] hitenSharm commented on #862
I would like to give this a try.

[2021-07-11 08:22] urmi-256 commented on #861
Have generated a pr #903.

[2021-07-11 09:19] Dhruv-194 opened #911 "Add website visitor counter"
Adding a website visitor counter which counts the number visits would definitely be a great added feature to this amazing portfolio website.

[2021-07-11 11:35] Garima-7 commented on #901
Assign it to me

[2021-07-11 12:27] smaranjitghose commented on #906
I believe that was used for the purpose of debugging. Feel free to raise a PR and remove it

[2021-07-11 12:30] smaranjitghose commented on #909
It is purposefully not integrated there because of the particle effect

[2021-07-11 12:30] #909 closed

[2021-07-11 12:39] smaranjitghose commented on #911
Where are you planning to display the count?

[2021-07-11 12:56] deeqakkk commented on #867
any updates @ahmadsohail404 ?

[2021-07-11 12:58] deeqakkk commented on #863
@Anmolreshi any updates regarding progress?

[2021-07-11 13:09] deeqakkk commented on #859
@urmi-256 any updates?

[2021-07-11 13:47] AnirudhPanda commented on #906
#912 FIXED.

[2021-07-11 14:00] hitenSharm commented on #862
@smaranjitghose  should I just make sure that my component is responsive? Also, is the ReactJS branch website responsive, I am asking because it doesn't seem to be much responsive on my screen but I am not sure whether it is because of code I changed or if it wasn't responsive in the first place?

[2021-07-11 14:36] urmi-256 commented on #859
https://user-images.githubusercontent.com/71149323/125199275-12dd0580-e283-11eb-9dcd-29317bdf6361.mp4

Is it ok ?

[2021-07-11 16:06] Dhruv-194 commented on #911
Hey @smaranjitghose I was thinking to show that on the header NavBar near the name. Or even at the very bottom of the page near the social icons.

If you have any suggestions regarding the same then you can also please guide me.

[2021-07-11 17:20] Garima-7 commented on #900
assign this to me.
As the pull request made by me for the issue #901 resolves this problem also.
This problem was due to scroll bar issue.

[2021-07-11 17:23] #901 closed

[2021-07-11 17:24] smaranjitghose commented on #859
You can give a PR

[2021-07-11 17:28] Garima-7 commented on #900
Bhaiya this issue is already resolved in my previous pull request.(which is not merged yet)
So Again I have to make PR?

[2021-07-11 17:29] smaranjitghose commented on #900
No, it's fine.  I have merged that

[2021-07-11 17:30] #900 closed

[2021-07-11 17:31] smaranjitghose commented on #911
We can create a separate page for that. Putting it up on the main pages would make it awkward since the purpose of the portfolio would be create an impression on the hiring managers and that metric would not be useful in that case

[2021-07-11 17:32] smaranjitghose commented on #862
Some recent changes have been pushed to improve the responsivness. Just make sure the home page is responsive

[2021-07-11 17:56] Dhruv-194 commented on #911
@smaranjitghose creating an entire new page for just this one additional feature won't be feasible I think.

What we can do is create a pop-up widget or dialog box kind of a thing for this. I think that would be better. What are your thoughts?

[2021-07-11 18:32] #906 closed

[2021-07-12 02:39] cubthemagiclion opened #915 "Cannot see where to find main.js"
Hello! I am following the "Getting Started" guide but there is no where I can find the main.js to change things like signature on top left. Can you please provide some insights? Thank you.
<img width="724" alt="Screen Shot 2021-07-11 at 7 38 02 PM" src="https://user-images.githubusercontent.com/48465360/125222919-c0e6b080-e27f-11eb-8c46-1d98b824fd3c.png">

[2021-07-12 06:14] AmanBisht01 commented on #857
I can work on this issue please assign it to me.

[2021-07-12 06:40] AmanBisht01 commented on #857
under LGMSOC

[2021-07-12 08:15] smaranjitghose commented on #915
Hey @cubthemagiclion . We have shifted the code from main.js to app.js

[2021-07-12 08:15] #915 closed

[2021-07-12 08:53] smaranjitghose commented on #857
Assigned for 2 days

[2021-07-12 13:24] Shivangi-27 commented on #800
I want to try to solve this issue in light mode?

[2021-07-12 16:43] Shivani13121007 commented on #864
Hii, I'm Shivani Gupta
please assign this issue to me.
thank you

[2021-07-12 16:50] Shivani13121007 commented on #878
do we need to create the same design?

[2021-07-12 16:54] Shivani13121007 commented on #871
hello, I'm Shivani Gupta
I can create this cursor.
Can you please assign this issue to me.
Thank you

[2021-07-12 19:03] deeqakkk commented on #871
@Shivani13121007 assigned for 3 days.

[2021-07-12 19:04] deeqakkk commented on #864
@Shivani13121007 Try to make a PR within 2-3days.

[2021-07-12 19:51] Dhruv-194 opened #919 "Animate the Open Source Cards"
We can animate the Open Source Cards in the Experience Section which animates upwards when we scroll past them similar to how the Work Experience Cards animates when we scroll through them.

Kindly please assign this issue to me!

[2021-07-12 20:31] smaranjitghose commented on #919
AOS? sure!

[2021-07-12 20:35] smaranjitghose commented on #878
Yes

[2021-07-12 20:36] smaranjitghose commented on #911
Placing that would be an issue w.r.t. the UI. Let's see perhaps once we are done with the animations and all, we can reopen this

[2021-07-12 20:36] #911 closed

[2021-07-12 20:37] smaranjitghose commented on #800
@Shivangi-27 Assigned for 2 days

[2021-07-12 20:39] smaranjitghose commented on #861
@urmi-256 are you still working on this?

[2021-07-12 20:40] smaranjitghose commented on #859
Please note this is exclusively for the React version

[2021-07-12 20:41] smaranjitghose commented on #893
Closed due to inactivity

[2021-07-12 20:41] #893 closed

[2021-07-12 20:53] smaranjitghose opened #920 "Experience Page Card Navbar Overlap Bug"
![overlap](https://user-images.githubusercontent.com/46641503/125354320-4a31dc00-e381-11eb-8a55-3c7cad15f910.png)

[2021-07-12 20:55] smaranjitghose opened #921 "Create Professional Reference Page"
## [Reference UI](https://teamway.io/)

- Updating the navbar is not required for now
- The code should be placed inside reference.js, reference.css, reference.html
- Adding data should be done dynamically from a variable as done in research.js
- The footer and navbar should be the same as the other pages
- Modify the color scheme as per the one used on the website
- Use free and open-source illus

[2021-07-12 20:56] smaranjitghose opened #922 "New Graphic Design Page"
- Remove all code related to the gallery page (i.e. gallery.html, gallery.css, and gallery.js)
- [Reference](https://www.stevewolf.co/)
- All the code should be placed in design.html, design.css, and design.js.
- Updating the navbar is not required for now
- The footer and navbar should be the same as the other pages
- Use free and open-source designs from dribble
- Images/illustrations should be

[2021-07-12 21:01] anushbhatia commented on #919
Assigned for 4 days.

[2021-07-12 21:01] smaranjitghose opened #923 "Build Work Ex Component for Expereince Page [React]"
[Reference](https://www.hugobazin.com)
![image](https://user-images.githubusercontent.com/46641503/124398085-6c987980-dd31-11eb-9bbb-b125781b70c0.png)

# Modification w.r.t the above reference:

- The color scheme should be the same as followed throughout the current website
-  Instead of the title appearing over the image, put it above the text for simplicity
- Remove the space allocated for hash

[2021-07-12 21:04] Dhruv-194 commented on #919
@smaranjitghose yes I was talking about AOS (Animate on scroll) only. Thanks for assigning me this issue!

@anushbhatia alright I will try sending my PRs within 4 days :)

[2021-07-12 21:04] smaranjitghose opened #924 "Build Hackathon Component for Expereince Page [React]"
[Reference](https://codepen.io/JavaScriptJunkie/details/WgRBxw)

- The title of the section should be __Hackathon Participation__
- The UI should be more or less the same as in the master branch of the project (Feel free to modify the cards or anything else if you wish)
- Do not change the background color of the page ( in the reference it is a shade of orange)
- The Color of the scrollbar of the

[2021-07-12 21:06] anushbhatia commented on #922
or you can take references from https://kundu.design/

[2021-07-12 22:46] proceane commented on #920
Can I work on this? I would like to work this issue.

[2021-07-13 03:19] urmi-256 commented on #861
@smaranjitghose  Yes.

[2021-07-13 03:31] anushbhatia commented on #920
Syre assigned for 3 days

[2021-07-13 04:43] Shivani13121007 commented on #878
Okkk assign this issue to me

[2021-07-13 04:58] Shivani13121007 commented on #864
Okk...I'll do it by today
But can u plz tell me
Do i need to create a dark  background only and u can embedd the code wherever you want by your own or i have to embedd it?

[2021-07-13 06:12] Shivangi-27 commented on #800
![image](https://user-images.githubusercontent.com/72151453/125400081-12518580-e3cf-11eb-87db-5f224294be86.png)

I removed the background color of all the icons for both light and dark themes. Is this alright or do I have to change the background color of all the icons

[2021-07-13 06:15] Shivangi-27 commented on #800
I removed the background color of all the icons for both light and dark themes. Is this correct or do I have to change the background color of all the icons?

![image](https://user-images.githubusercontent.com/72151453/125400640-c6eba700-e3cf-11eb-8bb8-eea083df1cb3.png)