[2021-07-13 12:27] souravseal99 commented on #924
I would like to work on this.

[2021-07-13 15:06] Shivani13121007 commented on #864
Please review this. If you find this as the one that you want then I make PR😅
and do tell me the code should be in react or basic html, css, js
I done this in both the languages
![Screenshot (135)](https://user-images.githubusercontent.com/68291301/125476092-c32cbda5-4a28-4ff0-9c06-40f4a1b98cd7.png)

[2021-07-13 15:11] Shivani13121007 commented on #864
Cards used are for demo purpose
https://user-images.githubusercontent.com/68291301/125477057-72035952-d283-4325-9af8-8b494816a8a9.mp4

[2021-07-13 15:30] deeqakkk commented on #924
@souravseal99 assigned for 3 days.

[2021-07-13 15:32] deeqakkk commented on #878
@Shivani13121007 Plz Make PR's for previously assigned issues first.

[2021-07-13 16:59] ujju20 commented on #923
Can I work on this?

[2021-07-13 18:20] Shivani13121007 commented on #864
https://user-images.githubusercontent.com/68291301/125504562-713d5ed5-6074-4c51-8994-948ae3645e0e.mp4

[2021-07-13 18:40] Komal-99 commented on #754
sorry for delay i was lit bit busy ..but i just want to ask i have setup mkdocs on my local and it created two files so in index.md now directly i have create readme  design which we want on page

[2021-07-13 19:02] smaranjitghose commented on #864
Even after providing the exact video for this, if this is the result, I can't help further with this

[2021-07-13 19:05] #920 closed

[2021-07-13 19:09] smaranjitghose commented on #754
Please understand you are being assigned a simple markdown + python issue for 9 days which is far more than the time required for this.

[2021-07-13 19:10] Komal-99 commented on #754
ok sorry

[2021-07-13 19:13] smaranjitghose opened #928 "Build Open Source Component for Expereince Page [React]"
![open_source](https://user-images.githubusercontent.com/46641503/124398700-b6cf2a00-dd34-11eb-8e89-8f3bfb8ec4f1.png)

## [Reference UI](https://teamway.io/)

- The title of the section should be OpenSource Participation
- Please follow the above UI for the design exclusively
- The Color Scheme should be modified as per the requirements of the project (Check current version)
- All the cards should

[2021-07-13 19:14] smaranjitghose opened #929 "Build Research Page [React]"
- [Sample Reference](https://www.cs.utoronto.ca/~fidler/publications.html)
- Do refer to the current version on the main branch too (Except the way the pictures are placed)
- The color of the buttons needs to be changed to suit the theme
- The cards should be mobile responsive.
- Use Animation on Scroll
- We need Abstract, Paper, and Cite buttons
- Add an on hover effect for the buttons
- The data

[2021-07-13 19:16] #856 closed

[2021-07-13 19:17] smaranjitghose commented on #866
@sheetalj2205 Any updates?

[2021-07-13 19:19] anushbhatia commented on #800
Some logos like GitHub and others won't be visible in that case so we can't use this.

[2021-07-13 19:20] smaranjitghose opened #930 "Build Project Page [React]"
- The cards should have a 3D effect. [Reference Video](https://www.youtube.com/watch?v=cPKiilXlHAQ)
- For implementing perspective tilt,  try to use React Spring or Framer Motion
- Each card should have the name of the project and buttons for github+overview on the bottom right (Check current version)
- The data should be defined in a variable and dynamically inserted as done in the current projec

[2021-07-13 19:22] smaranjitghose commented on #864
A detailed walkthrough of the entire UI has been provided along with the colors scheme in the above reference video. Please follow that

[2021-07-13 19:25] smaranjitghose opened #931 "Remove Horizontal Scroll Bar"
![Vertical_Nav_Bar](https://user-images.githubusercontent.com/46641503/125512777-3855895b-3f12-4406-9257-3a1713e04ac0.png)

It appears when one hovers over the scroll bar track

[2021-07-13 19:29] smaranjitghose opened #932 "Fix Footer Responsiveness [React]"
### Required [Master Branch Version]

![footer](https://user-images.githubusercontent.com/46641503/125513279-04683cde-d421-4f1f-95be-0a622d9d9368.png)

### React Version

![Responsiveness](https://user-images.githubusercontent.com/46641503/125513298-a07b52a4-9668-429a-912c-8851fd71a192.png)

[2021-07-13 19:31] #899 closed

[2021-07-13 19:40] smaranjitghose opened #933 "Website Bugs in Mozilla Firefox"
![firefox](https://user-images.githubusercontent.com/46641503/125513962-3d2af951-f62b-410f-b15b-48f947a6ba18.png)

- Sidebar and Navbar should not overlap for laptop screens
- The custom scrollbar is absent

### Reference Articles for such issues:

- [Article 1](https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/HTML_and_CSS)
- [Article 2](https://developer.mozi

[2021-07-13 20:00] Shivangi-27 commented on #800
Ok i will try to set the perfect background color in both the modes

[2021-07-13 23:53] GiotisK commented on #932
I'd like to take over this issue. I have already tweaked the css file.
Here is the picture. Is it fine?
![react-cont](https://user-images.githubusercontent.com/10963096/125539742-a8729e1a-f75c-41c3-b761-7b5731d06e24.PNG)

[2021-07-14 02:10] smaranjitghose commented on #932
Sure. Do give a PR

[2021-07-14 02:20] geniusbharti commented on #931
@smaranjitghose I would like to work on this as a part of LGMSOC'21

[2021-07-14 02:34] geniusbharti commented on #860
@smaranjitghose Can I work on this issue as part of LGMSoC?

[2021-07-14 02:42] ujju20 commented on #928
Please Assign me this issue
Actually, I have mistaken I thought that you people are just shifting from Vanilla Js to react so I thought that I have to use the old UI.
Now I am clear, I will work on it.

[2021-07-14 03:26] Shivangi-27 commented on #800
I changed the background color of all the icons for both light and dark themes.

![image](https://user-images.githubusercontent.com/72151453/125556209-b7e6156b-1c77-4097-882d-5923f507ebf8.png)

![image](https://user-images.githubusercontent.com/72151453/125556224-336eb243-0803-4e19-a917-3b3a6b67ecc8.png)

[2021-07-14 03:44] Kirsten-Nancy commented on #933
Hi, can I work on this as part of open-source-day? Though I can't see an up for grab label

[2021-07-14 04:50] sheetalj2205 commented on #866
I will make a PR today

[2021-07-14 09:41] stephanieopala commented on #854
I would like to work on this.

[2021-07-14 09:57] smaranjitghose commented on #933
Sure. My bad. I missed that

[2021-07-14 10:04] smaranjitghose commented on #800
It looks absolutely weird w.r.t the UI.

Just use two different shades of black, one is already done for the background of the page, for the icon background play around with the color palette and figure it out. Perhaps something closer to that of the navbar background color. There is no need to modify the light mode icon background color.

Please understand, if we spend time and give you the exact

[2021-07-14 11:03] purohitmansi commented on #931
Please do assign this to me.
I would like to work on this.

[2021-07-14 11:07] purohitmansi commented on #800
Please assign this to me.
I want to give it a try.

[2021-07-14 12:36] #932 closed

[2021-07-14 13:01] stephanieopala commented on #854
Hello. Is there any specific content for the description meta tag and keywords meta tag, that I should use?

[2021-07-14 14:25] geniusbharti commented on #860
Okay

[2021-07-14 14:26] geniusbharti commented on #931
Okay

[2021-07-14 14:35] Shivangi-27 commented on #800
.dark-theme.socialicon{
  background-color: #423F3E;
}
I am applying this in home.css but it's not working. Am I wrong somewhere??

[2021-07-14 14:40] smaranjitghose commented on #860
@geniusbharti Try to fix this for all the possible mobile screens one might encounter (Use Chrome Dev Tools)

[2021-07-14 16:55] AnirudhPanda opened #937 "[ UX ] The text on the Experience cards looks light and hard to read on Dark Mode"
![issue](https://user-images.githubusercontent.com/66218496/125661864-d9dd0511-3a4e-4257-bfef-e89cdbcafac6.PNG)

@smaranjitghose what do you say?

[2021-07-14 17:05] AnirudhPanda opened #938 "[ UX ] Cursor hides itself when hovered on the Navigation Bar except when on Home"

[2021-07-14 19:12] smaranjitghose commented on #937
Yes. This is a bug we need to resolve

[2021-07-14 19:14] #919 closed

[2021-07-14 20:43] Dhruv-194 opened #939 "Add Animate on Scroll to Project Section"
Adding an animate on scroll to the 'My Project Section' similar to the 'Experience Section' where the Text and Project cards both get animated when scroll past through them.

Kindly please assign me this issue!

[2021-07-14 22:20] GiotisK commented on #859
Hello.
I would like to help with this issue aswell. I will try to make it the same as the master branch. I will post screenshots whenever it is ready

[2021-07-15 02:58] sanchi-chugh commented on #873
i can do this work can u assign this work to me?

[2021-07-15 04:14] geniusbharti commented on #938
Please assign me this issue.

[2021-07-15 04:39] AnirudhPanda commented on #938
Assigned

[2021-07-15 10:24] AnirudhPanda opened #942 "[ Dark Mode ] Sometimes the toggle works exactly opposite as it should be"
![reactsnip](https://user-images.githubusercontent.com/66218496/125773042-a6528801-5131-4444-9c80-99f9a0ab28b5.gif)

[2021-07-15 12:06] Ayush2020012016 commented on #933
is it still opened

[2021-07-15 12:08] Ayush2020012016 commented on #931
is it still opened I want to contribute to this

[2021-07-15 12:54] aliya-rahmani commented on #861
@urmi-256 updates?

[2021-07-15 12:57] aliya-rahmani commented on #859
@GiotisK, go ahead!

[2021-07-15 14:20] su123qq1 opened #943 "Dark Mode: The navigation bar text seem hard to read as well as the purple text headline"

[2021-07-15 15:10] Kirsten-Nancy commented on #933
You're using Mozilla?

[2021-07-15 15:11] Kirsten-Nancy commented on #933
It's still open

[2021-07-15 15:44] Dhruv-194 commented on #939
@aliya-rahmani @anushbhatia @smaranjitghose can anyone of you please add the DCP label to this so that I can send my PR and link this issue with it

[2021-07-15 16:03] vvijayalakshmi21 commented on #931
Hi,
Is this available to work?

[2021-07-15 16:19] #931 closed

[2021-07-15 16:22] smaranjitghose commented on #873
Assigned for 3 days

[2021-07-15 16:47] #943 closed

[2021-07-15 16:50] su123qq commented on #937
can you assign me this issue?

[2021-07-15 16:52] AnirudhPanda commented on #937
Assigned!

[2021-07-15 16:54] Kirsten-Nancy commented on #933
Fixed both bugs in mozilla, however it seems firefox doesn't have full customizable features for scroll bar such as the box-shadow, it has only two properties scrollbar-color scrollbar-width

![mozilla](https://user-images.githubusercontent.com/25672951/125827067-219a7abb-c7a0-407b-bce8-caffc63ab160.png)

[2021-07-15 17:01] smaranjitghose commented on #933
Sure

[2021-07-15 17:04] carlapax commented on #858
I would like to work on this

[2021-07-15 17:35] khushi-x commented on #942
The toggle is controlled by Iconify ([on this line](https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/travel_temp.html#L36)). Is there anywhere in the project where we modify this?

[2021-07-15 17:41] #933 closed

[2021-07-15 17:43] AnirudhPanda commented on #942
Iconify is just used for the icon I guess

[2021-07-15 17:49] AnirudhPanda commented on #942
I think this does it, on inspecting I found this
https://github.com/smaranjitghose/awesome-portfolio-websites/blob/5d016cd82a87fa0f7c90113a471cd508326b0a68/assets/js/app.js#L25

[2021-07-15 18:15] geniusbharti commented on #938
Okay, I will contribute as part of **LGMSoC**

[2021-07-15 18:22] anushbhatia commented on #942
Yes this is the place where toggle button functionality is present.

[2021-07-15 18:27] bukolastella opened #946 "Update Image Embeddings in the Readme with alt text for slower connections"
Adding a link that leads to the contribution guidelines because in case of slow network the image fails to load
![awe](https://user-images.githubusercontent.com/53631117/125838682-c73209fa-539d-43cb-ae76-06bdcbdf6fff.PNG)

please assign me to this task

[2021-07-15 18:47] supzi-del opened #949 "Add box shadow below social icons"
On the homepage, you can see a box-shadow beneath the profile photo. However, there's no shadow below the social icons.
Please refer this image below in order to add the code!

![Screenshot (362)_LI](https://user-images.githubusercontent.com/78655439/125840964-23c38b23-9f2c-4dcd-8b4c-7093360b1a53.jpg)

[2021-07-15 18:53] smaranjitghose commented on #946
Hey @bukolastella

Thanks for bringing this to our notice and welcome to our project.

After close inspection, we concluded that this problem is arising due to the network connection issues at times and it is independent of the readme's markdown code written for the repo where we have the images and as well as the link for the contributing.md guidelines.

Do let us know if there are any queries, w

[2021-07-15 18:55] sarahstandish opened #950 "Suggested change: rename 'master' branch to 'main' branch"
Github has made 'main' the [default name for primary branches](https://github.com/github/renaming) now due to the term 'master' having a [connotation of slavery](https://github.com/dialpad/inclusive-language/blob/main/README.rst#master-slave-terminology).

[2021-07-15 18:57] smaranjitghose commented on #950
@sarahstandish Thanks for pointing this out. We plan to perform this transition once we are done with the development till a particular point since it would cause issues for a lot of our collaborators and contributors w.r.t setting up the project who have been actively a part of the project

[2021-07-15 18:59] #937 closed

[2021-07-15 19:02] sarahstandish commented on #950
Thanks for your reply! That makes sense.

[2021-07-15 19:07] anushbhatia commented on #949
Don't add the x component of box-shadow it might look weird.
https://getcssscan.com/css-box-shadow-examples
this has almost every framework's shadow you can refer to this and then add it.

[2021-07-15 19:12] anushbhatia commented on #800
there are already elements present in the dark mode for particular elements just look through them

Refer to these variables and try adding an ew variable or modifying colour here so the colours will get updated automatically.
https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/assets/css/home.css
`html[data-theme="dark"] {
  --col-icon:white;
  --col-bd-radius:black;
  --col-

[2021-07-15 19:15] Yunika-Bajracharya opened #951 "Improving UI in homepage"
Can alter the size of the text / social media icons in the Ipad, IPad pro size screens so as to improve the UI further.

![1](https://user-images.githubusercontent.com/60802409/125844315-6626300e-7157-46ee-859c-bddd0e908b5b.jpg)
<img width="478" alt="2" src="https://user-images.githubusercontent.com/60802409/125844330-d4822824-cf44-4da4-a49c-4e5a9864b842.png">

[2021-07-15 19:18] bukolastella commented on #946
Alright, I was thinking adding a link inline will be good, so in the case of screenshot above you can click on it instead of waiting for the image to load

[2021-07-15 19:19] anushbhatia commented on #946
One suggestion you could do is add alt="Mentor Name Here" and use and  `<img>` tag instead of Github's default image call.
@smaranjitghose what say?

[2021-07-15 19:24] supzi-del commented on #949
Ref #790

[2021-07-15 19:29] anushbhatia commented on #949
Yes you can work on this but keep the box shadow subtle for both keeping the references given above in mind.

[2021-07-15 19:32] supzi-del commented on #949
Hey, actually I opened this issue as a mentor for OSD for participants...you can unassignme.

[2021-07-15 19:44] divyesh1099 opened #952 "Bug in Education Page Navbar"
# Responsive Page of Education Navbar Bug

#### [Here's](https://youtu.be/D6vKJUJmSSI) the video explaining the bug
#### The SVG overlaps with the navbar in the mobile view.

[2021-07-15 19:44] divyesh1099 commented on #952
Markdown edits.

[2021-07-15 19:45] anushbhatia commented on #949
Sorry😐 my bad

[2021-07-15 19:49] anushbhatia commented on #952
You can go ahead working on this. Assigned for 3 days

[2021-07-15 19:58] himanshu007-creator commented on #949
Hi, i would like to solve this issue as an OSD participant

[2021-07-15 20:13] mruga7 opened #954 "Bug in Experience Page Read More Button"
# Read More Button Bug  #
#### The video explanation of the bug is [here](https://www.youtube.com/watch?v=iK9ckDq1lUE) ####949
The text Read More text disappears on hovering

[2021-07-15 20:15] anushbhatia commented on #954
Go ahead @mruga7

[2021-07-15 20:28] #949 closed

[2021-07-15 20:31] #952 closed

[2021-07-15 20:34] supzi-del opened #956 "Fix bug in dark mode navbar hover"
When the navbar "a " elements are hovered, its hard to see the text in the dark mode. Hence removing the hover as shown below would be a suitable fix.
![Screenshot (366)_LI](https://user-images.githubusercontent.com/78655439/125853515-59933908-d526-4852-8e89-b4d3dd09c72d.jpg)

[2021-07-15 20:34] smaranjitghose commented on #946
@anushbhatia . That makes sense.

@bukolastella Would you like to give a PR for this?

[2021-07-15 20:40] ceruleanox commented on #956
Hi! I'd like to take this one for OSD w/AnitaB.

For clarity, is it completely take out the link hover color? Or is it taking it out only when it is in dark mode?

[2021-07-15 20:41] smaranjitghose commented on #956
Take it out for both light and dark modes

[2021-07-15 20:43] #950 closed

[2021-07-15 20:44] bukolastella commented on #946
@smaranjitghose  yes,sure

[2021-07-15 20:44] smaranjitghose commented on #800
Resolved

[2021-07-15 20:44] #800 closed

[2021-07-15 20:55] supzi-del commented on #956
Assigned to @ceruleanox

[2021-07-15 22:06] #954 closed

[2021-07-15 22:31] #946 closed

[2021-07-15 22:39] smaranjitghose opened #959 "Toggle Button on Hover Bug"
![Button_on_hover](https://user-images.githubusercontent.com/46641503/125866660-19e592a5-f546-434a-acae-0ea7cdd32042.png)

This should only appear for the text in the navbar and not the toggle button

[2021-07-15 22:42] smaranjitghose opened #960 "Cursor Bug: Invisible in the NavBar Area"
![cursor_bug](https://user-images.githubusercontent.com/46641503/125866893-bae493a7-0cf2-433c-ab44-612337e99b5b.png)

[2021-07-15 22:44] smaranjitghose opened #961 "Experience Page Responsiveness Bug in Mobile Screens"
![responsivenes_Issue](https://user-images.githubusercontent.com/46641503/125867104-507d9396-7ff9-4a20-b122-146c64bf6da7.png)

[2021-07-15 22:48] smaranjitghose opened #962 "Research Page Bug: Image Size Overflow"
![Reseearch_page_bug](https://user-images.githubusercontent.com/46641503/125867427-5876696c-b597-4e64-9441-a66623d2d6e1.png)

[2021-07-15 22:50] smaranjitghose commented on #803
Resolved and would be improved in further issues

[2021-07-15 22:50] #803 closed

[2021-07-15 22:52] smaranjitghose opened #963 "Experience Page Dark Mode UI Improvement"
## Current UI
![image](https://user-images.githubusercontent.com/46641503/125867581-363aa33e-f8d7-4133-8b66-4f29bd515270.png)

# Sample Reference for Expected UI

![Experience_Page](https://user-images.githubusercontent.com/46641503/123431080-81189b80-d5e6-11eb-946a-e420747e0d7f.png)

- Check out the social media buttons for dark mode on the home page as a reference for the same
- This should be d

[2021-07-15 22:55] Trevy05 commented on #951
Hi. Could you explain the issue more clearly, I would love to work on it.

[2021-07-15 23:00] mruga7 opened #964 "No Red Cursor on the Navbar"
# No red cursor on Navbar
#### Red Cursor disappears on the navbar
#### The explanation for the video is [here](https://www.youtube.com/watch?v=kMPfujphogw)

[2021-07-15 23:02] smaranjitghose opened #965 "Improve Code Quality [CSS]"
- For all the stylesheets, make sure that the colors are defined in variables for light mode and dark mode separately

![image](https://user-images.githubusercontent.com/46641503/125868305-0820fe3a-426e-4ecc-b6a3-1c8ea5064744.png)

- The name of the variables are to be altered into something more understandable for example bg-color can be made into pg_background

- For the colors which are the sam

[2021-07-15 23:08] supzi-del commented on #964
Hey @mruga7, thanks for opening an issue, however a similar issue has been opened check #960, you can work on the issue #960

[2021-07-15 23:10] divyesh1099 opened #966 "No Response After Clicking Send"
# No Success/Fail response after Clicking Send

#### Once we click send in Get in Touch Form, the page just refreshes and we are redirected to the home page.

#### But there is no response that the message is sent or not, did page just refreshed or is there any internal error.

#### So the User isn't satisfied and remains in doubt that was the message sent or not, or is the page just refreshing.

[2021-07-15 23:17] #964 closed

[2021-07-15 23:17] smaranjitghose commented on #966
We have a pop for this

[2021-07-15 23:21] divyesh1099 commented on #966
Okay So should I start working on it ?

[2021-07-15 23:23] smaranjitghose commented on #966
Sure. Just choose the colors judiciously so that it is consistent with the rest of the theme

[2021-07-15 23:27] smaranjitghose commented on #960
✅ NavBar Area Bug resolved
⚠ Scrollbar Area Bug yet to resolved

[2021-07-15 23:37] bukolastella commented on #963
I will like to take on this issue

[2021-07-16 00:23] mruga7 opened #968 "Cursor Bug: Invisible in the ScrollBar Area"
#### cursor disappears from scrollbar
#### the video explanation is [here](https://youtu.be/f2nLGQfeNyQ)

[2021-07-16 00:27] #960 closed

[2021-07-16 00:42] ceruleanox commented on #956
Hi!

While adding the following fixes the issue, it does not remove the hover:

.dark-theme .nav-link:hover{
    color: rgba(255, 255, 255, 1) !important;
}

The black hover comes from the default template (Bootstrap probably) being used. That is, the color is not defined in any CSS file. Did you want me to create a PR with the addition? Or did you want to define another issue to make this edit?

[2021-07-16 01:04] Yunika-Bajracharya commented on #951
For other screen sizes, the text and icons are big enough. For instance here,
<img width="410" alt="3" src="https://user-images.githubusercontent.com/60802409/125876229-86189b0b-122c-4cda-9518-ea9368eb148d.png">
But as for the iPad and iPad pro sizes, the text/icons appear smaller and there is plenty of space left so, you can increase their sizes and improve the UI further. Hope that makes it clea

[2021-07-16 01:06] Trevy05 commented on #951
I understand now, could you assign this issue to me?

[2021-07-16 02:01] Swatilekha-Roy commented on #961
Hi, could you please explain a little bit more on what aspects of the experience page responsiveness you to improve? Thanks a lot.
Also, I would live to work on this issue as a part of OSD 2021! :)

[2021-07-16 02:32] smaranjitghose commented on #961
Basically the work experience and open source card sizes and positions

[2021-07-16 05:35] Kriti-bit commented on #962
I would like to work on this issue

[2021-07-16 06:00] battuAshita commented on #962
Hi @smaranjitghose. Can I work on this issue as part of OSD'21?

[2021-07-16 06:54] vijaya-lakshmi-venkatraman commented on #959
Hi,
I want to take this up as part of OSD21

[2021-07-16 07:24] vijaya-lakshmi-venkatraman commented on #959
I see that under \assets\js\app.js we have code related to toggle button:
`<input type="checkbox" class="dark_toggler" aria-label="Toggle Light Mode" onclick="toggle_light_mode()">`

And there is also definition for toggle_light_mode()

Please can you give me some pointers on how to disable the hover color?

[2021-07-16 07:35] vijaya-lakshmi-venkatraman opened #969 "Github.io page needs a correction"
https://smaranjitghose.github.io/awesome-portfolio-websites/#open-source-programs-we-have-been-a-associated-with

This link shows the title as "Open Source Programs we have been **a** associated with" instead of "Open Source Programs we have been associated with"

This needs changing.
Also, can we include OSD in to the list?

[2021-07-16 07:42] vijaya-lakshmi-venkatraman commented on #959
//function to remove underline on hover

$(document).ready(function () {
  $("a.nav-link").hover(
    function () {
      $(this).removeClass("current-link");
    },
    function () {
      if ($(this).prop("href") == window.location.href) {
        $(this).addClass("current-link");
      }
    }
  );
});

Is this snippet relevant to this issue?

[2021-07-16 07:46] vijaya-lakshmi-venkatraman commented on #959
I think the changes required is in the input tag to unset/reset the background-color attribute because nav-item has the below property:

[code]

Is that right?

[2021-07-16 08:09] vijaya-lakshmi-venkatraman commented on #959
I have made a PR with the changes based on my analysis.
Please can someone review and also help me on how to test the changes?

[2021-07-16 08:14] Swatilekha-Roy commented on #961
![Screenshot (211)](https://user-images.githubusercontent.com/66589183/125915027-56d4e0d1-f430-471e-be0c-d3546df28e50.png)
![Screenshot (210)](https://user-images.githubusercontent.com/66589183/125915032-55491335-9662-4a95-956f-02065ff1a9e2.png)

Hey, I have been actually trying on my end, but the open source and experience cards seem to be aligned in the middle itself and therefore, the position

[2021-07-16 08:32] vijaya-lakshmi-venkatraman commented on #969
Thanks for assigning this issue to me.
I checked the source code using VSCode for locating the text associated for the change.
But I have been unable to. Please can you provide some leads?

[2021-07-16 09:50] #938 closed

[2021-07-16 09:51] AnirudhPanda commented on #969
You checked the `documentation` branch, right?

[2021-07-16 09:53] AnirudhPanda commented on #968
Hey Quick Suggestion, instead of uploading issues video on youtube which is a long process you can use something like [Lice Cap](https://licecap.en.softonic.com/)

[2021-07-16 09:56] vijaya-lakshmi-venkatraman commented on #969
I didn't earlier.
But can see everything in there.
Thanks!
Btw It is marked as stale branch. Can I still go ahead and create a PR to fix this?

[2021-07-16 11:26] alceil commented on #965
Can I work on this issue?

[2021-07-16 11:36] alceil opened #973 "Dark mode is not working when we change to different pages"
Dark mode works only for one page when we change to other page it automatically changes to light mode.Its a bug that needs to be solved.

[2021-07-16 11:41] smaranjitghose commented on #968
Keep it simple😅🤣: Use windows game bar, drag and drop the clip in the issue description

[2021-07-16 11:44] AnirudhPanda commented on #968
Man, I didn't know about it! Thanks. 😂🤦‍♂️

[2021-07-16 11:45] #969 closed

[2021-07-16 13:38] bukolastella commented on #963
The color of the h2 tag in dark theme mood might need to be changed, what do you think?

![dark-theme](https://user-images.githubusercontent.com/53631117/125956218-e18bd4bb-f029-452b-b0fd-9e9fbac7cb17.PNG)

[2021-07-16 13:41] bukolastella commented on #963
The color of the h2 tag in dark theme mood might need to be changed, what do you think?

![dark-theme](https://user-images.githubusercontent.com/53631117/125956218-e18bd4bb-f029-452b-b0fd-9e9fbac7cb17.PNG)

[2021-07-16 13:45] alceil opened #975 "React project nav bar doesnt have the hover effects as the original website"

[2021-07-16 13:52] divyesh1099 commented on #966
Okay sir. I'll do it asap

[2021-07-16 14:02] GiotisK commented on #859
I did the changes. Please take a look and let me know if I have to change anything.

https://user-images.githubusercontent.com/10963096/125960137-dbb2646e-989f-4d02-81b3-9287fa618a30.mp4

[2021-07-16 15:32] alceil commented on #975
I have put a pull request for the same
https://github.com/smaranjitghose/awesome-portfolio-websites/pull/976

[2021-07-16 17:29] divyesh1099 opened #977 "Red Cursor Not Visible in Home Page"
## The Cursor doesn't look like the Red Cursor in Home Page.

#### Every page has that Red Cursor except for the home page, thus creating unevenness and bad user experience.
#### Either every page should have the normal cursor or every page should have that red cursor.

#### Explanation [here](https://youtu.be/Etus7AlxT6s).

[2021-07-16 20:28] GiotisK commented on #975
I think if we put the animation like the master branch it will look better aesthetically...

[2021-07-16 21:01] shreyachalla commented on #973
I am going to try to work on this for OSD

[2021-07-16 21:55] sakshiisaxena commented on #942
Fixed issue [ Dark Mode ] Sometimes the toggle works exactly opposite as it should be.

The error was coming when we used to refresh while being on dark mode. This occurred because the localStorage was not getting cleared every time we refreshed.
Now when you toggle, everything will be perfect.

https://user-images.githubusercontent.com/68650106/126012108-dc4d71c3-d94b-4ef6-8045-9976c0de3e69.mp4

[2021-07-17 02:38] alceil commented on #975
ya it will

[2021-07-17 02:39] alceil commented on #975
#976

[2021-07-17 03:14] #942 closed

[2021-07-17 07:48] ri-tae-ka opened #980 "Update README and add OSD to Open Source Programs"
I would like to work on the README file to update it and add Open Source Day to the Open Source Programs List.

[2021-07-17 07:49] ri-tae-ka commented on #980
@smaranjitghose please assign me this issue under OSD '21.

[2021-07-17 13:06] achalesh27022003 commented on #870
Hello, do we have to this something like [this](https://levelup.gitconnected.com/using-google-analytics-with-react-3d98d709399b) ?

[2021-07-17 14:41] aliya-rahmani commented on #884
@monishamandal02 updates?

[2021-07-17 14:45] aliya-rahmani commented on #928
@ujju20 updates?

[2021-07-17 14:45] aliya-rahmani commented on #924
@souravseal99 updates?

[2021-07-17 16:23] rajbir21-droid commented on #930
I want to work on this issue under LGMSOC

[2021-07-17 16:34] #980 closed

[2021-07-17 19:46] anushbhatia commented on #956
you can create a new issue for this

[2021-07-17 19:47] anushbhatia commented on #961
enter values like 471 and 731 in the resolution box or select the pixel2 device

[2021-07-17 19:53] anushbhatia commented on #939
Any update @Dhruv-194 ?

[2021-07-17 19:54] anushbhatia commented on #858
Any update @carlapax ?

[2021-07-17 19:54] Dhruv-194 commented on #939
Oh sorry I forgot to work on this issue. I will do it right away and send the PR.
Sorry for the delay @anushbhatia

[2021-07-17 20:09] anushbhatia commented on #963
Yes it won't be visible change it
https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129 if you need help

[2021-07-17 20:49] anushbhatia commented on #870
yes, credentials will be provided by @smaranjitghose

[2021-07-17 20:50] anushbhatia commented on #930
Assigned for 4 days

[2021-07-17 21:50] #939 closed

[2021-07-18 00:54] Swatilekha-Roy commented on #961
Okay okay thanks.

On Sun, 18 Jul 2021, 01:18 Anush Bhatia, ***@***.***> wrote:

[2021-07-18 02:51] Swatilekha-Roy commented on #961
![Screenshot (215)](https://user-images.githubusercontent.com/66589183/126054090-750b0085-3ce7-4bae-a3e1-006453ad438c.png)
![Screenshot (216)](https://user-images.githubusercontent.com/66589183/126054092-e55d82c7-84a6-4276-8a64-0e00f6a4e198.png)

Sorry, but I am still unable to see it. @smaranjitghose @anushbhatia However, I will reduce the card sizes anyway and make the pr. Will that be okay?

[2021-07-18 03:01] achalesh27022003 commented on #870
Okay sir, I would like to take it under OSD '21

[2021-07-18 04:56] Ayush2020012016 opened #985 "unwanted scrollbar"
when the pointer is over scrollbar a horizontal scrollbar is coming

[2021-07-18 05:23] Ayush2020012016 commented on #922
hello I want to contribute to this please assign this work to me.

[2021-07-18 05:38] Ayush2020012016 commented on #867
I can do this please assign this to me.

[2021-07-18 05:45] Ayush2020012016 commented on #921
It must be done with UI or with coding

[2021-07-18 05:51] Ayush2020012016 commented on #930
ahh I have little confusion we need to build project page which contain project of what ???

[2021-07-18 06:09] souravseal99 commented on #924
yes @aliya-rahmani, I have completed the card section, the only task left is styling the image of the card. I'm really sorry about the deadline, I was facing some health related issues from a couple of days. I'll try my best to make the PR by tonight.

![image](https://user-images.githubusercontent.com/69809086/126057514-895b399e-1ca2-47b7-9d66-d9f4b3e1ff82.png)

[2021-07-18 07:27] geniusbharti commented on #860
@smaranjitghose @aliya-rahmani Could you please tell me the steps to run this on local. I am having a problem running it.

[2021-07-18 10:25] anushbhatia commented on #961
![image](https://user-images.githubusercontent.com/40017559/126063793-ee09568a-3615-4b13-b5cf-27d7ba890465.png)
Try pixel 2 411* 731 100% i can see this

[2021-07-18 10:27] anushbhatia commented on #921
Better to do it with coding. If you are using design then dynamically import text and image to that

[2021-07-18 10:28] anushbhatia commented on #930
your portfolio projects basically

[2021-07-18 10:29] anushbhatia commented on #860
[code]

[2021-07-18 12:00] geniusbharti commented on #860
@anushbhatia It is showing this after running the above commands.
$ npm run-script
Lifecycle scripts included in awesome-portfolio-website:
  start
    react-scripts start
  test
    react-scripts test

available via `npm run-script`:
  build
    react-scripts build
  eject
    react-scripts eject

Can you tell me what to do next? I tried but maybe there is a problem from my side.

[2021-07-18 14:31] Swatilekha-Roy commented on #961
@anushbhatia please check my above screenshots, I tried the resolution and device that you mentioned only.
I am not seeing that.

[2021-07-18 14:36] aliya-rahmani commented on #924
@souravseal99 take your time but try to make it asap.

[2021-07-18 14:44] anushbhatia commented on #860
`npm run start` try this

If npm doesn't workout try updating the node version or you can install` yarn`

[2021-07-18 16:07] anushbhatia commented on #961
I think then this must be resolved look for other pages if you find something you can raise an issue.

[2021-07-18 16:07] #961 closed

[2021-07-18 17:17] IwonaBaran commented on #973
Can I try to fix this?

[2021-07-18 17:46] souravseal99 commented on #924
Thanks @aliya-rahmani.

Can you please help me with the Image, I tried different things but was unable to apply the desired styles as portrayed in the master branch.

[2021-07-18 18:01] divyesh1099 commented on #977
#### Maa'm I am from open source day so how do I apply appropriate labels ? open-source-day and good first issue

#### Also maa'm I've submitted a pull request #978 that fixes this problem.

[2021-07-19 03:12] aliya-rahmani commented on #924
@souravseal99 No worries, make a PR first with whatever you've tried then we can request changes for the image styling.

[2021-07-19 07:49] smaranjitghose commented on #977
We have knowingly avoided it on the home page for now

[2021-07-19 07:49] #977 closed

[2021-07-19 07:54] #859 closed

[2021-07-19 08:06] smaranjitghose commented on #973
Sure.

[2021-07-19 08:09] smaranjitghose commented on #985
I guess we resolved that. Are you sure that issue persists in the master branch?

[2021-07-19 08:14] smaranjitghose commented on #870
For now, just add a dummy value for the id

[2021-07-19 08:17] smaranjitghose commented on #963
@bukolastella Yes. Have a look a the resource provided by @anushbhatia

[2021-07-19 08:18] #884 closed

[2021-07-19 08:22] smaranjitghose commented on #975
For this make sure,

- For the current page, the entry in the navbar appears bold or in another color
- For any other entry in the navbar (on hover), underline works. This should be avoided completely in the sidebar

[2021-07-19 08:25] smaranjitghose opened #986 "Remove toTop button from Mobile Screens [React]"
![to_top_tr](https://user-images.githubusercontent.com/46641503/126127915-bb3f5178-6fc4-4f7f-8e61-b033c1beb4de.png)

[2021-07-19 08:27] smaranjitghose commented on #968
Any updates @mruga7 ?

[2021-07-19 08:29] smaranjitghose commented on #965
@alceil I have updated the issue requirements. Do have a look

[2021-07-19 08:30] alceil commented on #965
Sure

[2021-07-19 08:30] smaranjitghose commented on #966
Any updates @divyesh1099 ?

[2021-07-19 08:32] smaranjitghose opened #987 "Education Page UI Improvement [Dark Mode]"
[Refer this](https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129)

[2021-07-19 08:34] smaranjitghose opened #988 "Research Page UI Improvement [Dark Mode]"
[Refer this](https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129)

[2021-07-19 08:36] smaranjitghose opened #989 "Remove ScrollBar Track during Preloader animation"
![Scroll_bar](https://user-images.githubusercontent.com/46641503/126129579-d52afd68-29c0-478e-a3da-4e82adbf25ca.png)

[2021-07-19 08:39] smaranjitghose opened #990 "Custom Dot Cursor [React]"
- [Reference](https://codepen.io/kjbrum/pen/qooQJJ)
- Check out the same in the master branch code

[2021-07-19 08:39] #857 closed

[2021-07-19 08:42] #951 closed

[2021-07-19 08:43] smaranjitghose commented on #930
This is a portfolio website. So it is implied that the project is supposed to contain one's personal projects (can be ML, web dev or AR-related). We have some demo stuff on the master branch too. Please have a look at that

[2021-07-19 08:44] divyesh1099 commented on #966
Yes sir I'll do it before 6 pm today. Sorry for the delay sir. I was working on issue #977 (sorry for not working on this). I'll try to complete this asap. If I'm not able to do this task then I'll notify.

[2021-07-19 08:44] mruga7 commented on #968
@smaranjitghose Sorry for the delay Sir, will get it done today iteself

[2021-07-19 08:50] smaranjitghose commented on #968
Cool 😊

[2021-07-19 10:21] GiotisK commented on #986
I will post a pull request soon that fixes this issue !

[2021-07-19 10:42] #986 closed

[2021-07-19 10:46] aashimawadhwa commented on #989
Can I work on this issue. Please assign it to me.

[2021-07-19 13:05] divyesh1099 commented on #966
Sorry sir I couldn't do it.

[2021-07-19 13:37] souravseal99 commented on #924
Thanks a lot @aliya-rahmani , making the PR shortly.

[2021-07-19 15:26] rajbir21-droid commented on #930
I am working on it ,its almost done

[2021-07-19 16:45] #966 closed

[2021-07-19 20:22] #962 closed

[2021-07-19 20:24] #963 closed

[2021-07-19 20:36] bukolastella commented on #987
I will take on this issue

[2021-07-19 21:57] rajbir21-droid commented on #930
#995

[2021-07-20 09:08] shagun0915 commented on #928
I will work on this. Please assign me this issue.

[2021-07-20 09:11] nik464 commented on #990
please assign me this issue it will be helpful for me

[2021-07-20 09:14] nik464 commented on #988
i will do this .

[2021-07-20 09:15] shagun0915 commented on #921
I want to work on this issue. Please assign it to me.

[2021-07-20 09:17] shagun0915 commented on #865
I want to work on this. Please assign it to me.

[2021-07-20 11:30] deeqakkk commented on #990
sure @nik464, go ahead.

[2021-07-20 11:32] deeqakkk commented on #987
assigned for 3 days.

[2021-07-20 16:07] harshit-dugar commented on #990
Hi
I am new to this project can you please guide me @smaranjitghose
If this issue is not resolved

[2021-07-21 15:12] stephenchinkenvun opened #997 "Light mode is not working in Event page"
Hi, I am Stephen. I just found that light mode is not working on the event.html page when we changed from dark mode to light mode. I would like to try to fix it. Besides that, the light mode and dark mode on the travel temp.html page have been swapped, where dark mode showing a white background.
![event_page_error](https://user-images.githubusercontent.com/55908964/126513074-8cbda174-27dc-4f74-bc9

[2021-07-21 16:02] nik464 commented on #988
actually what exact improvement has to be done in dark mode?

[2021-07-22 03:22] aliya-rahmani commented on #928
@shagun0915  updates?

[2021-07-22 03:23] aliya-rahmani commented on #922
@Ayush2020012016 updates?

[2021-07-22 03:24] aliya-rahmani commented on #867
@Ayush2020012016 updates?

[2021-07-22 03:25] aliya-rahmani commented on #860
@geniusbharti updates?

[2021-07-22 06:50] deeqakkk commented on #921
any updates @shagun0915 .

[2021-07-22 07:28] Swatilekha-Roy commented on #959
@smaranjitghose @anushbhatia I'd love to work on this issue! As I can understand, nobody is assigned to it yet. So, could you kindly assign it to me as a part of Open Source Day 2021, if that is possible? Thanks.

[2021-07-22 07:43] Swatilekha-Roy commented on #873
@smaranjitghose @anushbhatia If this issue is still unassigned, I would love to work on it as a part of Open Source Day '21! Also, some pointers regarding the changes that I need to make in the card designs or anything would be really helpful! Changing present images to open source ones from Dribble part I could understand. However, what are the coding related changes needed on the design page? Th

[2021-07-22 14:30] shagun0915 commented on #928
Working on it. Will make a PR in a day.

[2021-07-22 18:10] AshuKV commented on #855
I want to work on this. Please assign it to me.

[2021-07-22 18:27] AshuKV commented on #861
Hey @smaranjitghose , can you please assign this issue to me.

[2021-07-22 18:27] AshuKV commented on #878
Hey @smaranjitghose, can you please assign this issue to me.

[2021-07-22 18:29] AshuKV commented on #858
Hey @smaranjitghose, can you please assign this issue to me.

[2021-07-23 17:20] Swatilekha-Roy commented on #873
@smaranjitghose what are the coding related changes or template changes that I need to make the page? Or, is it only the images to dribble open source images? Also, some pointers regarding the changes that I need to make in the card designs or anything would be really helpful, if any?

[2021-07-24 03:16] anushbhatia commented on #870
Any updates @achalesh27022003 ?

[2021-07-24 03:17] anushbhatia commented on #965
Any progress @alceil ?

[2021-07-24 03:18] anushbhatia commented on #989
Any updates @aashimawadhwa ?

[2021-07-24 03:26] #985 closed

[2021-07-24 03:26] anushbhatia commented on #973
updates @IwonaBaran ?

[2021-07-24 03:29] #987 closed

[2021-07-24 03:37] anushbhatia commented on #990
any updates @nik464

[2021-07-24 03:40] anushbhatia commented on #997
please resolve these and try giving the pr as soon as possible

[2021-07-24 03:44] anushbhatia commented on #988
Enhancing the box shadow according to reference
Having the colour scheme similar to that displayed as currently the page is too dark
Following the purple scheme present there.
Also modifying the buttons in the same page with the same colour codes of purple.

[2021-07-24 03:56] anushbhatia commented on #928
Any progress?

[2021-07-24 04:07] aashimawadhwa commented on #989
Was having exams this week , started working on jt yesterday it will be done by tomorrow. @anushbhatia

[2021-07-24 04:10] anushbhatia commented on #873
you can take reference from this too https://kundu.design/.
Basically every card must showcase the a design on clicking it should give a detail view for that particular prototype and idea design all the details about that.

No specific coding related pointers we just want a  basic iteration ready the as you bild it we will provide you the cahnges in the PR if any. Follow the theme which on other p

[2021-07-24 04:13] Swatilekha-Roy commented on #873
Okay, thanks for the explanation @anushbhatia ! On it, now.

[2021-07-24 05:59] achalesh27022003 commented on #870
Yeh will update with the code today itself

[2021-07-24 06:45] nik464 commented on #990
ya . I have done it basically i have to increase cursor outline width and size because initially it was very small

[2021-07-24 06:54] alceil commented on #965
Ya its a work in progress will complete it soon

[2021-07-24 07:41] nik464 commented on #990
i have done it. you can check my pull request.

[2021-07-24 08:14] nik464 commented on #990
please add lgm soc to this issue. I am lgm soc participant.

[2021-07-24 15:01] vivek286 opened #1003 "Theme toggling"
Once the viewer toggles the theme it only changes for that page and as he moves to another section it changes back to the light theme I   think if once the theme is toggled it should be the same for all sections.
@smaranjitghose  If it is a bug please assign it to me.

[2021-07-24 15:31] anushbhatia commented on #870
great give it ASAP

[2021-07-24 15:32] anushbhatia commented on #965
Suree do share regular updates with progress  i know this is a long process that's why

[2021-07-24 15:46] alceil commented on #965
Sure😇

[2021-07-24 16:01] anushbhatia commented on #1003
Assigned for 3 days. Give the PR as soon as possible

[2021-07-24 16:06] AmanBisht01 commented on #864
Assign this issue to me .

[2021-07-24 18:08] deeqakkk commented on #990
done

[2021-07-24 18:10] deeqakkk commented on #864
try to make a PR soon.

[2021-07-24 18:15] deeqakkk commented on #858
Make a PR as soon as possible.

[2021-07-24 18:15] deeqakkk commented on #855
Assigned for 3 days.

[2021-07-24 21:25] aashimawadhwa opened #1005 "Update GitHub icon's color in dark mode"
change the GitHub icon color to white in dark mode .

![Screenshot from 2021-07-25 02-52-11](https://user-images.githubusercontent.com/73706697/126881363-f260f072-dd7d-4e4b-a13d-4c5568fddfcd.png)

assign it to me please.

[2021-07-25 06:14] sanchi-chugh commented on #929
pls assign this issue to me
i would love to work on this

[2021-07-25 07:09] anushbhatia commented on #1005
do follow the assest guidelines of github

[2021-07-26 08:31] deeqakkk commented on #878
@AshuKV do try to make a PR soon.

[2021-07-26 08:32] deeqakkk commented on #865
any updates?

[2021-07-26 08:34] deeqakkk commented on #861
any updates?

[2021-07-26 08:34] deeqakkk commented on #858
any updates @AshuKV ?

[2021-07-26 13:20] #989 closed

[2021-07-26 16:44] inimitable034 opened #1008 "Wanted to add a split-on-hover Floating ball for social handles."
https://user-images.githubusercontent.com/71227590/127027374-80557284-a317-43f7-93d6-f5665f9e8d75.mp4

[2021-07-26 16:48] inimitable034 commented on #1008
Please assign me this if you like it.

[2021-07-26 20:23] aashimawadhwa commented on #1005
I referred  to the code and documentation online I got to know that we  cannot change the color of a svg icon with the help of variables defined in the dark mode theme and the light mode theme .
The color remains fixed by the css property of "fill" in home.css can i change the svg to normal icon and change the arm animations to normal animation as of medium and kaggle if you allow?

[2021-07-26 20:25] aashimawadhwa commented on #1005
or if you can please guide me if I am in wrong directions , I will be very grateful ! @anushbhatia

[2021-07-27 09:16] SayantaniDeb opened #1009 "want to add the hover effect on the profile image in homepage"
https://user-images.githubusercontent.com/74983536/127128696-52671908-4069-4a13-b6af-a40c158f4b0e.mp4

[2021-07-27 09:30] SayantaniDeb commented on #1009
assign it to me please.

[2021-07-28 07:45] deeqakkk commented on #988
@nik464 any updates?

[2021-07-28 14:16] smaranjitghose commented on #1009
In laptop screens, this might be a good idea but for small screens like tablets or mobile phones it will not be feasible

[2021-07-28 14:17] smaranjitghose commented on #1008
Not required as of now

[2021-07-28 14:17] #1008 closed

[2021-07-28 17:47] aashimawadhwa commented on #1005
can you elaborate a bit? you mean i can change SVG to icon and change the github's icon present animation to somewhat familiar to medium and kaggle? @anushbhatia

[2021-07-29 13:03] ceruleanox opened #1010 "Address hover link visibility in dark mode"
![delete](https://user-images.githubusercontent.com/7034592/127496647-b461262c-2a34-430c-9c9a-e9c1d7c2e4cb.JPG)

The dark hover link color against a dark background comes from the default Bootstrap template being used. Adding the following to the CSS file allows for better visibility:

.dark-theme .nav-link:hover{
color: rgba(255, 255, 255, 1) !important;
}

[2021-07-29 13:37] ceruleanox commented on #956
Writing to follow up that I created separate issue and pull request:
#1010 - https://github.com/smaranjitghose/awesome-portfolio-websites/issues/1010
PR - https://github.com/smaranjitghose/awesome-portfolio-websites/pull/1011

[2021-07-30 06:34] deeqakkk commented on #1003
any updates @vivek286 ?

[2021-07-30 06:43] deeqakkk commented on #873
any updates @Swatilekha-Roy .

[2021-07-30 07:09] Swatilekha-Roy commented on #873
Hi @deeqakkk I am working on it. Thanks!

[2021-07-30 07:26] bukolastella commented on #988
I will like to take on this issue

[2021-07-30 07:27] bukolastella commented on #973
I will like to take on this issue

[2021-07-30 07:31] nik464 commented on #988
I am extremely sorry sir. My laptop got damaged . So I had to get it repaired from shop. I got it back today. First I was working on header issue and now I will work on this issue.

[2021-07-30 09:34] vivek286 commented on #1003
@deeqakkk  working on it

[2021-07-30 14:26] abhishektyagi2912 opened #1012 "Shortcut Icon does not change in education page"
If we go to another website or tab through the education page then the short icon does not change like another page comeback message

[2021-07-30 14:28] abhishektyagi2912 commented on #1012
plz assign me this issue

[2021-07-31 16:55] #1010 closed

[2021-07-31 16:56] #956 closed

[2021-07-31 16:57] #1009 closed

[2021-08-01 04:49] DineshVellu opened #1014 "Shortcut icon in education is not changing"

[2021-08-01 05:45] senyee18 opened #1016 "Unable to view the title or hover line properly in dark mode"
Hi, I am Sen Yee. I discover that in dark mode, the dark purple colour is too dark which is hardly able to be view. I believe simple changes in the colour for the dark mode will improve the design.
![image](https://user-images.githubusercontent.com/86588857/127760593-0a66c567-8818-4ace-8df0-5811739cda53.png)
![image](https://user-images.githubusercontent.com/86588857/127760606-2a2904cc-700e-47b6-a

[2021-08-01 19:23] abdalasaid commented on #975
Assign me this issue.

[2021-08-01 21:34] smaranjitghose commented on #1016
Sure. You can raise a PR for this

[2021-08-01 21:43] #973 closed

[2021-08-01 23:41] #988 closed

[2021-08-01 23:44] smaranjitghose opened #1020 "Education Page Mobile Responsiveness Bug(s)"
![Education_Page](https://user-images.githubusercontent.com/46641503/127788794-e8661ed6-7e95-44b1-9947-e788720a80c1.png)

In small screen sizes:
- The heading almost sticks to the navbar (which does not follow the UI for the rest of the website)
- There is an unusual horizontal stretching of the page [Use chrome dev tools]

[2021-08-01 23:44] #959 closed

[2021-08-02 00:00] smaranjitghose opened #1021 "Redesign Education Page's Formal Education Section"
## Sample Reference

[Only for the responsiveness and overall timeline but not the cards itself](https://codepen.io/paulhbarker/pen/apvGdv)

## Instructions

- The card should have a small school image on the left  and content on the right
     - The content part should include Name of School, Location, Program Pursued, Duration, Synopsis of activities
- Make sure the cards are mobile responsive

[2021-08-02 00:01] smaranjitghose opened #1022 "Replace Resume Section in the Navbar with Blog"
It should basically open hashnode.com in a new tab.

[2021-08-02 00:02] smaranjitghose commented on #1014
Duplicate of #1012

[2021-08-02 00:02] #1014 closed

[2021-08-02 00:03] #1003 closed

[2021-08-02 00:06] smaranjitghose opened #1023 "Convert CSS code to CSS"
- Convert all css into CSS

## Things to keep in mind:

- For all the stylesheets, make sure that the colors are defined in variables for light mode and dark mode separately

![image](https://user-images.githubusercontent.com/46641503/125868305-0820fe3a-426e-4ecc-b6a3-1c8ea5064744.png)

- The name of the variables are to be altered into something more understandable for example bg-color can be mad

[2021-08-02 00:11] smaranjitghose opened #1024 "Fix Website Font Consistency"
- All the text used in the website should have the same font
- New Font: [Frank Ruhl Libre](https://fonts.google.com/specimen/Frank+Ruhl+Libre?query=Frank+Ruhl+Libre)
- Remove the import of any other fonts from html or css files that would not be required anymore

[2021-08-02 00:13] smaranjitghose opened #1025 "Remove Medium Icon"
Remove all code related to the Medium icon from the website (including main.js, style.css or index.html)

![med](https://user-images.githubusercontent.com/46641503/127789644-e4bcbe98-b961-49df-a5d3-f891ba1d9f82.png)

[2021-08-02 00:14] #997 closed

[2021-08-02 00:16] #968 closed

[2021-08-02 08:26] anushbhatia commented on #1005
you can use the white bordered logo which is present in the dark mode.
let the arm animation be the same just modify the fill of the github logo according to this colour scheme rest i think it would be fine.
![f0j086weald41](https://user-images.githubusercontent.com/40017559/127828823-85c61a3b-10c7-416a-b06c-b6e23273e1db.png)

[2021-08-02 10:52] ArihantJain123 commented on #1025
Hello, Can I work on this issue ?

[2021-08-02 10:57] ArihantJain123 commented on #1024
please assign me this issue it will be helpful for me and I am LGMSOC participant

[2021-08-02 14:27] Nirodha-Github commented on #1023
I would like to contribute this issue

[2021-08-02 14:48] Aksheet10 opened #1027 "Dark theme"
Is there any way to pre set the theme as dark instead of light theme first and toggle for dark?

like right now it is light <toggle> dark. but could there be dark <toggle> light?

if yes please let me know how to.

thanks :)

[2021-08-02 16:21] smaranjitghose commented on #1023
Sure @Nirodha-Github !

[2021-08-02 16:35] smaranjitghose commented on #1027
Ya definitely, you can omit to take the local settings of the user into consideration when loading the page and set the default to dark.

[Reference article](https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/)

File to be changed: app.js ( Scroll down after the header and footer code)

[2021-08-03 04:11] Dhruv-194 commented on #1022
Hey @smaranjitghose can I work on this issue?

[2021-08-03 05:42] Dhruv-194 commented on #1021
Hey @smaranjitghose can I work on this issue?

[2021-08-03 06:49] ArihantJain123 commented on #1024
Ok , Thanks for assign me this issue.

[2021-08-03 09:51] AlsaidAbdu opened #1030 "There is a problem with the contact form js ,can anyone help please"

[2021-08-03 14:01] anushbhatia commented on #1027
Keep toggle button to dark on default and that will make it by default.

[2021-08-03 15:19] Aksheet10 commented on #1027
oh thanks a lot for the reply, can u please tell me the area to edit for that? i tried a ton of stuff but ended up not getting anything done

[2021-08-04 01:29] smaranjitghose commented on #1030
Could you please elaborate on the issue?

[2021-08-04 01:31] #1025 closed

[2021-08-04 01:42] AlsaidAbdu commented on #1030
This is the code in apps.js, but when using the contact form on the page, it doesn't send anything.

<div class="col-lg-6 col-md-12 mb-4 mb-md-0 form-comtainer">
          <div class="form-style-6">
             <div class="form-header">
                <h6 class="display">Get In Touch</h6>
              </div>
                <form>
                <form action="https://formcarry.com/s/G0OIb3Yx3o

[2021-08-04 05:08] anushbhatia commented on #1027
https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/assets/js/app.js
Here from line number 352 there are thses two functions which aare primarily responsible for dark mode. Play along the conditions of if else and then u will be able to do it. If not just droo your query here.

[2021-08-04 05:29] Aksheet10 commented on #1027
Hi, i think there is an issue with the app.js

when forked and using it...it tens to reduce itself and it automatically gets shortened to 330 lines.. i have tried the same things 5 times atleast and everytime it changes to 330 lines.

_for the dark theme_
i tred a lot messing with the if else. but everytime i tried nothin worked. the page wouldnt load dark mode sometimes.. or only white theme woul

[2021-08-04 10:38] deeqakkk commented on #1021
@Dhruv-194 sure!

[2021-08-04 10:39] deeqakkk commented on #1021
@Dhruv-194 sure.

[2021-08-04 16:13] aasthasaxena217 commented on #1020
@smaranjitghose , Can I work on this issue

[2021-08-05 05:44] smaranjitghose commented on #1020
Sure. @aasthasaxena217

[2021-08-05 15:33] anushbhatia commented on #1027
Before
`   <input type="checkbox" class="dark_toggler" aria-label="Toggle Light Mode" onclick="toggle_light_mode()"> `
After
`   <input type="checkbox" class="dark_toggler" aria-label="Toggle Light Mode" onclick="toggle_light_mode()" checked> `

try modifying this in app.js to

[2021-08-05 16:00] Aksheet10 commented on #1027
hey, thanks for the reply, but this time the checkbox is checked but it doesnt change to darkmode.

i recopied the app.js from the original repo but that still defaults to the light theme. :(

[2021-08-05 16:43] AnirudhPanda commented on #1024
I can do this if nobody else is assigned!

[2021-08-05 21:09] deeqakkk opened #1033 ""Resume" link color issue on click"
Once we click on the resume to get redirect for new tab(john_doe.pdf)
even after returning resume remains black in color making it almost invisible.
![image](https://user-images.githubusercontent.com/78724676/128421459-a65ea382-6192-427d-bef3-ddffa4e0117a.png)

[2021-08-06 00:48] NumanAnees commented on #1033
**not only with Resume it is happening with all the anchor tags if someone opens them in new Tab.**

![image](https://user-images.githubusercontent.com/67089723/128439109-59061343-4eef-4d6c-9855-edfa140f328e.png)

[2021-08-06 02:20] #1022 closed

[2021-08-06 16:15] aashimawadhwa commented on #1005
will fix it in 2 days was not well .

[2021-08-07 07:36] Aksheet10 commented on #1027
also i the github icon for dark theme (below the "I am into {}" part) remains dark. It may happen that somepeople may not be able to see tht

[2021-08-07 09:57] deeqakkk commented on #1021
any updates @Dhruv-194

[2021-08-07 09:58] deeqakkk commented on #1016
any updates @senyee18

[2021-08-07 15:20] Dhruv-194 commented on #1021
@deeqakkk I will be completing this by tomorrow :)

[2021-08-08 08:41] pranjal345678 commented on #922
Hello I want to contribute to this please assign this work to me.

[2021-08-08 16:53] Swarga-codes opened #1035 "Add a Skill section"
Add a Skills section where the user can showcase their skills as per their requirement and also will animate it to make it look good.

[2021-08-08 20:31] smaranjitghose commented on #1035
Skills are meant to be put on the resume or Linkedin, the portfolio serves as an elaborate overview of the work done by a candidate

[2021-08-08 20:31] #1035 closed

[2021-08-09 05:53] deeqakkk commented on #922
Sure, @pranjal345678 you can work on it.

[2021-08-09 09:52] anushbhatia commented on #1027
the code for dark mode is having some issues i will try rebuiding it and fixing that complete section

[2021-08-09 09:53] anushbhatia commented on #1027
We had assigned someone this issue but there's no update on it regarding that

[2021-08-09 13:38] adithyasunil26 opened #1036 "Dark mode toggle defaults back to light state when refreshed"
This is a continuation to #942 .

Problem:
The fix there does not seem to have solved the bug as it simple defaulted every page to light mode. In the current version also if we switch to dark mode and then refresh the page, the toggle defaults back to the light state even though the page is still in dark mode which is not the ideal behaviour.

Fix:
Simply checking the checkbox if the local storage

[2021-08-14 06:56] Aksheet10 commented on #1027
Hey, hope that gets updated :D

Also for the badges in experience page - is it limited to only 5?

[2021-08-15 08:31] imjonsnow362 commented on #1024
Is the issue fixed ?

[2021-08-15 12:55] smaranjitghose commented on #1024
Not yet~

[2021-08-15 13:05] AnirudhPanda commented on #1024
#1032

[2021-08-15 20:28] RituSingh2002 commented on #1005
hii I would like to work on this

[2021-08-15 20:31] RituSingh2002 commented on #1033
please assign this issue I have to fix it

[2021-08-16 10:15] #1033 closed

[2021-08-16 10:15] #1005 closed

[2021-08-16 14:54] shreyas1925 commented on #1024
If at all the issue is not fixed please assign it to me.

[2021-08-18 04:51] aniket-choudhary2002 commented on #930
I want to work on this issue.

[2021-08-20 15:58] prakharsan commented on #1030
Hey AlsaidAbdu,
Remove the first form tag.
` <form action="form-carry-link-here" method="POST" accept-charset="UTF-8" >
                  <input type="text" name="field1" placeholder="Your Name" required/>
                  <input type="email" name="field2" placeholder="Email Address"  required/>
                  <textarea name="field3" placeholder="Type your Message" required></textarea>

[2021-08-20 15:59] prakharsan commented on #1030
Hey AlsaidAbdu,
Remove the first <form> tag
` <form action="your-form-carry-link-here" method="POST" accept-charset="UTF-8" >
                  <input type="text" name="field1" placeholder="Your Name" required/>
                  <input type="email" name="field2" placeholder="Email Address"  required/>
                  <textarea name="field3" placeholder="Type your Message" required></textarea>

[2021-08-22 09:52] nishant3721 commented on #1036
@adithyasunil26 Can I work on it!?

[2021-08-22 10:09] adithyasunil26 commented on #1036
@nishant3721 I have already PRed a fix in #1037 but if u have a better idea then sure go ahead

[2021-08-22 10:11] nishant3721 commented on #1036
@adithyasunil26 Ok, no problem!

[2021-08-23 12:42] unnati914 commented on #929
i can work on this if it is not completed

[2021-08-25 11:22] #1036 closed

[2021-08-25 11:24] #1021 closed

[2021-08-28 09:38] purohitmansi opened #1041 "Homepage"
It will be great if all the contact information is included on the contact page like education, research which have different pages. And the homepage contains the basic information with a picture and a short summary of your work.

[2021-08-28 09:51] purohitmansi commented on #1041
Please do assign this to me to add about page instead of home.

[2021-08-29 05:11] A-GHOSH-dev commented on #921
I think this issue is still open. Can I contribute please?

[2021-08-29 05:14] A-GHOSH-dev commented on #921
Please assign me by today. I need to contribute by tomorrow.

[2021-08-29 12:32] abhaygoel14 commented on #1020
@smaranjitghose I can still find the bug in the mobile responsive view. Can I work on this issue?
![image](https://user-images.githubusercontent.com/78078088/131250318-522394bb-a32e-4fbd-84fc-a4488cdc3071.png)

[2021-08-30 00:53] Jahnavi-Jonnalagadda commented on #749
@anushbhatia @smaranjitghose I would like to work on this issue, please assign it to me.

[2021-08-30 01:30] Jahnavi-Jonnalagadda commented on #745
@smaranjitghose @anushbhatia Could you please assign this issue to me, I'd like to work on it.

[2021-08-30 02:27] anushbhatia commented on #1041
We have all our contact information on the footer and home pages I don't think we will need a separate contact page.
@smaranjitghose what are your views.

[2021-08-30 02:43] anushbhatia commented on #929
Any updates @unnati914 ?

[2021-08-30 02:44] anushbhatia commented on #1027
no, they can be extended to more.

[2021-08-30 03:17] Aksheet10 commented on #1027
not working for mr weird, after i add the 6th one, the site doesnt show any of the badges

[2021-08-30 07:15] harshil202 commented on #1024
You can assign me for this work I can do this.

[2021-08-31 04:58] A-GHOSH-dev commented on #921
I have done the work and created a pull request.

I did this work for a task given by Microsoft (submission today). And it would be very helpful if the PR review is done as soon as possible.

Thank you.

[2021-08-31 05:57] shreya-gb commented on #1024
@smaranjitghose You want all the font to be from Poppins to Frank Ruhl Libre?

[2021-08-31 06:38] Saiteja-goud commented on #1016
Could you please assign this issue to me, I would like to work on it?

[2021-08-31 06:41] Saiteja-goud commented on #1016
@smaranjitghose @deeqakkk Could you please assign this issue to me, I'd like to work on it?

[2021-08-31 07:52] Saiteja-goud commented on #1016
@anushbhatia @smaranjitghose @deeqakkk

Could you please assign this issue to me, I'd like to work on it?

[2021-08-31 09:03] #745 closed

[2021-09-01 16:11] AnandBIT opened #1046 "Bug in hamburger menu in mobile version"
The click handler is attached to the outer wrapper div, but it should be on the div with id 'js-hamburger'.
It may lead to unexpected bug, in which one may open the navbar without the hamburger icon changed to cross sign.

[2021-09-01 16:13] AnandBIT commented on #1023
Is there any update on this @Nirodha-Github as I'm also interested in fixing this issue

[2021-09-03 18:48] Serjeel-Ranjan-911 commented on #865
@smaranjitghose what you mean by component here?

[2021-09-04 06:08] anushbhatia commented on #1023
I don't think so @AnandBIT would you like to take this up?

[2021-09-04 06:10] anushbhatia commented on #865
https://github.com/smaranjitghose/awesome-portfolio-websites/tree/reactjs/src/components create 3d wave here and import it directly to the footer in pages folder so that footer has less amount of code.

[2021-09-04 07:05] Serjeel-Ranjan-911 commented on #865
okay didn't notice there is reactjs branch as well

[2021-09-04 11:15] AnandBIT commented on #1023
It'll take some time, around 4-5 days. Is that ok?

[2021-09-04 12:42] Serjeel-Ranjan-911 commented on #865
![image](https://user-images.githubusercontent.com/74287984/132094805-e8744bed-f403-4588-9bad-f27849dfa4c6.png)
is your goal to replace this graphic with terrain one?

[2021-09-04 15:54] Serjeel-Ranjan-911 commented on #865
@smaranjitghose
demonstration from my side

https://user-images.githubusercontent.com/74287984/132100261-125fb5cd-8363-48eb-8dc0-f3efc0c3436a.mp4

I have created a terrain component.
For demonstration purpose I have imported it in a div inside footer.
![image](https://user-images.githubusercontent.com/74287984/132100273-7c15692e-e4cc-477c-93b4-c107e7d016fc.png)

- The terrain component can be impo

[2021-09-18 05:25] Aksheet10 opened #1050 "Only dark theme without toggle option"
If you dont want light theme and the toggle bar and all pages as dark theme follow these steps

1. In all the `.html` pages add this line as the second line `<html lang="en", light-mode="dark">`

![image](https://user-images.githubusercontent.com/71016915/133873486-2755ac47-2192-4c58-aee5-5ca32a32e966.png)

Now all your pages will be dark theme only by default.

---

## Toggle bar removing -

Open

[2021-09-18 05:26] Aksheet10 commented on #1050
Now go line 4 in app.js (the `let header =$`) part and then add the dark-theme in it.
So it should be like - `<nav class="navbar navbar-expand-lg navbar-light fixed-top dark-theme" id="navbar">`

[2021-09-22 08:02] FidalMathew commented on #1024
I would like to work on the issue if available, please assign it to me.

[2021-09-28 16:55] dipanshparmar opened #1052 "Add Box Shadow to improve Navbar UI Light Mode"
Can we add some box-shadow to the navbar for better visibility? Currently, it looks like this:

![image](https://user-images.githubusercontent.com/49204837/135131617-b8a73bad-1af0-4d24-9aae-168aa1fcd70a.png)

[2021-09-28 16:58] dipanshparmar opened #1053 "Reformat the code"
In the index.html file, the SVGs are not linked but placed there and it looks kind of messy:
![image](https://user-images.githubusercontent.com/49204837/135132015-506d937d-5f12-471e-9403-e3ecec2feabf.png)

So what we can do is that we can store these SVGs in assets and link them in index.html

[2021-09-28 17:02] dipanshparmar opened #1054 "Make dots lighter in the dark theme"
These circles are not very visible in the dark theme, so what we can do is that we can assign a little light color to them in the dark theme so that they are clearly visible.
![image](https://user-images.githubusercontent.com/49204837/135132600-beebf5cb-e53b-4950-b46e-bf0d063b5333.png)

[2021-09-28 17:05] dipanshparmar opened #1055 "Improve UI of to-top button: Color Change"
The color of the "back to top" button can be made white on dark theme for better UI.
![image](https://user-images.githubusercontent.com/49204837/135133009-ebd1e540-cad0-4fd8-892f-e7590a584ca7.png)

[2021-09-29 03:47] #1053 closed

[2021-09-30 14:17] smaranjitghose opened #1059 "Reference Page Bug and Updates"
# Requirements

- Fix Responsiveness of Reference Page for mobile screen sizes

![Reference_Page](https://user-images.githubusercontent.com/46641503/135471826-237af5fa-7d2b-44f7-bf8b-940f59966ebe.png)

- Update the default text with real recommendations that could be given by peers and managers to one for one's work in software engineering or data science.
- Update the pictures with different open

[2021-09-30 14:22] smaranjitghose opened #1060 "New Page for Semester Recap/Year Recap"
[Reference](https://codepen.io/nathantaylor/pen/PJGqdE)

## Core Idea

This page (or similar copies of this page) would be helpful for having easter eggs on one's portfolio for peers and colleagues regarding an academic or professional journey taken together. Basically, it's a slideshow of images to serve as cherishable momemts.

## Instructions

- All the images should be placed inside `./assets/

[2021-09-30 14:24] smaranjitghose opened #1061 "Education Page Responsiveness Bug"
![Education_Page_Respon](https://user-images.githubusercontent.com/46641503/135473785-78890580-75c7-47fa-a7b1-0e28c38afbdc.png)

[2021-09-30 14:24] #1020 closed

[2021-09-30 14:26] smaranjitghose opened #1062 "Education Page: Eliminate Additional Space"
![Education_Page_Respon_1](https://user-images.githubusercontent.com/46641503/135474015-f6e9b026-f6bd-44cf-b59c-93ba8056651d.png)

Remove the additional space as observed in smaller screen sizes for the education page

[2021-09-30 14:30] smaranjitghose opened #1063 "Favicon Bug: Education Page"
![Education_Page_fav](https://user-images.githubusercontent.com/46641503/135474790-84e523f0-3fd6-4fd5-b569-ad15b823a41e.png)

Similar to other pages, the favicon should change dynamically along with the page title when the user is away from the website

[2021-09-30 14:34] #921 closed

[2021-09-30 14:34] #1030 closed

[2021-09-30 14:37] #1041 closed

[2021-09-30 14:40] smaranjitghose opened #1064 "Add Microanimation to Footer Send Button"
[Reference](https://codepen.io/nuski/details/ExPEBgw)

- The footer code should be loaded exclusively from app.js and style.css
- Modify the color according to the theme of the website

[2021-09-30 14:41] #1050 closed

[2021-09-30 14:41] #1027 closed

[2021-09-30 14:46] #1016 closed

[2021-09-30 14:56] PuneetDabral commented on #1064
sir can you please can me to do my first contribution here i am new in git hub ?!! also to help me to resolve this issue

[2021-09-30 15:03] antonio-b commented on #1062
@smaranjitghose can you assign this to me?

[2021-09-30 15:24] smaranjitghose opened #1066 "Reference Page: UI"
![ref_bag](https://user-images.githubusercontent.com/46641503/135475402-30bd1d8c-c0eb-49f5-9cd9-603438a17981.png)

The background color of the cards should be the same as the rest of the page to differentiate it from the navbar!

[2021-09-30 16:04] antonio-b commented on #1061
@smaranjitghose  can you assign please?

[2021-09-30 17:58] minhhang107 commented on #1066
Hi, can I take on this issue?

[2021-10-01 05:34] sanjanarp commented on #1063
I would like to work on this issue, @smaranjitghose could you assign it to me?

[2021-10-01 07:15] sanjanarp commented on #1059
I'm interested, @smaranjitghose could you assign it to me?

[2021-10-01 16:30] kanchi2438 commented on #1060
@smaranjitghose sir, Could you please assign it to me? I'd like to work on it

[2021-10-01 16:33] anushbhatia opened #1070 "Make Github Logo White"
Follow the proper guidelines from Github.
In dark mode, you can change the logo to white for Github.

[2021-10-01 16:38] sakshiisaxena commented on #1070
Hey, I would love to take this one up.

[2021-10-01 16:39] anushbhatia opened #1071 "Change the icon background in darkmode"
![image](https://user-images.githubusercontent.com/40017559/135656545-da2806f6-e73b-461f-a48a-4fe6570ad346.png)
you can see the white colour present in the background replace with the current dark mode colours.

[2021-10-01 16:41] gursifath commented on #1071
Can i take up this one!

[2021-10-01 16:42] vwang0101 commented on #878
@smaranjitghose Hi, can I work on this issue please?

[2021-10-01 16:47] anushbhatia opened #1072 "Colours for the button and slider"
![image](https://user-images.githubusercontent.com/40017559/135657686-6d244c0d-fa92-4e1e-8a7a-6197e4c10a86.png)
Modify the colours purple according to the rest of the theme. Also, you can modify the button colours to purple too

[2021-10-01 16:52] guptapragya commented on #1072
Can you please assign this to me?

[2021-10-01 17:17] guptapragya opened #1073 "Education Page - Fix the College names, its overlapping"
https://portfolio.smaranjitghose.com/education.html

![Screen Shot 2021-10-01 at 12 48 47 PM](https://user-images.githubusercontent.com/28174290/135661101-b556810f-a0f1-427c-aeed-b8da7e0bc455.png)

[2021-10-01 17:29] nvarierdatastax commented on #923
@smaranjitghose Can I please work on this issue?

[2021-10-01 17:30] anushbhatia opened #1075 "Skeleton Loading"
https://codepen.io/havardob/pen/dyGGGzq
Implement this until the CSS files and Js are loading for the pages.

[2021-10-01 17:35] amruta-11 commented on #862
Can you assign me this issue?

[2021-10-01 17:45] anushbhatia opened #1078 "Dark Mode images Modification"
![image](https://user-images.githubusercontent.com/40017559/135664450-6c8dc444-7d95-4eea-8022-5ceb1816a5c7.png)
In dark mode,
change these images to their dark mode colours for every logo present and try using SVG if possible.

[2021-10-01 17:57] #1063 closed

[2021-10-01 18:10] #1054 closed

[2021-10-01 18:25] anushbhatia opened #1080 "Define Colours for variables for Home Page"
Modify all the hex code(#fff) and change them to variables in CSS File for index.html.
 Start with a single page

 Find errors in it and do let me know if you face issues in that

[2021-10-01 19:03] ogennaesimai commented on #1080
Ogenna Esimai

[2021-10-01 19:17] #1055 closed

[2021-10-01 19:17] anushbhatia opened #1081 "Realistic Details to reference Page"
Currently, the page has a fake review if you could add some reviews which have relevant data and images.
![image](https://user-images.githubusercontent.com/40017559/135674931-0383136b-87a5-49a4-973e-bbf39a53a715.png)

[2021-10-01 19:22] astraljdc commented on #1081
Hi, I'd like to do this!

[2021-10-01 19:26] #1062 closed

[2021-10-01 19:26] #1072 closed

[2021-10-01 19:33] javi-saavedra commented on #1064
Hi! Can I take on this issue?

[2021-10-01 20:23] anushbhatia opened #1083 "Make the footer font same as the Navbar(Poppins)"
![image](https://user-images.githubusercontent.com/40017559/135681913-636b058b-6b9e-40d6-bcbb-661b3b61efee.png)
Change this font to Poppins for the same font throughout the project.

[2021-10-01 20:43] jennjwang commented on #1083
Could I work on this? Thank you!

[2021-10-01 22:02] Druxtr opened #1085 "Github icon color on dark mode"
Change the Github icon color on the home-page, when it's darkmode

[2021-10-01 22:39] kanchi2438 commented on #1078
I'd like to work on this

[2021-10-02 03:25] #1066 closed

[2021-10-02 03:32] sanjanarp commented on #1085
I would like to work on this issue

[2021-10-02 03:34] smaranjitghose commented on #1083
@jennjwang You can do the follow up changes w.r.t font size if you wish

[2021-10-02 05:08] PuneetDabral commented on #1064
can any one help me to resolve this issue?

[2021-10-02 06:43] #1078 closed

[2021-10-02 07:22] anushbhatia commented on #1064
explain you doubt here.

[2021-10-02 08:27] PuneetDabral commented on #1064
explain in step by stem i am also new in react

[2021-10-02 10:43] abhishekchauhan15 commented on #1075
I can do that. Can you please assign me this?

[2021-10-02 11:20] abhishekchauhan15 commented on #1075
So basically I have to make Skeleton Loading for 4 pages only i.e: Experience, Project, Research, and Education page, right?

[2021-10-02 18:55] #1059 closed

[2021-10-02 19:01] #1052 closed

[2021-10-03 06:26] sanjanarp opened #1091 "Footer icons bug - Education Page"
In Education page, there is a bug in the footer icons of LinkedIn and Instagram.

- LinkedIn icon is in a half animated mode
- Instagram icon is not in the center

![icons](https://user-images.githubusercontent.com/72183433/135742602-e5d676c2-959a-4c87-a923-8c60a2d10732.png)

I would like to fix this issue.

[2021-10-03 06:47] anushbhatia commented on #1064
Code is present there  in reference above, just have to integrate it with footer that's present in `assets/js/app.js`

[2021-10-03 18:16] Swatilekha-Roy commented on #1060
Hi @anushbhatia @smaranjitghose since this issue is presently unassigned, could you kindly assign this issue to me as a part of Open Source Day vGHC? I would love to try it out and add this feature! Thanks in advance.

[2021-10-03 22:35] turhancan97 opened #1093 "Navbar Logo Change"
In documentation , it says that Open main.js and Under Footer and Navbar heading change the path inside img src="" to your image path to change your logo. But I couldn't find main.js document.

![image](https://user-images.githubusercontent.com/22428774/135773570-695e196d-18e5-41de-bb16-cd395e365489.png)

[2021-10-03 23:52] smaranjitghose commented on #1060
Sure. @Swatilekha-Roy feel free to give it a try

[2021-10-03 23:53] smaranjitghose commented on #1093
We have shifted the code to app.js and replaced it with a text

[2021-10-03 23:53] #1093 closed

[2021-10-03 23:54] #1091 closed

[2021-10-04 08:37] anushbhatia commented on #1060
Looks great to me. You can go ahead and create a PR

[2021-10-04 09:32] Swatilekha-Roy commented on #1060
@anushbhatia thank you! Done.

[2021-10-05 17:12] sanjanarp opened #1095 "Research page responsiveness bug"
![researchpage](https://user-images.githubusercontent.com/72183433/136069881-3afced34-f5d0-44dc-82b9-ac810c04a005.png)

![researchpage1](https://user-images.githubusercontent.com/72183433/136070551-72a730b5-b388-40af-812b-016909c8c215.png)

![researchpage2](https://user-images.githubusercontent.com/72183433/136070626-667d4d94-f430-48fe-94b2-82004ba78996.png)

I would like to work on this issue und

[2021-10-06 12:27] smaranjitghose opened #1096 "Documentation Website Update"
- We have a documentation website built using mkdocs
- The source code is present on the `documentation` branch while the code for the hosted part is on the `gh-pages` branch
- It basically deals with helping out non-programmers set up this project and use it for their own purpose
- We need your assistance to update the material ( some of the files have been changed: main.js -> app.js, pages have

[2021-10-06 12:27] #1083 closed

[2021-10-06 12:28] smaranjitghose commented on #1081
Any updates @astraljdc ?

[2021-10-06 17:51] #1095 closed

[2021-10-06 20:22] astraljdc commented on #1081
Yup! I submitted a contribution commit here https://github.com/smaranjitghose/awesome-portfolio-websites/pull/1087
and it looks like it got approved.

[2021-10-06 22:41] #1081 closed

[2021-10-07 01:36] GregDevProjects commented on #860
@smaranjitghose I can reproduce this! Can I work on this for Hacktoberfest?

[2021-10-08 05:25] bindaldhara opened #1102 "Tribute page on Albert Einstein"
I want to work on this issue under Hacktoberfest 2021.

[2021-10-08 13:44] smaranjitghose commented on #1096
@sanjanarp Yes

[2021-10-08 19:47] #1061 closed

[2021-10-09 12:37] GregDevProjects commented on #873
@deeqakkk @smaranjitghose hello! Can I work on this for Hacktoberfest?

Should this page follow the same design as the one on the [master branch](https://github.com/smaranjitghose/awesome-portfolio-websites/blob/master/design.html) ? Or am I free to base it off any template I like?

Thanks 😃

[2021-10-09 15:35] smaranjitghose commented on #873
@GregDevProjects Sure.

Feel free to base it off any template as you wish. Just make sure the overall color scheme is consistent with the website

[2021-10-10 17:21] battuAshita commented on #864
Hi @anushbhatia
I have been trying to animate the particles but it shows an error:
![error](https://user-images.githubusercontent.com/63910374/136706422-b83383e4-de15-439b-922c-d406ea176a4d.png)
The main component which I have exported contains this code as shown below:
![particles](https://user-images.githubusercontent.com/63910374/136706474-f095c83a-232e-43c7-bd85-44fa11b949e9.png)

[2021-10-10 20:11] jpope15 opened #1107 "Fix typo in education.html"
There is a typo in the education.html page. "Researcher" is spelt incorrectly.

<img width="290" alt="typo" src="https://user-images.githubusercontent.com/44294979/136711648-4f97d5a6-dd3b-4c7f-86a5-77cafe43e0fe.png">

[2021-10-11 05:05] battuAshita commented on #864
Thank you. It works now. Will make a PR soon :)

[2021-10-12 13:29] #1107 closed, assigned to jpope15

[2021-10-14 02:25] GregDevProjects opened #1111 "[React] Use css modules"
**Problem**

The css in this project is currently scoped globally. This means that:
1. There's a chance styles on two different pages could affect each other in an unintended way.
2. The CSS for the entire app is loaded on every page. Loading the CSS on a per page basis would be better for performance.

**Proposed Solution**

Use [CSS Modules](https://create-react-app.dev/docs/adding-a-css-modules

[2021-10-15 04:53] rhona3 commented on #1096
@sanjanarp i think in future it updates it'self

[2021-10-15 05:01] rhona3 commented on #1083
@anushbhatia  i think th fort is okay no need to be changed

[2021-10-15 05:11] rhona3 opened #1114 "add image"
when i try to add image in the system,it shows me errors in the system when i click on the submission button.

[2021-10-15 05:42] rhona3 commented on #1114
#PROJECT SET UP
if you want to use project on our machine please clone it before use.
# #358
is easy to use the project.

[2021-10-15 23:53] riyajha2305 commented on #1024
Can I be assigned this issue?

[2021-10-16 15:56] GregDevProjects commented on #1111
@i-f-r-a-h - Sorry, I just put out a PR for this 😢 would have let you have it if the work wasn't already finished.

@smaranjitghose ready for review at https://github.com/smaranjitghose/awesome-portfolio-websites/pull/1116

[2021-10-16 19:52] smaranjitghose commented on #1096
Yes

[2021-10-16 19:52] smaranjitghose commented on #1096
Yes

[2021-10-16 19:57] #1071 closed

[2021-10-16 20:01] #1111 closed

[2021-10-17 08:38] anushbhatia commented on #1075
@rhona3 do you want to work on this

[2021-10-18 04:57] anushbhatia commented on #1075
https://www.youtube.com/watch?v=ZVug65gW-fc follow this

[2021-10-20 04:32] Nzamuyejoram commented on #1064
@PuneetDabral  yeah true mine too i would prefer that coz am as well new in react

[2021-10-21 19:49] PandeySomya77 opened #1120 "Click able navigation bar"
In navigation bar there should be a clickable icon for returning to home page.

[2021-10-23 23:34] prakharsan opened #1121 "The theme changes from dark to light when you switch tabs."
When you switch from say Home to Education tab, the theme changes from Dark to Light. The UX would be better with dark theme getting carried forward.

[2021-10-23 23:36] #1121 closed, assigned to nobody

[2021-10-24 15:39] SIREESHA2271 opened #1122 "bug in Education page icons in footer"
![ap](https://user-images.githubusercontent.com/85788597/138601014-fbcc11e9-738b-457f-b8fd-dceadb92f3c8.png)

LinkedIn and Instagram icons are not properly aligned

[2021-10-26 12:20] SIREESHA2271 opened #1125 "Enhance Education page UI in dark mode"
![ap1](https://user-images.githubusercontent.com/85788597/138876639-7f87e53a-0894-4f1a-ac53-7666031e66c6.png)

contents are not clearly visible in the timeline card, this could be enhanced

I can fix this issue.

[2021-10-26 18:10] kamalkraj opened #1126 "Get in touch functionality not working"
I have already replaced the link with my formcarry link.

Is there anything else I should change ?

[2021-10-26 19:24] kamalkraj opened #1127 "Hackathon Participation is showing Blank"
![Screenshot 2021-10-27 at 12 54 06 AM](https://user-images.githubusercontent.com/17096858/138947199-570ce057-d9ca-45cd-a8fc-796c978ea760.png)

[2021-10-27 10:06] #1120 closed, assigned to nobody

[2021-10-27 10:15] #1126 closed, assigned to nobody

[2021-10-28 00:43] #1125 closed, assigned to SIREESHA2271

[2021-10-31 08:39] #1127 closed

[2021-10-31 08:40] anushbhatia commented on #1127
Error has been resolved

[2021-11-22 11:11] Nzamuyejoram commented on #1075
@anushhatia. could you please assign me this issue and i give it a trial

[2021-11-23 06:40] Nzamuyejoram commented on #1075
@anushbhatia . Its cool thanks. let me try it

[2021-11-23 14:34] Nzamuyejoram commented on #865
@Serjeel-Ranjan-911  i would like to know more about terrain geometry, throw more light on this and have more ideas

[2021-11-25 05:52] Serjeel-Ranjan-911 commented on #865
@Nzamuyejoram
The terrain is a 2d plane which is divided in a grid of 64 by 64. Now each point on this grid is given a vertical height based on a displacement map. Displacement map is just a black and white image which stores height information. The terrain is blue in colour due to the light projected on it.

[2022-01-05 06:29] panjwaniranjitsingh commented on #1126
Just remove "<form>" written a line before "<form action=" and then formcarry link will get data.

[2022-01-05 06:30] panjwaniranjitsingh commented on #1126
@anushbhatia formcarry website is giving backend you don't need to provide any backend for Get In Touch form.

[2022-01-09 17:55] sanchitjain336 commented on #928
Hello,
If this issue is open I am can work on it.
Please Assign me this issue.

[2022-01-09 17:56] sanchitjain336 commented on #928
Hello ,
If this issue is open I can work on it.
Please assign me this issue.

[2022-01-10 03:13] anushbhatia commented on #928
Sure go ahead with it.

[2022-01-10 06:50] MaheshBabu11 opened #1140 "Project description not displayed in the project data card."
The project description is not visible on the project data card as you can see in the image below

![Screenshot from 2022-01-10 12-16-14](https://user-images.githubusercontent.com/43287976/148727312-0607a694-152e-4c3d-a11b-49455fadd112.png)
.
I have resolved this issue in the project.js file. The following code is the fix for this.
[code]

[2022-01-10 12:39] anushbhatia commented on #1140
Create a pr for the same limit the description length to around 10 words and put `...` after that

[2022-01-10 13:29] sanchitjain336 commented on #928
Hii, I have made the changes. Please have a look

This is the new look:
<img width="819" alt="Screenshot 2022-01-10 at 6 52 32 PM" src="https://user-images.githubusercontent.com/78586251/148773744-9a83c5c0-b0b3-4de3-b2e4-d0f4041f46e2.png">

The old look:
<img width="911" alt="Screenshot 2022-01-10 at 12 26 56 PM" src="https://user-images.githubusercontent.com/78586251/148773857-2fd2face-1d66-4351-

[2022-01-11 04:21] MaheshBabu11 commented on #1140
Generated a pr #1142

[2022-01-11 08:15] 18poonam opened #1145 "Portfolio website"
Create portfolio website

[2022-01-12 06:07] anushbhatia commented on #1145
What is relevance of this issue?

[2022-01-12 06:07] #1145 closed

[2022-01-16 20:31] smaranjitghose opened #1146 "Improve Education Timeline"
## Instructions:

![awsm](https://user-images.githubusercontent.com/46641503/149676896-99161f1d-12ba-4bee-9f7b-e12c3cd385f0.png)

- Try improve both the cards and the overall timeline structure with new design and animations
- An idea you can work on is: the center line is replaced the illustration for a road and on hover down/up gets highlighted
- For the cards, try to incorporate images of the i

[2022-01-16 20:32] #746 closed

[2022-01-16 20:35] #754 closed

[2022-01-16 20:36] smaranjitghose opened #1147 "Update Project Usage Documentation"
__NOTE: This is an issue that exclusively demands knowledge of Python. Please take this up only if you are comfortable beyond basics__

#### Package to be used: [MkDocs Material](https://squidfunk.github.io/mkdocs-material/)

#### Branch for source code: [documentation](https://github.com/smaranjitghose/awesome-portfolio-websites/tree/documentation)

__Please read through the documentation careful

[2022-01-16 20:37] #1073 closed

[2022-01-16 20:37] #1024 closed

[2022-01-16 20:37] #1096 closed

[2022-01-16 20:39] smaranjitghose opened #1148 "Set Default to Dark Mode"

[2022-01-16 20:40] #1114 closed

[2022-01-16 20:42] #1122 closed

[2022-01-16 20:42] #929 closed

[2022-01-16 20:42] #878 closed

[2022-01-16 20:44] smaranjitghose opened #1149 "Microanimation for Footer Send Button"
[Reference](https://codepen.io/nuski/details/ExPEBgw)

- The footer code should be loaded exclusively from app.js and style.css
- Modify the color according to the theme of the website

[2022-01-16 20:45] #1064 closed

[2022-01-16 20:57] smaranjitghose opened #1150 "Add Work Experience Section for the React Version"
## Instructions:

- The page should be available at `/experience`. Handle the routing accordingly
- All the src code would be in the reactjs branch
- The UI should be exactly the same as the [hosted version](https://portfolio.smaranjitghose.com/experience.html)
- Don't forget to add the illustration and title at the top
- The data should be defined in a variable and dynamically inserted as done in

[2022-01-16 20:58] smaranjitghose opened #1151 "Add Open Source Section for React Version"
## Instructions:

- The page should be available at `/experience`. Handle the routing accordingly
- All the src code would be in the reactjs branch
- The UI should be exactly the same as the [hosted version](https://portfolio.smaranjitghose.com/experience.html)
- Don't forget to add the illustration and title at the top
- The data should be defined in a variable and dynamically inserted as done in

[2022-01-16 21:03] smaranjitghose commented on #928
@sanchitjain336 Please refer the image given in the issue description once and modify your update accordingly. The cards should be rectangular in shape. You can place the heading next to the logo and experiment.

I am closing this issue (since it is not related to the main branch) but feel free to continue working on it

[2022-01-16 21:03] #928 closed

[2022-01-16 21:06] smaranjitghose opened #1152 "Add Hackathon Section for React Version"
## Instructions:

- The page should be available at `/experience`. Handle the routing accordingly
- All the src code would be in the reactjs branch
- The UI should be exactly the same as the [hosted version](https://portfolio.smaranjitghose.com/experience.html)
- Don't forget to add the illustration and title at the top
- The data should be defined in a variable and dynamically inserted as done in

[2022-01-16 21:07] smaranjitghose opened #1153 "Add Project Page to the React Version"
## Instructions:

- The page should be available at `/projects`. Handle the routing accordingly
- All the src code would be in the reactjs branch
- The UI should be exactly the same as the [hosted version](https://portfolio.smaranjitghose.com/projects.html)
- Don't forget to add the illustration and title at the top
- The data should be defined in a variable and dynamically inserted as done in the

[2022-01-16 21:10] smaranjitghose opened #1154 "[React Version] Update Navbar"
## Instructions:

- This should be exactly same as the hosted version
-  All the src code would be in the `reactjs` branch
- Add the toggle button and corresponding code for switching colors
- Change Resume -> Blog
- Notice that in the hosted version, the current page has a permanent underscore. In the react version, we can instead make sure that the current page(name in the navbar) is bold instea

[2022-01-16 21:11] #924 closed

[2022-01-16 21:12] smaranjitghose opened #1155 "[React Version] Update Website Favicon and Title"
## Instructions:

- Should be the same dynamic one as the hosted version

[2022-01-16 21:14] smaranjitghose opened #1156 "[React Version] Update Footer Social Media Icons"
## Instructions:

- Refer to the hosted version
-  All the src code would be in the `reactjs` branch

[2022-01-16 21:17] smaranjitghose opened #1157 "[React Version] Home Page Minor Update"
## Instructions:

- Remove all code for the Medium Icon
- The changes should be mobile responsive
- Refer to the hosted version
-  All the src code would be in the `reactjs` branch

[2022-01-17 06:28] RishiKumarRay commented on #1148
how to do this, can you guide?

[2022-01-17 06:35] gourangi-taware commented on #1148
I want to resolve this issue. Can you please assign me this issue?

[2022-01-17 07:10] gourangi-taware commented on #1155
Hello, I want to work on this issue.What exact changes do I need to make in the website favicon and title?Can you please assign me this issue?

[2022-01-17 08:04] anushbhatia commented on #1155
there's no favicon on the current react code so add the same from it. Reference for the favicon is the current branch hosted in `main`.
Also for every page the <title> tag should basically display the page name as its header

[2022-01-17 10:19] hppranaav commented on #1150
Hello, I would like to have a go at this,
I have started learning React and I feel could help out
Thanks.

[2022-01-17 10:29] arindamkeswani commented on #1148
I am willing to work on this!

[2022-01-17 21:48] smaranjitghose commented on #1150
@hppranaav Sure. Feel free to give it a shot and request a PR for review on the same

[2022-01-18 23:45] smaranjitghose commented on #1148
Check the discussions section please, @anushbhatia has given some pointers

[2022-01-19 06:43] gourangi-taware commented on #1148
Can you please assign me this issue? I can resolve this issue.

[2022-01-19 07:52] M0i9 commented on #1157
can i work on this ! assign this to me!!

[2022-01-19 19:40] smaranjitghose commented on #1157
Sure!

[2022-01-23 07:09] hppranaav commented on #1150
Had a general observation about the application. There are high and critical vulnerabilities which can be fixed through` npm audit fix`.
However the some of the changes are breaking changes, and are mostly related to the `react-scripts` package

[2022-01-23 18:58] anushbhatia commented on #1150
Try upgrading the package to see if they go away.

[2022-01-25 10:12] anushbhatia commented on #1156
Sure go ahead

[2022-01-25 17:57] Shruti025 commented on #1156
hey, can I join this issue as well?

[2022-01-25 17:58] Shruti025 commented on #1154
hey, can I take up this issue?

[2022-01-25 19:23] smaranjitghose commented on #1156
@Shruti025 I have asssinged you another issue, once that is done, you may take lead on this if it's incomplete by then.

[2022-01-25 19:23] #1148 closed

[2022-01-26 08:11] Jyoti6828 commented on #1146
I want to work on this issue. Kindly please assign it to me.

[2022-01-27 07:34] Lovakush commented on #1156
@Shruti025 you completed or not?

[2022-01-27 07:42] Shruti025 commented on #1156
hey @Lovakush I am working on the footer issue right now.

[2022-01-28 13:20] soujo commented on #1149
Hi there, I want to contribute to this issue. I am registered under JWOC. Can I be assigned to contribute after 1st Feb?

[2022-01-31 17:06] KushalGhosh9899 commented on #1154
@Shruti025 are you still working on it? Can i take it if you aren't?

[2022-01-31 17:14] KushalGhosh9899 commented on #1155
I want to work on this issue under JWOC

[2022-01-31 18:30] lavakush07 commented on #1156
"I want to work on this issue under JWOC"

[2022-01-31 18:33] Jyoti6828 commented on #1146
I want to work on this issue under JWOC. Kindly Assign it to me.

[2022-01-31 18:37] Shruti025 commented on #1154
hey @smaranjitghose can I get 2-3 days starting today to work on this issue, or will it be assigned to someone else?

[2022-01-31 18:39] lavakush07 commented on #1150
"I want to work on this issue under JWOC"

[2022-01-31 18:39] lavakush07 commented on #1155
"I want to work on this issue under JWOC"

[2022-01-31 18:49] KushalGhosh9899 commented on #1149
I want to work on this issue under JWOC

[2022-01-31 20:07] raxvab commented on #1157
I want to work on this issue under JWOC it's gonna be one of the first opportunities for me to start with open source can i get this issue assigned.

[2022-01-31 20:07] raxvab commented on #1156
I want to work on this issue under JWOC it's gonna be one of the first opportunities for me to start with open source can i get this issue assigned.

[2022-01-31 20:10] raxvab commented on #1146
I want to work on this issue under JWOC

[2022-02-01 04:49] Sanket1308 commented on #1155
I want to work on this issue under JWOC

[2022-02-01 08:50] Anadee11 commented on #1157
I would like to work on this under JWoC. Please assign.

[2022-02-01 08:59] Anadee11 commented on #862
Can I work on this under JWoC?

[2022-02-01 14:11] anushbhatia commented on #1147
@lavakush07 do give regular updates here and if you face issues ask @smaranjitghose

[2022-02-01 14:13] anushbhatia commented on #1154
No issues @Shruti025 just share the screenshot of progress 😅

[2022-02-01 14:15] anushbhatia commented on #1149
Sure @KushalGhosh9899

[2022-02-01 14:18] anushbhatia commented on #1146
@Jyoti6828 the issue is assigned to you already what is the progress on that.

[2022-02-01 14:19] anushbhatia commented on #1155
@lavakush07 and @KushalGhosh9899 you have been assigned issues first complete them then you can take this up.

[2022-02-01 15:51] KushalGhosh9899 commented on #1149
Hey @anushbhatia Thanks for assigning me this issue but I have already got assigned with 2 issues so wouldn't be able to take us this for now.

[2022-02-01 15:51] KushalGhosh9899 commented on #1149
Hey @anushbhatia Thanks for assigning me this issue but I have already got assigned with 2 issues so wouldn't be able to take us this for now.
Please kindly unassign and assign to some one other potential candidate.

[2022-02-01 16:03] anushbhatia commented on #1149
Okay sure

[2022-02-01 17:44] Shruti025 commented on #1154
hey @anushbhatia I had some doubts regarding this issue. I have conveyed them in the discord channel

[2022-02-01 18:25] Jyoti6828 commented on #1146
@anushbhatia This issue is assigned to me before the coding phase started. I asked in discord there I got to know that commenting and assigning is valid after 1 Feb. So now I commented on it again because the previous one was considered invalid. Can you please tell me what should I do now?

[2022-02-01 20:00] sathyapriyaa-sketch commented on #1155
Hi @anushbhatia ! I'd like to work on this issue under JWOC. Pls, assign me this..

[2022-02-01 23:08] anushbhatia commented on #1146
Follow the description provided there in the inbox and proceed building it.

[2022-02-02 05:13] Jyoti6828 commented on #1146
Okay, Thank You!

[2022-02-02 07:04] lavakush07 commented on #1147
Yeah sure..

[2022-02-02 09:40] Priiyaa commented on #1149
May I work on this issue?

[2022-02-03 05:44] anushbhatia commented on #1149
Yes @Priiyaa go ahead

[2022-02-03 07:16] smaranjitghose commented on #1155
@Sanket1308 has one more day after that @sathyapriyaa-sketch can take over

[2022-02-03 07:38] tusharjain365 commented on #1153
Hey, I want to work on this issue under JWOC.

[2022-02-03 13:13] Faraaz2633 commented on #1157
Can I work on this under JWOC?

[2022-02-03 14:26] sathyapriyaa-sketch commented on #1155
sure!

On Thu, Feb 3, 2022 at 12:46 PM Smaranjit Ghose ***@***.***>
wrote:

[2022-02-04 04:38] Shruti025 commented on #1156
hey, is this issue still open? If yes then I can work on it under JWOC

[2022-02-04 04:39] Shruti025 commented on #1156
hey, is this issue still unresolved? If yes, then I can work on it under JWOC

[2022-02-04 14:07] Faraaz2633 commented on #1157
@smaranjitghose Removed Medium Icon in the reactjs branch

[2022-02-04 20:10] Priiyaa commented on #1149
**_Hi! I made this. Please review it_**<br>
![send button](https://user-images.githubusercontent.com/76914418/152596220-03805d00-97bf-496b-9d47-eec7ea1c9ead.png)<br>
Send button
![send zoom](https://user-images.githubusercontent.com/76914418/152596256-97562545-60dd-4055-9961-6236020d7ee6.jpg)
### Video of the animation

https://user-images.githubusercontent.com/76914418/152596294-041a21a2-26b5-450

[2022-02-05 16:59] #1157 closed

[2022-02-05 17:00] anushbhatia commented on #1149
Validate it with the form elements and reduce the size of the button as it looks bigger as compared to rest of the design.

[2022-02-05 17:39] anushbhatia opened #1164 "Improve loading time from 2.4"
Multiple files are having unused or commented code to remove so that it loads up faster
https://gtmetrix.com/reports/portfolio.smaranjitghose.com/OqEgNL8U/
look through the analysis and fix up the mid-low issues at least.
So that website has loading time below 1<ms  if possible.

[2022-02-05 17:45] anushbhatia opened #1165 "Bug in Experience Cards"
In this section the cards look transparent which makes it look weird
![image](https://user-images.githubusercontent.com/40017559/152652801-1a3e5920-054f-4bb8-b7ab-6c2f28f92d48.png)

Fix would be increase the opacity or try different combination to make it look decent

[2022-02-05 17:45] sathyapriyaa-sketch commented on #1155
@smaranjitghose can I take over now?

[2022-02-05 17:47] anushbhatia commented on #1146
any update @Jyoti6828 ?

[2022-02-05 17:50] anushbhatia opened #1166 "Develop the footer for dark mode"
![image](https://user-images.githubusercontent.com/40017559/152652949-a54d1224-31e5-4e6c-9d8e-d0d809b448f4.png)
Currently the dark mode and light mode the footer color remains the same.
To improve this so that we can distinguish them in both modes

[2022-02-05 17:55] sathyapriyaa-sketch commented on #1155
so, @anushbhatia where am I supposed to get the favicon and in which file should I include favicon? And a title in the sense, I'm supposed to assign a title for which page?

[2022-02-05 18:24] Jyoti6828 commented on #1146
I'm try to do the changes.
I stuck on that image part. When that card are in alternate manner the Clg images are not visible. I'm trying to solve that.

[2022-02-05 23:32] AtriSukul1508 commented on #1166
I would like to work on this issue under JWOC

[2022-02-06 05:30] anushbhatia commented on #1155
You can get favicon from current hosted site in assets/images folder. keep the favicon in public folder as of now in reactjs branch. Updating the title tags for all pages is it what he means.

[2022-02-06 05:44] Atif0604 commented on #1164
Please assign me under JWOC

[2022-02-06 10:46] Priiyaa commented on #1149
Got it!

[2022-02-06 11:00] sathyapriyaa-sketch commented on #1155
So, I'm done with updation, can you review it?

On Sun, Feb 6, 2022 at 11:00 AM Anush Bhatia ***@***.***>
wrote:

[2022-02-06 12:24] Priiyaa commented on #1149
@anushbhatia  I did what you asked but the problem that I am facing is that if I validate the textarea element then the animation doesn't work BUT if I validate the other two input fields except the texarea then it works perfectly

[2022-02-06 12:46] Priiyaa commented on #1149
https://user-images.githubusercontent.com/76914418/152681399-8cca930b-5577-4cf8-a645-b53a31d2578b.mp4
Is this size ok?
![button](https://user-images.githubusercontent.com/76914418/152681423-fdc57051-440d-49de-9823-12130c1fca37.png)

[2022-02-06 13:48] smaranjitghose commented on #1166
@anushbhatia I think the Navbar text color needs some improvement for the light mode too. It is out of phase with the current Ui and has bug on hover. Can you raise an issue for that as well?
![navbar](https://user-images.githubusercontent.com/46641503/152683956-12a6eb83-7d6a-45be-8148-9c6f709f4523.png)

[2022-02-06 13:56] smaranjitghose commented on #1149
## Feedback:

- The spaceship/aeroplane's relative size should be much smaller than the button (Closely observe the reference given above)
- Could you reduce the box-shadow as well? It is too much

[2022-02-06 14:37] Priiyaa commented on #1149
@anushbhatia I did attach the video but somehow it got converted into a link. I will try to attach a proper video this time.
Feedback noted! ^-^

[2022-02-06 14:46] smaranjitghose commented on #1149
Just checked out the link, yes the animation is working fine! Make sure it is mobile responsive as well. Just one fix: the animation should only be triggered when all the fields are filled correctly and the send button is pressed instead of just pressing the send button

[2022-02-06 14:50] Priiyaa commented on #1149
Its mobile responsive.
The problem that I am facing is that if I validate the textarea element then the animation doesn't work BUT if I validate the other two input fields except the texarea then it works perfectly.
ALSO if all the three fields are filled and we click on submit button then the animation does not work and the page reloads.

[2022-02-06 14:52] Priiyaa commented on #1149
**Fixed the icon and reduced box-shadow**
![Mobile](https://user-images.githubusercontent.com/76914418/152686566-708b5cee-6b66-4acf-a541-fa6f161773a0.jpg)

[2022-02-06 14:57] smaranjitghose opened #1168 "Reference Page Bug"
# Directions:
- Available [here](https://portfolio.smaranjitghose.com/reference.html)
- While transitioning between the light and dark modes, temporarily there is a card background formed which needs to be removed
- Replace the names with Smaranjit Ghose, Anush Bhatia, Santosh Kumar, Arnab Dutta Purkayastha
- Replace the default pictures @anushbhatia, @arnab1406 and my pictures instead of the defa

[2022-02-06 14:58] smaranjitghose opened #1169 "Reference Page [React Version]"
# Directions:
- Should be available at `\reference`
- Reference: [Master Branch ](https://portfolio.smaranjitghose.com/reference.html)
- While transitioning between the light and dark modes, temporarily there is a card background formed which needs to be removed
- Replace the names with Smaranjit Ghose, Anush Bhatia, Santosh Kumar, Arnab Dutta Purkayastha
- Replace the default pictures @anushbhati

[2022-02-06 14:58] #1140 closed

[2022-02-06 14:59] smaranjitghose commented on #1147
@lavakush07 Updates?

[2022-02-06 14:59] smaranjitghose commented on #1150
@lavakush07 Updates?

[2022-02-06 15:00] smaranjitghose commented on #1156
@Shruti025 updates?

[2022-02-06 15:01] smaranjitghose commented on #1153
@tusharjain365 updates?

[2022-02-06 15:02] #1080 closed

[2022-02-06 15:03] #922 closed

[2022-02-06 15:03] #1075 closed

[2022-02-06 15:03] #1060 closed

[2022-02-06 15:03] #864 closed

[2022-02-06 15:03] #865 closed

[2022-02-06 15:04] #747 closed

[2022-02-06 16:24] Mainakroy050 commented on #1152
👋I want to work on this issue under JWOC

[2022-02-06 16:53] Shruti025 commented on #1156
hey, I wasn't able to run the project on my local device because of a recurring error. I conveyed the same on the discord group as well.

[2022-02-06 17:05] tusharjain365 commented on #1153
@smaranjitghose sorry, was busy these days, will be available now onwards.
Can I work on this ?

[2022-02-06 17:09] anushbhatia commented on #1149
Could you connect with me on discord so that i can help you.

[2022-02-07 09:31] Shruti025 commented on #1156
hey @smaranjitghose @anushbhatia the code is finally working! So I'll try my best to submit a PR by tomorrow.

[2022-02-07 18:15] Devmindtk commented on #1165
I would like to work on this issue .please assign it to me.

[2022-02-08 05:14] #1164 closed

[2022-02-08 07:21] Devmindtk commented on #1165
@anushbhatia  check these following color is looking fine or not?
![Screenshot (468)](https://user-images.githubusercontent.com/91221069/152937516-d7fc140a-a372-4dc3-a459-f8e674697f13.png)
![Screenshot (470)](https://user-images.githubusercontent.com/91221069/152937527-513920c3-0a98-4d15-8198-89030694e331.png)
![Screenshot (469)](https://user-images.githubusercontent.com/91221069/152937530-421c02a

[2022-02-08 12:48] Devmindtk commented on #1165
@anushbhatia  let me know whatever changes is required?

[2022-02-08 15:54] anushbhatia commented on #1165
Try the gradient in read more button with a darker shade on that end

[2022-02-08 16:07] anushbhatia commented on #1166
Sure

[2022-02-08 16:13] anushbhatia opened #1174 "Nav bar on hover"
![new image](https://user-images.githubusercontent.com/46641503/152683956-12a6eb83-7d6a-45be-8148-9c6f709f4523.png)

On hovering in light mode the nav links colour change to white. please change it bold when hovered upon

[2022-02-08 17:34] Devmindtk commented on #1165
you are telling about card color black and grey?

[2022-02-08 17:48] Devmindtk commented on #1165
@anushbhatia  check all these button gradients color

![Screenshot (476)](https://user-images.githubusercontent.com/91221069/153045913-df8ea072-9f6c-4822-95a8-a07db46a383a.png)
![Screenshot (479)](https://user-images.githubusercontent.com/91221069/153045926-7c6b3110-1ae5-42bb-af15-c46804019ca7.png)
![Screenshot (478)](https://user-images.githubusercontent.com/91221069/153045928-82fd8f6f-daff-456f-

[2022-02-08 18:01] anushbhatia commented on #1165
Try these as background for cards

1. linear-gradient(147deg, #bb86fc 0%, #940eb5 74%)  [A little darker shade for this]
2. black and grey combo

No need to change gradient for the button

[2022-02-08 18:14] Devmindtk commented on #1165
okay yeah I got it now.

[2022-02-08 18:20] Devmindtk commented on #1165
![Screenshot (483)](https://user-images.githubusercontent.com/91221069/153051168-2ef52a32-748f-4b08-8d96-9fdc94bfef7c.png)
![Screenshot (482)](https://user-images.githubusercontent.com/91221069/153051176-fc7fffe3-3d9c-43c7-979f-81225884cf9d.png)

[2022-02-08 18:21] Devmindtk commented on #1165
![Screenshot (481)](https://user-images.githubusercontent.com/91221069/153051239-92c08cd8-208e-4853-9f5c-df0e00a09fa9.png)

[2022-02-08 18:27] Devmindtk commented on #1165
last one right?

[2022-02-08 18:30] Devmindtk commented on #1165
should I create PR ?

[2022-02-08 21:12] smaranjitghose commented on #1165
yes

[2022-02-09 04:17] Devmindtk commented on #1165
which color black grey or button color shade?

[2022-02-09 07:36] anushbhatia commented on #1165
black and grey shade

[2022-02-09 07:47] AtriSukul1508 commented on #1174
I would like to contribute to this issue

[2022-02-09 11:30] Shruti025 commented on #1168
Can I work on this issue under JWOC?

[2022-02-09 18:00] #1165 closed

[2022-02-09 18:05] #1156 closed

[2022-02-09 18:05] smaranjitghose opened #1180 "[React] Footer Bug"
![Social_med](https://user-images.githubusercontent.com/46641503/153262565-57151866-84a5-41f1-b2ab-2f40fcd25df8.png)

[2022-02-09 19:40] Shruti025 commented on #1168
Hey @smaranjitghose should I leave the designation and message part empty?

[2022-02-09 19:43] Shruti025 commented on #1168
Hey @smaranjitghose should I leave the designation and message part empty or should I keep them the same?

[2022-02-09 21:14] smaranjitghose commented on #1168
Just use random text for those.

[2022-02-10 06:13] Aniket-508 commented on #1180
@smaranjitghose Can you share the file name exactly where this bug is happening?

[2022-02-10 06:17] Devmindtk commented on #1146
@smaranjitghose  i have changed the background color of card as same as experience card please check is it fine?
![Screenshot (485)](https://user-images.githubusercontent.com/91221069/153349206-67ee5604-ed6a-4810-a695-f463de7fe233.png)

[2022-02-10 06:21] Devmindtk commented on #1180
I want to work on this issue please assign to me @smaranjitghose

[2022-02-10 09:15] anushbhatia commented on #1146
this looks awesome you can create an PR for the same

[2022-02-10 09:28] Devmindtk commented on #1146
created please check @smaranjitghose

[2022-02-11 06:56] Jyoti6828 commented on #1146
I can't see these new changes in my system. Do I have to do fetch upstream and clone it again?

[2022-02-11 11:19] tusharjain365 commented on #1151
Hi, I would like to work on this issue under JWOC

[2022-02-11 12:43] Srijita-Mandal commented on #1150
Hi @smaranjitghose , I want to work in this issue under JWoC.

[2022-02-11 13:51] KushalGhosh9899 commented on #1169
I want to work on this issue under JWOC

[2022-02-15 02:22] 03amir commented on #1154
I want to work on this issue under JWOC

[2022-02-15 08:13] #1149 closed

[2022-02-15 12:26] Srijita-Mandal commented on #1150
I can't work on this issue currently for some problems. Can you please unassign me?

[2022-02-15 18:12] anushbhatia opened #1187 "Reference Page Bug"
Image alignment on the mobile interface is facing some issues. Below is the screenshot for reference. Frames in the image are misaligned to it.
![image](https://user-images.githubusercontent.com/40017559/153375027-85160b06-7beb-447c-a523-94e4d30c1eb7.png)

[2022-02-15 18:13] #1168 closed

[2022-02-15 18:20] Shruti025 commented on #1187
hey, can I work on this issue under JWOC?

[2022-02-16 08:26] #1180 closed

[2022-02-16 15:16] Shruti025 commented on #1169
Can I work on this under JWOC?

[2022-02-16 15:16] Shruti025 commented on #1169
@smaranjitghose Can I work on this under JWOC?

[2022-02-16 15:22] KushalGhosh9899 commented on #1169
Hey @Shruti025 I have opened a PR for the same issue

[2022-02-16 15:34] Shruti025 commented on #1166
Hey @smaranjitghose  can I work on this issue under JWOC?

[2022-02-16 17:45] anushbhatia commented on #1166
This has been resolved already.

[2022-02-16 17:54] anushbhatia commented on #1174
any updates @AtriSukul1508 ?

[2022-02-16 18:01] AtriSukul1508 commented on #1174
Updates about what?

[2022-02-17 07:29] #1174 closed

[2022-02-17 18:57] anushbhatia commented on #1169
Any one want to work on responsiveness of this page?

[2022-02-17 19:38] KushalGhosh9899 commented on #1169
Yes Please assign it to me

[2022-02-17 19:39] KushalGhosh9899 commented on #1169
Yes please assign it to me but what will be the label of this issue?

[2022-02-18 13:52] sayan404 opened #1191 "The links of the account is not working properly"
The links of the account is not working properly . When the logos of social media accounts are clicked it is directing to the home page in the new window.
Demo link : https://drive.google.com/file/d/1k7iqP928ilBqAEx7aMXNrRJOtt90eqZn/view?usp=sharing

[2022-02-20 05:12] #1187 closed

[2022-02-20 06:36] anushbhatia opened #1193 "Design Section Enhacements"
# Task:
- Update the UI of the [Design Page](https://portfolio.smaranjitghose.com/design.html) to make it more attractive for HRs hiring UI/UX designers
- The footer and the navbar of the Design Page should be the same as the rest of the website
- Do not make any changes to the navbar list
- Feel free to use Use open-source designs from [dribble](https://dribbble.com/)
- All the code should be pla

[2022-02-20 07:05] anushbhatia opened #1194 "Page for Tech Stack"
Details about different tech stacks present
Make a new page for this
Use the `/techstack` as the page navigation
For example:
[Reference](https://thepranaygupta.github.io/)
[Reference](https://chirag.codes/)

[2022-02-20 14:18] AtriSukul1508 commented on #1193
I would like to work on this under JWOC

[2022-02-20 14:19] AtriSukul1508 commented on #1194
I Would like to work on this issue under JWOC

[2022-02-22 11:36] Retr0680 opened #1196 "unable to interact with get in touch"
i like the you did in this but i'm facing an issue where i'm not able to interact with "get in touch's" send button.
Kindly help me fix it.

[2022-02-22 13:14] Shruti025 commented on #1169
Is the responsiveness issue resolved?

[2022-02-22 16:07] anushbhatia commented on #1169
Medium

[2022-02-23 02:14] Retr0680 commented on #1196
Can I add my own mailing service? If so then how?

[2022-02-23 10:06] anushbhatia commented on #1196
https://formspark.io/

[2022-02-23 14:51] #1196 closed

[2022-02-23 19:27] Devmindtk commented on #1154
I would like to work on this issue under JWOC plz assign it to me

[2022-02-24 05:52] MoofyWoofy opened #1198 "index page: navbar links are invisible on hover"
![image](https://user-images.githubusercontent.com/59331821/155465942-594e5de4-10d3-46a1-9d13-db3a351c4e8f.png)

navbar links are transparent when cursor hovers over them with light theme

[2022-02-24 16:02] anushbhatia commented on #1198
Do you want to work on this?

[2022-02-25 04:24] MoofyWoofy commented on #1198
Yes please

[2022-02-25 09:50] MoofyWoofy commented on #1198
for the navbar brand, do I display black colour on hover as well?

[2022-02-25 18:15] anushbhatia commented on #1198
yes you can

[2022-02-26 14:33] Axelgoris99 opened #1200 "Hackathon - Experience.js"
When using the current Main branch, the experience.js does not show the two first mentors correctly, there are 13 dots and 15 entries. And depending on which way you're scrolling through, you might not have access to the first two.

[2022-02-26 21:39] #1198 closed

[2022-02-26 21:57] anushbhatia commented on #1200
Can you share a video for better understanding?

[2022-02-26 21:58] #1194 closed

[2022-02-27 08:48] smaranjitghose opened #1201 "Navbar Color Fix"
- In light mode: Color should be black and on hover violet
- Dark: Should not be changed
![navvar_color](https://user-images.githubusercontent.com/46641503/155875339-79ad013c-ff3a-42b5-9e80-14ca17ebb5e0.png)

Test thoroughly for all the pages and for mobile devices

[2022-02-27 09:10] smaranjitghose opened #1202 "Hackathon Section Button Hover"
![Hackathon_pg](https://user-images.githubusercontent.com/46641503/155876008-ca36dcc9-c590-4e01-8ce1-ff3919b33d5c.png)

**TASK**:  Remove the text color change effect on hover (For both light and dark modes)

Make sure your changes do not disturb the responsiveness or the overall UI

[2022-02-27 09:13] smaranjitghose opened #1203 "Research Page Button Fix"
![research_page_buttos](https://user-images.githubusercontent.com/46641503/155876146-37a2a855-eb9a-417e-b271-6b9980905e42.png)

[2022-02-27 09:15] smaranjitghose opened #1204 "Education Page Bugs"
![ed_page](https://user-images.githubusercontent.com/46641503/155876215-4e780a6f-668f-4d42-907b-4e4bead6b210.png)

Send Button and toTop Button Bugs

[2022-02-27 09:21] smaranjitghose opened #1205 "[REACT VERSION] Fix Hackathon Component UI"
# Current UI
![hackthon_part](https://user-images.githubusercontent.com/46641503/155876410-8c397db9-28a4-487b-b017-960fa7ec4fff.png)

# Expected UI
![image](https://user-images.githubusercontent.com/46641503/155876433-8b9ea81c-86a2-4a29-98d5-cc07d8e4c69c.png)

[Reference](https://portfolio.smaranjitghose.com/experience.html)

[2022-02-27 09:24] smaranjitghose opened #1206 "[React Version] Fix Work Ex Section"
# Current UI
![work_Ex_a](https://user-images.githubusercontent.com/46641503/155876575-0268b596-77dd-4f4b-bea6-8f6f6a0e7ea2.png)

# Expected UI
![work_Ex_b](https://user-images.githubusercontent.com/46641503/155876627-31156a9e-0468-4e08-8724-ea79b4dc7e17.png)

[Reference](https://portfolio.smaranjitghose.com/experience.html)

- The color scheme should be the same (text color, background color of c

[2022-02-27 09:26] smaranjitghose opened #1207 "[React Version] Add Animation on Scroll to Open Source Section"
[Reference](https://portfolio.smaranjitghose.com/experience.html)

[2022-02-27 09:28] smaranjitghose opened #1208 "[React Version ] Update Project Card Effect on Load"
[Reference](https://portfolio.smaranjitghose.com/projects.html)

- Change it to the above effect On loading the page
- Add animation on scroll

[2022-02-27 09:30] smaranjitghose opened #1209 "[React Version] Project Page Top Section UI Fix"
# Current UI:
![project_page_2](https://user-images.githubusercontent.com/46641503/155876814-436cc462-ea70-44ac-a6ac-750639934052.png)

[Reference](https://portfolio.smaranjitghose.com/projects.html)

- The position of the text
- On loading the page, the effect of the text area loading

[2022-02-27 09:33] smaranjitghose opened #1210 "[React] Research Page Button Fix"
# Current UI

![research_page](https://user-images.githubusercontent.com/46641503/155876872-ca7e8d48-3825-47dd-92dc-4c42bdcd3e8a.png)

- The abstract and citation text should only appear when the corresponding buttons are selected
- [Reference](https://portfolio.smaranjitghose.com/research.html)

[2022-02-27 09:34] #1153 closed

[2022-02-27 09:34] #1152 closed

[2022-02-27 09:35] #1151 closed

[2022-02-27 09:35] #1150 closed

[2022-02-27 09:40] smaranjitghose opened #1211 "Reference Page Mobile Version Bugs"
# Current UI:
![ref_1_1](https://user-images.githubusercontent.com/46641503/155877078-c28d9915-7f0f-423c-aec4-41aaef271927.png)
![ref_1_2](https://user-images.githubusercontent.com/46641503/155877080-11fbef19-fbc7-43ad-bc3f-722c6e0f0822.png)

# Expected:
![expe_ref](https://user-images.githubusercontent.com/46641503/155877090-bb737ee9-40ef-4208-a0e0-ef465e6bec28.png)

# Task:
- **This issue is exc

[2022-02-27 09:44] smaranjitghose opened #1212 "Update Reference Page Data"
# Task

- Replace the Lorem Ipsum with actual recommendations. Use "john doe" as the name who is receiving the recommendation
- Add Imaginary Designations. For example Product Manager, Microsoft
- Replace Santosh Kumar Image with Aditya Jyoti Paul. Take image from [here](https://media-exp1.licdn.com/dms/image/C5603AQGEV-kzawPxjw/profile-displayphoto-shrink_800_800/0/1588602102622?e=1651708800&v=be

[2022-02-27 09:46] #1169 closed

[2022-02-27 09:49] smaranjitghose opened #1213 "[React Version] Fix Responsive Page UI and Responsiveness"
# Current UI

**Web Version**

![ref_page_1](https://user-images.githubusercontent.com/46641503/155877424-476561fb-ecff-4b55-bcfd-660f79d8eb76.png)

**Mobile Version**

![ref_page_2](https://user-images.githubusercontent.com/46641503/155877449-5ffe4cab-e542-49b3-bd72-60fda5b28d34.png)

# Expected UI

![ref_page_2_f](https://user-images.githubusercontent.com/46641503/155877491-2844a387-41c4-4917-aa

[2022-02-27 09:52] anushbhatia opened #1214 "FormCarry Integration for Forms"
# Task
- Integrate `FormCarry` in the contact us forms in the footer. This would enable us to collect the feedback of the visitors on the page without having to create a dedicated backend.
- Check out the [documentation](https://formcarry.com/documentation/getting-started ) for the same.
- Do maintain the animation you can delay refreshing on a new page using a timeout or something.
- Provided the

[2022-02-27 09:53] Shruti025 commented on #1213
I want to work on this under JWOC

[2022-02-27 09:54] Shruti025 commented on #1211
I want to work on this under JWOC

[2022-02-27 09:55] Shruti025 commented on #1207
I want to work on this under JWOC

[2022-02-27 09:55] smaranjitghose opened #1215 "[React Version] Add 404 Page"
# Expected UI:
![expected_ui](https://user-images.githubusercontent.com/46641503/155877626-adf91055-3540-4f98-8784-2c97e9238927.png)

# Reference:
[Main Branch Version](https://portfolio.smaranjitghose.com/d)

# Task:
- Create the 404 page exactly as done in the main branch for the react version
- Make sure you take care of the routing properly
- Don't miss updating the header for the 404 page

[2022-02-27 10:01] anushbhatia opened #1216 "Add FormCarry Usage in Documentation"
![doc_update](https://user-images.githubusercontent.com/46641503/155878232-0830f30c-b7f8-4fca-877b-3ea86e4efebb.png)

# Task:
- We wish to make it easy for the end-users of the project to update the details for the contact form as per their personal use
- The code related to documentation is available at [Head over https://github.com/smaranjitghose/awesome-portfolio-websites/tree/documentation]
-

[2022-02-27 10:04] smaranjitghose opened #1217 "[React Version] Update Header Animation"
![header](https://user-images.githubusercontent.com/46641503/155878006-0827461a-6679-4392-9557-7d324660a788.png)

# Task:

- We wish to add the animation to the header (as done in the main version) so that whenever the user leaves the page and opens a new tab. the header text and favicon is updated

[2022-02-27 10:26] smaranjitghose opened #1218 "Restructure Image subdirectory"
## Current Structure:
![structure](https://user-images.githubusercontent.com/46641503/155878370-e2b77053-7fa0-42da-b114-7c8558ba7bd1.png)

## Expected Structure:

[code]

# Task:

- This is a straightforward issue. You have to shift the images into new subdirectories or rename the ones in which they are already present according to the above structure.
- *The name of the directories should be exac

[2022-02-27 10:33] tanya-gupta25 commented on #1201
I want to work on this issue under JWOC.

[2022-02-27 10:33] smaranjitghose opened #1219 "[React Version] Design Page UI Fix"
# Task:

- Update the top section to exactly how it is in the main version of the project [here](https://portfolio.smaranjitghose.com/design.html)

![des_head](https://user-images.githubusercontent.com/46641503/155878767-470d20af-f1e7-47dd-8733-4a9e1201c14b.png)

- Remove this section. *Do not comment the code. Delete it*

![desi_](https://user-images.githubusercontent.com/46641503/155878720-e9d34

[2022-02-27 10:35] smaranjitghose commented on #1201
Assigned for 1-2 day(s)

[2022-02-27 10:35] smaranjitghose commented on #1207
Assigned for 2-4 days. Extension available if required.

[2022-02-27 10:36] smaranjitghose commented on #1211
Assigned for 2-4 days. Extension available if required.

[2022-02-27 10:37] tanya-gupta25 commented on #1202
I want to work on this issue under JWOC.

[2022-02-27 10:37] #862 closed

[2022-02-27 10:40] smaranjitghose opened #1220 "[React Version] Update Home Page Animation"
# Task:

- Update the animation for `I am into ..` to the `animation in/animation out` shown [here]
- Keep in mind that only the words like "Machine Learning", "Web Development", etc should have the animation while the text I am into should not. [Similar to how it is given in reference]

[2022-02-27 10:42] smaranjitghose opened #1221 "[React Version] Home Page Picture Bug"
# Expected Behaviour:
![shad](https://user-images.githubusercontent.com/46641503/155879115-821d57e0-b2f2-4c91-addf-6e4d342d7e9c.png)

# Current State:
![shad_x](https://user-images.githubusercontent.com/46641503/155879138-fbba8567-3197-4719-a24a-a62cb3a3d5ba.png)

# Task:

- Update the shadow of the image

# Reference

[Main Version](https://portfolio.smaranjitghose.com/index.html)

[2022-02-27 10:47] smaranjitghose opened #1222 "[React Version] Footer UI Fix"
# Current Status:
![footer_ui](https://user-images.githubusercontent.com/46641503/155879217-e4cebddf-c31f-4e76-93c6-67dbb1918b06.png)

# Expected Behaviour:
![footer_ui_ex](https://user-images.githubusercontent.com/46641503/155879218-9b85fd08-5d8b-4acb-9dd5-d47948935d94.png)

# Task:

- The background color of the footer along with the shadow of the social media icons should be updated to that of

[2022-02-27 10:48] smaranjitghose commented on #1202
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-27 10:52] smaranjitghose opened #1223 "[React Version] Add Dark Mode Toggle Switch"
![toggler](https://user-images.githubusercontent.com/46641503/155879434-8bc1d138-4be6-417c-bcb8-11cc87eb3a5d.png)

Try to make it as close as possible to the one in the main version

[2022-02-27 10:56] smaranjitghose commented on #1213
Assigned for 2-4 days. An extension may be provided if required

[2022-02-27 11:00] Tess-Vanta commented on #1219
I want to work on this under JWOC

[2022-02-27 11:07] smaranjitghose opened #1224 "Travel Page UI + Content Update"
# Task:

- Rename the html,css,and js files to `travel.html`, 'travel.css` and 'travel.js'
- Update the CSS of the travel page so that it works well with the dark mode (Background Color, Text Color,etc)
- Add Multiple Sections like the one already present ( For Trip to New Delhi, New York, London, Paris)
![sectio](https://user-images.githubusercontent.com/46641503/155879845-ea945328-e850-4b8f-9b05

[2022-02-27 11:13] smaranjitghose opened #1225 "NavBar Missing in SemTemp Page [Mobile Version]"
![sem_temp](https://user-images.githubusercontent.com/46641503/155880104-ef92233d-d5a5-4abf-8106-e60dab6e1035.png)

[2022-02-27 11:20] smaranjitghose opened #1226 "Mobile Responsiveness Issue in Research Page"
# Current Status
![ed_s](https://user-images.githubusercontent.com/46641503/155880241-87f7e12d-fc32-4237-b9b6-d01ce6f307c3.jpeg)
![ed_sa](https://user-images.githubusercontent.com/46641503/155880242-42c74237-bf2c-439d-a2c3-d06f12af49d9.jpeg)

- The page does not adopt the dimensions of mobile devices (especially the width) appropriately

[2022-02-27 11:22] smaranjitghose opened #1227 "Mobile Responsiveness Issue in Education Page"
# Current Status
![ed_sa-2](https://user-images.githubusercontent.com/46641503/155880397-dfd2df01-6843-4b62-9099-46c62ce5f892.jpeg)
![ed_sa](https://user-images.githubusercontent.com/46641503/155880242-42c74237-bf2c-439d-a2c3-d06f12af49d9.jpeg)

- The page does not adopt the dimensions of mobile devices (especially the width) appropriately

[2022-02-27 11:22] #749 closed

[2022-02-27 11:23] #1146 closed

[2022-02-27 13:07] MoofyWoofy commented on #1204
Can I be assigned to this issue

[2022-02-27 13:30] tanya-gupta25 commented on #1206
I want to work on this issue under JWOC

[2022-02-27 13:45] MoofyWoofy commented on #1214
Can I be assigned to this issue

[2022-02-27 18:11] 03amir commented on #1227
i want to work on this issue under jwoc

[2022-02-27 18:17] 03amir commented on #1222
i want to work on this issue under jwoc

[2022-02-27 18:25] 03amir commented on #1215
i want to work on this issue under jwoc

[2022-02-27 18:50] tanya-gupta25 commented on #1203
I want to work on this issue under JWOC

[2022-02-28 01:51] Shivam-Katare commented on #1227
Hey @smaranjitghose , I want to work on this issue So, can I start to work?

[2022-02-28 07:18] smaranjitghose commented on #1215
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-28 07:18] smaranjitghose commented on #1222
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-28 07:18] smaranjitghose commented on #1203
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-28 07:18] smaranjitghose commented on #1227
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-28 07:19] smaranjitghose commented on #1214
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-28 07:22] #1204 closed

[2022-02-28 07:25] smaranjitghose commented on #1206
Assigned for 1-3 days. An extension may be provided if required.

[2022-02-28 09:33] Axelgoris99 commented on #1200
Wait, take a look at this and if you don't find it clear enough, I'll make a video!
Thank you :)
In the code, you have 15 hackathon experience :)
On the website, you only have 13 showing and the two other ones need you to be at the first or the last dot and scroll one more dot where there is not supposed to be one using your mouse wheel :)
I've tried looking at the code but I could not find it!
![

[2022-02-28 15:48] Shruti025 commented on #1226
I want to work on this under JWOC

[2022-03-01 01:39] #1202 closed

[2022-03-01 01:40] smaranjitghose commented on #1217
Assigned for 1-3 days. An extension may be provided if required.

[2022-03-01 05:38] MoofyWoofy commented on #1214
For the form action attribute, do I set it as an empty URL or leave it as it is?
Because the button doesn't trigger the form validation can I create one for name & email using regex and alert?

[2022-03-01 07:13] tanya-gupta25 commented on #1205
I want to work on this issue under JWOC

[2022-03-01 11:11] MoofyWoofy commented on #1216
Can I be assigned to this issue

[2022-03-01 11:40] JessicaCeline commented on #1224
Hello, can I work on this Issue?

[2022-03-01 15:25] #1226 closed

[2022-03-01 15:26] anushbhatia commented on #1224
Sure @JessicaCeline

[2022-03-01 17:15] tanya-gupta25 commented on #1201
fixes#1201

[2022-03-02 01:14] Shivam-Katare commented on #1227
@smaranjitghose Thanks for assigning this issue to me. I am working on it and, half work is already done. I will try to make it on time.

[2022-03-02 10:37] Devmindtk commented on #1223
I would like to work on this issue .please assign it to me @smaranjitghose

[2022-03-02 10:40] Devmindtk commented on #1210
I would like to work on this issue please assign it to me @smaranjitghose

[2022-03-02 10:43] Devmindtk commented on #1225
I would like to work on this issue. assign it to me

[2022-03-02 10:46] Devmindtk commented on #1154
@smaranjitghose  the issue that you maintained is already solved i think because resume nav menu is changed to blogs and toggle switch is fine so what i have to change in it please explain.

[2022-03-02 12:05] Shruti025 commented on #1221
I want to work on this under JWOC

[2022-03-02 15:51] #1201 closed

[2022-03-02 15:55] anushbhatia commented on #1200
Got it. we can add an endless carousel for this. Would you want on this?

[2022-03-02 15:58] anushbhatia commented on #1214
[code]

use this

[2022-03-02 16:06] anushbhatia commented on #1223
Assigned for 3 days. Extension may be provided if required

[2022-03-02 16:06] anushbhatia commented on #1210
Assigned for 3 days. Extension may be provided if required

[2022-03-02 16:22] #1227 closed

[2022-03-02 18:12] Shruti025 commented on #1213
hey, I'll need a little more time for this one. Is that alright? I have made a PR for all the other issues I was assigned.

[2022-03-02 18:31] Shruti025 commented on #1208
I want to work on this under JWOC

[2022-03-02 18:34] Devmindtk commented on #1210
I think the issue is already solved by someone please check once . abstract button and CTE is working completely fine

[2022-03-02 18:34] r3yc0n1c commented on #1220
I want to work on this under JWoC'22

[2022-03-02 18:34] r3yc0n1c commented on #1218
I want to work on this under JWoC'22

[2022-03-02 18:35] Devmindtk commented on #1223
Can you please explain exactly what i have to do like toggling switch in dark mode is already working fine so what i have to do?

[2022-03-02 18:36] r3yc0n1c commented on #1209
I want to work on this under JWoC'22

[2022-03-02 18:36] r3yc0n1c commented on #1193
I want to work on this under JWoC'22

[2022-03-02 18:48] Devmindtk commented on #1225
In mobile version in every page there is navbar present can you please share the screenshot of the page

[2022-03-02 19:29] Shruti025 commented on #1212
I want to work on this issue under JWOC

[2022-03-02 19:33] MoofyWoofy commented on #1216
![image](https://user-images.githubusercontent.com/59331821/156435644-9f9b3cb5-935c-4e3e-869f-57e3c9ca9b26.png)
![image](https://user-images.githubusercontent.com/59331821/156434551-1b740273-3e08-4997-ac69-360aa3fa7c70.png)

The create form image is a gif from FormCarry documentations and the last image is a gif testing the form

Is this okay, the content and format?

[2022-03-03 00:00] #1211 closed

[2022-03-03 00:07] smaranjitghose commented on #1213
Sure!

[2022-03-03 00:08] smaranjitghose commented on #1223
Yes, but the dark mode is not implemented in the react version yet

[2022-03-03 00:09] smaranjitghose commented on #1193
@r3yc0n1c Remind @anushbhatia or me to assign you once you are done with the other issues

[2022-03-03 00:10] smaranjitghose commented on #1225
Actually the issue is with the width of the page in mobile mode which does not display the hamburger icon unless one scrolls left which is not an expected UX response for a small screen size (as you can see from the image above)

[2022-03-03 00:11] smaranjitghose commented on #1212
Assigned for 2-4 days. An extension may be provided if required

[2022-03-03 00:19] smaranjitghose commented on #1216
Perfect @MoofyWoofy !
We look forward to your PR!

[2022-03-03 06:25] #1214 closed

[2022-03-03 08:56] #1203 closed

[2022-03-03 09:26] Axelgoris99 commented on #1200
? The issue is that there are possibly 2 of them that you CAN'T access.
If you only put two for example :
![image](https://user-images.githubusercontent.com/20966554/156535683-20a155dd-c4c0-4f27-b76d-24d3e738ad19.png)
There are no buttons in the carrousel. Meaning that people can't know that there is something else to see ! :)

[2022-03-04 05:05] Faraaz2633 commented on #1154
Hey there,
I would like to work on this issue under JWOC.
could you please assign it to me?

[2022-03-04 07:15] Devmindtk commented on #1225
please check i have created PR also

https://user-images.githubusercontent.com/91221069/156716942-c94b84b1-1edf-44c8-b108-4fe62cd0b8a5.mp4

[2022-03-04 11:25] Devmindtk commented on #1223
please check is is it fine
![Screenshot (508)](https://user-images.githubusercontent.com/91221069/156755102-087ae9d9-28eb-4176-8668-b94083855605.png)
?

[2022-03-04 18:12] JessicaCeline commented on #1224
Hi, in the project are files with the name travel_temp (html, css, js). Should i create a new site or should i change this site?

[2022-03-04 19:24] anushbhatia commented on #1200
you can never access the top two experiences you mean?

[2022-03-04 19:40] #1206 closed

[2022-03-04 19:43] anushbhatia commented on #1154
@Shruti025 is currenly working on this if she is unable to do it then you can take it up.

[2022-03-04 19:48] anushbhatia commented on #1223
this is the `main` branch i think for the react version there's none on `reactjs` branch for the deployed version
https://awesome-portfolio-websites-git-fork-tanya-81e057-smaranjitghose.vercel.app/ check this here

[2022-03-04 19:50] Devmindtk commented on #1223
I have created this one in react version.

[2022-03-04 19:50] #1212 closed

[2022-03-04 19:51] Devmindtk commented on #1223
Not created a PR for this issue yet.

[2022-03-04 19:54] anushbhatia commented on #1224
Modify the current site it would be better

[2022-03-04 19:55] anushbhatia commented on #1223
You can go ahead doing that

[2022-03-04 19:57] Devmindtk commented on #1223
Should I have to add the theme property Also of changing all the styling on the basis of light and dark theme or simply just i have to add a toggler button that i already done?

[2022-03-04 21:12] anushbhatia commented on #1223
Just add toggle button as of now

[2022-03-05 08:29] tanya-gupta25 opened #1257 "[REACT VERSION] Fix Open Source Section"
### **Current UI**
![image](https://user-images.githubusercontent.com/82203261/156875285-853d0bd6-171f-4195-8db2-b6d24ae5c00e.png)

### **Expected UI**

![image](https://user-images.githubusercontent.com/82203261/156875302-4b26518e-48c5-4a6e-9086-03057ebf83fa.png)

[2022-03-05 08:29] tanya-gupta25 commented on #1257
I want to work on this issue under JWOC

[2022-03-05 11:39] Shruti025 opened #1258 "[REACT VERSION] Add preloader screen to all the pages"
The react version doesn't have the atom preloader screen for all the pages.

[2022-03-05 11:39] Shruti025 commented on #1258
I want to work on this under JWOC

[2022-03-05 14:39] Devmindtk commented on #1223
created a PR please check

[2022-03-05 15:06] anushbhatia opened #1261 "Social Media Icons"
## Change the Social media icons to black when it starts
![image](https://user-images.githubusercontent.com/40017559/156888274-829d9a56-41a2-45cb-8b62-4a930bc0eacc.png)

Currenly you have to turn it on and off and then it comes back to the original state. Resolve this issue

[2022-03-05 20:16] Devmindtk commented on #1210
created a PR please check is it fine?

https://user-images.githubusercontent.com/91221069/156898687-af32f1b1-1b28-4e86-abee-6c42f4ab277f.mp4

[2022-03-05 20:45] Devmindtk commented on #1223
https://user-images.githubusercontent.com/91221069/156899470-788d8cd2-46f5-461d-86ca-631b90ea49f8.mp4

[2022-03-05 21:23] anushbhatia commented on #1210
I think you can go ahead for a PR with this.

[2022-03-05 21:27] #1223 closed

[2022-03-06 15:42] Devmindtk commented on #1210
created a NEW PR please check

[2022-03-06 16:07] tanya-gupta25 commented on #1261
I want to work on this issue under JWOC. But kindly explain me what I have to do , I m little bit confused.

[2022-03-06 17:16] Shruti025 opened #1270 "[REACT VERSION] Position of navbar items"
The navbar items are not properly aligned properly wrt the toggle button for the react version.

![image](https://user-images.githubusercontent.com/72005584/156934085-c27d3bd9-7756-40f0-a6bf-f30150251e85.png)

[2022-03-06 17:16] Shruti025 commented on #1270
I want to work on this issue

[2022-03-07 00:36] smaranjitghose commented on #1270
Nice Observation!

[2022-03-07 05:35] destrex271 commented on #1257
I want to work on this issue

[2022-03-07 15:21] omkxr commented on #1261
you need to remove the background color from .socialicon

[2022-03-07 15:22] omkxr commented on #1261
you need to remove the background color from .socialicon

[2022-03-07 16:09] anushbhatia commented on #1261
let @omkxr work on this if he can't do it i will assign it to you

[2022-03-07 16:13] anushbhatia opened #1273 "Research Page Bug in Text Alignment"
In the current scenario the text is have 2 tab spaces to remove these spaces and make them align to the proper format there.
### Current
![image](https://user-images.githubusercontent.com/40017559/157072729-f712359a-b42b-4a1b-a2be-ed802a3fbca7.png)
### Expected
![image](https://user-images.githubusercontent.com/40017559/157072969-3475aceb-4436-4974-86a5-6b0ac8f115eb.png)

[2022-03-07 17:30] #1258 closed

[2022-03-07 17:31] #1257 closed

[2022-03-08 07:41] soujo opened #1276 "Enhancment : Validation of "Get in Touch" using pop-up msg"
The validation for the `Get in Touch` form is done using alert, which is a basic alert method. We can customize the alert message box using `sweet alert` which would better sync with the website.
If this idea looks appropriate to you then I want to work on this issue under JWOC.
@smaranjitghose

[2022-03-08 16:35] #1225 closed

[2022-03-08 17:03] anushbhatia commented on #1276
Great Go ahead with this

[2022-03-08 18:05] #1200 closed

[2022-03-08 19:15] Shruti025 opened #1280 "[REACT VERSION] The Research Page and Reference Pages are not visible"
The given pages are not visible.

[2022-03-08 19:15] Shruti025 commented on #1280
I want to work on this under JWOC

[2022-03-08 19:22] Shruti025 commented on #1280
@anushbhatia kindly have a look at this issue and the PR

[2022-03-08 19:29] #1280 closed

[2022-03-09 08:43] soujo commented on #1276
Kindly add the JWOC label and difficulty level @anushbhatia

[2022-03-09 08:45] #1216 closed

[2022-03-09 08:46] #1208 closed

[2022-03-09 15:37] #1276 closed

[2022-03-09 15:40] anushbhatia opened #1286 "[REACT] Research Page Responsiveness"
![j](https://user-images.githubusercontent.com/40017559/157422297-d60ea20d-54ca-4f76-b392-3a95e9e9f66d.jpg)

Expected should be similar to one hosted in master branch

[2022-03-09 17:14] Shruti025 commented on #1286
I wan to work on this under JWOC

[2022-03-10 05:40] #1273 closed

[2022-03-11 18:58] #1207 closed

[2022-03-11 18:59] #1221 closed

[2022-03-11 18:59] #1213 closed

[2022-03-11 18:59] #1286 closed

[2022-03-11 19:00] #1154 closed

[2022-03-11 19:03] #1220 closed

[2022-03-11 19:04] #1219 closed

[2022-03-11 19:04] #1217 closed

[2022-03-11 19:05] #1210 closed

[2022-04-05 03:38] maligaurav947 opened #1296 "Link Not Submitted"
Hey There Love Your Work
when I watching The Website got Chance to Go  through the project Section
When I am clicking the project **GitHub or link it reloading the same page**
try to fix that

[2022-04-05 20:32] phattymcfee commented on #1218
I reviewed this issue and believe it has already been fixed.

[2022-04-09 10:11] anushbhatia commented on #1296
![image](https://user-images.githubusercontent.com/40017559/162567443-d42c73fa-4640-488b-b6b4-b19a272c0fb2.png)
have you added the GitHub link there in the particular field?

[2022-04-09 10:14] #1218 closed

[2022-04-17 09:01] anushbhatia commented on #1296
because we have kept the link in the code blank as of now if u use the template u can replace it with the desired links

[2022-04-29 08:38] vorayash opened #1300 "Cursor changing its position with scrolling"
When scrolling the page, cursor changes its position with the page.

![iQiX68EXcH](https://user-images.githubusercontent.com/72155000/165909771-88e17d26-fcbc-4111-bd3b-71cb6b7fcce8.gif)

**Expected result**
Cursor should stay on it's position.
![RroYCepPvw](https://user-images.githubusercontent.com/72155000/165911136-5c8b6b8b-f582-4372-a74d-d787d1a34b26.gif)

I would like to work on this issue.

[2022-05-13 20:31] datasith opened #1301 "Rename default branch to main"
Thanks for the awesome (literally) template. Can the main branch be renamed pls? Shouldn't take more than 5 mins, here's a great guide: https://www.git-tower.com/learn/git/faq/git-rename-master-to-main

Thanks again!

[2022-05-14 01:05] datasith opened #1302 "Consistent headers across .html files"
Can we get somewhat consistent headers for all static files. I noticed a significant difference between `projects.html` and `experience.html` for example, which are unrelated to the contents of the respective pages.

[2022-05-24 00:35] anushbhatia commented on #1301
Naming branch won't make a significant difference. So we would prefer it to be same

[2022-05-24 00:35] #1301 closed

[2022-05-24 00:37] anushbhatia commented on #1302
Sure if you can make changes without affecting function go ahead.

[2022-05-24 00:38] datasith commented on #1301
Hey, @anushbhatia. Respectfully, I understand the main issue is "U.S.-centric", but please be mindful and educate yourself about why it does make a difference in some parts of the world:

* [reference](https://www.theserverside.com/feature/Why-GitHub-renamed-its-master-branch-to-main#:~:text=GitHub%20took%20action%20based%20on,a%20different%20default%20for%20new) (out of many examples)

[2022-05-24 01:14] datasith commented on #1301
It does affect the support for social injustice around the world, and particularly in the U.S. I understand if this isn't something you feel the project needs to get involved with, but I want to bring it to your attention nonetheless.

[2022-06-09 18:51] s18677 opened #1304 "read more button"
Hi,
pressing the read more button takes me to the top of the page. Is this the way it should be? I am not able to enter it.
![image](https://user-images.githubusercontent.com/73885303/172922459-11060c82-5f31-4610-b629-ec8053ff4f9e.png)

[2022-06-09 18:54] s18677 opened #1305 "icons social profiles bottom"
Hi,
The icons at the bottom of the page do not take you to your social profiles. Is this the way it should be?
![image](https://user-images.githubusercontent.com/73885303/172922967-60ac5364-c22e-47c4-a915-a53c2aad8645.png)

[2022-06-09 20:21] JanaD233 opened #1306 "Tworzenie zespołu na blogu - błąd"
Tworzenie zespołu na blogu nie zostało utworzone
Użytkownik w aplikacji mój blog rozwija menu. → menu rozwinięte

Użytkownik tworzy zespół na blogu → zespół stworzony

Użytkownik dodaje osoby  do zespołu → osoby zostały dodane do zespołu

Użytkownik dostaje komunikat o błędnym wprowadzeniu danych osób

Rezultat: Zespół nie został utworzony.

[2022-06-09 20:46] JanaD233 opened #1307 "wyszukiwanie treści materiałów według daty -bład"
Nie wyszukuje materiałów na blogu po dacie

[2022-06-10 09:15] JanaD233 opened #1308 "formularz na stronie głównej"
Wypełniając formularz na stronie głównej system informuje o wysłaniu formularza, kolejno pojawia się komunikat  o braku formularza.

[2022-06-10 09:25] JanaD233 opened #1309 "Na stronie głównej brak integracji z sieciami społecznościowymi"
Na stronie głównej brak integracji z sieciami społecznościowymi.

[2022-06-11 16:25] smaranjitghose commented on #1307
Hey @JanaD233,

Currently, we have not built the blog page separately and prefer to redirect  it to a hashnode blog which is easier to create and maintain, hence the blog content may not be searchable by default

[2022-06-11 16:26] smaranjitghose commented on #1308
Can you please send a screenshot of the bug in this issue comments?

[2022-06-28 04:58] sandeepswnkumar commented on #1222
Hy @smaranjitghose i want to work on it. Can u assign this task??

[2022-07-12 11:14] swhn commented on #1305
add your url in app.js line 128.

[2022-08-02 04:52] RishiDarkDevil opened #1313 "Unavailability of Description and Tags in Project Page?"
Description and Tags are not available for the project-cards in the project page anymore. Please look into it.
In the below example the description and tags field is filled but it doesn't show up. On looking into the recent commits to project.js it seems like that has been removed from the function generating cards. Can you bring back the feature?
<img width="608" alt="Screenshot 2022-08-02 at 10

[2022-09-10 13:19] anushbhatia commented on #1313
this is because it was creating issues with the existing UI. We are working on it to get those tags back here as well as the description of it.

[2022-09-13 18:28] Hishamanik opened #1318 "Contact form"
Contact form is not useable

[2022-09-14 08:19] moritz-gerster opened #1319 "University logos do not appear in education page"
The [doc](https://smaranjitghose.github.io/awesome-portfolio-websites/gs/#education-page) gives the instructions:

I added an image "TU.png" to  'assets -> images -> education-page folder' and updated education.html:

`
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div>
            **<div class="

[2022-09-15 17:57] Gauravmauryaios commented on #1222
i want to work on this issue under jwoc

[2022-09-16 03:22] anushbhatia commented on #1319
Hi @moritz-gerster actually we removed that feature because it was creating issue with responsiveness of the complete page. We can think about it for the next release.

[2022-09-16 13:49] moritz-gerster commented on #1319
Thanks for letting me know @anushbhatia!

[2022-10-02 14:23] deoliaman00 commented on #1305
Is this issue resolved or I can work on it.?

[2022-10-10 06:07] simransia commented on #1224
Hello @anushbhatia @smaranjitghose !

Can I work on this issue as a part of hacktoberfest2022?

[2022-10-11 04:13] Akanksha-Sen opened #1323 "Documentation"
want to enhance documentation of website. Please assign me

[2022-10-24 07:18] theAkashDas opened #1326 "Dark and Light Mode Toggling"
For me, When I tried toggling the dark mode in one page, the effect is not visible in the other pages/tabs. It is working weirdly. Sometimes the title bar is staying black even after toggling the switch. Please refer to the video attached.

https://user-images.githubusercontent.com/56507553/197467946-b06a20c0-8976-4c57-9592-d55bfedf4707.mp4

[2022-10-30 02:30] Amrit-Bhaskar-abhask10 opened #1327 "Project page preview and GitHub link not visible in all browser window sizes."
![image](https://user-images.githubusercontent.com/89548674/198859803-1bb5be2d-9847-426b-b809-13fd67b383e3.png)

No preview link or GitHub link visible when expanding or full screen my browser window size. It becomes visible again when I shrink the browser window size.

![image](https://user-images.githubusercontent.com/89548674/198859790-74b09b9a-b717-4dee-bd55-7039e1e3bc0c.png)

[2022-10-30 04:44] Amrit-Bhaskar-abhask10 commented on #1327
I see the problem here with the multiline title. When the title takes a single line, the preview and GitHub link is displayed.

[2022-11-20 05:17] moritz-gerster commented on #316
I understand this issue was closed with #388 but I still don't understand how to add the Google Scholar icon?

I also would like an icon for [Orcid ID](https://orcid.org/), [Researchgate](https://www.researchgate.net/), and YouTube!

[2022-11-21 05:02] moritz-gerster commented on #1304
I have the same question :)

[2022-11-28 05:36] moritz-gerster opened #1328 "How to add more social media icons"
I would like to add the following social media icons to my profile:

- **Google Scholar**
- **YouTube**
- (Orcid https://orcid.org/)
- (Researchgate https://www.researchgate.net/)

They have often been the topic in other issues and discussions but I never learned how I can actually add them. It would be great if this option would be provided! The first two (Google Scholar and YouTube) are especial